a {
  outline: 0 none;
  cursor: pointer;
  text-decoration: none;
}
a:link {
  -webkit-tap-highlight-color: #0080C6;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
  zoom: 1;
  display: block;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
nav ul {
  list-style: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  overflow: hidden;
}
textarea {
  overflow: auto;
  resize: none;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
  margin: 3px 3px 0 0;
}
label,
input[type=button],
input[type=submit],
button {
  /*cursor: pointer;*/
}
input[type=text] {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  width: auto;
  overflow: visible;
}
.ie6 input {
  vertical-align: text-bottom;
}
/** helper styles
 ***************************************/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
  font-size: 0px;
}
.clearfix {
  display: block;
  clear: both;
}
/*  new standard values */
.default_css ul,
.default_css ol {
  padding: 0 0 0 12px;
}
.default_css ul {
  list-style: disc;
}
.default_css ul ul li {
  list-style-type: circle;
  margin: 0px 0 0 16px;
}
.default_css ol {
  list-style: decimal;
}
.default_css ol li,
.default_css ul li {
  margin: 0px 0 0 20px;
  overflow: visible;
}
.default_css p {
  margin: 0 0;
}
.default_css a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}
.default_css a:hover {
  text-decoration: underline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
