<a name='top' class='jump_link'></a>
<p class='h1'>ฝ่ายกฎหมายเนสท์เล่</p>
<p class='h2'>แม่แบบเอกสารประกาศนโยบาย<br>
ความเป็นส่วนตัวของเว็บไซต์เนสท์เล่</p>

<p class='d1'>หมายเหตุ: กรุณาอ่านแม่แบบด้านล่างอย่างถี่ถ้วนและนำเนื้อหา โดยเฉพาะอย่างยิ่งเนื้อหาที่พิมพ์ด้วยตัวเอียงและไฮไลท์สีเหลือง ไปปรับใช้ในข้อบังคับประจำสาขาของท่าน ปรึกษาฝ่ายกฎหมายหรือเจ้าหน้าที่ปกป้องข้อมูลตลาดในท้องถิ่นของท่านก่อนนำเอกสารประกาศนโยบายความเป็นส่วนตัวไปใช้งานและพิมพ์เผยแพร่บนแม่แบบในเว็บไซต์ กรุณาตรวจสอบเนื้อหาเรื่องการปกป้องข้อมูลและความเป็นส่วนตัวจากหน้าหลักของเว็บไซต์ฝ่ายกฎหมายเครือบริษัทเนสท์เล่เป็นครั้งคราวเพื่อดูการปรับปรุงและการแก้ไขเอกสารนี้</p>

<p class='h1'>ประกาศนโยบายความเป็นส่วนตัว</p>

<p class='h2'>คำถามที่สำคัญและคำตอบ</p>

<p class='db'>ขอบพระคุณที่เข้ามาเยี่ยมชมเว็บไซต์นี้ เราหวังว่าท่านจะสนุกกับการเรียนรู้เกี่ยวกับเนสท์เล่และผลิตภัณฑ์ของเรามากขึ้น</p>

<p class='d1'>เนสท์เล่เคารพสิทธิความเป็นส่วนตัวของท่านในโลกออนไลน์เมื่อท่านใช้งานเว็บไซต์ของเราและสื่อสารกับเราด้วยระบบอิเล็กทรอนิกส์ ด้วยเหตุนี้ เราจึงได้จัดทำประกาศนโยบายความเป็นส่วนตัวนี้ขึ้น โดยมีจุดประสงค์เพื่อแจ้งให้ท่านทราบว่า [ป้อนชื่อหน่วยงานของเนสท์เล่ที่ให้บริการเว็บไซต์ที่ได้รับความคุ้มครองจากประกาศนโยบายความเป็นส่วนตัวฉบับนี้] (“เนสท์เล่”, “เรา” หรือ “ของเรา”) มีการเก็บรวบรวม รักษา ใช้งาน และประมวลผลข้อมูลส่วนบุคคลที่ท่านมอบให้เราผ่านทางเว็บไซต์ที่เนสท์เล่ให้บริการ (“เว็บไซต์”) รวมทั้งเว็บไซต์ที่ท่านกำลังเยี่ยมชมอยู่ในขณะนี้อย่างไร</p>

<p class='d1'>เมื่อท่านใช้งานเว็บไซต์นี้ ท่านกำลังยอมรับหลักปฏิบัติที่ระบุไว้ในประกาศนโยบายความเป็นส่วนตัวฉบับนี้ หากท่านไม่ยอมรับประกาศนโยบายความเป็นส่วนตัวของเรา กรุณาอย่าใช้งานเว็บไซต์นี้ เราขอสงวนสิทธิ์ในการเปลี่ยนแปลงประกาศนโยบายความเป็นส่วนตัวได้ทุกเวลา การเปลี่ยนแปลงใดๆ ที่เกิดขึ้นจะประกาศไว้ในประกาศนโยบายความเป็นส่วนตัวนี้ ตามปกติแล้ว การเปลี่ยนแปลงรายการสำคัญต่างๆ จะเป็นการเปลี่ยนแปลงเกี่ยวกับกิจกรรมและข้อมูลที่เก็บรวบรวมในอนาคต เราประสงค์ให้ท่านเข้ามาตรวจสอบประกาศนโยบายความเป็นส่วนตัวเป็นประจำเพื่อให้ท่านทราบการเปลี่ยนแปลงนโยบายที่เกิดขึ้น รวมทั้งทราบว่าเราจะนำข้อมูลของท่านไปใช้อย่างไรบ้าง</p>

<p class='d1'>โปรดทราบว่า [ป้อนชื่อหน่วยงานของเนสท์เล่ที่ให้บริการเว็บไซต์ซึ่งได้รับความคุ้มครองจากประกาศนโยบายความเป็นส่วนตัวฉบับนี้] เป็นผู้เก็บรวบรวมข้อมูลส่วนบุคคลของท่านและนำส่งให้เนสท์เล่</p>

<p class='d1'>หากท่านมีคำร้องเกี่ยวกับข้อมูลส่วนบุคคลของท่านหรือคำถามเกี่ยวกับประกาศนโยบายความเป็นส่วนตัวนี้ กรุณา<a href='mailto:info@S-MomClub.com' class='blue_link'>ติดต่อเรา</a></p>

<p class='h1'>นโยบายความเป็นส่วนตัวสำหรับเด็ก</p>

<p class='d1'>หากท่านเป็นพ่อแม่หรือผู้ปกครองตามกฎหมายและสนใจศึกษานโยบายเกี่ยวกับการเก็บรวบรวมและการใช้ข้อมูลส่วนบุคคลของเด็กอายุต่ำกว่า  [13] ปี กรุณาดู คำถามข้อ 11 ด้านล่าง อย่างไรก็ตาม โปรดทราบว่า เราเก็บรวบรวมข้อมูลส่วนบุคคลจากเด็กผ่านเว็บไซต์ที่เนสท์เล่ให้บริการเพียงไม่กี่เว็บไซต์เท่านั้น โดยเฉพาะอย่างยิ่งเว็บไซต์ที่เด็กๆ ที่มีอายุต่ำกว่า [13] ปีให้ความสนใจอย่างมาก หรือเว็บไซต์ที่แจ้งไว้ว่าจะมีการเก็บข้อมูลส่วนบุคคลจากเด็กอายุต่ำกว่า [13] ปี</p>

<p class='d1'>[นอกจากนี้เรายังสมัครใจขอรับบริการรับรองความเป็นส่วนตัวจาก TRUSTe ซึ่งกำหนดให้เราต้องดำเนินการตามหลักปฏิบัติสำหรับการเก็บและการใช้ข้อมูลทางออนไลน์ โครงการ TRUSTe คุ้มครองเฉพาะข้อมูลที่เก็บรวบรวมผ่านเว็บไซต์ของเนสท์เล่เท่านั้น ไม่ครอบคลุมข้อมูลที่อาจเก็บรวบรวมโดยซอฟต์แวร์ที่ดาวน์โหลดผ่านเว็บไซต์ของเนสท์เล่ อย่างไรก็ตามโปรดทราบว่า  ปัจจุบัน เนสท์เล่ เอส.เอ. ไม่เก็บรวบรวมข้อมูลส่วนบุคคลเมื่อท่านดาวน์โหลดคุณลักษณะบางอย่าง เช่น ซอฟต์แวร์รักษาหน้าจอและหนังสือตำราอาหารจากเว็บไซต์นี้]</p>

<p class='d1'>หากต้องการคำอธิบายโดยละเอียดเกี่ยวกับหลักปฏิบัติเกี่ยวกับความเป็นส่วนตัวทางออนไลน์ของเรา กรุณาคลิกที่คำถามด้านล่าง</p>

<ol>
    <li><a href='th/page/privacy#01' class='blue_link'>เราเก็บรวบรวมข้อมูลส่วนบุคคลประเภทใดบ้างและเราเก็บข้อมูลเหล่านั้นอย่างไร</a></li>
    <li><a href='th/page/privacy#02' class='blue_link'>เราเก็บรักษาข้อมูลส่วนบุคคลของท่านให้ปลอดภัยอย่างไร</a></li>
    <li><a href='th/page/privacy#03' class='blue_link'>เราใช้ข้อมูลส่วนบุคคลของท่านเพื่อจุดประสงค์ใดบ้าง</a></li>
    <li><a href='th/page/privacy#04' class='blue_link'>จะเกิดอะไรขึ้นหากท่านปฏิเสธไม่ให้ข้อมูลส่วนบุคคล</a></li>
    <li><a href='th/page/privacy#05' class='blue_link'>เราเปิดเผยข้อมูลส่วนบุคคลของท่านต่อใครบ้าง เพราะอะไร</a></li>
    <li><a href='th/page/privacy#06' class='blue_link'>ท่านจะเข้าถึง แก้ไข และดำเนินการอื่นๆ เกี่ยวกับการใช้งานข้อมูลส่วนบุคคลของท่านได้อย่างไร</a></li>
    <li><a href='th/page/privacy#07' class='blue_link'>ข้อมูลส่วนบุคคลของท่านจะถูกส่งไปยังประเทศใดบ้าง เพราะอะไร</a></li>
    <li><a href='th/page/privacy#08' class='blue_link'>เทคโนโลยีติดตาม - เรานำเทคโนโลยีนี้มาใช้อย่างไรและเพราะเหตุใดเราจึงใช้เทคโนโลยีนี้</a></li>
    <li><a href='th/page/privacy#09' class='blue_link'>การตลาดอิเล็กทรอนิกส์ - สแปมคืออะไรและเราจัดการกับอีเมล์สแปมอย่างไร</a></li>
    <li><a href='th/page/privacy#10' class='blue_link'>เราเก็บรักษาข้อมูลส่วนบุคคลไว้นานแค่ไหน</a></li>
    <li><a href='th/page/privacy#11' class='blue_link'>เรามีนโยบายเก็บข้อมูลจากเด็กๆ ที่ใช้เว็บไซต์ของเราอย่างไร</a></li>
    <li><a href='th/page/privacy#12' class='blue_link'>เราเชื่อมโยงไปยังเว็บไซต์อื่นๆ ของบุคคลที่สามหรือไม่</a></li>
    <li><a href='th/page/privacy#13' class='blue_link'>ท่านจะติดต่อเราได้อย่างไร</a></li>
</ol>

<a name='01' class='jump_link'></a>
<p class='h4'>1. เราเก็บรวบรวมข้อมูลส่วนบุคคลประเภทใดบ้างและเราเก็บข้อมูลเหล่านั้นอย่างไร</p>
<p class='d1'>หากท่านแค่เข้ามาอ่านข้อมูลในเว็บไซต์ของเนสท์เล่ เราจะไม่ขอให้ท่านมอบข้อมูลใดๆ แก่เรา อย่างไรก็ตาม หากท่านประสงค์ที่จะใช้งานคุณลักษณะและบริการอื่นๆ ที่เว็บไซต์ให้บริการ เราอาจร้องขอให้ท่านมอบข้อมูลส่วนบุคคลบางอย่างและ/หรือข้อมูลทางประชากรศาสตร์ข้อมูลส่วนบุคคล (ในประกาศนโยบายส่วนบุคคลนี้) หมายถึงข้อมูลที่นำมาใช้จำแนกตัวท่านหรือติดต่อท่านทางออนไลน์หรือออฟไลน์ได้ ซึ่งอาจรวมถึง ชื่อ ที่อยู่ไปรษณีย์ ที่อยู่อีเมล์ หมายเลขโทรศัพท์ (ข้อมูลจำแนกตัวบุคคล) รวมถึงข้อมูลทางประชากรศาสตร์อย่างวันเกิด อายุ เพศ ลักษณะนิสัย หรือความชอบ หากข้อมูลเหล่านี้เกี่ยวข้องกับข้อมูลจำแนกตัวบุคคลของท่าน (เรียกรวมกันว่า "ข้อมูลส่วนบุคคล")</p>

<p class='d1'>เราจะเก็บรวบรวมข้อมูลส่วนบุคคลเมื่อท่านยินยอมเท่านั้น (ตัวอย่างเช่น เมื่อท่านให้ข้อมูลส่วนบุคคลแก่เราผ่านทางแบบฟอร์มออนไลน์ต่างๆ บนเว็บไซต์ของเราโดยทราบดีว่ากำลังให้ข้อมูลส่วนบุคคลแก่เราอยู่) การเก็บรวบรวมข้อมูลส่วนบุคคลมักจะดำเนินการในรูปของ:</p>

<p class='d1'>การลงทะเบียนหรือการสมัครสมาชิกบนเว็บไซต์ของเรา ("การลงทะเบียนใช้งานเว็บไซต์ทั่วไป") การสมัครรับจดหมายข่าวเกี่ยวกับกิจกรรม ผลิตภัณฑ์ หรือเว็บไซต์ ที่ไม่รวมถึงการลงทะเบียนใช้งานเว็บไซต์ทั่วไปการชิงโชค การประกวด หรือรายการส่งเสริมการขายอื่นๅแบบสำรวจและโพลกระดานสนทนาและกิจกรรมโต้ตอบอื่นๆการซื้อสินค้าของเนสท์เล่ผ่านร้านค้าออนไลน์ร้านใดร้านหนึ่งของเราอีการ์ด บอกต่อเพื่อน หรือคุณลักษณะอื่นๆ ที่ใช้ครั้งเดียวการแสดงความคิดเห็นตอบกลับ คำถาม หรือความเห็นผ่านแบบฟอร์ม "ติดต่อ" หรือ "ถามผู้เชี่ยวชาญ" ของเราข้อมูลที่มอบให้เนสท์เล่เพื่อจุดประสงค์ทางธุรกิจ (เช่น ประวัติส่วนตัว คำร้องของสื่อ ฯลฯ)การสรรหาบุคลากรทางออนไลน์ (เช่น การสมัครทำงานกับเนสท์เล่โดยการโพสต์ประวัติส่วนบุคคล)การแนะนำเพื่อนเข้าร่วมโครงการของผลิตภัณฑ์ตัวใดตัวหนึ่ง หรือการส่งคำร้องแบบอื่นๆ ที่ท่านจำเป็นส่งมอบข้อมูลส่วนบุคคลให้เนสท์เล่ (เช่น กลุ่มผู้บริโภค คำร้องเกี่ยวกับผลิตภัณฑ์ "ซื้อได้ที่ไหน" ฯลฯ)</p>

<p class='d1'>หมายเหตุ: กิจกรรมบางอย่างหรือกิจกรรมต่างๆ ที่ระบุไว้ข้างต้นอาจไม่มีให้บริการ ขึ้นอยู่กับเว็บไซต์ของเนสท์เล่ที่ท่านเข้าไปเยี่ยมชม</p>

<p class='d1'>ประเภทและปริมาณข้อมูลที่เนสท์เล่เก็บรวบรวมเพื่อการใช้งานคุณลักษณะต่างๆ ที่ระบุไว้ข้างต้นจะแตกต่างกันไปตามแต่กิจกรรมแต่ละประเภท ข้อมูลส่วนบุคคลที่เนสท์เล่ร้องขออาจรวมถึง ชื่อและนามสกุล ที่อยู่อีเมล์ ที่อยู่บ้าน หมายเลขโทรศัพท์ (ที่ทำงานหรือบ้าน) และข้อมูลบัตรเครดิต (สำหรับผู้ที่ซื้อสินค้าทางออนไลน์) ในการเข้าร่วมกิจกรรมบางอย่าง ท่านอาจได้รับการคำร้องขอให้สร้างชื่อผู้ใช้และ/หรือรหัสผ่าน และ/หรือให้ข้อมูลทางประชากรศาสตร์เพิ่มเติม ได้แก่ (i) อายุและวันเกิด (ii) เพศ (iii) ความถี่ในการใช้งาน ซื้อ และบริโภคผลิตภัณฑ์บางอย่างของเนสท์เล่และ/หรือผลิตภัณฑ์อื่นๆ ที่คล้ายคลึงกัน (iv) ข้อเท็จจริงเกี่ยวกับบ้านหรือวิถีชีวิต และ/หรือ (v) ข้อมูลอื่นๆ เกี่ยวกับผลิตภัณฑ์เนสท์เล่ที่ท่านเคยซื้อหรือเว็บไซต์บางเว็บไซต์ที่ท่านกำลังเยี่ยมชม</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='02' class='jump_link'></a>
<p class='h4'>2. เราเก็บรักษาข้อมูลส่วนบุคคลของท่านให้ปลอดภัยอย่างไร</p>
<p class='d1'>เนสท์เล่ใช้มาตรการทางเทคนิคและมาตรการทั้งหมดในองค์กรเพื่อปกป้องความลับและความปลอดภัยของข้อมูลส่วนบุคคลของท่านที่เราเก็บรวบรวมผ่านทางเว็บไซต์ของเรา  รวมทั้งข้อมูลส่วนบุคคลที่อ่อนไหวและข้อมูลส่วนบุคคลของเด็กอายุต่ำกว่า [13] ปี มาตรการเหล่านี้รวมถึงแต่ไม่จำกัดเฉพาะ (i) การเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้ในสภาพแวดล้อมการทำงานที่ปลอดภัยและไม่อนุญาตให้บุคคลภายนอกเข้า บุคคลที่สามารถเข้าถึงพื้นที่ดังกล่าวได้จะต้องเป็นพนักงานของเนสท์เล่ตัวแทนและผู้รับเหมาที่ได้รับอนุญาตเท่านั้น (ii) การนำวิธีแปลงข้อมูลแบบ SSL มาตรฐานอุตสาหกรรมมาใช้งานเพื่อรักษาความปลอดภัยของข้อมูลส่วนบุคคลบางประเภทที่มีความอ่อนไหว (เช่น ข้อมูลบัตรเครดิต ข้อมูลเกี่ยวกับสุขภาพและข้อมูลคนไข้) ระหว่างที่ส่งข้อมูลดังกล่าวมายังเว็บไซต์ของเรา และ (iii) การตรวจสอบตัวตนของผู้ใช้งานเว็บไซต์ที่ลงทะเบียนเรียบร้อยแล้วก่อนที่ผู้ใช้งานจะสามารถเข้าถึงข้อมูลส่วนบุคคลของตนเองที่เราเก็บรักษาไว้ กรุณาดูคำถามข้อ 4 ด้านล่างประกอบ</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='03' class='jump_link'></a>
<p class='h4'>3. เราใช้ข้อมูลส่วนบุคคลของท่านเพื่อจุดประสงค์ใดบ้าง</p>

<p class='d1'>โดยทั่วไปแล้ว เราจะนำข้อมูลที่เก็บรวบรวมไปใช้ตามจุดประสงค์ที่ท่านมอบข้อมูลส่วนบุคคลให้เรา หรือเพื่อจุดประสงค์อื่นที่แจ้งไว้ขณะเก็บรวบรวมข้อมูล หรือที่ระบุไว้ในประกาศนโยบายความเป็นส่วนตัวนี้ ตัวอย่างเช่น หากท่านสมัครสมาชิกหรือลงทะเบียนบนเว็บไซต์ของเนสท์เล่ ("การลงทะเบียนใช้งานเว็บไซต์ทั่วไป") เราจะนำข้อมูลที่ท่านมอบให้ไปใช้งานเพื่อมอบประโยชน์และสิทธิพิเศษที่ท่านมักจะได้รับจากการลงทะเบียน ซึ่งอาจรวมถึงการเข้าถึงและการใช้งานเนื้อหาเฉพาะหรือเนื้อหาส่วนบุคคล หรือกิจกรรมต่างๆ บนเว็บไซต์เนสท์เล่ (เช่น กระดานสนทนา การอัปโหลด กล่องสูตรอาหารส่วนตัว ฯลฯ) การเข้าร่วมกิจกรรมพิเศษและรายการส่งเสริมการขาย (การประกวด การชิงโชค คูปอง ฯลฯ) และการรับการติดต่อหรือเอกสารการตลาดที่ท่านเลือกระหว่างการลงทะเบียนหรือที่ได้รับโดยอัตโนมัติจากการลงทะเบียน ในทำนองเดียวกัน หากท่านติดต่อเราผ่านแบบฟอร์มติดต่อทางออนไลน์หรือผ่านทางคุณลักษณะ "ถามผู้เชี่ยวชาญ" อย่างใดอย่างหนึ่ง เราจะนำข้อมูลของท่านไปใช้ในการตอบคำถามหรือการแสดงความคิดเห็นของท่าน และในบางกรณี อาจนำไปใช้ในตอบคำถามของท่านในแบบฟอร์มไม่เปิดเผยชื่อในเว็บไซต์ที่เกี่ยวข้อง ส่วนข้อมูลบัตรเครดิตที่ท่านมอบให้นั้น เราจะนำไปใช้ทำธุรกรรมซื้อสินค้าออนไลน์</p>

<p class='d1'>เมื่อท่านลงทะเบียนหรือให้ข้อมูลบนเว็บไซต์เนสท์เล่ เราอาจเสนอทางเลือก (ผ่านกล่องทำเครื่องหมายหรือวิธีอื่นๆ) สำหรับอนุญาตให้เรานำข้อมูลของท่านไปใช้ในกิจกรรมหรือบริการอื่นๆ ที่ไม่ใช่กิจกรรมหรือบริการหลักที่ท่านร้องขอ ตัวอย่างเช่น หากท่านสมัครเข้าร่วมการประกวดหรือรายการส่งเสริมการขาย ท่านอาจสมัครรับจดหมายข่าวหรือการแจ้งเตือนจากเว็บไซต์ที่ดำเนินการส่งเสริมการขายนั้น หรือจากเว็บไซต์อื่นๆ หรือผลิตภัณฑ์ของเนสท์เล่ได้ หากท่านเลือกรับบริการเพิ่มเติมเหล่านี้ เราจะนำข้อมูลของท่านไปใช้ในการให้บริการ</p>

<p class='d1'>เราอาจนำข้อมูลส่วนบุคคลและ/หรือข้อมูลทางประชากรศาสตร์ของท่านมาใช้ในการศึกษาด้านการตลาดและด้านประชากรศาสตร์ภายในองค์กร โดยมีจุดประสงค์เพื่อปรับปรุง รวมถึงปรับแต่งสินค้าและบริการของเราให้เหมาะกับท่านและตอบสนองความต้องการของท่านได้ดีกว่าเดิม นี่อาจหมายรวมถึงการรวม การปรับปรุง และการเพิ่มเติมข้อมูลส่วนบุคคลของท่านที่เราเก็บรวบรวมผ่านเว็บไซต์ของเนสท์เล่กับข้อมูลที่เราได้รับจากบันทึกภายนอกองค์กรหรือจากบุคคลที่สาม</p>

<p class='d1'>โดยทั่วไปแล้ว เราจะเก็บข้อมูลของส่วนบุคคลของท่านไว้ตราบเท่าที่บัญชีของท่านมีความเคลื่อนไหวหรือตามระยะเวลาที่จำเป็นเพื่อให้บริการแก่ท่านตามที่ท่านได้ร้องขอเอาไว้ หากท่านขอไม่ให้เรานำข้อมูลส่วนบุคคลของท่านมาใช้ในการให้บริการอีกต่อไป (เช่นยกเลิกการรับอีเมล์) หรือประสงค์ที่จะยกเลิกการเป็นสมาชิกหรือยกเลิกบัญชี กรุณา<a href='mailto:info@S-MomClub.com' class='blue_link'>ติดต่อเรา</a>  โปรดทราบว่า ข้อมูลส่วนบุคคลของท่านได้รับการเก็บรักษาไว้เป็นระยะเวลาตามสมควรและตามความจำเป็น โดยเราจะนำข้อมูลดังกล่าวไปใช้ในการปฏิบัติหน้าที่ตามกฎหมายและข้อบังคับ การยุติข้อพิพาท การบังคับใช้ข้อตกลง และการบริหารจัดการบันทึกที่คล้ายคลึงกัน</p>

<p class='d1'>รายการต่อไปนี้จะให้ข้อมูลเพิ่มเติมเกี่ยวกับคุณลักษณะบางอย่างของเว็บไซต์เนสท์เล่</p>

<p class='db'>จดหมายข่าวและอีเมล์</p>

<p class='d1'>หากท่านให้ข้อมูลที่อยู่อีเมล์และ/หรือที่อยู่ไปรษณีย์แก่เรา (ไม่ว่าจะเป็นส่วนหนึ่งของขั้นตอนการลงทะเบียนใช้งานเว็บไซต์หรือเพื่อรับจดหมายข่าวหรือการสื่อสารใดๆ ก็ตาม) เราจะนำข้อมูลติดต่อที่ได้รับมาใช้ในการส่งจดหมายข่าว การติดต่อ หรือแผ่นพับตามที่ท่านร้องขอ นอกจากนี้ท่านยังอาจได้รับการติดต่อเพื่อแนะนำแบรนด์สินค้าหรือเว็บไซต์อื่นๆ ของเนสท์เล่ด้วย เอกสารเหล่านี้อาจอยู่ในรูปของจดหมายหรืออีเมล์ที่ส่งให้ท่านอย่างสม่ำเสมอ ทั้งนี้ขึ้นอยู่กับเว็บไซต์ที่ท่านลงทะเบียนและข้อมูลที่ท่านให้ไว้ระหว่างการลงทะเบียน</p>

<p class='d1'>เราอาจใช้ที่อยู่อีเมล์ของท่านในการทำธุรกรรมหรือดำเนินการต่างๆ เช่น ส่งอีเมล์ยืนยันเมื่อท่านซื้อสินค้าทางออนไลน์หรือเมื่อท่านสมัครลงทะเบียนหรือสมัครเข้าร่วมกิจกรรมต่างๆ หรือยกเลิกการเป็นสมาชิกหรือยกเลิกการเข้าร่วมกิจกรรมต่างๆ) รวมถึงการประกาศเกี่ยวกับบริการบางอย่าง (เช่น การปรับปรุงประกาศนโยบายความเป็นส่วนตัวของเรา การยกเลิกคุณลักษณะหรือบริการบนเว็บไซต์ของเรา การเปลี่ยนแปลงบริการออนไลน์หรือนโยบายสนับสนุนทางเทคนิค หรือการเปลี่ยนแปลงอื่นๆ) การสื่อสารประเภทต่างๆ เหล่านี้จะเรียกว่า"การสื่อสารเพื่อดำเนินการ" ในประกาศนโยบายความเป็นส่วนตัวนี้</p>

<p class='db'>การชิงโชค การประกวด และรายการส่งเสริมการขาย</p>

<p class='d1'>ในการเข้าร่วมกิจกรรมชิงโชค การประกวด หรือรายการส่งเสริมการขายอื่นๆ ทางออนไลน์ (เรียกรวมว่า “รายการส่งเสริมการขาย”) ท่านอาจจำเป็นต้องลงทะเบียนบนเว็บไซต์เนสท์เล่ก่อน ข้อมูลที่เก็บรวบรวมจากการจัดกิจกรรมส่งเสริมการขายนั้นจะนำไปใช้ประเมินคุณสมบัติของท่าน แจ้งให้ท่านทราบว่าท่านเป็นผู้ชนะหรือไม่ และ/หรือมอบของรางวัลให้ท่าน และหากท่านเป็นผู้ชนะ อาจมีการประกาศข้อมูลบางอย่างเกี่ยวกับท่าน (เช่น ชื่อและรูปถ่าย) ไว้บนเว็บไซต์ของเนสท์เล่ที่เกี่ยวข้อง ในกรณีที่เด็กอายุต่ำกว่า [13] ปี สามารถเข้าร่วมรายการส่งเสริมการขายได้ เราจะต้องได้รับหนังสือยินยอมจากผู้ปกครองของเด็กก่อน ถ้าจำเป็น</p>

<p class='d1'>สำหรับข้อมูลเพิ่มเติมเกี่ยวกับรายการส่งเสริมการขาย กรุณาอ่านกฎระเบียบอย่างเป็นทางการหรือรายละเอียดที่ประกาศไว้พร้อมกับรายการส่งเสริมการขายนั้น</p>

<p class='db'>แบบสำรวจและโพล</p>

<p class='d1'>แบบสำรวจและโพลบนเว็บไซต์เนสท์เล่มีสองประเภท ประเภทแรกคือแบบสำรวจและโพลที่จัดทำขึ้นมาเพื่อขอข้อมูลทางประชากรศาสตร์และข้อมูลการสำรวจล้วนๆ (เช่น อายุ เพศ ข้อมูลเกี่ยวกับครอบครัว และความสนใจอื่นๆ ฯลฯ) และข้อมูลที่ไม่เชื่อมโยงกับข้อมูลส่วนบุคคลใดๆ ของท่าน ในกรณีอื่นๆ (เช่น ระหว่างการลงทะเบียนเปิดบัญชี) เราอาจเก็บข้อมูลเดียวกันนี้ โดยจะนำไปรวมกับข้อมูลส่วนบุคคลของท่าน หากเด็กอายุต่ำกว่า [13] ปี ได้รับอนุญาตให้ทำแบบสำรวจหรือโพลสำหรับเก็บข้อมูลส่วนบุคคลหรือข้อมูลที่เชื่อมโยงกับข้อมูลส่วนบุคคล เราจะต้องได้รับความยินยอมอย่างถูกต้องจากผู้ปกครองของเด็กเสียก่อน</p>

<p class='db'>กระดานสนทนาและโปรแกรมโต้ตอบอื่นๆ</p>

<p class='d1'>เราอาจให้บริการโปรแกรมโต้ตอบซึ่งท่านสามารถเขียนหรือเผยแพร่ข้อความ เรื่องเล่า รูปภาพ หรืองานศิลปะบนเว็บไซต์ของเราได้  ถึงแม้เราพยายามปกป้องผู้ใช้งานและผู้ที่เช้าร่วมกิจกรรมเหล่านี้อย่างสุดความสามารถ แต่เราแนะนำให้ท่านใช้ความระมัดระวังในการเปิดเผยข้อมูลส่วนบุคคลหรือภาพถ่ายของตัวเองในพื้นที่สาธารณะ เช่น กระดานสนทนา หรือคุณลักษณะประเภทสังคมออนไลน์ เพราะอาจมีบุคคลที่ท่านไม่รู้จักเก็บรวบรวมและนำข้อมูลดังกล่าวไปใช้ ดังนั้น เราจึงไม่สามารถรับประกันความปลอดภัยและความเป็นส่วนตัวของข้อมูลที่ท่านประกาศไว้ในพื้นที่เหล่านี้ได้และจะไม่รับผิดชอบใดๆ ทั้งสิ้น ในการใช้งานคุณลักษณะเหล่านี้ ท่านจะต้องแบกรับความเสี่ยงด้วยตัวเอง หากต้องการให้เรานำข้อมูลส่วนบุคคลของท่านออกจากบล็อคหรือกระดานสนทนาของเรา  กรุณา<a href='mailto:info@S-MomClub.com' class='blue_link'>ติดต่อเรา</a> ในบางกรณี เราอาจไม่สามารถลบข้อมูลส่วนบุคคลของท่านออกได้ ในกรณีนี้ เราจะแจ้งให้ท่านทราบว่าเราไม่สามารลบข้อมูลดังกล่าวออกได้พร้อมทั้งอธิบายเหตุผล</p>

<p class='d1'>โปรดทราบว่า หากเราเลือกประกาศรูปภาพหรือข้อความที่ท่านมอบให้เราผ่านทางคุณลักษณะอย่างใดอย่างหนึ่งเหล่านี้ เราอาจประกาศรูปภาพหรือข้อความเหล่านั้น พร้อมข้อมูลบางอย่างเกี่ยวกับท่าน เช่น รหัสผู้ใช้ ชื่อต้น ตัวอักษรตัวแรกของนามสกุล และเมืองและรัฐที่ท่านอาศัยอยู่</p>

<p class='db'>การซื้อสินค้าของเนสท์เล่ทางออนไลน์</p>

<p class='d1'>เว็บไซต์ของเราบางแห่งอาจยินยอมให้ท่านซื้อผลิตภัณฑ์ของเนส์เล่ผ่านร้านค้าออนไลน์ที่เราหรือผู้ขายซึ่งเป็นตัวแทนของเรา ("ร้านค้าออนไลน์ของเนสท์เล่") เป็นผู้ดำเนินการ เว็บไซต์ของเราบางแห่งอาจมีลิงก์เชื่อมโยงไปยังบริษัทนอกเครือเนสท์เล่ ซึ่งไม่อยู่ภายใต้การควบคุมของเนสท์เล่ผ่านการเป็นเจ้าของโดยตรงหรือโดยอ้อม ("บุคคลที่สาม") หากท่านซื้อสินค้าผ่านร้านค้าออนไลน์ของเนสท์เล่ ท่านจะได้รับการร้องขอให้มอบข้อมูลบัตรเครดิต รวมทั้งหมายเลขบัตรเครดิตและที่อยู่สำหรับเรียกเก็บเงินและที่อยู่สำหรับส่งสินค้า และข้อมูลติดต่อเบื้องต้นอื่นๆ (เช่น หมายเลขโทรศัพท์ ที่อยู่อีเมล์) เราจะใช้ข้อมูลเหล่านี้ในการทำธุรกรรมซื้อสินค้าและยืนยันการสั่งซื้อสินค้าของท่าน</p>

<p class='d1'>หากร้านค้าออนไลน์ที่ท่านกำลังเยี่ยมชมนั้นเป็นร้านค้าที่ดำเนินการโดยบุคคลที่สาม เราอาจแสดงลิงก์เชื่อมโยงไปยังร้านค้าของบุคคลที่สามโดยตรงเพื่อความสะดวก อย่างไรก็ตาม โปรดทราบว่าเราไม่ได้เป็นผู้ให้บริการเว็บไซต์เหล่านี้ ดังนั้นนโยบายความเป็นส่วนตัวจึงไม่ครอบคลุมเว็บไซต์ดังกล่าว เราเลือกหุ้นส่วนมาจำหน่ายผลิตภัณฑ์ของเนสท์เล่ทางออนไลน์ด้วยความรอบคอบและทำงานร่วมกับร้านค้าปลีกออนไลน์ที่เก็บรวบรวมและประมวลผลคำสั่งซื้่อผ่านเว็บไซต์ของตน (เช่นเดียวกับเว็บไซต์ของเรา) ด้วยวิธีแปลงข้อมูลที่ได้มาตรฐานอุตสาหกรรม เท่านั้น การทำเช่นนี้ช่วยป้องกันการเข้าถึงข้อมูลส่วนบุคคล เช่น หมายเลขบัตรเครดิตด้วยวิธีทางอิเล็กทรอนิกส์ที่ไม่ได้รับอนุญาต เราแนะนำให้ท่านอ่านนโยบายความเป็นส่วนตัวของร้านค้าออนไลน์ที่ท่านเข้าไปเยี่ยมชมก่อนเปิดเผยข้อมูลส่วนบุคคลอย่างหมายเลขบัตรเครดิต</p>

<p class='db'>อีการ์ด บอกต่อเพื่อน หรือคุณลักษณะอื่นๆ ที่ใช้ครั้งเดียว</p>

<p class='d1'>ข้อมูลส่วนบุคคลที่ท่านให้กับทางเว็บไซต์เพื่อทำการส่งอีการ์ด หรือใช้งานคุณลักษณะอื่นๆ ที่กล่าวถึง หรือคุณลักษณะที่ใช้ครั้งเดียว (มักจะเป็นข้อมูลชื่อและที่อยู่อีเมล์) จะถูกนำไปใช้เพียงครั้งเดียวเท่านั้น (เช่น ใช้ในการสื่อสาร) เราจะไม่เก็บข้อมูลนั้นไว้ใช้ในภายหลัง ในกรณีที่เด็กอายุต่ำกว่า [13] ปีสามารถเข้าถึงคุณลักษณะเหล่านี้ได้ เราต้องได้รับความยินยอมจากผู้ปกครองก่อน</p>

<p class='db'>ข้อมูลทางธุรกิจ</p>

<p class='d1'>โปรดทราบว่า ท่านอาจส่งข้อมูลเกี่ยวกับตนเอง หรือข้อมูลบริษัทที่ท่านเป็นตัวแทนในการทำธุรกิจผ่านทางพื้นที่บางส่วนของเว็บไซต์ให้เราได้ พื้นที่ดังกล่าวได้แก่ หน้าตำแหน่งงานซึ่งท่านสามารถส่งประวัติส่วนตัวหรือใบสมัครงานออนไลน์ หรือส่วนเนื้อหาหรือแบบฟอร์มสำหรับสื่อมวลชนส่งคำร้อง ถึงแม้ว่าข้อมูลส่วนบุคคลที่เก็บรวบรวมในพื้นที่ต่างๆ เหล่านี้จะนำไปใช้เพื่อจุดประสงค์ที่กำหนดไว้เท่านั้น (เช่น นำประวัติส่วนตัวไปใช้ในกระบวนการสมัครงานเท่านั้น) แต่ข้อมูลเหล่านี้ไม่อยู่ในข้อตกลงของนโยบายความเป็นส่วนตัวนี้</p>

<p class='d1'>เว็บไซต์เกี่ยวกับการดูแลสุขภาพและโภชนาการ</p>

<p class='d1'>เว็บไซต์บางแห่งของเราให้ข้อมูลทางโภชนาการและ/หรือข้อมูลเกี่ยวกับสุขภาพ รวมถึงมีเครื่องมือสำหรับมืออาชีพ ผู้บริโภค หรือเครื่องมือที่บุคคลทั้งสองกลุ่มนี้สามารถนำไปใช้งานได้ เว็บไซต์เหล่านี้อาจเก็บรวบรวมข้อมูลส่วนบุคคลบางอย่างหรือข้อมูลส่วนบุคคลที่อ่อนไหว เช่น (i) เวชปฏิบัติเพื่อการรักษา (เช่น ชื่อเวชปฏิบัติ  ระดับทางการแพทย์/วิชาชีพ โรงพยาบาลที่เข้าร่วม การใช้ผลิตภัณฑ์ทางโภชนาการของเนสท์เล่ในการรักษาคนไข้ ฯลฯ) (ii) ความสนใจของผู้บริโภคในผลิตภัณฑ์ทางโภชนาการต่างๆ (เช่น การใช้ผลิตภัณฑ์ทางโภชนาการของเนสท์เล่ นิสัยการรับประทานอาหารและการออกกำลังกาย ฯลฯ) หรือ (iii) การวิเคราะห์สภาพร่างกายบางอย่างของผู้บริโภค นอกเหนือจากข้อมูลติดต่อเบื้องต้น (เช่น ชื่อ ที่อยู่อีเมล์ ฯลฯ)</p>

<p class='d1'>เช่นเดียวกับเว็บไซต์อื่นๆ เราจะนำข้อมูลนี้ไปใช้ตามจุดประสงค์ที่แจ้งไว้ขณะที่เก็บรวบรวมข้อมูล เช่น ให้ข้อมูลทางโภชนาการและ/หรือข้อมูลเกี่ยวกับสุขภาพที่เกี่ยวข้อง รวมถึงสิทธิประโยชน์และเครื่องมือสำหรับสมาชิกเท่านั้นแก่ผู้ใช้งานที่ลงทะเบียนไว้ [เครื่องมือบางอย่างในไซต์ข้อมูลทางโภชนาการอาจอนุญาตให้ท่านเข้าถึงและแสดงข้อมูลสุขภาพหรือข้อมูลคนไข้บนเว็บไซต์  หากไม่มีการระบุไว้เป็นอย่างอื่น ข้อมูลเหล่านี้จะใช้ในการอ้างอิงทางออนไลน์เท่านั้น เราไม่เก็บหรือรักษาข้อมูลไปพร้อมๆ กัน]</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='04' class='jump_link'></a>
<p class='h4'>4. จะเกิดอะไรขึ้นหากท่านปฏิเสธไม่ให้ข้อมูลส่วนบุคคล</p>

<p class='d1'>หากท่านเลือกที่จะไม่ให้ข้อมูลส่วนบุคคลเมื่อเราร้องขอ ท่านอาจเข้าร่วมกิจกรรมบางอย่างและคุณลักษณะส่วนบุคคลบนเว็บไซต์ของเราไม่ได้ หรืออาจใช้บริการและข้อเสนอพิเศษของเราได้อย่างจำกัด ตัวอย่างเช่น หากท่านปฏิเสธไม่ให้ที่อยู่อีเมล์ ท่านจะรับจดหมายข่าวหรือลงทะเบียนอย่างอื่นบนเว็บไซต์ของเราไม่ได้ หากท่านปฏิเสธไม่แจ้งหมายเลขบัตรเครดิต ท่านจะซื่อสินค้าที่ร้านค้าออนไลน์เนสท์เล่ไม่ได้ อย่างไรก็ตาม หากท่านแค่เข้ามาอ่านข้อมูลในเว็บไซต์ของเนสท์เล่และเรียนรู้เกี่ยวกับผลิตภัณฑ์ของเรา ท่านไม่จำเป็นต้องให้ข้อมูลส่วนบุคคลใดๆ แก่เรา</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='05' class='jump_link'></a>
<p class='h4'>5. เราเปิดเผยข้อมูลส่วนบุคคลของท่านต่อใครบ้าง เพราะอะไร</p>

<p class='d1'>เนสท์เล่จะไม่เปิดเผยข้อมูลส่วนบุคคลของท่านแก่บุคคลที่สามซึ่งเจตนาจะนำข้อมูลดังกล่าวไปทำการตลาดทางตรง เว้นเสียแต่เราได้แจ้งให้ท่านทราบโดยเฉพาะและท่านอนุญาตให้เราทำเช่นนั้นได้</p>

<p class='d1'>เนสท์เล่อาจเปิดเผยข้อมูลส่วนบุคคลของท่านแก่บริษัทย่อย บริษัทที่เนสท์เล่มีอำนาจควบคุมผ่านการเป็นเจ้าของโดยตรงหรือโดยอ้อม (เรียกรวมกันว่า "กลุ่มเนสท์เล่") โดยเนสท์เล่อาจเปิดเผยข้อมูลส่วนบุคคลของท่านแก่บุคคลที่สามเฉพาะในกรณีต่อไปนี้เท่านั้น</p>

<p class='db'>ผู้จัดหาบริการ ตัวแทน และผู้รับเหมา</p>

<p class='d1'>เราอาจว่าจ้างให้บุคคลที่สาม เช่น ผู้จัดหาบริการ ตัวแทน หรือผู้รับเหมามาสนับสนุนการทำงานภายในสำหรับเว็บไซต์ของเราและช่วยบริหารจัดการเว็บไซต์หรือการทำงาน โครงการ และรายการส่งเสริมการขายที่ระบุไว้บนเว็บไซต์ บุคคลที่สามเหล่านี้อาจไม่ได้อยู่ในประเทศที่ท่านเข้าถึงเว็บไซต์ ตัวอย่างเช่น ผู้จัดหาบริการรายหลักของเราซึ่งให้บริการระบบแม่ข่ายของเว็บไซต์นี้อยู่ในประเทศสหรัฐอเมริกาและสหราชอาณาจักร (กรุณาดู คำถามข้อ 7 ด้านล่างประกอบ) บุคคลที่สามและพนักงานของบุคคลที่สามอาจจำเป็นต้องนำข้อมูลส่วนบุคคลของท่านไปใช้เพื่อให้บริการแก่เรา  อย่างไรก็ตาม บุคคลที่สามจะต้องดูแลความปลอดภัยของข้อมูลส่วนบุคคลของท่านในระดับเดียวกันกับเนสท์เล่ และต้องปฏิบัติตามข้อตกลงตามกฎหมายว่าด้วยการเก็บข้อมูลส่วนบุคคลของท่านไว้เป็นความลับ รวมทั้งรักษาความปลอดภัย และประมวลผลข้อมูลดังกล่าวตามคำแนะนำเฉพาะของเนสท์เล่เท่านั้น</p>

<p class='db'>หุ้นส่วนและรายการส่งเสริมการขายร่วม</p>

<p class='d1'>เราอาจร่วมหรือร่วมมือกับบริษัท องค์กร หรือบุคคลที่สามที่มีชื่อเสียงเพื่อจัดทำโครงการหรือรายการส่งเสริมการขายบนเว็บไซต์ของเรา โดยที่การเก็บรวบรวมและประมวลผลข้อมูลส่วนบุคคลเป็นส่วนหนึ่งในการดำเนินการนี้ หากบริษัทอื่นนอกเหนือจากเนสท์เล่เป็นผู้เก็บรวบรวมข้อมูลส่วนบุคคลของท่าน ซึงเป็นส่วนหนึ่งของรายการส่งเสริมการขาย เราจะแจ้งให้ท่านทราบขณะที่มีการเก็บรวบรวมข้อมูลส่วนบุคคล นอกจากนี้ เราอาจจัดรายการส่งเสริมการขายบนเว็บไซต์ที่เกี่ยวข้องกับสินค้าหรือบริการจากบริษัทอื่นๆ เป็นครั้งคราว โดยจะเปิดโอกาสให้ท่านเลือกรับข้อมูลจากบริษัทบุคคลที่สามโดยตรง หากรายการส่งเสริมการขายรายการใดยินยอมให้เด็กอายุต่ำกว่า [13] ปีเข้าร่วม เราจะต้องได้รับการยินยอมอย่างถูกต้องจากผู้ปกครองก่อนเปิดเผยข้อมูลส่วนบุคคลของเด็ก</p>

<p class='d1'>ในการจัดทำรายการส่งเสริมการขายที่มีบริษัทอื่นเข้ามาเกี่ยวข้อง เราจะให้ลิงก์สำหรับเชื่อมโยงไปยังนโยบายส่วนบุคคลของบริษัทนั้น เราแนะนำให้ท่านอ่านนโยบายดังกล่าวก่อนเปิดเผยข้อมูลส่วนบุคคล เนื่องจากเราไม่สามารถรับรองได้ว่าพวกเขาจะมีวิธีปฏิบัติเพื่อการรักษาความเป็นส่วนตัวเหมือนกับเนสท์เล่หรือไม่ หากท่านต้องไม่ต้องการให้มีการเก็บรวบรวมหรือแบ่งปันข้อมูลของท่านแก่บริษัทอื่นๆ นอกจากบริษัทของเรา ท่านสามารถเลือกที่จะเข้าร่วมหรือไม่เข้าร่วมกิจกรรมเหล่านี้ได้ตอนที่มีการเก็บรวบรวม/ร้องขอข้อมูลส่วนบุคคล</p>

<p class='db'>การโอนทางกฎหมายและทางธุรกิจ</p>

<p class='d1'>เราอาจเปิดเผยข้อมูลส่วนบุคคลของท่านในกรณีที่กฎหมายกำหนดเช่นนั้น หรือหากเราพิจารณาด้วยความสุจริตใจแล้วเห็นว่า การเปิดเผยข้อมูลส่วนบุคคลนั้นเป็นเรื่องจำเป็นและสมควรในการดำเนินคดีตามกฎหมาย ตอบสนองต่อข้อเรียกร้อง หรือปกป้องความปลอดภัยและสิทธิของเนสท์เล่ ลูกค้าของเนสท์เล่ หรือสาธารณะ</p>

<p class='d1'>ในกรณีที่บริษัทอื่นควบรวมหรือซื้อกิจการส่วนใดส่วนหนึ่งหรือกิจการทั้งหมดของเนสท์เล่ หรือในกรณีที่เนสท์เล่กำลังจะขายหรือเลิกประกอบกิจการส่วนใดส่วนหนึ่งหรือกิจการทั้งหมดของตน บริษัทที่ซื้อกิจการจะมีสิทธิเข้าถึงข้อมูลที่กิจการของเนสท์เล่เก็บรักษาไว้ ซึ่งรวมถึงข้อมูลส่วนบุคคลของท่านด้วย ทั้งนี้จะเป็นไปตามกฎหมายที่เกี่ยวข้อง ในทำนองเดียวกัน อาจมีการโอนข้อมูลส่วนบุคคล ซึ่งถือเป็นส่วนหนึ่งของการปรับโครงสร้างองค์กร การฟ้องล้มละลาย หรือเหตุการณ์ที่คล้ายคลึงกันหากกฎหมายอนุญาตให้ทำได้และดำเนินการอย่างถูกต้องตามกฎหมาย</p>

<p class='db'>ข้อมูลรวม</p>

<p class='d1'>เราอาจแบ่งปันข้อมูลรวมทางประชากรศาสตร์หรือข้อมูลสำรวจให้แก่บุคคลที่สาม แต่ข้อมูลเหล่านี้จะอยู่ในรูปของข้อมูลที่ไม่เปิดเผยชื่อและไม่มีข้อมูลส่วนบุคคลของท่านอยู่ ข้อมูลรวมที่เราแบ่งบันกับบุคคลที่สามอาจรวมถึงข้อมูลที่ไม่เปิดเผยชื่อซึ่งรวบรวมผ่านการใช้คุกกี้และเทคโนโลยีติดตามอื่นๆ ที่มีลักษณะคล้ายคลึงกันดังคำอธิบายใน คำถามข้อที่ 8 ด้านล่าง</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='06' class='jump_link'></a>
<p class='h4'>6. ท่านจะเข้าถึง แก้ไข และดำเนินการอื่นๆ เกี่ยวกับการใช้งานข้อมูลส่วนบุคคลของท่านได้อย่างไร</p>

<p class='d1'>เนื้อหาต่อไปนี้อธิบายทางเลือกในการอนุญาตให้เราเก็บรวบรวมและใช้งานข้อมูลส่วนบุคคลของท่าน</p>

<p class='d1'>ท่านสามารถเลือกที่จะไม่เปิดเผยข้อมูลส่วนบุคคลกับเราเสมอ อย่างไรก็ตาม หากท่านเลือกไม่เปิดเผยข้อมูลกับเรา ท่านจะร่วมกิจกรรมและใช้คุณลักษณะที่เราให้บริการได้อย่างจำกัดดังคำอธิบายในคำถามข้อที่ 4 ข้างต้น</p>

<p class='d1'>หากท่านไม่ต้องการรับจดหมายข่าว ประกาศ หรือการสื่อสารอื่นๆ และ/หรือบริการจากเว็บไซต์หรือแบรนด์สินค้าของเนสท์เล่ กรุณาอย่าสมัครรับการสื่อสารหรือบริการเหล่านั้นตอนลงทะเบียน หากท่านสมัครรับบริการไปแล้วและประสงค์ที่จะยกเลิกบริการในเวลาต่อมา กรุณาเข้าไปที่ส่วน ["ปรับปรุงประวัติ"] บนเว็บไซต์ของเราและแก้ไขตามความต้องการของท่าน</p>

<p class='d1'>ในอีเมล์สื่อสารด้านการตลาดที่ส่งให้ท่านนั้น เราเปิดโอกาสให้ท่านหยุดรับการสื่อสารด้านการตลาดจากเราในอนาคตด้วย (เช่น ยกเลิกบริการ เป็นต้น) เพียงปฏิบัติตามขั้นตอนและคำแนะนำการยกเลิกบริการที่ระบุไว้ในอีเมล์เท่านั้น</p>

<p class='d1'>ท่านสามารถตรวจสอบหรือปรับปรุงข้อมูลส่วนบุคคลที่เราเก็บรวบรวมไว้สำหรับการลงทะเบียนใช้งานเว็บไซต์ทั่วไปได้ตลอดเวลา โดยเข้าไปที่ส่วน "ปรับปรุงประวัติ" บนเว็บไซต์ของเรา (ถ้ามี)</p>

<p class='d1'>หากไม่มีระบบที่ระบุไว้ข้างต้นหรือท่านมีความประสงค์ที่จะร้องขอให้เราดำเนินการอย่างอื่น กรุณา<a href='mailto:info@S-MomClub.com' class='blue_link'>ติดต่อเรา</a></p>

<p class='d1'>นอกจากนี้ หากท่านได้เข้าร่วมรายการส่งเสริมการขายหรือโครงการที่มีบุคคลที่สามเข้ามาเกี่ยวข้อง อันเป็นส่วนหนึ่งของรายการส่งเสริมการขายดังกล่าว โดยที่ท่านตกลงรับการสื่อสารจากบุคคลที่สามโดยตรงในอนาคต ท่านจำเป็นต้องติดต่อกับบุคคลที่สามโดยตรงเพื่อหยุดรับการสื่อสารนั้น กระบวนการนี้อาจมีระบุไว้ในนโยบายความเป็นส่วนตัวของบุคคลที่สาม</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='07' class='jump_link'></a>
<p class='h4'>7. ข้อมูลส่วนบุคคลของท่านจะถูกส่งไปยังประเทศใดบ้าง เพราะอะไร</p>

<p class='d1'>เนสท์เล่เป็นบริษัทระดับโลก ดังนั้นข้อมูลของท่านอาจถูกถ่ายโอนข้ามพรมแดน เราอาจโอนข้อมูลไปยังประเทศที่มีระดับความเข้มงวดของกฎหมายว่าด้วยการปกป้องข้อมูลไม่เท่ากับประเทศที่ท่านส่งข้อมูลส่วนบุคคล นอกจากนี้ เราอาจโอนข้อมูลส่วนบุคคลของท่านระหว่างบริษัท ในเครือกลุ่มเนสท์เล่ ซึ่งมีสำนักงานตั้งอยู่ในประเทศต่างๆ เนสท์เล่นำมาตรการที่เหมาะสมมารักษาความปลอดภัยของข้อมูลส่วนบุคคลระหว่างการส่งและ ณ ปลายทางที่รับข้อมูล</p>

<p class='d1'>เซิร์ฟเวอร์ที่ให้บริการเว็บไซต์นี้อาจอยู่นอกประเทศที่ท่านเข้าถึงเว็บไซต์ ผู้ให้บริการระบบแม่ข่ายหลักๆ ของเว็บไซต์เนสท์เล่ส่วนใหญ่อยู่ในประเทศสหรัฐอเมริกาและสหราชอาณาจักร ผู้ให้บริการดังกล่าวมีหน้าที่ปฏิบัติตามสัญญาที่จัดทำขึ้นมาเพื่อปกป้องความเป็นส่วนตัวอย่างเข้มงวด และกำหนดให้ผู้ให้บริการต้องปฏิบัติตามคำแนะนำของเนสท์เล่เท่านั้น (รวมถึงข้อกำหนดอื่นๆ) รวมทั้งนำมาตรการทางเทคนิคทั้งหมดที่จำเป็นมาใช้อยู่เสมอเพื่อปกป้องข้อมูลส่วนบุคคลของท่านให้ปลอดภัย</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='08' class='jump_link'></a>
<p class='h4'>8. เทคโนโลยีติดตาม - เรานำเทคโนโลยีนี้มาใช้อย่างไรและเพราะเหตุใดเราจึงใช้เทคโนโลยีนี้</p>

<p class='d1'>เนสท์เล่นำเทคโนโลยีติดตาม ("คุกกี้", "ไอพีแอดเดรส", "ไฟล์บันทึก", "เว็บบีคอน") มาใช้ในการเก็บข้อมูลบางอย่าง เช่น ชนิดเบราว์เซอร์และระบบปฏิบัติการ หน้าอ้างอิง เส้นทางเข้าถึงไซต์  โดเมนของ ISP เป็นต้น โดยมีจุดประสงค์เพื่อปรับปรุงการใช้งานและการทำงานของเว็บไซต์ของเรา รวมทั้งศึกษาว่าผู้เข้าเยี่ยมชมใช้งานเว็บไซต์ เครื่องมือ และบริการที่เราเสนออย่างไร เทคโนโลยีติดตามช่วยให้เราสามารถปรับแต่งเว็บไซต์ตามความต้องการเฉพาะบุคคลของท่าน</p>

<p class='db'>คุกกี้</p>

<p class='d1'>เรานำคุกกี้มาปรับปรุงการใช้งานและการทำงานของเว็บไซต์ รวมทั้งศึกษาว่าผู้ใช้งานใช้งานเว็บไซต์ เครื่องมือ และบริการที่เราเสนอให้อย่างไร การจัดเก็บคุกกี้ไว้บนคอมพิวเตอร์ของท่านจะช่วยให้เราปรับเปลี่ยนและเพิ่มประสบการณ์ในการเยี่ยมชมเว็บไซต์ของเราได้ง่ายและสะดวก นอกจากนี้ยังทำให้ท่านเพลิดเพลินกับการเยี่ยมชมเว็บไซต์ของเราในครั้งต่อไปมากขึ้นด้วย</p>

<p class='d1'>หากท่านต้องการเรียนรู้นโยบายของเนสท์เล่เกี่ยวกับคุกกี้และสิทธิของท่าน กรุณาเข้าไปที่นโยบายคุกกี้ของเนสท์เล่</p>

<p class='db'>ไอพีแอดเดรส</p>

<p class='d1'>เราอาจเก็บที่อยู่อินเตอร์เน็ตโปรโตคอล (IP)  (รวมทั้งข้อมูลอย่างอื่น) ไว้เพื่อ (i) แก้ไขปัญหาทางเทคนิค (ii) รักษาความปลอดภัยและความมั่นคงของเว็บไซต์ (iii) จำกัดการเข้าถึงเว็บไซต์ของผู้ใช้งานบางราย (iv) ศึกษาวิธีการใช้งานเว็บไซต์ของเรา ไอพีแอดเดรสคือตัวเลขที่คอมพิวเตอร์นำไปใช้งานบนเครือข่ายเพื่อจำแนกเครื่องคอมพิวเตอร์ของท่านทุกครั้งที่ท่านเข้าสู่เครือข่ายอินเตอร์เน็ต</p>

<p class='db'>ไฟล์บันทึก</p>

<p class='d1'>เรา (หรือบุคคลที่สามซึ่งทำงานในนามของเรา) อาจเก็บข้อมูลในรูปของไฟล์บันทึก ไฟล์บันทึกจะบันทึกกิจกรรมของเว็บไซต์ และเก็บรวบรวมข้อมูลทางสถิติเกี่ยวกับพฤติกรรมการท่องอินเตอร์เน็ตของผู้ใช้งานเว็บไซต์ รายการข้อมูลเหล่านี้จัดเก็บโดยไม่มีการระบุชื่อ และช่วยให้เราเก็บรวบรวม (i) ชนิดของเบราว์เซอร์และระบบปฏิบัติการของผู้ใช้งาน (ii) ข้อมูลเกี่ยวกับระยะเวลาใช้งานของผู้ใช้งาน (เช่น URL ที่มา, วันและเวลาที่เยี่ยมชมเว็บไซต์จองเรา และหน้าที่พวกเขาเข้าไปดูในเว็บไซต์ของเราและระยะเวลาที่เข้าไปดู) และ (iii) ข้อมูลเส้นทางและข้อมูลการคลิก (รวมทั้งข้อมูลอื่นๆ) นอกจากนี้ เรายังนำข้อมูลในไฟล์บันทึกมาศึกษาด้านการตลาดและด้านประชากรศาสตร์ในองค์กรอีกด้วย โดยมีจุดประสงค์เพื่อปรับปรุงและปรับเปลี่ยนบริการออนไลน์ของเรา ไฟล์บันทึกจะนำมาใช้ภายในองค์กรเท่านั้น และไม่เชื่อมโยงกับผู้ใช้งานรายใด</p>

<p class='db'>เว็บบีคอน</p>

<p class='d1'>เราอาจใช้เว็บบีคอน (หรือ GIF แบบโปร่งใส) บนเว็บไซต์หรือบรรจุไว้ในข้อความอีเมล์ที่เราส่งให้ท่าน เว็บบีคอน (หรือที่เรียกว่า "เว็บบั๊ก") คือรหัสขนาดเล็กที่ใช้ในการส่งภาพกราฟิกบนหน้าเว็บหรือในข้อความอีเมล์งค์เพื่อโอนข้อมูลกลับมาให้เรา ข้อมูลที่รวบรวมผ่านทางเว็บบีคอนได้แก่ข้อมูลบางอย่างที่ระบุไว้ในเนื้อหาส่วนไอพีแอดเดรสข้างต้น รวมทั้งข้อมูลของผู้ใช้งานเกี่ยวกับการตอบสนองต่ออีเมล์ (เช่น เวลาเปิดอีเมล์ ลูกค้าเชื่อมโยงมายังอีเมล์จากที่ไหน ฯลฯ) เราใช้ข้อมูลเว็บบีคอนเพื่อจุดประสงค์หลายอย่างด้วยกัน รวมถึงแต่ไม่จำกัดเฉพาะ การรายงานความหนาแน่นในการใช้งานไซต์ จำนวนผู้เข้าเยี่ยมชม การตรวจสอบและรายงานโฆษณาและอีเมล์ และปรับแต่งเว็บไซต์ให้เหมาะกับแต่ละบุคคล</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='09' class='jump_link'></a>
<p class='h4'>9. การตลาดอิเล็กทรอนิกส์ - สแปมคืออะไรและเราจัดการกับอีเมล์สแปมอย่างไร</p>

<p class='d1'>สแปมคืออีเมล์ไม่พึงประสงค์ที่ส่งให้ท่านโดยไม่ได้รับอนุญาต ซึ่งประกอบด้วยข้อความโฆษณาหรือการตลาด</p>

<p class='d1'>เราไม่ส่งอีเมล์สแปมไปให้ท่านเด็ดขาดและใช้เครื่องมือป้องกันสแปมเพื่อป้องกันไม่ให้พนักงานของเราส่งอีเมล์สแปม การส่งอีเมล์โดยไม่ได้รับอนุญาตเป็นการกระทำที่ผิดกฎหมายในหลายๆ ประเทศ เราจะไม่นำข้อมูลส่วนบุคคลของท่าน (รวมถึงที่อยู่อีเมล์) ไปทำการตลาดทางตรงหรือติดตามการสื่อสาร เว้นเสียแต่ท่านอนุญาตให้เราดำเนินการเช่นนั้นอย่างชัดแจ้งในรูปของ "การสมัครรับอีเมล์"</p>

<p class='d1'>นอกจากนี้ เราจะไม่แบ่งบันข้อมูลส่วนบุคคลของท่านกับบุคคลที่สามซึ่งจะนำข้อมูลส่วนบุคคลของท่านไปส่งสแปมเด็ดขาด</p>

<p class='d1'>เว็บไซต์ของเนสท์เล่เปิดโอกาสให้ท่านรับข้อมูลการตลาดทางอีเมล์ อีเมล์ทุกฉบับที่เนสท์เล่ส่งไปให้อนุญาตให้ท่านเลือกหยุดรับอีเมล์ด้านการตลาดได้ทุกเวลา</p>

<p class='d1'>หากท่านเชื่อว่า ตนเองได้รับอีเมล์สแปมจากบริษัทในเครือกลุ่มเนสท์เล่ กรุณา<a href='mailto:info@S-MomClub.com' class='blue_link'>ติดต่อเรา</a>ทันที</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='10' class='jump_link'></a>
<p class='h4'>10. เราเก็บรักษาข้อมูลส่วนบุคคลไว้นานแค่ไหน</p>

<p class='d1'>เราอาจเก็บข้อมูลส่วนบุคคลที่ท่านส่งให้เราผ่านเว็บไซต์นี้ไว้ในฐานข้อมูล เช่น ฐานข้อมูลการตลาดลูกค้าสัมพันธ์ กลุ่มเนสท์เล่จะเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้ตามระยะเวลาที่จำเป็น โดยคำนึงถึงความจำเป็นในการนำข้อมูลดังกล่าวมาใช้ตอบคำถามหรือแก้ปัญหา ให้บริการปรับปรุงใหม่และบริการใหม่ล่าสุดและปฏิบัติตามข้อบังคับตามกฎหมายที่เกี่ยวข้อง นั่นหมายความว่า เราอาจจะเก็บข้อมูลส่วนบุคคลของท่านไว้เป็นระยะเวลาตามสมควรหลังจากที่ท่านหยุดใช้งานบริการของเนสท์เล่หรือหยุดใช้งานเว็บไซต์ของเรา หลังจากระยะเวลาดังกล่าว ข้อมูลส่วนบุคคลของท่านจะถูกลบออกจากระบบทั้งหมดของกลุ่มเนสท์เล่</p>

<p class='d1'>เราขอย้ำให้ท่านทราบว่า เรามีสิทธิลบข้อมูลส่วนบุคคลของท่านได้ทุกเวลา กรุณาดูคำถามที่ 6 ข้างต้นประกอบ</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='11' class='jump_link'></a>
<p class='h4'>11. เรามีนโยบายเก็บข้อมูลจากเด็กๆ ที่ใช้เว็บไซต์ของเราอย่างไร</p>

<p class='d1'>เราตระหนักถึงความสำคัญในการรักษาความเป็นส่วนตัวของเด็กๆ บนเครือข่ายอินเตอร์เน็ต ข้อมูลที่เราเก็บรวบรวมจากเด็กที่มีอายุต่ำกว่า [13] (“เด็กๆ” หรือ “เด็ก”) จะต้องได้รับการดูแลจัดการเป็นพิเศษ ดังนั้น เราจึงได้จัดทำนโยบายต่อไปนี้ขึ้นมาเพื่อบังคับใช้ในการเก็บรวบรวม ใช้งาน และเปิดเผยข้อมูลส่วนบุคคลของเด็กๆ เราแนะนำให้ผู้ปกครองเข้ามาสำรวจเว็บไซต์ของเราร่วมกับเด็กๆ และเตือนให้เด็กๆ สอบถามผู้ปกครองก่อนให้ข้อมูลส่วนบุคคลของตัวเอง</p>

<p class='d1'>เว็บไซต์ส่วนใหญ่ที่เนสท์เล่ เอส. เอ. ให้บริการไม่ใช่เว็บไซต์สำหรับเด็กโดยเฉพาะ และจะไม่ร้องขอหรือเก็บรวบรวมข้อมูลส่วนบุคคลจากเด็กอายุต่ำกว่า [13] ปี เว็บไซต์บางแห่งของเราอาจดึงดูดผู้เข้าเยี่ยมชมทุกวัย อย่างไรก็ตาม เราอาจจะนำมาตรการต่างๆ มาใช้เพื่อให้แน่ใจว่าผู้ที่แสดงความประสงค์จะลงทะเบียนหรือส่งข้อมูลส่วนบุคคลมีอายุครบตามเกณฑ์ที่กำหนดไว้ก่อนการลงทะเบียนหรือการส่งข้อมูล</p>

<p class='d1'>เนื้อหาต่อไปนี้จะอธิบายเกี่ยวกับหลักปฏิบัติของเราในการให้บริการเว็บไซต์บางแห่งที่อาจดึงดูดความสนใจหรือเก็บข้อมูลจากเด็กที่มีอายุต่ำกว่า [13] ปี</p>

<p class='db2'>การเก็บข้อมูลของเด็ก</p>

<p class='db'>ข้อมูลไม่ระบุตัวตนหรือไม่ใช่ข้อมูลส่วนบุคคล</p>

<p class='d1'>ตามปกติแล้ว เด็กๆ จะสามารถเข้ามาท่องเว็บไซต์ อ่านเนื้อหา และเล่นเกมส์บนเว็บไซต์เราของเราได้โดยไม่ต้องให้ข้อมูลส่วนบุคคล เช่น ชื่อหรือที่อยู่อีเมล์ แก่เรา อย่างไรก็ตาม บางเว็บไซต์อาจขอร้องให้เด็กมอบข้อมูลที่ไม่ระบุตัวตนหรือไม่ใช่ข้อมูลส่วนบุคคล (เช่น ชื่อผู้ใช้ รหัสผ่าน ชื่อต้น และเมืองหรือรัฐที่อยู่อาศัย) เพื่อใช้เข้าถึงคุณลักษณะส่วนบุคคลหรือคุณลักษณะอื่นๆ ที่อนุญาตให้เด็กๆ ติดตามเกมที่มีคะแนนสูง รายการโปรดในร้าน ปรับแต่งหน้าเว็บ หรือทำกิจกรรมต่างๆ ที่คล้ายคลึงกัน ในกรณีที่เว็บไซต์กำหนดให้เด็กต้องมอบข้อมูลไม่ระบุตัวตน เราอาจยินยอมให้เด็กๆ ใช้วันเกิด (เดือนและวันเท่านั้น) เป็นรหัสผ่าน วิธีนี้จะช่วยให้เด็กๆ จำรหัสผ่านของตัวเองได้ง่าย</p>

<p class='db'>ข้อมูลส่วนบุคคล</p>

<p class='d1'>หากเว็บไซต์ใดเก็บรวบรวมข้อมูลส่วนบุคคลจากเด็กๆ (เช่น จดหมายข่าว การแข่งขัน การประกวด/การชิงโชค และกิจกรรมอื่นๆ ที่คล้ายคลึงกัน) ข้อมูลดังกล่าวอาจรวมถึงชื่อและที่อยู่อีเมล์ของเด็ก ชื่อและที่อยู่อีเมล์ของผู้ปกครอง รวมถึงข้อมูลทั่วไปและข้อมูลที่จำเป็นในการให้บริการคุณลักษณะหรือบริการที่ร้องขอ (เช่นเดือนและวันเกิดเพื่อใช้บัตรอวยพรวันเกิด) ตามปกติแล้ว เราจะเก็บรักษาและนำข้อมูลนี้ไปใช้งานอย่างต่อเนื่องหากได้รับอนุญาตอย่างถูกต้องล่วงหน้าจากพ่อแม่หรือผู้ปกครองตามกฎหมายของเด็ก ("ผู้ปกครอง") วิธีขอความยินยอมจากผู้ปกครองอาจแตกต่างกันขึ้นอยู่กับข้อมูลที่จำเป็นต้องใช้ในการทำกิจกรรมและจุดประสงค์ในการใช้งานข้อมูลดังกล่าว ตัวอย่างเช่น หากเด็กๆ สมัครสมาชิกรับจดหมายข่าวหรือลงทะเบียนบนเว็บไซต์ของเรา เราอาจส่งจดหมายแจ้งผู้ปกครองทางอีเมล์ หรือแจ้งวิธีการยกเลิกการสมัครกิจกรรมดังกล่าวให้ผู้ปกครองทราบ หรือขอความยินยอมจากผู้ปกครอง ทั้งนี้ขึ้นอยู่กับคุณลักษณะที่สมัครใช้งาน หลังจากที่ได้รับความยินยอมจากผู้ปกครองแล้ว เราอาจส่งอีเมล์ยืนยันไปให้ แต่ในกรณีที่ผู้ปกครองยกเลิกการเป็นสมาชิกของเด็กหรือไม่อนุญาตให้เด็กทำกิจกรรมหรือลงทะเบียน ข้อมูลที่เด็กมอบให้เราก่อนหน้าจะถูกลบออก ในกรณีอื่นๆ เช่น เมื่อเด็กเข้าร่วม (i) การประกวดและชนะรางวัล หรือ (ii) กิจกรรมที่ต้องเผยแพร่ข้อมูลส่วนบุคคลหรือเรื่องราวของเด็กบนเว็บไซต์ เราอาจจำเป็นต้องขอหลักฐานแสดงความยินยอมที่น่าเชื่อถือมากขึ้น เช่น จดหมายแสดงความยินยอมจากผู้ปกครอง เป็นต้น นอกจากนี้ ผู้ปกครองสามารถเลือกอนุญาตให้เราเก็บรวบรวมและใช้งานข้อมูลส่วนบุคคลของเด็กได้ โดยไม่จำเป็นต้องยินยอมให้เราเปิดเผยข้อมูลของเด็กต่อบุคคลที่สาม</p>

<p class='d1'>แต่ไม่ว่าจะในกรณีใด เราจะเก็บข้อมูลส่วนบุคคลของเด็กเมื่อได้รับความยินยอมจากผู้ปกครองของเด็กเท่านั้น นอกจากนี้ เรายังเก็บข้อมูลส่วนบุคคลของเด็กเฉพาะในส่วนที่จำเป็นต่อการเข้าร่วมกิจกรรมต่างๆ เท่านั้น นั่นหมายความว่า หากเราไม่ได้รับข้อมูลส่วนบุคคลเกี่ยวกับเด็กๆ ส่วนใดส่วนหนึ่ง (เช่นหมายเลขโทรศัพท์) ที่จำเป็นต่อการสมัครสมาชิกและรับจดหมายข่าว เราจะไม่ร้องขอข้อมูลดังกล่าว หากต้องการอ่านขั้นตอนปกป้องความลับและความปลอดภัยข้อมูลส่วนบุคคลของเด็กเพิ่มเติม กรุณาดูเนื้อหาในส่วนความปลอดภัยข้างต้น</p>

<p class='d1'>เราจะไม่เก็บข้อมูลส่วนบุคคลของเด็กผ่านการใช้กลไกเก็บข้อมูลแบบแพสซีฟ เช่น คุกกี้ อย่างไรก็ตาม ข้อมูลที่อยู่ในคุกกี้อาจถูกเชื่อมโยงเข้ากับข้อมูลส่วนบุคคลของเด็ก หากต้องการอ่านข้อมูลเพิ่มเติมเกี่ยวกับวิธีการใช้คุกกี้และเทคโนโลยีติดตามอื่นๆ ของเรา กรุณาดูเนื้อหาในส่วนที่เกี่ยวข้องข้างต้น</p>

<p class='db'>การนำข้อมูลส่วนบุคคลของเด็กไปใช้</p>

<p class='d1'>หลังจากเก็บรวบรวมข้อมูลส่วนบุคคลของเด็ก เราจะนำข้อมูลดังกล่าวไปใช้ตามจุดประสงค์ในการเก็บรวบรวมข้อมูลดังกล่าวและตามที่ผู้ปกครองยินยอม (หากจำเป็นต้องได้รับความยินยอมจากผู้ปกครอง) ตัวอย่างเช่น หากเด็กสมัครสมาชิก (และผู้ปกครองยินยอม) รับจดหมายข่าวหรือประกาศอิเล็กทรอนิกส์ เราจะนำที่อยู่อีเมล์ของเด็กมาใช้ส่งประกาศที่ร้องขอ</p>

<p class='db'>การเข้าถึง/การควบคุมของผู้ปกครอง</p>

<p class='d1'>หากท่านเป็นผู้ปกครองที่อนุญาตให้เราเก็บรวบรวมและรักษาข้อมูลส่วนบุคคลของเด็ก ท่านสามารถดำเนินการต่อไปนี้ได้ทุกเวลา</p>

<p class='d1'>ตรวจสอบข้อมูลส่วนบุคคลของเด็ก โดยเข้าไปยังหน้าตรวจสอบและอนุญาตของผู้ปกครอง ลิงก์ที่เชื่อมโยงไปยังหน้านี้ระบุไว้ในจดหมายแจ้งที่เราส่งให้ท่านตอนที่ขอและได้รับความยินยอมจากท่าน</p>

<p class='d1'>ยกเลิกไม่ให้ใช้งานหรือเก็บรวบรวมข้อมูลส่วนบุคคลของเด็กอีกต่อไป (เช่นยกเลิกการเป็นสมาชิก) โดยเข้าไปที่หน้ายกเลิกการเป็นสมาชิกบนเว็บไซต์ที่เด็กเข้าไปลงทะเบียนหรือปฏิบัติตามขั้นตอนหรือคำแนะนำเกี่ยวกับการยกเลิกการเป็นสมาชิกที่ระบุไว้ในจดหมายข่าวหรืออีเมล์ที่ส่งไปยังบัญชีอีเมล์ของเด็ก</p>

<p class='d1'>ขอให้เราลบข้อมูลส่วนบุคคลของเด็กด้วยการปฏิบัติตามขั้นตอนใน #2 ข้างต้น การยกเลิกการเป็นสมาชิกของเด็กจะเป็นการลบข้อมูลส่วนบุคคลทั้งหมดของเด็กออกจากบันทึกของเรา</p>

<p class='d1'>หากไม่มีตัวเลือกที่ระบุไว้ข้างต้นหรือท่านมีความประสงค์ที่จะร้องขอให้เราดำเนินการอย่างอื่น กรุณาดำเนินการดังต่อไปนี้ (i) ดูเอกสารที่ได้รับเมื่อยินยอมให้เด็กสมัครสมาชิก หรือ (ii) <a href='mailto:info@S-MomClub.com' class='blue_link'>ติดต่อเรา</a> โปรดเตรียมข้อมูลต่อไปนี้ให้ครบถ้วนเพื่อใช้ในการตรวจสอบความถูกต้อง ชื่อและที่อยู่อีเมล์ของเด็ก ชื่อและที่อยู่อีเมล์ของท่าน และชื่อเว็บไซต์ที่เด็กลงทะเบียน</p>

<p class='d1'>หากท่านอนุญาตให้เด็กลงทะเบียนบนเว็บไซต์หรือเข้าร่วมกิจกรรมบนเว็บไซต์ที่อนุญาตให้เด็กอายุต่ำกว่า [13] ปีเข้าร่วม เด็กอาจสามารถเข้าไปตรวจสอบ แก้ไข หรือลบข้อมูลส่วนบุคคลเกี่ยวกับการลงทะเบียนหรือกิจกรรมได้ นอกจากนี้ ยังสามารถเข้าไปยกเลิกการใช้งานคุณลักษณะที่ท่านอนุญาตได้อีกด้วย</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='12' class='jump_link'></a>
<p class='h4'>12. เราเชื่อมโยงไปยังเว็บไซต์อื่นๆ ของบุคคลที่สามหรือไม่</p>

<p class='d1'>เราอาจเชื่อมโยงเว็บไซต์นี้ไปยังเว็บไซต์ของบริษัทหรือองค์กรอื่นๆ (เรียกรวมกันว่า "ไซต์ของบุคคลที่สาม") ประกาศโยบายฉบับนี้ใช้ไม่ได้กับไซต์ของบุคคลที่สามเนื่องจากไซต์ดังกล่าวไม่อยูในการควบคุมของเรา หากท่านเข้าถึงไซต์ของบุคคลที่สามด้วยลิงก์ที่เราระบุไว้ ผู้ให้บริการเว็บไซต์เหล่านี้อาจเก็บข้อมูลส่วนบุคคลของท่าน ก่อนส่งข้อมูลส่วนบุคคลให้ไซต์บุคคลที่สามเหล่านี้ กรุณาตรวจสอบให้แน่ใจว่าท่านพอใจกับนโยบายความเป็นส่วนตัวของไซต์ดังกล่าว แม้ว่าเราได้พยายามอย่างสุดความสามารถในการตรวจสอบว่า ไซต์บุคคลที่สามทั้งหมดที่เชื่อมโยงกับเว็บไซต์ของเรามีมาตรการปกป้องข้อมูลส่วนบุคคลของท่านเทียบเท่ามาตรการของเรา อย่างไรก็ตามเราไม่สามารถรับผิดทางกฎหมายที่เกี่ยวข้องกับกิจกรรม นโยบายความเป็นส่วนตัว  หรือระดับการปกป้องความเป็นส่วนตัวของไซต์บุคคลที่สามได้</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>

<a name='13' class='jump_link'></a>
<p class='h4'>13. ท่านจะติดต่อเราได้อย่างไร</p>

<p class='d1'>หากท่านมีคำถาม ต้องการร้องเรียนหรือแสดงความคิดเห็นเกี่ยวกับนโยบายความเป็นส่วนตัวนี้หรือการเก็บข้อมูล กรุณาติดต่อเรา โดยเขียนจดหมายมาที่ [ใส่รายละเอียดสำหรับติดต่อหน่วยงานของเนสท์เล่ที่ให้บริการเว็บไซต์ซึ่งประกาศนโยบายนี้ครอบคลุม ตัวอย่างเช่น: <strong>Nestlé S.A., Corporate Media Relations, 1800 Vevey, Switzerland หรือส่งอีเมล์ไปที่: webmaster@nestle.com หรือโทร +41 12 924 2200]</strong></p>

<p class='d1'>[เนสท์เล่ได้รับ Privacy Seal ของ TRUSTe ซึ่งเป็นการรับรองว่าหลักปฏิบัติและนโยบายความเป็นส่วนตัวนี้ผ่านการตรวจสอบจาก TRUSTe ว่ามีความถูกต้องตามข้อบังคับโครงการของ <a class='blue_link' href='http://www.truste.com/privacy_seals_and_services/consumer_privacy/privacy-programs-requirements.html' target="_blank">TRUSTe</a> รวมทั้งยังมีความโปร่งใส ความรับผิดชอบ และทางเลือกในการเก็บและการใช้งานข้อมูลส่วนบุคคลของท่าน ในฐานะหน่วยงานอิสระ ภารกิจของ TRUSTe คือการเร่งสร้างความเชื่อถือในระบบออนไลน์ในหมู่ผู้บริโภคและองค์กรทั่วโลกผ่านเครื่องหมายรับรองความน่าเชื่อถือด้านความเป็นส่วนตัวและโซลูชันสร้างความน่าเชื่อถือของตน หากท่านมีคำถามหรือคำร้องเรียนเกี่ยวกับหลักปฏิบัติหรือนโยบายความเป็นส่วนตัวของเรา กรุณา ติดต่อเรา หากท่านไม่พอใจกับคำตอบของเรา ท่านสามารถติดต่อ <a href='http://watchdog.truste.com/pvr.php?page=complaint' target='_blank' class='blue_link'>TRUSTe</a> ได้ที่นี่]</p>

<p class='top_link'><a href='th/page/privacy#top'>กลับสู่ด้านบน</a></p>


