#detail-box {
  background: url("../images/alpha_lac/alpha_lac_kw_bg.png") no-repeat center transparent !important;
  background-size: cover !important;
  padding: 0 0 0 0 !important;
}
#detail-box #detail-content {
  max-width: 100% !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.content_panel .content_align {
  width: 1024px;
  margin: 0 auto;
  padding: 0px 20px 30px;
}
.content_panel .content_align .head_link_panel {
  width: 1024px;
  text-align: center;
}
.content_panel .content_align .head_link_panel .head_link {
  font-family: db_helvethaica_x_li;
  border: #8e6d1d 2px solid;
  border-radius: 40px;
  width: 292px;
  height: 62px;
  line-height: 62px;
  font-size: 30px;
  color: #8e6d1d;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
  margin: 0px 15px;
}
.content_panel .content_align .head_link_panel .head_link:hover {
  border: #af8c1f 2px solid;
  color: #af8c1f;
}
.content_panel .content_align .head_link_panel .head_link_current {
  background: #8e6d1d;
  font-family: db_helvethaica_x_li;
  border: #8e6d1d 2px solid;
  border-radius: 40px;
  width: 292px;
  height: 62px;
  line-height: 62px;
  font-size: 30px;
  color: #FFF;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
  margin: 0px 15px;
}
.content_panel .content_align .detail_align {
  text-align: center;
  width: 1024px;
}
.content_panel .content_align .detail_align .detail_panel {
  width: 960px;
  position: relative;
  text-align: left;
  margin: 47px auto 0px;
}
.content_panel .content_align .detail_align .detail_panel .picture_panel {
  position: absolute;
  top: 0px;
  right: 0px;
}
.content_panel .content_align .detail_align .detail_panel .picture_panel img.desktop_pic {
  display: block;
}
.content_panel .content_align .detail_align .detail_panel .picture_panel img.mobile_pic {
  display: none;
}
.content_panel .content_align .detail_align .detail_panel .text1 {
  font-family: db_helvethaica_xregular;
  font-size: 80px;
  color: #0b3e8d;
  line-height: 70px;
}
.content_panel .content_align .detail_align .detail_panel .text1 span.thin {
  font-family: db_helvethaica_x_li;
}
.content_panel .content_align .detail_align .detail_panel .text2 {
  font-family: db_helvethaica_x_li;
  font-size: 60px;
  color: #8e6d1d;
  line-height: 48px;
  font-style: italic;
}
.content_panel .content_align .detail_align .detail_panel .text2 span.quot_left {
  font-family: "sans-serif";
  color: #d5ab3a;
  opacity: 0.56;
  position: relative;
  top: 5px;
  margin-right: 10px;
  font-size: 39px;
  font-weight: bold;
}
.content_panel .content_align .detail_align .detail_panel .text2 span.quot_right {
  font-family: "sans-serif";
  color: #d5ab3a;
  opacity: 0.56;
  position: relative;
  top: 11px;
  margin-left: 7px;
  font-weight: bold;
  font-size: 39px;
}
.content_panel .content_align .detail_align .detail_panel .text2 span.bold {
  font-family: db_helvethaica_xregular;
  font-weight: bold;
}
.content_panel .content_align .detail_align .detail_panel .text3 {
  font-family: db_helvethaica_x_li;
  font-size: 36px;
  color: #0b3e8d;
  line-height: 36px;
  width: 500px;
}
.content_panel .content_align .detail_align .detail_panel .text3 span.bold {
  font-weight: bold;
}
.content_panel .content_align .detail_align .detail_panel .text4 {
  font-family: db_helvethaica_x_med;
  font-size: 48px;
  color: #8e6d1d;
  line-height: 48px;
  margin-top: 10px;
}
.content_panel .content_align .detail_align .detail_panel .text_detail {
  font-family: db_helvethaica_x_li;
  font-size: 24px;
  color: #444;
  width: 460px;
  margin-top: 7px;
}
.content_panel .content_align .detail_align .detail_panel .text_detail .text_detail_bold {
  font-family: db_helvethaica_x_med;
  font-size: 24px;
  color: #444;
}
.content_panel .content_align .detail_align .detail_panel .align_right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.content_panel2 {
  background: url("../images/alpha_lac/alpha_lac_desktop_bg_master_s2.png") no-repeat center transparent !important;
  background-size: cover !important;
}
.content_panel2 .content_align {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px 40px;
}
.content_panel2 .content_align .s2_header {
  font-family: db_helvethaica_xregular;
  font-size: 80px;
  color: #a48845;
  text-align: center;
}
.content_panel2 .content_align .s2_header span.thin {
  font-family: db_helvethaica_x_li;
}
.content_panel2 .content_align .box_sub {
  display: inline-block;
  width: 300px;
  text-align: center;
}
.content_panel2 .content_align .box_sub .box_sub_content {
  font-size: 24px;
  color: #a48845;
}
.content_panel2 .content_align .box_sub .box_sub_content .header {
  font-family: db_helvethaica_xregular;
  font-weight: bold;
  margin-top: 21px;
}
.content_panel2 .content_align .box_sub .box_sub_content .detail {
  font-family: db_helvethaica_x_li;
}
@media (min-width: 768px) {
  br.dtnl {
    display: block;
  }
  br.mbnl {
    display: none;
  }
}
@media (max-width: 767px) {
  br.dtnl {
    display: none;
  }
  br.mbnl {
    display: block;
  }
  .content_panel {
    background: url("../images/alpha_lac/alpha_lac_desktop_bg.png") no-repeat center transparent !important;
    background-size: cover !important;
  }
  .content_panel .content_align {
    width: inherit;
    margin: 0 auto;
    padding: 0px 20px 30px;
  }
  .content_panel .content_align .head_link_panel {
    width: 280px;
    text-align: center;
    margin: 0 auto;
  }
  .content_panel .content_align .head_link_panel .head_link {
    width: 278px;
    height: 64px;
    line-height: 64px;
    font-size: 30px;
    margin: 10px 0px;
  }
  .content_panel .content_align .head_link_panel .head_link_current {
    width: 278px;
    height: 64px;
    line-height: 64px;
    font-size: 30px;
    margin: 10px 0px;
  }
  .content_panel .content_align .detail_align {
    text-align: center;
    width: inherit;
  }
  .content_panel .content_align .detail_align .detail_panel {
    width: inherit;
    position: relative;
    text-align: left;
    margin: 0px;
  }
  .content_panel .content_align .detail_align .detail_panel .picture_panel {
    position: relative;
    right: inherit;
    top: inherit;
  }
  .content_panel .content_align .detail_align .detail_panel .picture_panel img.desktop_pic {
    display: none;
  }
  .content_panel .content_align .detail_align .detail_panel .picture_panel img.mobile_pic {
    display: block;
    width: 227px;
    margin: 0 auto;
  }
  .content_panel .content_align .detail_align .detail_panel .text1 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 21px;
  }
  .content_panel .content_align .detail_align .detail_panel .text2 {
    font-size: 36px;
    line-height: 34px;
  }
  .content_panel .content_align .detail_align .detail_panel .text2 span.quot_left {
    margin-right: 5px;
  }
  .content_panel .content_align .detail_align .detail_panel .text2 span.quot_right {
    margin-left: 5px;
  }
  .content_panel .content_align .detail_align .detail_panel .text2 span.bold {
    font-weight: bold;
    margin-left: 24px;
  }
  .content_panel .content_align .detail_align .detail_panel .text3 {
    font-size: 24px;
    line-height: 24px;
    width: inherit;
    margin-top: 15px;
  }
  .content_panel .content_align .detail_align .detail_panel .text4 {
    font-family: db_helvethaica_x_li;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
  }
  .content_panel .content_align .detail_align .detail_panel .text_detail {
    font-size: 18px;
    width: inherit;
  }
  .content_panel .content_align .detail_align .detail_panel .text_detail .text_detail_bold {
    font-size: 18px;
  }
  .content_panel .content_align .detail_align .detail_panel .align_right {
    position: inherit;
  }
  .content_panel2 {
    background: url("../images/alpha_lac/alpha_lac_mobile_bg_master_s2.png") no-repeat center transparent !important;
    background-size: cover !important;
  }
  .content_panel2 .content_align {
    width: inherit;
    margin: 0 auto;
    padding: 20px 20px 0px;
    display: table;
  }
  .content_panel2 .content_align .s2_header {
    font-family: db_helvethaica_xregular;
    font-size: 48px;
    color: #a48845;
    text-align: center;
  }
  .content_panel2 .content_align .s2_header span.thin {
    font-family: db_helvethaica_x_li;
  }
  .content_panel2 .content_align .box_sub {
    display: block;
    width: inherit;
    text-align: center;
    margin: 22px 0px;
  }
  .content_panel2 .content_align .box_sub .box_sub_pic {
    display: inline-block;
  }
  .content_panel2 .content_align .box_sub .box_sub_pic img {
    width: 87px;
  }
  .content_panel2 .content_align .box_sub .box_sub_content {
    display: inline-block;
    font-size: 24px;
    color: #a48845;
    width: calc(100% - 127px);
    text-align: left;
    vertical-align: top;
    margin-left: 13px;
  }
  .content_panel2 .content_align .box_sub .box_sub_content .header {
    font-family: db_helvethaica_xregular;
    font-weight: bold;
    margin-top: 0px;
  }
  .content_panel2 .content_align .box_sub .box_sub_content .detail {
    font-family: db_helvethaica_x_li;
    font-size: 18px;
  }
}
