#detail-box {
  background: url("../images/alpha_lac/alpha_lac_qa_bg.png") no-repeat center transparent !important;
  padding: 0 0 0 0 !important;
  background-size: cover !important;
}
#detail-box #detail-content {
  max-width: 100% !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.content_panel .content_align {
  width: 1024px;
  margin: 0 auto;
  padding: 0px 20px 30px;
}
.content_panel .content_align .head_link_panel {
  width: 1024px;
  text-align: center;
}
.content_panel .content_align .head_link_panel .head_link {
  font-family: db_helvethaica_x_li;
  border: #8e6d1d 2px solid;
  border-radius: 40px;
  width: 292px;
  height: 62px;
  line-height: 62px;
  font-size: 30px;
  color: #8e6d1d;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
  margin: 0px 15px;
}
.content_panel .content_align .head_link_panel .head_link:hover {
  border: #af8c1f 2px solid;
  color: #af8c1f;
}
.content_panel .content_align .head_link_panel .head_link_current {
  background: #8e6d1d;
  font-family: db_helvethaica_x_li;
  border: #8e6d1d 2px solid;
  border-radius: 40px;
  width: 292px;
  height: 62px;
  line-height: 62px;
  font-size: 30px;
  color: #FFF;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
  margin: 0px 15px;
}
.content_panel .content_align .detail_align {
  width: 960px;
  margin: 60px auto 0;
}
.content_panel .content_align .detail_align .section {
  position: relative;
}
.content_panel .content_align .detail_align .section .picture {
  position: absolute;
}
.content_panel .content_align .detail_align .section .picture img.pic1_d {
  margin-right: 49px;
  display: block;
}
.content_panel .content_align .detail_align .section .picture img.pic1_m {
  display: none;
}
.content_panel .content_align .detail_align .section .picture img.pic2_d {
  margin-left: 49px;
  display: block;
}
.content_panel .content_align .detail_align .section .picture img.pic2_m {
  display: none;
}
.content_panel .content_align .detail_align .section .picture img.pic3_d {
  margin-right: 49px;
  display: block;
}
.content_panel .content_align .detail_align .section .picture img.pic3_m {
  display: none;
}
.content_panel .content_align .detail_align .section .right {
  top: 0px;
  right: 0px;
}
.content_panel .content_align .detail_align .section .left {
  top: 0px;
  left: 0px;
}
.content_panel .content_align .detail_align .section .qa_panel {
  position: absolute;
}
.content_panel .content_align .detail_align .section .qa_panel .text1 {
  font-family: db_helvethaica_xregular;
  font-size: 80px;
  color: #0b3e8d;
}
.content_panel .content_align .detail_align .section .qa_panel .text2 {
  font-family: db_helvethaica_x_li;
  font-size: 48px;
  color: #8e6d1d;
  line-height: 40px;
}
.content_panel .content_align .detail_align .section .qa_panel .text3 {
  font-family: db_helvethaica_x_med;
  font-size: 36px;
  color: #0b3e8d;
}
.content_panel .content_align .detail_align .section .qa_panel .question_detail {
  background-image: url("../images/alpha_lac/question_icon.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 36px;
  padding-left: 49px;
  padding-top: 5px;
  font-family: db_helvethaica_xregular;
  font-weight: bold;
  font-size: 24px;
  color: #8e6d1d;
  min-height: 36px;
  width: 450px;
  margin-top: 10px;
}
.content_panel .content_align .detail_align .section .qa_panel .answer_detail {
  background-image: url("../images/alpha_lac/answer_icon.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 36px;
  padding-left: 49px;
  padding-top: 2px;
  font-family: db_helvethaica_x_li;
  font-size: 24px;
  color: #0b3e8d;
  min-height: 36px;
  width: 450px;
}
.content_panel .content_align .detail_align .section .qa2 {
  margin-top: 20px;
}
.content_panel .content_align .detail_align .section .qa3 {
  margin-top: 50px;
}
@media (min-width: 768px) {
  br.dtnl {
    display: block;
  }
  br.mbnl {
    display: none;
  }
  .content_panel .content_align .detail_align .s1 {
    height: 400px;
  }
  .content_panel .content_align .detail_align .s2 {
    height: 260px;
  }
  .content_panel .content_align .detail_align .s3 {
    height: 300px;
  }
}
@media (max-width: 767px) {
  br.dtnl {
    display: none;
  }
  br.mbnl {
    display: block;
  }
  .content_panel {
    background: url("../images/alpha_lac/alpha_lac_desktop_bg.png") no-repeat center transparent !important;
    background-size: cover !important;
  }
  .content_panel .content_align {
    width: inherit;
    margin: 0 auto;
    padding: 0px 20px 30px;
  }
  .content_panel .content_align .head_link_panel {
    width: 280px;
    text-align: center;
    margin: 0 auto;
  }
  .content_panel .content_align .head_link_panel .head_link {
    width: 278px;
    height: 64px;
    line-height: 64px;
    font-size: 30px;
    margin: 10px 0px;
  }
  .content_panel .content_align .head_link_panel .head_link_current {
    width: 278px;
    height: 64px;
    line-height: 64px;
    font-size: 30px;
    margin: 10px 0px;
  }
  .content_panel .content_align .detail_align {
    width: inherit;
    margin: 60px auto 0;
  }
  .content_panel .content_align .detail_align .section {
    position: relative;
  }
  .content_panel .content_align .detail_align .section .picture {
    position: relative;
    text-align: center;
  }
  .content_panel .content_align .detail_align .section .picture img.pic1_d {
    display: none;
  }
  .content_panel .content_align .detail_align .section .picture img.pic1_m {
    display: block;
    width: 233px;
    margin: 0 auto;
  }
  .content_panel .content_align .detail_align .section .picture img.pic2_d {
    display: none;
  }
  .content_panel .content_align .detail_align .section .picture img.pic2_m {
    display: block;
    width: 230px;
    margin: 0 auto;
    position: relative;
    left: 14px;
  }
  .content_panel .content_align .detail_align .section .picture img.pic3_d {
    display: none;
  }
  .content_panel .content_align .detail_align .section .picture img.pic3_m {
    display: block;
    width: 222px;
    margin: 0 auto;
    position: relative;
    left: 14px;
  }
  .content_panel .content_align .detail_align .section .right {
    top: 0px;
    right: 0px;
  }
  .content_panel .content_align .detail_align .section .left {
    top: 0px;
    left: 0px;
  }
  .content_panel .content_align .detail_align .section .qa_panel {
    position: relative;
  }
  .content_panel .content_align .detail_align .section .qa_panel .text1 {
    font-size: 48px;
    margin-top: 10px;
  }
  .content_panel .content_align .detail_align .section .qa_panel .text2 {
    font-size: 32px;
    line-height: 26px;
  }
  .content_panel .content_align .detail_align .section .qa_panel .text3 {
    font-size: 24px;
  }
  .content_panel .content_align .detail_align .section .qa_panel .question_detail {
    background-image: url("../images/alpha_lac/question_icon.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 36px;
    padding-left: 49px;
    padding-top: 5px;
    font-family: db_helvethaica_xregular;
    font-weight: bold;
    font-size: 18px;
    color: #8e6d1d;
    min-height: 36px;
    width: calc(100% - 50px);
    margin-top: 15px;
  }
  .content_panel .content_align .detail_align .section .qa_panel .answer_detail {
    background-image: url("../images/alpha_lac/answer_icon.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 36px;
    padding-left: 49px;
    padding-top: 2px;
    font-family: db_helvethaica_x_li;
    font-size: 18px;
    color: #0b3e8d;
    min-height: 36px;
    width: calc(100% - 50px);
    margin-bottom: 15px;
  }
  .content_panel .content_align .detail_align .section .qa1 {
    margin-top: 0px;
  }
  .content_panel .content_align .detail_align .section .qa2 {
    margin-top: 0px;
  }
  .content_panel .content_align .detail_align .section .qa3 {
    margin-top: 0px;
  }
}
