nav#TabNav {
  width: 100% !important;
}
#detail-panel1.detail-panel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#detail-panel1.detail-panel .detail-box {
  background: url('../images/app/bg-banner-1.jpg') top center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 630px;
}
#detail-panel1.detail-panel .detail-box .detail-content {
  list-style: none;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  position: relative;
}
#detail-panel1.detail-panel .detail-box .detail-content .img-banner-1 {
  position: absolute;
  top: -105px;
  left: -165px;
}
#detail-panel1.detail-panel .detail-box .detail-content .title-banner-box {
  position: absolute;
  top: 80px;
  right: -130px;
}
#detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner-text-box {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
#detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner-text-box .btn-app-link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  cursor: pointer;
}
#detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner-text-box .title-banner-text {
  margin-top: 25px;
  text-align: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  color: #604519;
}
#detail-panel2.detail-panel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#detail-panel2.detail-panel .detail-box {
  background: url('../images/app/bg-banner-2.jpg') top center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 600px;
  padding: 70px 0;
  box-sizing: border-box;
}
#detail-panel2.detail-panel .detail-box .detail-content {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content {
  color: #604519;
  font-size: 24px;
  line-height: 24px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-main {
  text-align: center;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-main .title-banner-2 {
  margin: 0 auto;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-main .subtitle-banner-2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 45px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-main .img-banner-2 {
  position: relative;
  left: -8px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-1 {
  margin-top: 150px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-2 {
  margin-top: 110px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-3 {
  margin-top: 60px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-4 {
  margin-top: 125px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-5 {
  margin-top: 125px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content .left {
  float: left;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content .right {
  float: right;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content .title-menu {
  margin-bottom: 20px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-1 {
  margin-top: 60px;
  margin-right: 15px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-2 {
  margin-top: 30px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-3 {
  margin-top: 130px;
  margin-right: 10px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-4 {
  margin-top: 75px;
}
#detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-5 {
  margin-top: 50px;
  margin-right: 20px;
}
#detail-panel3.detail-panel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#detail-panel3.detail-panel .detail-box {
  background: url('../images/app/bg-banner-3.jpg') top center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 1065px;
}
#detail-panel3.detail-panel .detail-box .detail-content {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: table;
}
#detail-panel3.detail-panel .detail-box .detail-content .detail-content-inner {
  display: table-cell;
  vertical-align: middle;
}
#detail-panel3.detail-panel .detail-box .detail-content .content-row {
  display: inline-block;
  margin-bottom: 90px;
}
#detail-panel3.detail-panel .detail-box .detail-content .content-row:last-child {
  margin-bottom: 0;
}
#detail-panel3.detail-panel .detail-box .detail-content .content-row .content-box {
  float: left;
  text-align: center;
  margin-right: 90px;
}
#detail-panel3.detail-panel .detail-box .detail-content .content-row .content-box:nth-child(2n) {
  margin-right: 0;
}
#detail-panel3.detail-panel .detail-box .detail-content .content-row .content-box .title-content-box {
  height: 40px;
  position: relative;
  margin-bottom: 10px;
}
#detail-panel3.detail-panel .detail-box .detail-content .content-row .content-box .title-content-box .title-content {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#detail-panel3.detail-panel .detail-box .detail-content .content-row .content-box .text-content {
  font-size: 24px;
  line-height: 24px;
  color: #604519;
}
#detail-panel-app.detail-panel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#detail-panel-app.detail-panel .detail-box {
  background: url('../images/app/bg-banner-app.jpg') top center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 550px;
}
#detail-panel-app.detail-panel .detail-box .detail-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}
#detail-panel-app.detail-panel .detail-box .detail-content .text-app-box {
  position: absolute;
  top: 70px;
  left: -20px;
}
#detail-panel-app.detail-panel .detail-box .detail-content .text-app-box .btn-app-bar {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
#detail-panel-app.detail-panel .detail-box .detail-content .text-app-box .btn-app-bar .btn-app-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  cursor: pointer;
}
#detail-panel-app.detail-panel .detail-box .detail-content .text-app-box .btn-app-bar .btn-app-link:last-child {
  margin-right: 0;
}
#detail-panel-app.detail-panel .detail-box .detail-content .img-hand {
  display: block;
  position: absolute;
  right: 25px;
  bottom: 0;
}
@media (max-width: 767px) {
  #detail-panel1.detail-panel .detail-box {
    background: url('../images/app/bg-banner-1-mobile.jpg') top center no-repeat;
    background-size: cover;
    height: 100%;
  }
  #detail-panel1.detail-panel .detail-box .detail-content {
    padding-top: 160px;
  }
  #detail-panel1.detail-panel .detail-box .detail-content .img-banner-1 {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    margin: auto auto 20px;
    max-width: 520px;
    width: calc(100% - 30px);
  }
  #detail-panel1.detail-panel .detail-box .detail-content .title-banner-box {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    width: calc(100% - 30px);
    max-width: 340px;
    margin: auto auto 25px;
  }
  #detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner {
    width: 100%;
    max-width: 340px;
  }
  #detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner-text-box {
    position: relative;
    bottom: auto;
    margin-top: 20px;
  }
  #detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner-text-box .btn-box .btn-app-link:first-child {
    margin-left: 0;
  }
  #detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner-text-box .btn-box .btn-app-link .btn-app {
    width: 130px;
  }
  #detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner-text-box .title-banner-text {
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
  }
  #detail-panel1.detail-panel .detail-box .detail-content .title-banner-box .title-banner-text-box .title-banner-text ul {
    -webkit-padding-start: 20px;
  }
  #detail-panel2.detail-panel .detail-box {
    padding: 35px 0;
  }
  #detail-panel2.detail-panel .detail-box .detail-content {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content:last-child {
    margin-bottom: 0;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-main .subtitle-banner-2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 24px;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-main .img-banner-2 {
    width: 100%;
    left: auto;
    max-width: 500px;
    margin: 0 auto;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-1,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-2,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-3,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-4,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content.panel-5 {
    margin-top: 0;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .left,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .right {
    float: none;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .title-menu {
    margin-bottom: 10px;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .img-menu {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
  }
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-1,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-2,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-3,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-4,
  #detail-panel2.detail-panel .detail-box .detail-content .panel-content .text-menu-2-5 {
    margin: 0;
  }
  #detail-panel3.detail-panel .detail-box {
    background: url('../images/app/bg-banner-3-mobile.jpg') top center no-repeat;
    background-size: cover;
    height: 100%;
  }
  #detail-panel3.detail-panel .detail-box .detail-content .detail-content-inner {
    margin-top: 30px;
  }
  #detail-panel3.detail-panel .detail-box .detail-content .detail-content-inner .content-row {
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
  }
  #detail-panel3.detail-panel .detail-box .detail-content .detail-content-inner .content-row:last-child {
    margin-top: 0;
  }
  #detail-panel3.detail-panel .detail-box .detail-content .detail-content-inner .content-row .content-box {
    float: none;
    width: calc(100% - 30px);
    margin: 0 auto 30px;
  }
  #detail-panel3.detail-panel .detail-box .detail-content .detail-content-inner .content-row .content-box .img-content {
    max-width: 290px;
  }
  #detail-panel3.detail-panel .detail-box .detail-content .detail-content-inner .content-row .content-box .text-content {
    font-size: 20px;
    line-height: 20px;
  }
  #detail-panel-app.detail-panel .detail-box {
    background: url('../images/app/bg-banner-app-mobile.jpg') top center no-repeat;
    background-size: cover;
    height: 100%;
  }
  #detail-panel-app.detail-panel .detail-box .detail-content .text-app-box {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    margin: 35px auto 30px;
  }
  #detail-panel-app.detail-panel .detail-box .detail-content .text-app-box .text-app {
    max-width: 340px;
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  #detail-panel-app.detail-panel .detail-box .detail-content .text-app-box .btn-app-bar {
    margin-top: 15px;
    position: relative;
    bottom: auto;
  }
  #detail-panel-app.detail-panel .detail-box .detail-content .text-app-box .btn-app-bar .btn-app {
    width: 130px;
  }
  #detail-panel-app.detail-panel .detail-box .detail-content .img-hand {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px;
    width: calc(100% - 30px);
  }
}
