.wapContent .inner-panel .static-panel {
  width: 100%;
  height: 1060px;
  background: url('../images/brain_ignition/bg-static.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
}
.wapContent .inner-panel .static-panel .static-panel-inner {
  width: calc(100% - 30px);
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  padding: 120px 0 0;
  box-sizing: border-box;
  text-align: center;
  color: #332301;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-title {
  position: relative;
  width: 100%;
  height: 120px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-title img {
  position: relative;
  z-index: 2;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-title:before {
  content: "";
  display: block;
  background: url('../images/brain_ignition/text-shadow-title.png') no-repeat;
  width: 785px;
  height: 191px;
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 70px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle {
  position: relative;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 811px;
  height: 122px;
  background: url('../images/brain_ignition/text-shadow.png') no-repeat;
  left: 70px;
  bottom: 0px;
}
@media (max-width: 767px) {
  .wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle:before {
    display: none;
  }
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle.line1 {
  font-size: 30px;
  line-height: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle.line2 {
  font-size: 24px;
  line-height: 26px;
  color: #6f5720;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle.line3 {
  font-size: 24px;
  line-height: 26px;
  color: #6f5720;
  margin-top: 5px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle.line3:before {
  width: 740px;
  height: 110px;
  left: 105px;
  background-size: contain;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle span {
  position: relative;
  z-index: 2;
}
.wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle .highlight-color {
  color: #8b572a;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel {
  width: 718px;
  height: 399px;
  margin: 40px auto 0;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .vjs-control-bar {
  display: none;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel video {
  top: 0;
  left: 0;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .big-video-wrap {
  position: absolute;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slide-list {
  width: 100%;
  height: 399px;
  position: relative;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slide-list .tubular-panel {
  max-width: 718px;
  max-height: 399px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-prev,
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-next {
  width: 35px;
  height: 45px;
  background: rgba(255, 255, 255, 0.5);
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-prev {
  left: 0;
  border-radius: 0 50% 50% 0;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-prev:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 24px;
  opacity: 1;
  background: url('../images/brain_ignition/icon.svg') no-repeat;
  background-position: -125px -1px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-next {
  right: 0;
  border-radius: 50% 0 0 50%;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-next:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 24px;
  opacity: 1;
  background: url('../images/brain_ignition/icon.svg') no-repeat;
  background-position: -102px -1px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-dots {
  bottom: -25px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-dots li {
  width: 12px;
  height: 12px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-dots li.slick-active button {
  background: #5b4101;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-dots li button {
  width: 9px;
  height: 9px;
  border: 1px solid #5b4101;
  border-radius: 50%;
  box-sizing: border-box;
}
.wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-dots li button:before {
  content: "";
  width: 12px;
  height: 12px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel {
  width: 100%;
  height: 67px;
  margin-top: 75px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 67px;
  background: url('../images/brain_ignition/btn-ignition.svg') no-repeat;
  background-position: 0 0;
  border-radius: 35px;
  font-size: 28px;
  line-height: 65px;
  color: #5b4101;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.21);
  position: relative;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button:last-child {
  margin-right: 0;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button:hover,
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button.active {
  color: #ffffff;
  background-position: 0 -82px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button:hover .icon-btn.brain-test,
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button.active .icon-btn.brain-test {
  background-position: 0 0;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button:hover .icon-btn.brain-tip,
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button.active .icon-btn.brain-tip {
  background-position: -35px 0;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .icon-btn-box {
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 50px;
  margin-left: 10px;
  position: relative;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .icon-btn {
  background: url('../images/brain_ignition/icon.svg') no-repeat;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  margin: auto;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .icon-btn.brain-test {
  width: 29px;
  height: 28px;
  background-position: 0 -36px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .icon-btn.brain-tip {
  width: 31px;
  height: 31px;
  background-position: -35px -36px;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .text-btn {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 65px);
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .arrow-selected {
  width: 100px;
  height: 25px;
  position: relative;
  left: 0;
  right: 0;
  bottom: -70px;
  margin: auto;
  overflow: hidden;
  transition: bottom 0.5s;
  cursor: default;
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .arrow-selected:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #FEEDBC;
  transform: rotate(45deg);
  top: 15px;
  left: 25px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.31);
}
.wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button.active .arrow-selected {
  bottom: -35px;
}
.wapContent .inner-panel .dynamic-panel {
  width: 100%;
  height: auto;
  background: #feedbc url('../images/brain_ignition/bg-dynamic.png') no-repeat;
  background-size: cover;
  background-position: bottom;
  max-height: 0;
  transition: max-height 1s;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.31);
}
.wapContent .inner-panel .dynamic-panel.active {
  max-height: 3000px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner {
  width: calc(100% - 30px);
  max-width: 920px;
  padding: 40px 0 80px;
  box-sizing: border-box;
  margin: 0 auto;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .dynamic-title {
  width: 100%;
  margin: 0 auto 50px;
  font-size: 46px;
  line-height: 55px;
  text-align: center;
  color: #d71b24;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel {
  max-width: 920px;
  margin: 0 auto;
  position: relative;
  padding: 0px;
  list-style: outside none none;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel:after {
  content: "";
  clear: both;
  display: table;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .list-item {
  background: url(../images/knowledge/bg_list.png) 0 0 repeat-y;
  width: 100%;
  max-width: 280px;
  height: 360px;
  border-radius: 20px;
  margin-bottom: 40px;
  float: left;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 10px rgba(226, 182, 96, 0.55);
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .list-item-center {
  margin: 0 40px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .list-img {
  width: 100%;
  height: 210px;
  margin-bottom: 40px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .badge-list {
  background: url('../images/brain_ignition/badge.png') 0 0 no-repeat;
  width: 66px;
  height: 60px;
  position: absolute;
  top: 180px;
  left: 20px;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .txt-day {
  font-size: 28px;
  line-height: 22px;
  display: block;
  margin-top: 10px;
  color: #302303;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .txt-month {
  font-size: 18px;
  line-height: 14px;
  display: block;
  color: #302303;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .txt-list-panel {
  margin: 0 25px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .list-title {
  font-size: 24px;
  line-height: 26px;
  color: #302303;
  margin-bottom: 5px;
  word-wrap: break-word;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .list-writer {
  font-size: 18px;
  line-height: 22px;
  color: #d71b24;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .arrow-box {
  width: 22px;
  height: 22px;
  border: 1px solid #332301;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .arrow-box:before {
  content: '';
  width: 8px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url('../images/brain_ignition/icon.svg') no-repeat;
  background-position: -70px -22px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .button-loadmore {
  width: 243px;
  height: 64px;
  color: #5b4101;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 26px;
  line-height: 64px;
  text-align: center;
  cursor: pointer;
  background: url('../images/brain_ignition/btn-ignition.svg') no-repeat;
  background-position: 0 -164px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.21);
  border-radius: 28px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .button-loadmore:hover {
  color: #ffffff;
  background-position: 0 -243px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel {
  width: 100%;
  max-width: 840px;
  height: 263px;
  background: rgba(255, 255, 255, 0.55);
  margin: 0 auto;
  display: table;
  text-align: center;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner {
  display: table-cell;
  vertical-align: middle;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-title {
  font-size: 46px;
  line-height: 55px;
  color: #d71b24;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-subtitle {
  font-size: 30px;
  line-height: 36px;
  color: #332301;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-btn-panel {
  margin-top: 25px;
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-btn-panel .brain-lab-btn {
  width: 200px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
  font-size: 28px;
  line-height: 60px;
  margin-right: 25px;
  cursor: pointer;
  color: #5b4101;
  background-image: linear-gradient(-180deg, #fff8cf 0%, #755114 180%);
}
.wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-btn-panel .brain-lab-btn:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .wapContent .inner-panel .static-panel {
    height: auto;
    padding-top: 65%;
    padding-bottom: 60px;
    background: url('../images/brain_ignition/bg-static-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-title:before {
    left: -5%;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle.line1 {
    font-size: 23px;
    line-height: 24px;
    margin-top: 20px;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle.line2,
  .wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-subtitle.line3 {
    font-size: 18px;
    line-height: 18px;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .slide-panel {
    width: 100%;
    height: calc((100vw - 30px) * 0.5557);
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-prev {
    left: 0;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slick-next {
    right: 0;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slide-list {
    width: 100%;
    height: calc((100vw - 30px) * 0.5557);
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slide-list .tubular-panel {
    width: 100%;
    height: 100%;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .slide-panel .slide-list .images-list {
    width: 100%;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button.active .arrow-selected {
    bottom: -40px;
  }
  .wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .dynamic-title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 40px;
  }
  .wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .data-panel .list-item {
    float: none;
    margin: 0 auto 30px;
  }
  .wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel {
    height: auto;
    padding: 40px 15px;
    box-sizing: border-box;
  }
  .wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 10px;
  }
  .wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-subtitle {
    font-size: 23px;
    line-height: 24px;
  }
  .wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-btn-panel .brain-lab-btn {
    display: block;
    margin: 0 auto 20px;
  }
  .wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .brain-lab-panel .brain-lab-panel-inner .brain-lab-btn-panel .brain-lab-btn:last-child {
    margin: 0 auto;
  }
  .wapContent .inner-panel .dynamic-panel .dynamic-panel-inner .button-loadmore {
    width: 180px;
    height: 47px;
    border-radius: 0;
    box-shadow: none;
    font-size: 20px;
    line-height: 47px;
  }
}
@media (max-width: 650px) {
  .wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-title {
    max-width: 500px;
    margin: 0 auto;
    height: calc(100vw * 0.236);
    max-height: 118px;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .title-panel .text-title img {
    width: 100%;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .button-panel {
    height: auto;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button {
    display: block;
    width: 270px;
    height: 60px;
    margin: 0 auto 25px;
    box-shadow: none;
    font-size: 24px;
    line-height: 58px;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button:last-child {
    margin: 0 auto;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .icon-btn-box {
    width: 50px;
    height: 44px;
    margin-left: 8px;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .icon-btn {
    top: 6px;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner .button-panel .button .text-btn {
    width: calc(100% - 58px);
  }
}
