#panel-cer.panel {
  width: 100%;
  min-height: 810px;
  background: url('../images/brain_ignition/question/bg-question.jpg') no-repeat;
  background-size: cover;
  padding: 60px 0;
}
#panel-cer.panel .panel-inner {
  width: calc(100% - 30px);
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 50px;
}
#panel-cer.panel .panel-inner .certificate-box {
  width: 786px;
  height: 537px;
  margin: 0 auto;
  background: url('../images/brain_ignition/certificate/certificate.jpg') no-repeat;
  background-size: cover;
  box-shadow: 0 2px 13px #5b4101;
  position: relative;
}
#panel-cer.panel .panel-inner .certificate-box .certificate-name {
  font-size: 30px;
  line-height: 55px;
  color: #ffffff;
  position: absolute;
  top: 222px;
  right: 93px;
  width: 268px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#panel-cer.panel .panel-inner .certificate-box .certificate-type {
  font-size: 60px;
  line-height: 60px;
  color: #43ad9e;
  position: absolute;
  bottom: 153px;
  right: 90px;
  width: 270px;
}
#panel-cer.panel .panel-inner .certificate-box .certificate-level {
  width: 340px;
  font-size: 30px;
  line-height: 30px;
  color: #045597;
  position: absolute;
  bottom: 122px;
  right: 50px;
}
#panel-cer.panel .panel-inner .input-name-panel {
  margin-top: 45px;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-title {
  font-size: 36px;
  line-height: 48px;
  color: #003760;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner {
  margin-top: 20px;
  margin-bottom: 40px;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 65px;
  border: 1px solid #c19870;
  border-radius: 4.8px;
  position: relative;
  z-index: 1;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box input {
  width: 100%;
  height: 65px;
  outline: none;
  margin: 0;
  border: none;
  font-size: 24px;
  line-height: 29px;
  background: transparent;
  color: #000000;
  padding: 20px 30px 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box input:focus ~ .input-placeholder,
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box input:valid ~ .input-placeholder {
  top: 6px;
  font-size: 15px;
  line-height: 18px;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box input::-ms-clear {
  display: none;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box .input-placeholder {
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 18px;
  left: 27px;
  z-index: 1;
  width: calc(100% - 27px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  transition: all .5s;
  text-indent: 3px;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box .input-placeholder.active {
  top: 5px;
  font-size: 16px;
  line-height: 16px;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .btn-confirm {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 51px;
  font-size: 25px;
  line-height: 51px;
  margin-left: 40px;
  color: #5b4101;
  background: url('../images/brain_ignition/question/btn-start.svg') no-repeat;
  background-position: -180px 0;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
#panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .btn-confirm:hover {
  color: #ffffff;
  background-position: -180px -71px;
}
#panel-cer.panel .panel-inner .share-panel .share-title {
  font-size: 36px;
  line-height: 56px;
  color: #003760;
}
#panel-cer.panel .panel-inner .share-panel .btn-share {
  width: 340px;
  height: 67px;
  margin: 30px auto 0;
  font-size: 25px;
  line-height: 67px;
  color: #ffffff;
  cursor: pointer;
  padding-left: 40px;
  box-sizing: border-box;
  background: url('../images/brain_ignition/question/btn-popup.svg') no-repeat;
  background-position: 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
#panel-cer.panel .panel-inner .share-panel .btn-share:hover {
  background-position: 0 -82px;
}
@media (max-width: 767px) {
  #panel-cer.panel {
    background: url('../images/brain_ignition/question/bg-question-mobile.jpg') no-repeat;
    background-size: cover;
    margin-top: 150px;
    min-height: 500px;
  }
  #panel-cer.panel .panel-inner {
    padding: 40px 15px;
  }
  #panel-cer.panel .panel-inner .certificate-box-panel {
    width: 100%;
    height: calc((100vw - 60px) * 0.6832);
  }
  #panel-cer.panel .panel-inner .certificate-box {
    transform-origin: top left;
  }
  #panel-cer.panel .panel-inner .input-name-panel {
    margin-top: 25px;
  }
  #panel-cer.panel .panel-inner .input-name-panel .input-name-title {
    font-size: 24px;
    line-height: 28px;
  }
  #panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box {
    display: block;
    width: 100%;
    height: 42px;
    max-width: 480px;
    margin: 0 auto;
  }
  #panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box input {
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 20px;
  }
  #panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box input:focus ~ .input-placeholder,
  #panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box input:valid ~ .input-placeholder {
    top: 2px;
    font-size: 14px;
    line-height: 16px;
  }
  #panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .input-box .input-placeholder {
    top: 12px;
    font-size: 18px;
    line-height: 20px;
  }
  #panel-cer.panel .panel-inner .input-name-panel .input-name-panel-inner .btn-confirm {
    margin: 20px auto 0;
    font-size: 21px;
    line-height: 51px;
  }
  #panel-cer.panel .panel-inner .share-panel .share-title {
    font-size: 27px;
    line-height: 28px;
  }
  #panel-cer.panel .panel-inner .share-panel .btn-share {
    width: 250px;
    height: 56px;
    margin: 20px auto 0;
    font-size: 21px;
    line-height: 56px;
    background-position: -355px 0;
  }
  #panel-cer.panel .panel-inner .share-panel .btn-share:hover {
    background-position: -355px -71px;
  }
}
