.wapContent .inner-panel {
  background: url('../images/brain_ignition/question/bg-question.jpg') no-repeat;
  background-size: cover;
}
.wapContent .inner-panel .static-panel {
  width: 100%;
  height: 640px;
}
.wapContent .inner-panel .static-panel .static-panel-inner {
  width: calc(100% - 30px);
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  padding: 70px 0 0;
  box-sizing: border-box;
  text-align: center;
  color: #5b4101;
}
.wapContent .inner-panel .static-panel .static-panel-inner .question-panel-desc {
  font-size: 24px;
  line-height: 24px;
  color: #003760;
}
.wapContent .inner-panel .question-panel {
  width: 100%;
  height: 860px;
}
.wapContent .inner-panel .question-panel .question-panel-inner {
  width: calc(100% - 30px);
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-panel-title-box {
  text-align: center;
  margin-bottom: 30px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list {
  width: 200px;
  height: 226px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(168, 139, 76, 0.55);
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  margin-top: 90px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list:hover {
  box-shadow: 8px 8px 14px #A88B4C;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list:hover .btn-start {
  color: #ffffff;
  background-position: 0 -54px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list:nth-child(3n) {
  margin-right: 0;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list.language {
  color: #8cc751;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list.art {
  color: #f4ca56;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list.music {
  color: #f17a7c;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list.math {
  color: #046692;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list.science {
  color: #7e69a7;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list.leader {
  color: #f5882b;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-img {
  width: 130px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-img:before {
  content: "";
  display: block;
  position: absolute;
  background: url('../images/brain_ignition/question/icon-question-new.svg') no-repeat;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-img.language:before {
  width: 142px;
  height: 122px;
  background-position: -5px -20px;
  left: -12px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-img.art:before {
  width: 156px;
  height: 132px;
  background-position: -198px -16px;
  left: -6px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-img.music:before {
  width: 141px;
  height: 132px;
  background-position: -392px -12px;
  left: -3px;
  top: -7px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-img.math:before {
  width: 152px;
  height: 132px;
  background-position: -12px -194px;
  left: -9px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-img.science:before {
  width: 144px;
  height: 123px;
  background-position: -196px -195px;
  left: -9px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-img.leader:before {
  width: 172px;
  height: 129px;
  background-position: -360px -189px;
  left: -36px;
  top: -5px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-box-inner {
  display: inline-table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-box-inner .question-text {
  display: table-cell;
  vertical-align: middle;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .question-box-inner .question-text .question-title {
  font-size: 32px;
  line-height: 32px;
}
.wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list .btn-start {
  width: 150px;
  height: 39px;
  background: url('../images/brain_ignition/question/btn-start.svg') no-repeat;
  background-position: 0 0;
  font-size: 22px;
  line-height: 39px;
  text-align: center;
  color: #332301;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
}
@media (max-width: 767px) {
  .wapContent {
    margin-top: 150px;
  }
  .wapContent .inner-panel {
    background: url('../images/brain_ignition/question/bg-question-mobile.jpg') no-repeat;
    background-size: cover;
  }
  .wapContent .inner-panel .static-panel {
    height: auto;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner {
    text-align: center;
    padding: 25px 0;
  }
  .wapContent .inner-panel .static-panel .static-panel-inner img {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
  }
  .wapContent .inner-panel .question-panel {
    height: auto;
  }
  .wapContent .inner-panel .question-panel .question-panel-inner {
    padding-bottom: 70px;
  }
  .wapContent .inner-panel .question-panel .question-panel-inner .question-panel-title-box {
    padding-top: 35px;
  }
  .wapContent .inner-panel .question-panel .question-panel-inner .question-panel-title-box img {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
  }
  .wapContent .inner-panel .question-panel .question-panel-inner .question-box {
    margin: 40px auto 0;
  }
  .wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list {
    margin: 70px 40px 0;
  }
  .wapContent .inner-panel .question-panel .question-panel-inner .question-box .question-box-list:nth-child(3n) {
    margin: 70px 40px 0;
  }
  .wapContent .inner-panel .question-panel .slick-list {
    padding-bottom: 45px;
  }
  .wapContent .inner-panel .question-panel .slick-next,
  .wapContent .inner-panel .question-panel .slick-prev {
    width: 28px;
    height: 28px;
    background: url('../images/brain_ignition/question/icon-question.svg') no-repeat;
  }
  .wapContent .inner-panel .question-panel .slick-next:before,
  .wapContent .inner-panel .question-panel .slick-prev:before {
    content: "";
  }
  .wapContent .inner-panel .question-panel .slick-prev {
    left: 0;
    background-position: 0 -205px;
  }
  .wapContent .inner-panel .question-panel .slick-next {
    right: 0;
    background-position: -39px -205px;
  }
  .wapContent .inner-panel .question-panel .slick-dots {
    bottom: 0;
  }
  .wapContent .inner-panel .question-panel .slick-dots li {
    width: 14px;
    height: 14px;
    border: 2px solid #332301;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .wapContent .inner-panel .question-panel .slick-dots li.slick-active {
    background: #332301;
  }
  .wapContent .inner-panel .question-panel .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
  }
  .wapContent .inner-panel .question-panel .slick-dots li button:before {
    content: "";
    width: 10px;
    height: 10px;
  }
}
