#panel-answer.panel {
  width: 100%;
  min-height: 810px;
  background: url('../images/brain_ignition/question/bg-question.jpg') no-repeat;
  background-size: cover;
}
#panel-answer.panel .panel-inner {
  width: calc(100% - 30px);
  max-width: 840px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  box-sizing: border-box;
}
#panel-answer.panel .panel-inner .main-title {
  font-size: 60px;
  line-height: 54px;
  color: #332301;
}
#panel-answer.panel .panel-inner .answer-progress-bar {
  width: 100%;
  height: 10px;
  margin-top: 110px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  position: relative;
}
#panel-answer.panel .panel-inner .answer-progress-bar .answer-progress {
  width: 10%;
  height: 10px;
  border-radius: 100px;
  background: linear-gradient(-180deg, #e5d8ac 0%, #b29b67 100%);
  position: relative;
  transition: width .3s;
}
#panel-answer.panel .panel-inner .answer-progress-bar .answer-progress:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(-180deg, #e5d8ac 0%, #b29b67 100%);
  position: absolute;
  right: 0;
  top: -5px;
}
#panel-answer.panel .panel-inner .answer-progress-bar .answer-progress .answer-text {
  width: 80px;
  height: 40px;
  background: #ffffff;
  border-radius: 8px;
  font-size: 26px;
  line-height: 40px;
  color: #d71b24;
  position: absolute;
  top: -65px;
  right: -30px;
}
#panel-answer.panel .panel-inner .answer-progress-bar .answer-progress .answer-text:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
}
#panel-answer.panel .panel-inner .answer-panel {
  width: 100%;
  max-width: 840px;
  min-height: 330px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  text-align: center;
  padding: 50px 20px 70px;
  box-sizing: border-box;
}
#panel-answer.panel .panel-inner .answer-panel .answer-title {
  font-size: 46px;
  line-height: 55px;
  color: #d71b24;
  margin-bottom: 5px;
}
#panel-answer.panel .panel-inner .answer-panel .answer-title .answer-icon {
  width: 35px;
  height: 29px;
  background: url('../images/brain_ignition/question/btn-answer.svg') no-repeat;
  background-position: 0 -318px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
#panel-answer.panel .panel-inner .answer-panel .answer-title .answer-title-text {
  display: inline-block;
  vertical-align: middle;
}
#panel-answer.panel .panel-inner .answer-panel .answer-question {
  font-size: 36px;
  line-height: 43px;
  color: #332301;
}
#panel-answer.panel .panel-inner .answer-panel .answer-question .question-list {
  display: none;
}
#panel-answer.panel .panel-inner .answer-panel .answer-question .question-list.active {
  display: block;
}
#panel-answer.panel .panel-inner .answer-panel .btn-bar {
  margin-top: 30px;
}
#panel-answer.panel .panel-inner .answer-panel .btn-bar .btn-answer {
  width: 243px;
  height: 64px;
  cursor: pointer;
  font-size: 36px;
  line-height: 64px;
  color: #5b4101;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: url('../images/brain_ignition/question/btn-answer.svg') no-repeat;
  background-position: 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
#panel-answer.panel .panel-inner .answer-panel .btn-bar .btn-answer:last-child {
  margin-right: 0;
}
#panel-answer.panel .panel-inner .answer-panel .btn-bar .btn-answer:hover {
  color: #ffffff;
  background-position: 0 -74px;
}
#panel-answer.panel .panel-inner .result-panel {
  display: none;
  width: 100%;
  max-width: 840px;
  min-height: 485px;
  margin: 50px auto 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  text-align: center;
  padding: 100px 40px 90px;
  box-sizing: border-box;
}
#panel-answer.panel .panel-inner .result-panel .result-title {
  font-size: 55px;
  line-height: 55px;
  color: #003661;
}
#panel-answer.panel .panel-inner .result-panel .result-answer-panel {
  display: none;
}
#panel-answer.panel .panel-inner .result-panel .result-answer-panel.active {
  display: block;
}
#panel-answer.panel .panel-inner .result-panel .result-answer {
  font-size: 47px;
  line-height: 57px;
  color: #332301;
  margin-bottom: 5px;
}
#panel-answer.panel .panel-inner .result-panel .result-desc {
  font-size: 30px;
  line-height: 30px;
  color: #332301;
}
#panel-answer.panel .panel-inner .result-panel .result-btn-panel {
  margin-top: 70px;
}
#panel-answer.panel .panel-inner .result-panel .result-btn-panel .result-btn-text {
  font-size: 22px;
  line-height: 22px;
  color: #332301;
}
#panel-answer.panel .panel-inner .result-panel .result-btn {
  width: 300px;
  height: 67px;
  margin: 0 auto 10px;
  cursor: pointer;
  font-size: 25px;
  line-height: 67px;
  padding-left: 35px;
  box-sizing: border-box;
  color: #5b4101;
  background: url('../images/brain_ignition/question/btn-answer.svg') no-repeat;
  background-position: 0px -153px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
#panel-answer.panel .panel-inner .result-panel .result-btn:hover {
  color: #ffffff;
  background-position: 0px -235px;
}
.popup-answer-panel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
.popup-answer-panel .popup-answer {
  width: calc(100% - 30px);
  max-width: 600px;
  height: calc(100vh - 100px);
  max-height: 750px;
  border-radius: 22px;
  background: url('../images/brain_ignition/question/bg-popup.jpg') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: center;
}
.popup-answer-panel .popup-answer .btn-close {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #2E72D1;
  cursor: pointer;
  position: absolute;
  top: -12px;
  right: -12px;
}
.popup-answer-panel .popup-answer .btn-close:before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url('../images/brain_ignition/question/btn-popup.svg') no-repeat;
  background-position: -355px -278px;
}
.popup-answer-panel .popup-answer .popup-title {
  font-size: 60px;
  line-height: 72px;
  color: #d71b24;
}
.popup-answer-panel .popup-answer .popup-subtitle {
  font-size: 26px;
  line-height: 32px;
  color: #332301;
}
.popup-answer-panel .popup-answer .popup-answer-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 64px);
}
.popup-answer-panel .popup-answer .popup-answer-inner {
  width: 100%;
  max-width: 340px;
  margin: 20px auto 0;
  padding-bottom: 10px;
}
.popup-answer-panel .popup-answer .popup-answer-inner .login-facebook {
  width: 340px;
  height: 67px;
  font-size: 25px;
  line-height: 67px;
  color: #ffffff;
  cursor: pointer;
  padding-left: 40px;
  box-sizing: border-box;
  background: url('../images/brain_ignition/question/btn-popup.svg') no-repeat;
  background-position: 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.popup-answer-panel .popup-answer .popup-answer-inner .login-facebook:hover {
  background-position: 0 -82px;
}
.popup-answer-panel .popup-answer .popup-answer-inner .text-or {
  font-size: 26px;
  line-height: 32px;
  color: #332301;
  margin: 20px auto;
}
.popup-answer-panel .popup-answer .popup-answer-inner .input-panel {
  width: 100%;
  margin-bottom: 15px;
}
.popup-answer-panel .popup-answer .popup-answer-inner .input-panel input {
  width: 100%;
  height: 54px;
  padding: 0 15px 0 30px;
  margin: 0;
  border: 1px solid #A89669;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 54px;
  background: transparent;
  color: #332301;
}
.popup-answer-panel .popup-answer .popup-answer-inner .input-panel input::placeholder {
  color: #332301;
}
.popup-answer-panel .popup-answer .popup-answer-inner .input-panel input::-webkit-input-placeholder {
  color: #332301;
}
.popup-answer-panel .popup-answer .popup-answer-inner .input-panel input::-moz-placeholder {
  opacity: 1;
  color: #332301;
}
.popup-answer-panel .popup-answer .popup-answer-inner .input-panel input:-ms-input-placeholder {
  color: #332301;
}
.popup-answer-panel .popup-answer .popup-answer-inner .forgot-password {
  color: #332301;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}
.popup-answer-panel .popup-answer .popup-answer-inner .forgot-password a {
  color: #332301;
}
.popup-answer-panel .popup-answer .popup-answer-inner .forgot-password a:hover,
.popup-answer-panel .popup-answer .popup-answer-inner .forgot-password a:link,
.popup-answer-panel .popup-answer .popup-answer-inner .forgot-password a:active,
.popup-answer-panel .popup-answer .popup-answer-inner .forgot-password a:visited {
  color: #332301;
}
.popup-answer-panel .popup-answer .popup-answer-inner .bth-login {
  width: 340px;
  height: 67px;
  font-size: 25px;
  line-height: 67px;
  cursor: pointer;
  color: #5b4101;
  margin-top: 30px;
  padding-left: 40px;
  box-sizing: border-box;
  background: url('../images/brain_ignition/question/btn-popup.svg') no-repeat;
  background-position: 0 -164px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.popup-answer-panel .popup-answer .popup-answer-inner .bth-login:hover {
  color: #ffffff;
  background-position: 0 -246px;
}
@media (max-width: 767px) {
  #panel-answer.panel {
    background: url('../images/brain_ignition/question/bg-question-mobile.jpg') no-repeat;
    background-size: cover;
    margin-top: 150px;
    min-height: 550px;
  }
  #panel-answer.panel .panel-inner {
    padding-top: 40px;
    padding-bottom: 45px;
  }
  #panel-answer.panel .panel-inner .main-title {
    font-size: 40px;
    line-height: 40px;
  }
  #panel-answer.panel .panel-inner .answer-progress-bar {
    width: 90%;
    margin: 70px auto 30px;
  }
  #panel-answer.panel .panel-inner .answer-progress-bar .answer-progress .answer-text {
    width: 60px;
    height: 30px;
    top: -50px;
    right: -20px;
    font-size: 20px;
    line-height: 30px;
  }
  #panel-answer.panel .panel-inner .answer-panel {
    padding-bottom: 40px;
  }
  #panel-answer.panel .panel-inner .answer-panel .answer-title {
    font-size: 30px;
    line-height: 36px;
  }
  #panel-answer.panel .panel-inner .answer-panel .answer-question {
    margin-top: 25px;
    font-size: 30px;
    line-height: 30px;
  }
  #panel-answer.panel .panel-inner .answer-panel .btn-bar .btn-answer {
    width: 203px;
    height: 53px;
    font-size: 30px;
    line-height: 53px;
    background-position: -315px 0;
  }
  #panel-answer.panel .panel-inner .answer-panel .btn-bar .btn-answer:hover {
    background-position: -315px -68px;
  }
  #panel-answer.panel .panel-inner .result-panel {
    min-height: 300px;
    padding: 50px 20px 30px;
  }
  #panel-answer.panel .panel-inner .result-panel .result-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 5px;
  }
  #panel-answer.panel .panel-inner .result-panel .result-answer {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  #panel-answer.panel .panel-inner .result-panel .result-desc {
    font-size: 18px;
    line-height: 19px;
  }
  #panel-answer.panel .panel-inner .result-panel .result-btn-panel {
    margin-top: 40px;
  }
  #panel-answer.panel .panel-inner .result-panel .result-btn-panel .result-btn-text {
    font-size: 16px;
    line-height: 18px;
  }
  #panel-answer.panel .panel-inner .result-panel .result-btn {
    width: 203px;
    height: 53px;
    font-size: 18px;
    line-height: 53px;
    background-position: -316px -153px;
  }
  #panel-answer.panel .panel-inner .result-panel .result-btn:hover {
    background-position: -316px -221px;
  }
  .popup-answer-panel .popup-answer {
    padding: 70px 20px 40px;
    max-height: 600px;
  }
  .popup-answer-panel .popup-answer .popup-title {
    font-size: 40px;
    line-height: 48px;
  }
  .popup-answer-panel .popup-answer .popup-subtitle {
    font-size: 18px;
    line-height: 21px;
  }
  .popup-answer-panel .popup-answer .popup-answer-inner .login-facebook {
    width: 250px;
    height: 56px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 56px;
    background-position: -355px 0;
  }
  .popup-answer-panel .popup-answer .popup-answer-inner .login-facebook:hover {
    background-position: -355px -71px;
  }
  .popup-answer-panel .popup-answer .popup-answer-inner .text-or {
    margin: 15px auto;
  }
  .popup-answer-panel .popup-answer .popup-answer-inner .bth-login {
    width: 203px;
    height: 53px;
    margin: 30px auto 0;
    font-size: 21px;
    line-height: 53px;
    background-position: -355px -142px;
  }
  .popup-answer-panel .popup-answer .popup-answer-inner .bth-login:hover {
    background-position: -355px -210px;
  }
}
.visible-cs {
  display: none;
}
@media (max-width: 570px) {
  .panel .panel-inner .answer-panel .btn-bar .btn-answer {
    display: block;
    margin: 0 auto 20px;
  }
  .panel .panel-inner .answer-panel .btn-bar .btn-answer:last-child {
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .visible-cs {
    display: block;
  }
}
