.dropdown-list {
  width: 100%;
  position: relative;
  height: 25px;
  cursor: pointer;
  z-index: 1;
  color: #999999;
  line-height: 20px;
  border: 1px solid #8e6d1d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-indent: 10px;
  text-align: left;
}
.dropdown-list .dropdown-list-text {
  color: #8e6d1d;
  font-size: 20px;
}
.dropdown-list .btn-list {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 100%;
  text-align: center;
}
.dropdown-list .btn-list .btn-img {
  background: url('../images/ddown/ddown-arrow.png') center center no-repeat;
  background-position: 0px -2px;
  width: 20px;
  height: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
}
.dropdown-list.active-list {
  border-radius: 8px 8px 0 0;
}
.dropdown-list.active-list .btn-list .btn-img {
  background-position: 0px -20px;
}
.dropdown-list-data {
  display: none;
  position: absolute;
  top: 27px;
  color: #777;
  background: #fff;
  width: 100%;
  padding: 0;
  z-index: 999;
  border-bottom: 1px solid #8e6d1d;
  border-left: 1px solid #8e6d1d;
  border-right: 1px solid #8e6d1d;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.dropdown-list-data .dropdown-list-data-inner {
  max-height: 200px;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-list-data .dropdown-list-data-inner li {
  border-bottom: 1px solid #8e6d1d;
  padding: 5px 0 5px 20px;
  font-size: 20px;
  color: #8e6d1d;
  cursor: pointer;
  height: auto;
  background-position: 0 0;
  text-align: left;
}
.dropdown-list-data .dropdown-list-data-inner li .list-text {
  padding-left: 20px;
}
.dropdown-list-data .dropdown-list-data-inner li:last-child {
  border-bottom: none;
}
.dropdown-list-data .dropdown-list-data-inner li.active .list-text {
  padding-left: 20px;
  background: url('../images/ddown/ddown-arrow.png') left center no-repeat;
  background-position: 0 -25px;
}
.dropdown-list-data.ddDownDesktop li:hover {
  background-color: #fbfbfb;
  position: relative;
}
.dropdown-list-data.ddDownDesktop li:last-child:hover {
  border-radius: 0 0 10px 10px;
}
