.wapContent {
  background: none #fff9e9;
  overflow: hidden;
  position: relative;
}
.wapContent .new-emagazine-panel {
  width: 100%;
  background-color: #f3c75a;
  height: 382px;
  background: url(../images/emagazine/m-header-bg.jpg) center center no-repeat;
  background-size: cover;
}
.wapContent .new-emagazine-panel .mag-cover {
  margin-left: 20%;
  padding-top: 40px;
  width: 299px;
}
.wapContent .new-emagazine-panel .mag-cover img {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(250, 250, 250, 0.2)));
}
.wapContent .new-emagazine-panel .cover-text-detail {
  margin-top: 70px;
  position: absolute;
  top: 0px;
  right: 18%;
}
.wapContent .new-emagazine-panel .cover-text-detail .num-mag {
  font-family: "db_helvethaica_xregular";
  font-size: 48px;
  color: #47280f;
  margin-top: 10px;
}
.wapContent .new-emagazine-panel .cover-text-detail .month-mag {
  font-family: "db_helvethaicamonx";
  font-size: 25.08px;
  margin-top: -10px;
  color: #47280f;
}
.wapContent .new-emagazine-panel .cover-text-detail a {
  margin-top: 5px;
  display: block;
  width: 170px;
  text-align: center;
}
.wapContent .new-emagazine-panel .cover-text-detail a .load-mag {
  font-family: "db_helvethaicamonx";
  font-size: 24px;
  color: #8e6d1d;
  border: 2px solid #8e6d1d;
  border-radius: 20px;
  margin-bottom: 10px;
}
.wapContent #newEmagazine {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  position: relative;
}
.wapContent #moz-reflect:after {
  content: "";
  position: absolute;
  top: 100%;
  width: inherit;
  height: inherit;
  opacity: 0.45;
  background-image: inherit;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-box-shadow: inset 0 150px 50px -12px #ffffff;
  -moz-box-shadow: inset 0 150px 50px -12px #ffffff;
  -ms-box-shadow: inset 0 150px 50px -12px #ffffff;
  -o-box-shadow: inset 0 150px 50px -12px #ffffff;
  box-shadow: inset 0 150px 50px -12px #ffffff;
}
.wapContent h1 {
  font-size: 80px;
  color: #8e6d1d;
  margin: 0px;
  line-height: 80px;
  font-weight: normal;
  font-style: normal;
}
.wapContent h4 {
  line-height: 25px;
  font-size: 25.08px;
  color: #8e6d1d;
  margin: 0px;
  font-weight: normal;
  font-style: normal;
}
.wapContent .special-emagazine-panel {
  width: 100%;
  height: 420px;
  background: url('../images/emagazine/special-header-bg.jpg') center center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner {
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .special-baby {
  position: absolute;
  width: 506px;
  height: 455px;
  background: url('../images/emagazine/special-baby.png') no-repeat;
  background-size: contain;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text {
  float: right;
  text-align: center;
  padding-top: 30px;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-title {
  font-size: 50px;
  line-height: 50px;
  color: #573F06;
  padding-bottom: 20px;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-top {
  font-size: 60px;
  line-height: 60px;
  color: #F80505;
  padding-bottom: 10px;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-middle {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 10px;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-middle .num {
  font-size: 48px;
  color: #F80505;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-bottom {
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
  color: #F80505;
  padding-bottom: 15px;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text a {
  display: inline-block;
}
.wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .btn-download {
  width: 190px;
  height: 60px;
  border-radius: 100px;
  background: #B92B1D;
  text-align: center;
  color: #fff;
  font-size: 32px;
  line-height: 60px;
  margin: 0 auto 10px;
}
.wapContent .mag-list-panel {
  max-width: 1280px;
  margin: auto auto 50px auto;
  position: relative;
  text-align: left;
}
.wapContent .mag-list-panel .mag-year {
  font-family: "db_helvethaica_xregular";
  font-size: 58px;
  color: #8e6d1d;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.wapContent .mag-list-panel .mag-book-content {
  display: inline-block;
  height: 100%;
  position: relative;
  bottom: -3px;
}
.wapContent .mag-list-panel .mag-book-content .mag-book {
  display: inline-block;
  text-align: center;
  font-family: "db_helvethaica_bold";
}
.wapContent .mag-list-panel .mag-book-content .mag-book-center-left {
  margin: 0 30px 0 60px;
}
.wapContent .mag-list-panel .mag-book-content .mag-book-center-right {
  margin: 0 60px 0 30px;
}
.wapContent .mag-list-panel .mag-book-content .mag-cover a {
  position: relative;
  display: block;
}
.wapContent .mag-list-panel .mag-book-content .mag-cover img {
  width: 175px;
  margin: 0 auto;
  border: 2px solid #eaca77;
  border-bottom: 0;
  box-shadow: 3px -1px 3px #c2bdb1;
}
.wapContent .mag-list-panel .mag-book-content .num-mag {
  font-size: 40px;
  line-height: 40px;
  color: #bc8f2f;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -90px;
  /*bottom: -75px;*/
}
.wapContent .mag-list-panel .mag-book-content .month-mag {
  color: #8e6d1d;
  font-size: 20px;
  margin-top: -5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -55px;
  /*bottom: -40px;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wapContent .mag-list-panel .mg-bg {
  position: relative;
  width: 100%;
  background: url(../images/emagazine/mag-bg.png) center bottom no-repeat;
  margin: 0 auto;
  /*margin-bottom: 60px;*/
  margin-bottom: 80px;
}
.wapContent .mag-list-panel .mg-bg .mg-bg-inner {
  width: 960px;
  margin: 0 auto;
}
.wapContent .list-body-logo {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 17px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAARCAYAAAACCvahAAABAklEQVQ4T92TsUoDQRRFz0sTQf/BsRQbK79DJJ0guwELBTGlFjuuY2EnCZZKJk0+IHY2foCVneWO+AUWakTwSSQLy5ospjRT3nfPhXd5I0x5NjYXoAdKbe/MZ9eTbFIBZ4ABBs6HzVnhACz/AzjdX1vSt9dLFUZdNIBF4Bm4E3g59eGwuPuvwpKmORLlvFTQZ02kkXazm0p4NCwFfAFbzodBuXFJInMrQh2VvutlV7khiY0VOEF0x3Wf+rluo5VdRLdV+RAbGx0POs6HVjE9jcx62gsPRc3Gpg387F4JTzqMOYMfgftpH6WgbwCreWHvwMIfoLJlKEnTtMYXNUvAUIXjb9UseSHfehsXAAAAAElFTkSuQmCC");
}
.wapContent .num-view {
  display: inline-block;
  position: relative;
  color: #8e6d1d;
  font-size: 20px;
  font-family: 'db_helvethaica_xregular';
  margin-left: 5px;
}
.new-emagazine-panel .panel-view-download {
  position: relative;
  margin-left: 30px;
}
.mag-list-panel .panel-view-download {
  position: absolute;
  width: 100%;
  bottom: -30px;
  /*margin: 5px 0px;*/
}
.register-panel {
  position: relative;
}
.register-panel .bg-register {
  background: url(../images/member/bg-register.jpg) center 0 no-repeat;
  background-size: 100%;
  min-height: 142px;
  width: 100%;
  text-align: center;
}
.register-panel .txt-register {
  font-family: "db_helvethaica_xregular";
  font-size: 30px;
  color: #0b3e8d;
  padding-top: 10px;
  margin-bottom: 5px;
}
.register-panel .b-i-font {
  font-family: "db_helvethaicamonx";
  font-style: italic;
  font-size: 48px;
}
.register-panel .i-font {
  font-family: "db_helvethaicamonx_med";
  font-size: 36px;
  font-style: italic;
}
.register-panel a {
  width: 170px;
  height: 40px;
  border: 2px solid #0b3e8d;
  color: #0b3e8d;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-radius: 25px;
  line-height: 40px;
  display: block;
}
.register-panel a .btn-register {
  font-family: "db_helvethaica_bold";
  font-size: 24px;
}
@media (max-width: 767px) {
  .wapContent .mag-list-panel .mg-bg .mg-bg-inner {
    width: 100%;
  }
  .wapContent .mag-list-panel .mag-book-content {
    float: none;
    margin-bottom: 20px;
    background: url(../images/emagazine/mag-bg.png) center bottom no-repeat;
  }
  .wapContent .mag-list-panel .mag-book-content .mag-book {
    margin: 0 20px;
  }
  .wapContent .mag-list-panel .mag-book-content .num-mag {
    font-size: 45px;
  }
  .mag-book-content-inner {
    width: 320px;
    margin: 0 auto;
    text-align: left;
    position: relative;
  }
  .wapContent .mag-list-panel .mag-book-content .mag-cover a {
    width: 100%;
    display: block;
  }
  .wapContent h1 {
    font-size: 45px;
  }
  .wapContent h4 {
    font-size: 20px;
    font-family: "db_helvethaica_x_li";
  }
  .wapContent .new-emagazine-panel {
    padding-bottom: 20px;
    height: 565px;
    background: url(../images/emagazine/m-header-bg.jpg) center center no-repeat;
    background-size: cover;
    background-color: none;
  }
  .wapContent .new-emagazine-panel .m-cover-text-detail {
    text-align: center;
    position: relative;
    padding-top: 60px;
  }
  .wapContent .new-emagazine-panel .mag-cover {
    float: none;
    margin-left: 0;
    margin-top: 0px;
    margin: 0 auto;
    padding-top: 0px;
    position: relative;
    margin-top: 35px;
    text-align: center;
  }
  .wapContent .new-emagazine-panel .mag-cover img {
    width: 197px;
  }
  .wapContent .new-emagazine-panel .cover-text-detail {
    margin: 0 auto;
    position: relative;
    right: auto;
    text-align: center;
  }
  .wapContent .new-emagazine-panel .cover-text-detail a {
    margin: 0 auto;
    margin-top: 10px;
  }
  .wapContent .new-emagazine-panel .cover-text-detail .num-mag {
    font-size: 30px;
  }
  .wapContent .new-emagazine-panel .cover-text-detail .month-mag {
    font-size: 18px;
    margin-top: -5px;
  }
  .wapContent .new-emagazine-panel .cover-text-detail a {
    width: 135px;
  }
  .wapContent .new-emagazine-panel .cover-text-detail a .load-mag {
    font-size: 22px;
  }
  .wapContent #newEmagazine {
    max-width: 640px;
    background: none;
  }
  .wapContent .special-emagazine-panel {
    height: auto;
    padding: 150px 0 20px;
    background: url('../images/emagazine/special-header-bg-mobile.jpg') center center no-repeat;
    background-size: cover;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner {
    text-align: center;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner .special-baby {
    position: relative;
    width: 100%;
    height: calc(100vw * 0.896);
    background: url('../images/emagazine/special-baby-mobile.png') no-repeat;
    background-size: cover;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text {
    float: none;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-title {
    font-size: 30px;
    line-height: 30px;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-top {
    font-size: 40px;
    line-height: 40px;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-middle {
    font-size: 22px;
    line-height: 26px;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-middle .num {
    font-size: 32px;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .text-bottom {
    font-size: 20px;
    line-height: 20px;
  }
  .wapContent .special-emagazine-panel .special-emagazine-panel-inner .panel-text .btn-download {
    width: 150px;
    height: 45px;
    font-size: 24px;
    line-height: 45px;
  }
  .wapContent .mag-list-panel .mag-year {
    font-size: 45px;
    margin: 25px 0px;
  }
  .wapContent .mag-list-panel .mag-book-content {
    width: 100%;
    /*margin-bottom: 80px;*/
    margin-bottom: 100px;
  }
  .wapContent .mag-list-panel .mag-book-content .mag-book {
    width: 150px;
    margin: 0;
    position: relative;
    bottom: -3px;
  }
  .wapContent .mag-list-panel .mag-book-content .mag-cover img {
    width: 118px;
  }
  .wapContent .mag-list-panel .mag-book-content .num-mag {
    font-size: 30.01px;
    bottom: -64px;
  }
  .wapContent .mag-list-panel .mag-book-content .month-mag {
    font-size: 18px;
    margin-top: 0;
    line-height: 0;
    bottom: -22px;
  }
  .wapContent .mag-list-panel .mg-bg {
    position: relative;
    background: none;
    width: 100%;
    height: auto;
    background-size: cover;
    text-align: center;
    margin-bottom: 0;
  }
  .register-panel .bg-register {
    background: url(../images/member/bg-register.jpg) center top no-repeat;
    background-size: cover;
    min-height: inherit;
    padding-bottom: 10px;
  }
  .register-panel .txt-register {
    font-size: 15px;
  }
  .register-panel .b-i-font {
    font-size: 24px;
  }
  .register-panel .i-font {
    font-size: 18px;
  }
  .register-panel a {
    border-radius: 25px;
    height: 25px;
    line-height: 25px;
    width: 105px;
  }
  .register-panel a .btn-register {
    font-size: 16px;
  }
  .new-emagazine-panel .panel-view-download {
    margin: 0px;
  }
  .wapContent .num-view {
    font-size: 18px;
  }
}
