@media (max-width: 768px) {
  #everyonecanbethestar {
    margin-top: 149px;
  }
}
#everyonecanbethestar .everyVideo {
  background: url('../images/everyonecanbethestar/desktop_01.jpg') top center no-repeat;
  background-size: contain;
  padding-top: 40.7%;
  position: relative;
}
@media (max-width: 768px) {
  #everyonecanbethestar .everyVideo {
    background: url('../images/everyonecanbethestar/mobile_01.jpg') top center no-repeat;
    background-size: contain;
    padding-top: 100%;
  }
}
#everyonecanbethestar .everyVideo .wrapvideo {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
}
#everyonecanbethestar .everyVideo .video {
  width: 46.875%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #everyonecanbethestar .everyVideo .video {
    width: 100%;
  }
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}
