.wapContent {
  background: #fff9e9;
  overflow: hidden;
}
.stronger {
  font-family: 'db_helvethaica_xregular';
}
.lighter {
  font-family: 'db_helvethaica_x_li';
}
.img-brain {
  margin: 20px 0 0 0 !important;
}
.img-1000 {
  position: relative;
  margin-left: -19px;
  margin-top: 10px;
}
.img-center {
  margin: 0 auto;
}
#growup-header-panel {
  overflow: hidden;
  width: 100%;
  height: 392px;
  background: url('../images/1000-days/bg-header.png') center center #ebd49a no-repeat;
  background-size: 100% 100%;
}
#growup-header-panel #growup-header-content-panel {
  background: url('../images/1000-days/bg-header-top.png') center center no-repeat;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
#growup-header-panel #growup-header-content-panel #growup-header-content {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  text-align: center;
}
#growup-header-panel #growup-header-content-panel #growup-header-content h1 {
  font-size: 80px;
  color: #8e6d1d;
  margin: 0 auto;
  font-weight: normal;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu #logo-1000-days-desktop {
  float: left;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days {
  float: left;
  display: inline-block;
  width: 159px;
  height: 159px;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days .menu-normal {
  display: block;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days .menu-normal-active {
  display: none;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days img {
  width: auto;
  max-width: 100%;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days-active .menu-normal {
  display: none;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days-active .menu-normal-active {
  display: block;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu #menu-1000-days {
  float: left;
  display: block;
  width: 620px;
  height: 159px;
  vertical-align: middle;
  margin: 30px 0 0 100px;
}
#growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu #menu-1000-days2 {
  margin: 0 70px;
}
.text-1000-days-title {
  vertical-align: middle;
  padding-top: 40px;
}
.container-detail {
  width: 100%;
  max-width: 930px;
  overflow: hidden;
  margin: 50px auto;
}
.container-detail .container-detail-table {
  margin-bottom: 40px;
}
.container-detail .container-detail-table .title-top {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 50px;
}
.container-detail .container-detail-table .text-big {
  font-size: 60px;
  line-height: 60px;
}
.container-detail .container-detail-table .text-big-small {
  font-size: 45px;
  line-height: 45px;
}
.container-detail .container-detail-table .text-title {
  font-size: 46px;
  color: #8e6d1d;
  margin-bottom: 10px;
  line-height: 45px;
  margin-top: 20px;
}
.container-detail .container-detail-table .main-title {
  font-size: 90px;
  line-height: 90px;
}
.container-detail .container-detail-table .main-sub-title {
  font-size: 50px;
}
.container-detail .container-detail-table .text-description {
  font-size: 24px;
  color: #666666;
}
.container-detail .container-detail-table .section .img-responsive {
  margin: 0 auto 20px auto;
  padding-top: 20px;
}
.container-detail .container-detail-table .section .text-1000-days {
  vertical-align: top;
}
.container-detail .container-detail-table .right {
  width: 485px;
  float: right;
}
.container-detail .container-detail-table .list-inner-item {
  padding: 0;
  list-style: none;
}
.container-detail .container-detail-table .list-inner-item li {
  color: #a38b57;
}
.container-detail .container-detail-table .list-inner-item li .list-title {
  font-size: 34px;
  color: #666666;
  display: block;
  background: url('../images/1000-days/hexagon-list.png') 0 15px no-repeat;
  padding: 0 0 0 20px;
  background-size: 12px 10px;
}
.container-detail .container-detail-table .list-inner-item li .list-description {
  font-size: 24px;
  color: #666666;
  display: block;
  padding: 0 0 0 20px;
}
.container-detail .container-detail-table .img-display {
  float: left;
}
.container-detail .container-detail-table .text-display {
  margin-left: 20px;
  float: left;
}
#top-menu-panel {
  width: 930px;
  margin: 0 auto;
  text-align: center;
}
#top-menu-panel h2 {
  padding: 0;
  margin: 20px auto auto auto;
  font-size: 50px;
  color: #8e6d1d;
  font-weight: normal;
}
#top-menu-panel h3 {
  padding: 0;
  margin: 15px auto 20px auto;
  font-size: 40px;
  color: #8e6d1d;
  font-weight: normal;
}
#top-menu-panel #menu-list-top-panel .menu-list-top-normal .button-list {
  border: 2px solid #d2a22a;
  padding: 1% 10%;
  border-radius: 60px;
  display: block;
  color: #bf8b0f;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  font-size: 22px;
  height: 70px;
}
#top-menu-panel #menu-list-top-panel .menu-list-top-normal .button-list .list-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 13%;
}
#top-menu-panel #menu-list-top-panel .menu-list-top-normal .button-list .text-top-title1 {
  display: block;
}
#top-menu-panel #menu-list-top-panel .menu-list-top-normal .button-list .text-top-title2 {
  display: block;
  line-height: 22px;
}
#top-menu-panel #menu-list-top-panel .menu-list-top-normal .text_view {
  color: #bf8b0f;
  font-size: 18px;
  line-height: 30px;
  font-family: db_helvethaica_xregular;
}
#top-menu-panel #menu-list-top-panel .menu-list-top-normal .text_view .image_view {
  display: inline-block;
  width: 26px;
  height: 30px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAASCAYAAAA6yNxSAAABTElEQVR4Ac2WJVBEURSG1y3iDhnvM9szBW1IpOP0gLtDpG9eKi4Nh4q768/MCWfuPDkX35mv3PPL0/vWofNrr03PA60gCg7BG3EIojTLk6XJS12gCMyBNyFz5HF9tTwMlk1KFsAEsWCkIW/4M8Uh0GUSOgNyDDw5NDPydIGQtLwQbJgETQOPhddDGiPvBii0Ky8BNyYB2yCoPBuFhIutB0lrlHEDSszKW0hkRhXTpoI1NlsDqWxeY5PVwoudoEfwZMcyT8RgHmHzOEFeD3B+iAcE4nMW7gYvqobW3Ex3IcgdkB7ArXK77gw0d4rmVnYA8luQxcJHDOYjbJ4lvQU6D2G9sk9MgQdiCoTYvEHwEGq/hicg2eC99yhryaTVew2FG9E8iLXwxoIF/Y1IbyveBxUgwPQBWtuXb8Vf/xjdgFXiRvAx+p+f4z//Q/IOPYCpMz+bvCEAAAAASUVORK5CYII=") transparent no-repeat;
  background-size: contain;
  background-position: center center;
  vertical-align: -33%;
  margin-right: 5px;
}
#top-menu-panel #menu-list-top-panel .menu-list-top-normal-active .button-list {
  border: 1px solid #d2a22a;
  background: #d2a22a;
  color: #fff;
}
#top-menu-panel #menu-list-top-panel .menu-list-top-normal-active .button-list .list-text {
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #growup-header-panel.select-hover #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days:hover .menu-normal {
    display: none;
  }
  #growup-header-panel.select-hover #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days:hover .menu-normal-active {
    display: block;
  }
  #menu-list-top-panel.select-hover a.menu-list-top-normal:hover .list-text-normal {
    color: #fff !important;
  }
  #menu-list-top-panel.select-hover .menu-list-top-normal:hover {
    color: #fff;
  }
  #menu-list-top-panel.select-hover .menu-list-top-normal:hover .button-list {
    border: 1px solid #d2a22a;
    background: #d2a22a;
    color: #fff;
  }
  #menu-list-top-panel.select-hover .menu-list-top-normal:hover .button-list .list-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 13%;
  }
  #menu-list-top-panel.select-hover .menu-list-top-normal:hover .button-list .list-text a:hover {
    color: #fff;
  }
  #menu-list-top-panel.select-hover .menu-list-top-normal:hover .button-list .list-text .text-top-title1 {
    color: #fff;
  }
  #menu-list-top-panel.select-hover .menu-list-top-normal:hover .button-list .list-text a:hover {
    color: #fff;
  }
  #menu-list-top-panel.select-hover .menu-list-top-normal:hover .button-list .list-text .text-top-title2 {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .visible-xs {
    display: inline-block !important;
  }
  .img-1000-mobile {
    display: inline-block !important;
  }
  .container-detail .container-detail-table .section .img-responsive {
    padding-top: 0;
  }
  .container-detail .container-detail-table .title-top {
    padding: 0 20px;
  }
  .text-1000-days-title {
    padding-top: 19px;
    width: 68px;
  }
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
  .container-detail .container-detail-table .right {
    float: none;
    width: auto;
  }
  .container-detail .container-detail-table {
    margin-bottom: 20px;
  }
  #growup-header-content-menu {
    margin-bottom: 20px;
  }
  #growup-header-panel {
    background: url('../images/1000-days/bg-header-mobile.png') center center no-repeat;
    min-width: 320px;
    height: auto;
    background-size: 100% 100%;
  }
  #growup-header-panel #growup-header-content-panel {
    background: none;
  }
  #growup-header-panel #growup-header-content-panel #growup-header-content h1 {
    margin: 80px auto 20px auto;
    font-size: 48px;
  }
  #logo-1000-days-mobile {
    width: 15%;
    display: inline-block !important;
    vertical-align: middle;
  }
  #growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu .menu-1000-days {
    width: 29%;
    height: auto;
    margin-bottom: 20px;
  }
  #growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu #menu-1000-days {
    width: 80%;
    margin: 0 auto 20px auto;
    display: block;
    float: none;
    height: auto;
  }
  #growup-header-panel #growup-header-content-panel #growup-header-content #growup-header-content-menu #menu-1000-days2 {
    margin: 0 5%;
  }
  #top-menu-panel {
    width: auto;
    padding: 0 20px;
  }
  #top-menu-panel #menu-list-top-panel .menu-list-top-normal .button-list {
    margin: 10px auto;
  }
  #top-menu-panel #menu-list-top-panel .menu-list-top-normal .button-list {
    width: 60%;
    font-size: 24px;
  }
  #top-menu-panel h2 {
    margin-bottom: 10px;
  }
  #top-menu-panel h3 .stronger {
    display: block;
    line-height: 28px;
  }
  .img-mobile {
    margin: 20px auto;
  }
  .section {
    padding: 0 20px !important;
  }
}
@media (min-width: 320px) and (max-width: 420px) {
  .container-detail .container-detail-table .section .text-1000-days {
    width: 100px;
  }
  .container-detail .container-detail-table .text-title {
    font-size: 30px;
    line-height: 30px;
  }
  #growup-header-panel #growup-header-content-panel #growup-header-content h1 {
    font-size: 32px;
  }
}
