/*body{
	background: rgba(119, 255, 125, 0.80);
	//background: rgba(255,202,76,0.8);
	.global-loading {
	  display: block;
	  margin: 10% auto auto auto;
	  position: absolute;
	  width: 70px;
	  color: #fff;
	  text-align: center;
	  left: 0;
	  right: 0;
	  margin: 0 auto;
	  top: 100px;
	}
}*/
#banner-mom {
  height: 2000px;
}
#banner-mom .show-slide-image {
  display: block !important;
}
#banner-mom .hide-slide-image {
  display: none !important;
}
.link-video {
  display: inline-block;
}
.link-video-active {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-en {
  padding-top: 40px;
}
.tubular-panel {
  position: absolute !important;
  z-index: 0 !important;
}
#banner-mom {
  display: inline-block;
  margin: -175px 0 -4px;
  overflow: hidden;
  width: 100%;
}
#banner-mom .play-control {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  background: url("../images/home/banner/icon_video_player.png") no-repeat scroll center center transparent;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#banner-mom .playing .play-control {
  background: none;
}
#banner-mom .mobile-detect {
  position: absolute;
  z-index: 1;
}
#banner-mom .mobile-detect.active {
  display: none !important;
}
#banner-mom .images-list-portrait {
  width: 100%;
  height: auto;
}
#banner-mom .images-list-lanscape {
  width: auto;
  height: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
#banner-mom .vjs-control-bar {
  display: none;
}
#banner-mom .slick-dots li button::before {
  content: "";
}
#banner-mom .youtube-player-panel {
  width: 100%;
  height: 100%;
}
#banner-mom .youtube-player {
  display: none;
}
#banner-mom .big-video-wrap {
  position: absolute;
}
#banner-mom .player_list {
  width: 100%;
  height: 100%;
}
#banner-mom .slick-dots {
  display: inline-block;
  margin: 0 6px 0 0;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 190px;
  z-index: 100;
  height: 10px;
}
#banner-mom .slick-dots li {
  border: 1px solid #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 10px;
  width: 10px;
}
#banner-mom .slick-dots li.slick-active {
  background: #ffffff;
}
#banner-mom .slick-list,
#banner-mom .slick-track {
  height: 100%;
}
#banner-mom .banner-list {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#banner-mom .slick-active {
  z-index: 10;
}
#banner-mom .display-description {
  font-family: "db_helvethaica_x_li";
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWPI9mTYDAADPwFoco/XFgAAAABJRU5ErkJggg==') repeat scroll 0 0;
  border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  bottom: 0;
  color: #fff;
  left: 61px;
  padding: 16px 47px;
  position: absolute;
  width: 550px;
}
#banner-mom .display-title-text {
  border-bottom: 1px solid #bfb499;
  line-height: 56px;
  margin-bottom: 14px;
  padding: 0 0 7px;
  font-family: "db_helvethaica_xregular";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#banner-mom .display-description-text {
  font-size: 24px;
}
#banner-mom .btnPlayVideo {
  background: url("../images/home/banner/icon_video_player.png") no-repeat scroll center center transparent;
  width: 100%;
  height: 100%;
}
#banner-mom .playing {
  background: none;
}
#banner-mom.andriod-device .big-video-wrap .video-js {
  width: 100% !important;
}
#banner-mom.andriod-device .big-video-wrap video {
  width: 100% !important;
  top: 42%;
  height: auto !important;
}
#banner-mom.andriod-device .banner-list iframe.active {
  width: 100% !important;
  left: 0 !important;
  top: 75px !important;
  height: 100% !important;
}
#banner-mom.andriod-device .btnPlayVideo {
  background: none #000;
}
body.en #banner-mom.andriod-device .banner-list iframe.active {
  width: 100% !important;
  left: 0 !important;
  top: 10px !important;
  height: 100% !important;
}
body.en #banner-mom .slick-dots {
  top: 150px!important;
}
body.en #banner-mom.andriod-device .big-video-wrap video {
  top: 32%;
}
#banner-mom.andriod-lanscape .big-video-wrap video {
  width: 80% !important;
  top: 100px;
  height: auto !important;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#banner-mom.andriod-lanscape .banner-list iframe.active {
  width: 100% !important;
  left: 0 !important;
  height: 100% !important;
  top: 60px!important;
}
#banner-mom.ipad-device {
  /*.big-video-wrap{
		.video-js{
			width: 100% !important;
		}
		video{
			width: 100% !important;
			top: 42%;
			height: auto !important;
		}
	}*/
}
#banner-mom.ipad-device .banner-list iframe.active {
  width: 100% !important;
  left: 0 !important;
  top: 75px;
  height: 100% !important;
}
#banner-mom.ipad-device .btnPlayVideo {
  background: none #000;
}
#banner-mom.ipad-lanscape {
  /*.big-video-wrap{
		video{
		    width: 80% !important;
		    top: 100px;
		    height: auto !important;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		}
	}*/
}
#banner-mom.ipad-lanscape .banner-list iframe.active {
  width: 100% !important;
  left: 0 !important;
  height: 100% !important;
  top: 60px!important;
}
#TabNav {
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  #banner-mom .display-title-text {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 767px) {
  body.en #banner-mom .slick-dots {
    top: 175px!important;
  }
  #banner-mom {
    margin: -89px 0 -4px;
  }
  #banner-mom .play-control {
    background: url("../images/home/banner/icon_video_player.png") no-repeat scroll center 58% transparent;
  }
  #banner-mom .display-title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: inherit;
  }
  #banner-mom .display-description-text {
    height: 50px;
    overflow: hidden;
  }
  #banner-mom .slick-dots {
    right: 10px;
    top: 250px !important;
  }
  #banner-mom #banner-slick {
    margin-bottom: 0;
  }
  #banner-mom .display-description {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    left: 0;
    padding: 16px 2%;
    width: 96%;
    z-index: 101;
  }
  .tubular-panel {
    z-index: 100 !important;
  }
}
@media screen and (max-width: 420px) {
  #dim-panel #popup-panel.bg-popup-alert #text-popup4 {
    font-size: 18px;
    line-height: 18px;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup3 {
    font-size: 24px;
    line-height: 22px;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup2 {
    font-size: 28px;
    line-height: 28px;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup1 {
    font-size: 24px;
    line-height: 24px;
  }
}
.mobile-device .mobile-detect {
  display: block !important;
}
.mobile-device .play-control {
  display: block !important;
}
.mobile-device #banner-mom .display-title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
}
.mobile-device #banner-mom .display-description-text {
  height: 50px;
  overflow: hidden;
}
.mobile-device #banner-mom .slick-dots {
  right: 10px;
  top: 155px;
}
.mobile-device #banner-mom #banner-slick {
  margin-bottom: 0;
}
.mobile-device #banner-mom .display-description {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  left: 0;
  padding: 16px 2%;
  width: 96%;
  z-index: 101;
}
.mobile-device .tubular-panel {
  z-index: 100 !important;
}
@media screen and (max-width: 370px) {
  #dim-panel #popup-panel.bg-popup-alert #popup-inner-panel {
    background-size: 100%;
  }
  #dim-panel #popup-panel.bg-popup-alert #popup-inner-panel .popup-inner-panel-bg {
    background: url('../images/home/bg-breaetfeeding.jpg') 0 0 no-repeat;
    width: calc(100% - 40px);
    height: 263px;
    border-radius: 17px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-left: 20px;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup-left {
    padding: 10px 20px 20px 20px;
    width: 50%;
    padding-right: 0;
  }
  #text-popup-right {
    width: 41%;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup2 {
    width: 200px;
    font-size: 36px;
    line-height: 33px;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup4 {
    font-size: 16px;
    line-height: 16px;
  }
  #popup-inner-top-panel {
    height: 261px !important;
  }
}
