.gold {
  color: #5b4101 !important;
}
a:link {
  -webkit-tap-highlight-color: transparent;
}
.wyeth-panel {
  overflow: hidden;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel {
  width: 100%;
  height: 550px;
  position: relative;
}
@media screen and (min-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel {
    /*background: url('../images/wyeth/bg-wyeth-main.jpg') center right no-repeat;*/
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel {
    /*	background: url('../images/wyeth/bg-wyeth-main-mobile.jpg') center center no-repeat;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 75%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .background_mb {
    width: 290px;
    height: 290px;
    position: absolute;
    right: 0px;
    top: -32px;
    /*background: url('../images/wyeth/kidmom.png') center right no-repeat;*/
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner {
  width: calc(100vw - 30px);
  max-width: 970px;
  height: 100%;
  margin: 0 auto;
  padding-top: 400px;
  box-sizing: border-box;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .logo {
  width: 435px;
  height: 180px;
  /*background: url("../images/wyeth/wyeth_logo_w_4.png") no-repeat;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto 30px;
  position: relative;
  display: none;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .logo {
    width: 90vw;
    height: calc(90vw * ( 180 / 435 ));
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner {
    padding-top: 40px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .text-panel {
  font-size: 28px;
  line-height: 28px;
  color: #5b4101;
  text-align: center;
  margin-bottom: 85px;
  display: none;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .text-panel {
    font-size: 21px;
    position: relative;
    margin: 30px auto;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box {
  text-align: center;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link {
  display: inline-block;
  width: 200px;
  height: 60px;
  background: #e21f26;
  border-radius: 100px;
  margin-right: 20px;
  color: #fff;
  font-size: 28px;
  line-height: 60px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link:hover {
  background: #d60e20;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link:hover {
    background: #e21f26;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link {
    width: 285px;
    height: 43px;
    font-size: 20px;
    line-height: 43px;
    display: block;
    margin: 10px auto 0px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link:last-child {
    width: 285px;
    height: 43px;
    font-size: 20px;
    line-height: 43px;
    display: block;
    margin: 10px auto 0px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: url('../images/wyeth/icon.svg') no-repeat;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon {
    transform: scale(0.7);
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon.legacy {
  width: 43px;
  height: 38px;
  background-position: -136px 0;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon.team {
  width: 52px;
  height: 30px;
  background-position: -189px -3px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon.contact {
  width: 36px;
  height: 28px;
  background-position: -251px -5px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon.article {
  width: 40px;
  height: 30px;
  background-position: 0 -231px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .text {
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 767px) {
  .wyeth-panel-no-banner {
    padding-top: 150px;
  }
}
