.wapContent {
  position: relative;
}
#liveChat {
  width: 100%;
  background: url(../images/home/livechat/row_bg.jpg) center center #eacab1 no-repeat;
  height: 445px;
  margin: 0 auto;
  min-width: 1024px;
  position: relative;
}
#liveChat .bg-row {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
#liveChat .block-txt {
  color: #000000;
  position: absolute;
  right: 11%;
  top: 100px;
}
#liveChat .block-txt h1 {
  font-family: 'db_helvethaica_x_li';
  font-size: 80px;
  margin: 0;
}
#liveChat .block-txt h2 {
  font-family: 'db_helvethaica_x_li';
  font-size: 60px;
  margin: 0;
  margin-top: -25px;
}
#liveChat .block-txt .txt-desc {
  font-family: 'db_helvethaica_xregular';
  font-size: 24px;
  margin-bottom: 10px;
}
