@font-face {
  font-family: 'db_helvethaica_x_med';
  src: url('../fonts/db_helvethaica_x_med.eot');
  src: url('../fonts/db_helvethaica_x_med.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_med.woff') format('woff'), url('../fonts/db_helvethaica_x_med.ttf') format('truetype'), url('../fonts/db_helvethaica_x_med.svg#db_helvethaica_x_med') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_helvethaica_xregular';
  src: url('../fonts/db_helvethaica_xregular.eot');
  src: url('../fonts/db_helvethaica_xregular.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_xregular.woff') format('woff'), url('../fonts/db_helvethaica_xregular.ttf') format('truetype'), url('../fonts/db_helvethaica_xregular.svg#db_helvethaica_xregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_helvethaica_x_li';
  src: url('../fonts/db_helvethaica_x_li.eot');
  src: url('../fonts/db_helvethaica_x_li.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_li.woff') format('woff'), url('../fonts/db_helvethaica_x_li.ttf') format('truetype'), url('../fonts/db_helvethaica_x_li.svg#db_helvethaica_x_li') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_helvethaica_x_ulli';
  src: url('../fonts/db_helvethaica_x_ulli.eot');
  src: url('../fonts/db_helvethaica_x_ulli.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_ulli.woff') format('woff'), url('../fonts/db_helvethaica_x_ulli.ttf') format('truetype'), url('../fonts/db_helvethaica_x_ulli.svg#db_helvethaica_x_ulli') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-face {
  font-family: 'db_helvethaica_xregular';
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-weight: normal;
}
.font-face-med {
  font-family: 'db_helvethaica_x_med';
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-weight: normal;
}
.font-face-light {
  font-family: 'db_helvethaica_x_li';
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-weight: normal;
}
.font-face-slim {
  font-family: 'db_helvethaica_x_ulli';
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-weight: normal;
}
.font-black {
  color: #000 !important;
}
.show-xs {
  display: none;
}
.custom-radio {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.custom-radio .radio-choice {
  display: inline-block;
  opacity: 0;
  cursor: pointer;
  width: 20px;
}
.custom-radio.active-radio {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  background-color: #000;
  position: relative;
  cursor: pointer;
}
.custom-radio.active-radio .dot-in-radio {
  width: 8px;
  height: 8px;
  border: 1px solid #F2C600;
  border-radius: 50%;
  display: inline-block;
  background-color: #F2C600;
  position: absolute;
  top: 5px;
  right: 5px;
}
.sub-custom-radio {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.sub-custom-radio .sub-radio-choice {
  display: inline-block;
  opacity: 0;
  cursor: pointer;
  width: 20px;
}
.sub-custom-radio.active-sub-radio {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  background-color: #000;
  position: relative;
  cursor: pointer;
}
.sub-custom-radio.active-sub-radio .center-radio {
  width: 8px;
  height: 8px;
  border: 1px solid #F2C600;
  border-radius: 50%;
  display: inline-block;
  background-color: #F2C600;
  position: absolute;
  top: 5px;
  right: 5px;
}
.detail-sub-choice {
  font-size: 24px;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
}
.social-radio {
  width: 34px;
  height: 34px;
  border: 1px solid #D1D2D4;
  background-color: #FFF;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: absolute;
}
.social-radio.margin-child2 {
  margin-left: 60px;
}
.social-radio.margin-child3 {
  margin-left: 120px;
}
.social-radio .radio-answer {
  display: inline-block;
  opacity: 0;
  cursor: pointer;
  margin-left: 0;
  margin-left: 12px;
  margin-top: 7px;
  transform: scale(3);
}
.social-radio .number-center {
  position: absolute;
  top: 2px;
  left: 12px;
  color: #9B9B9B;
  font-size: 26px;
}
.social-radio .number-center.number-center-active {
  color: #000;
  font-weight: 700;
}
.social-radio.active-social-radio {
  width: 34px;
  height: 34px;
  border: 1px solid #F2C600;
  border-radius: 50%;
  display: inline-block;
  background-color: #F2C600;
  cursor: pointer;
  position: absolute;
}
.none-pointer-event {
  pointer-events: none;
  cursor: default;
}
.hide-xs {
  display: none;
}
.hide-md {
  display: none;
}
.hide-lg {
  display: block;
}
body {
  margin: 0;
  min-width: 100%;
}
#page-intro-smom #page-intro {
  background-image: url(../../images/survey/bg-intro.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-position: center center;
}
#page-intro-smom #page-intro .warp-intro {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page-intro-smom #page-intro .warp-intro .box-header .img-header {
  text-align: center;
  padding-bottom: 70px;
  width: 347px;
  height: 157px;
}
#page-intro-smom #page-intro .warp-intro .detail-survey {
  font-size: 32px;
  color: #000;
  line-height: 32px;
  text-align: center;
}
#page-intro-smom #page-intro .warp-intro .detail-survey.detail-survey-bold {
  font-weight: 700;
}
#page-1-new {
  margin: 0;
}
#page-1-new .warp-content {
  display: inline-block;
  width: 100%;
  background: #FAFAFA;
}
#page-1-new .warp-content .box-img {
  width: 40%;
  height: auto;
  float: left;
  position: relative;
}
#page-1-new .warp-content .box-img .box-number-mobile {
  width: 30px;
  height: 46px;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  display: none;
}
#page-1-new .warp-content .box-img .box-number-mobile .page-current {
  width: 30px;
  height: 23px;
  font-size: 17px;
  color: #000;
}
#page-1-new .warp-content .box-img .box-number-mobile .slaz-page {
  width: 30px;
  height: 0;
  border-bottom: 1px solid #CFCFCF;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
#page-1-new .warp-content .box-img .box-number-mobile .page-total {
  width: 30px;
  height: 23px;
  text-align: right;
  font-size: 17px;
  color: #C6C6C6;
}
#page-1-new .warp-content .box-img .bg-q1 {
  width: 100%;
  height: 100vh;
  background-image: url(../images/survey/q1.jpg);
  background-size: cover;
  background-position: center top;
}
#page-1-new .warp-content .box-img .bg-q1 .title-img3 {
  text-transform: uppercase;
  width: 100%;
  height: auto;
  font-size: 118px;
  line-height: 88px;
  text-align: center;
  position: absolute;
  bottom: 10%;
  margin: 0;
}
#page-1-new .warp-content .box-img .bx-img-mobile .img-mom-moblie {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: none;
  background-image: url();
}
#page-1-new .warp-content .box-1-new {
  width: 60%;
  height: auto;
  float: left;
  text-align: left;
  background: #FFF;
  position: relative;
}
#page-1-new .warp-content .box-1-new .box-number-page {
  width: 30px;
  height: 46px;
  float: right;
  padding-right: 50px;
  padding-top: 30px;
}
#page-1-new .warp-content .box-1-new .box-number-page .page-current {
  width: 30px;
  height: 23px;
  font-size: 17px;
  color: #000;
}
#page-1-new .warp-content .box-1-new .box-number-page .slaz-page {
  width: 30px;
  height: 0;
  border-bottom: 1px solid #CFCFCF;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
#page-1-new .warp-content .box-1-new .box-number-page .page-total {
  width: 30px;
  height: 23px;
  text-align: right;
  font-size: 17px;
  color: #C6C6C6;
}
#page-1-new .warp-content .box-1-new .warp-1-new {
  padding: 0 60px 28px;
}
#page-1-new .warp-content .box-1-new .warp-1-new.bottom-warp {
  padding-bottom: 65px;
}
#page-1-new .warp-content .box-1-new .header-question {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  padding-bottom: 28px;
  margin: 0;
}
#page-1-new .warp-content .box-1-new .header-question.top-header {
  padding-top: 90px;
}
#page-1-new .warp-content .box-1-new .choice-status {
  padding-left: 20px;
}
#page-1-new .warp-content .box-1-new .choice-status .detail-choice {
  display: inline-block;
  font-size: 28px;
  color: #666666;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
  vertical-align: middle;
}
#page-1-new .warp-content .box-1-new .choice-status .detail-choice.active-choice {
  color: #000;
}
#page-1 {
  width: 100%;
  height: auto;
  background-color: #FFF;
  position: relative;
  margin: 0;
  display: table;
}
#page-1.show-page1 {
  display: block;
}
#page-1 .box-img {
  width: 40%;
  height: auto;
  float: left;
  position: relative;
  display: table-cell;
  vertical-align: top;
}
#page-1 .box-img .img-mom {
  width: 100%;
  height: 100vh;
  background: url(../images/survey/pic-page1.jpg) center top no-repeat;
  background-size: cover;
}
#page-1 .box-img .img-mom .title-img {
  text-transform: uppercase;
  width: 100%;
  height: auto;
  font-size: 118px;
  line-height: 88px;
  text-align: center;
  position: absolute;
  bottom: 10%;
  margin: 0;
}
#page-1 .box-img .img-mom-mobile {
  width: 100%;
  max-width: 100%;
  display: none;
  object-fit: cover;
  height: auto;
}
#page-1 .box-question-1 {
  width: 60%;
  height: auto;
  float: left;
  text-align: left;
  vertical-align: top;
  display: table-cell;
}
#page-1 .box-question-1 .warp-content {
  padding: 0 60px;
}
#page-1 .box-question-1 .warp-content .box-number-page {
  width: 30px;
  height: 46px;
  float: right;
  padding-top: 30px;
}
#page-1 .box-question-1 .warp-content .box-number-page .page-current {
  width: 30px;
  height: 23px;
  font-size: 17px;
  color: #000;
}
#page-1 .box-question-1 .warp-content .box-number-page .slaz-page {
  width: 30px;
  height: 0;
  border-bottom: 1px solid #CFCFCF;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
#page-1 .box-question-1 .warp-content .box-number-page .page-total {
  width: 30px;
  height: 23px;
  text-align: right;
  font-size: 17px;
  color: #C6C6C6;
}
#page-1 .box-question-1 .warp-content .header-question {
  font-size: 40px;
  color: #000;
  padding-bottom: 15px;
  padding-top: 40px;
  margin: 0;
  padding-top: 90px;
}
#page-1 .box-question-1 .warp-content .ques1 .detail-choice {
  display: inline-block;
  font-size: 28px;
  color: #666666;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
  vertical-align: middle;
}
#page-1 .box-question-1 .warp-content .ques1 .detail-choice.active-choice {
  color: #000;
}
#page-1 .box-question-1 .warp-content .all-sub-choice .sub-choice {
  padding-left: 36px;
}
#page-1 .box-question-1 .warp-content .all-sub-choice .sub-choice .detail-sub-choice {
  display: inline-block;
  line-height: 40px;
  font-size: 24px;
  color: #666666;
  padding-left: 10px;
  cursor: pointer;
  vertical-align: middle;
}
#page-1 .box-question-1 .warp-content .all-sub-choice .sub-choice .detail-sub-choice.active-sub-choice {
  color: #000;
}
#page-1 .box-question-1 .warp-content .all-sub-choice .desc-other {
  display: none;
}
#page-1 .box-question-1 .warp-content .all-sub-choice .desc-other .area-desc-other {
  width: 90%;
  max-width: 450px;
  height: 86px;
  padding: 10px;
  border: 1px solid #D1D2D4;
  border-radius: 6px;
  margin-left: 36px;
  font-size: 22px;
  color: #666666;
}
#page-1 .box-question-1 .warp-content .submit {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 60px;
}
#page-1 .box-question-1 .warp-content .submit .btn-next {
  display: none;
  width: 130px;
  height: 40px;
  background-color: #4A4A4A;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 36px;
  text-align: center;
}
#page-1 .box-question-1 .warp-content .submit .btn-next.btn-wait {
  pointer-events: none;
}
#page-1 .box-question-1 .warp-content .submit .btn-next .txt-next {
  display: inline-block;
  font-size: 20px;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
}
#page-1 .box-question-1 .warp-content .submit .btn-next .box-arrow {
  display: inline-block;
}
#page-1 .box-question-1 .warp-content .submit .btn-next .box-arrow .arrow-next {
  width: 6px;
  height: 10px;
  background-image: url("../../images/survey/sprite.svg");
  background-position: -12px -10px;
}
#page-2 {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
}
#page-2 .warp-page2 {
  width: 100%;
  height: auto;
  display: table;
}
#page-2 .warp-page2.bg-page2 {
  background-color: #F8F8F8;
  display: inline-block;
}
#page-2 .warp-page2 .box-img {
  width: 40%;
  height: auto;
  position: relative;
  background-color: #F8F8F8;
  display: table-cell;
}
#page-2 .warp-page2 .box-img .img-mom-q2 {
  width: 100%;
  height: 99.4vh;
  background-image: url(../../images/survey/pic-page2.jpg);
  background-size: cover;
  background-position: center;
}
#page-2 .warp-page2 .box-img .img-mom-q2 .header-img2 {
  color: #C98221;
  top: 0;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  font-size: 90px;
  line-height: 90px;
  position: absolute;
  top: 28%;
  text-align: left;
  padding-left: 50px;
}
#page-2 .warp-page2 .box-img .img-mom-q2 .title-img2 {
  text-transform: uppercase;
  width: 100%;
  height: auto;
  font-size: 103px;
  line-height: 88px;
  position: absolute;
  bottom: 10%;
  text-align: left;
  padding-left: 50px;
}
#page-2 .warp-page2 .box-img .bx-img-mobile .img-mom-mobile {
  display: none;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
#page-2 .warp-page2 .header-question {
  font-size: 40px;
  color: #000;
  padding-bottom: 15px;
  padding-top: 90px;
  margin: 0;
}
#page-2 .warp-page2 .header-question.mobile {
  display: none;
}
#page-2 .warp-page2 .box-question2 {
  width: 60%;
  height: auto;
  background-color: #FFF;
  display: table-cell;
  vertical-align: top;
}
#page-2 .warp-page2 .box-question2.bg-box-question2 {
  background-color: #FFF;
}
#page-2 .warp-page2 .box-question2 .box-number-page {
  width: 30px;
  height: 46px;
  float: right;
  padding-right: 20px;
  padding-top: 30px;
}
#page-2 .warp-page2 .box-question2 .box-number-page .page-current {
  width: 30px;
  height: 23px;
  font-size: 17px;
  color: #000;
}
#page-2 .warp-page2 .box-question2 .box-number-page .slaz-page {
  width: 30px;
  height: 0;
  border-bottom: 1px solid #CFCFCF;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
#page-2 .warp-page2 .box-question2 .box-number-page .page-total {
  width: 30px;
  height: 23px;
  text-align: right;
  font-size: 17px;
  color: #C6C6C6;
}
#page-2 .warp-page2 .box-question2 .box-content {
  padding: 30px 60px;
}
#page-2 .warp-page2 .box-question2 .box-content .choice-ques2 .detail-choice {
  display: inline-block;
  font-size: 28px;
  color: #666666;
  line-height: 40px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
}
#page-2 .warp-page2 .box-question2 .box-content .choice-ques2 .detail-choice.active-choice {
  color: #000;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub {
  padding-left: 37px;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .answer-rating {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .sub-question {
  font-size: 25px;
  line-height: 24px;
  color: #000;
  padding-top: 5px;
  text-indent: -9px;
  padding-left: 9px;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .sub-question.validate-radio {
  color: #FF0000;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .sub-question.pading-chioce {
  padding-bottom: 10px;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .question-mark {
  color: #555555;
  font-size: 20px;
  line-height: 24px;
  padding-left: 10px;
  padding-bottom: 16px;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .question-mark2 {
  color: #555555;
  font-size: 20px;
  line-height: 24px;
  padding-top: 34px;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .all-answer-social .answer-social {
  padding-left: 10px;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .all-answer-social .answer-social .answer-ques1 {
  font-size: 24px;
  color: #000;
  line-height: 40px;
  display: inline-block;
  width: 100px;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .all-answer-social .answer-social .answer-ques1.validate-radio {
  color: #FF0000;
}
#page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .answer-comment {
  width: 500px;
  height: 86px;
  border: 1px solid #D1D2D4;
  border-radius: 6px;
  margin: 13px 0  24px 10px;
  font-size: 22px;
  padding-top: 14px;
  padding-left: 15px;
}
#page-2 .submit {
  width: 100%;
  padding-bottom: 50px;
}
#page-2 .submit .btn-next {
  width: 130px;
  height: 40px;
  background-color: #4A4A4A;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 60px;
  text-align: center;
}
#page-2 .submit .btn-next.btn-wait {
  pointer-events: none;
}
#page-2 .submit .btn-next .txt-next {
  display: inline-block;
  font-size: 20px;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
}
#page-2 .submit .btn-next .box-arrow {
  display: inline-block;
}
#page-2 .submit .btn-next .box-arrow .arrow-next {
  width: 6px;
  height: 10px;
  background-image: url("../../images/survey/sprite.svg");
  background-position: -12px -10px;
}
#page-3 {
  margin: 0;
  position: relative;
}
#page-3 .warp-content .box-img {
  width: 40%;
  height: auto;
  float: left;
  position: relative;
}
#page-3 .warp-content .box-img .img-mom-q3 {
  width: 100%;
  height: 100vh;
  background-image: url(../images/survey/pic-page3.jpg);
  background-size: cover;
  background-position: center top;
}
#page-3 .warp-content .box-img .img-mom-q3 .title-img3 {
  text-transform: uppercase;
  width: 100%;
  height: auto;
  font-size: 118px;
  line-height: 88px;
  text-align: center;
  position: absolute;
  bottom: 10%;
  margin: 0;
}
#page-3 .warp-content .box-img .bx-img-mobile .img-mom-moblie {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: none;
  background-image: url();
}
#page-3 .warp-content .box-number-page {
  width: 30px;
  height: 46px;
  float: right;
  padding-right: 15px;
  padding-top: 30px;
}
#page-3 .warp-content .box-number-page .page-current {
  width: 30px;
  height: 23px;
  font-size: 17px;
  color: #000;
}
#page-3 .warp-content .box-number-page .slaz-page {
  width: 30px;
  height: 0;
  border-bottom: 1px solid #CFCFCF;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
#page-3 .warp-content .box-number-page .page-total {
  width: 30px;
  height: 23px;
  text-align: right;
  font-size: 17px;
  color: #C6C6C6;
}
#page-3 .warp-content .box-question3 {
  width: 60%;
  height: auto;
  float: left;
  text-align: left;
}
#page-3 .warp-content .box-question3 .warp-question3 {
  padding: 0 60px 65px;
}
#page-3 .warp-content .box-question3 .header-question {
  font-size: 40px;
  color: #000;
  padding-bottom: 15px;
  padding-top: 90px;
  margin: 0;
  padding-top: 45px;
}
#page-3 .warp-content .box-question3 .choice-ques3 {
  padding-left: 20px;
}
#page-3 .warp-content .box-question3 .choice-ques3 .detail-choice {
  display: inline-block;
  font-size: 28px;
  color: #666666;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
  vertical-align: middle;
}
#page-3 .warp-content .box-question3 .choice-ques3 .detail-choice.active-choice {
  color: #000;
}
#page-thank-you {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/survey/bg-thank.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: red;
  position: relative;
}
#page-thank-you .page-content {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
#page-thank-you .page-content .logo {
  text-align: center;
}
#page-thank-you .page-content .logo .box-logo {
  width: 318px;
  height: 53px;
}
#page-thank-you .page-content .header {
  font-size: 50px;
  color: #000;
  line-height: 53px;
  text-align: center;
  padding-top: 10px;
}
#page-thank-you .box-img-nurse {
  bottom: 0;
  top: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}
#page-thank-you .box-img-nurse .img-nurse {
  max-width: 100%;
  height: auto;
}
#page-thank-you .dim-nurse {
  position: absolute;
  bottom: -106px;
  text-align: center;
  left: 0;
  right: 0;
}
fieldset,
label {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.5em;
  margin: 10px;
}
/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}
.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f006";
}
.rating > label {
  color: #D1D2D4;
  float: right;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}
.rating > input:checked ~ label:before,
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
  content: "\f005";
}
/* hover previous stars in list */
/* FONT AWESOME CORE
 * -------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}
@media screen and (max-width: 768px) {
  body {
    min-width: 100%;
  }
  #page-1-new .warp-content .box-img {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }
  #page-1-new .warp-content .box-img .bg-q1 {
    display: none;
  }
  #page-1-new .warp-content .box-img .bx-img-mobile .img-mom-moblie {
    display: block;
  }
  #page-1-new .warp-content .box-img .box-number-mobile {
    display: block;
  }
  #page-1-new .warp-content .box-1-new {
    width: auto;
    height: auto;
    float: none;
    position: relative;
    padding: 0 20px;
  }
  #page-1-new .warp-content .box-1-new .box-number-page {
    display: none;
  }
  #page-1-new .warp-content .box-1-new .warp-1-new {
    width: 100%;
    padding: 0;
    display: inline-block;
  }
  #page-1-new .warp-content .box-1-new .warp-1-new.bottom-warp {
    padding-bottom: 40px;
  }
  #page-1-new .warp-content .box-1-new .header-question {
    width: 100%;
    padding: 0;
    text-align: center;
    padding-bottom: 16px;
  }
  #page-1-new .warp-content .box-1-new .header-question.top-header {
    padding-top: 0;
  }
  #page-1-new .warp-content .box-1-new .choice-status {
    width: 100%;
    float: left;
    padding-left: 0;
  }
  #page-1 .box-img {
    width: 100%;
    height: auto;
    float: none;
    display: block;
  }
  #page-1 .box-img .img-mom {
    display: none;
  }
  #page-1 .box-img .img-mom-mobile {
    display: block;
  }
  #page-1 .box-question-1 {
    width: 100%;
    height: auto;
    float: none;
    display: block;
    padding-bottom: 100px;
  }
  #page-1 .box-question-1 .warp-content .header-question {
    padding-top: 0;
    padding-bottom: 15px;
    text-align: center;
    padding-bottom: 16px;
  }
  #page-1 .box-question-1 .warp-content .box-number-page {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  #page-2 .warp-page2 {
    display: block;
  }
  #page-2 .warp-page2 .box-img {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
    display: block;
  }
  #page-2 .warp-page2 .box-img .img-mom-q2 {
    display: none;
  }
  #page-2 .warp-page2 .box-img .bx-img-mobile .img-mom-mobile {
    display: block;
  }
  #page-2 .warp-page2 .header-question {
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 16px;
  }
  #page-2 .warp-page2 .header-question.mobile {
    display: block;
    bottom: -10px;
  }
  #page-2 .warp-page2 .header-question.desktop {
    display: none;
  }
  #page-2 .warp-page2 .box-question2 {
    width: 100%;
    float: none;
    display: block;
  }
  #page-2 .warp-page2 .box-question2 .box-number-page {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  #page-2 .warp-page2 .box-question2 .box-content {
    padding: 0px 60px 30px;
    position: relative;
  }
  #page-2 .warp-page2 .box-question2 .box-content .choice-ques2 {
    padding-left: 0;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub {
    padding-left: 37px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .sub-question {
    padding-top: 15px;
    padding-bottom: 16px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .all-answer-social .answer-social {
    padding-left: 10px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .answer-rating {
    padding-top: 0;
  }
  #page-2 .submit {
    padding: 20px 0;
  }
  #page-2 .submit .btn-next {
    margin: 0 auto;
  }
  #page-3 .warp-content .box-img {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }
  #page-3 .warp-content .box-img .img-mom-q3 {
    display: none;
  }
  #page-3 .warp-content .box-img .bx-img-mobile .img-mom-moblie {
    display: block;
  }
  #page-3 .warp-content .box-number-page {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  #page-3 .warp-content .box-question3 {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }
  #page-3 .warp-content .box-question3 .header-question {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 100%;
    padding: 0 20px 16px;
    text-align: center;
  }
  #page-3 .warp-content .box-question3 .choice-ques3 {
    width: 50%;
    float: left;
    padding-left: 0;
  }
  #page-thank-you .box-img-nurse {
    bottom: 10%;
  }
}
@media screen and (max-width: 414px) {
  .show-xs {
    display: block;
  }
  .detail-sub-choice {
    font-size: 20px;
    line-height: 20px;
  }
  #page-intro-smom #page-intro .warp-intro {
    top: 40%;
  }
  #page-intro-smom #page-intro .warp-intro .box-header .img-header {
    width: 170px;
    height: 78px;
    padding-bottom: 50px;
  }
  #page-intro-smom #page-intro .warp-intro .detail-survey {
    padding: 0 20px;
    font-size: 24px;
    line-height: 30px;
  }
  #page-1-new .warp-content .box-img {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }
  #page-1-new .warp-content .box-img .bg-q1 {
    display: none;
  }
  #page-1-new .warp-content .box-img .bx-img-mobile .img-mom-moblie {
    display: block;
  }
  #page-1-new .warp-content .box-1-new .warp-1-new {
    padding-bottom: 16px;
  }
  #page-1-new .warp-content .box-1-new .warp-1-new .header-question {
    width: 100%;
    padding: 0;
    padding-bottom: 16px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
  }
  #page-1-new .warp-content .box-1-new .warp-1-new .header-question.top-header {
    padding-top: 0;
  }
  #page-1-new .warp-content .box-1-new .warp-1-new .choice-status {
    width: 100%;
    float: left;
    padding-left: 0;
  }
  #page-1-new .warp-content .box-1-new .warp-1-new .choice-status .detail-choice {
    font-size: 20px;
    line-height: 30px;
  }
  #page-1 .box-img .img-mom {
    display: none;
  }
  #page-1 .box-img .img-mom-mobile {
    display: block;
  }
  #page-1 .box-question-1 .warp-content {
    padding: 0 20px;
  }
  #page-1 .box-question-1 .warp-content .box-number-page {
    top: -15px;
  }
  #page-1 .box-question-1 .warp-content .header-question {
    font-size: 26px;
    line-height: 30px;
  }
  #page-1 .box-question-1 .warp-content .ques1 .detail-choice {
    font-size: 20px;
    line-height: 30px;
  }
  #page-1 .box-question-1 .warp-content .ques1 .detail-choice.active-choice {
    color: #000;
  }
  #page-1 .box-question-1 .warp-content .all-sub-choice .sub-choice {
    padding-left: 5px;
  }
  #page-1 .box-question-1 .warp-content .all-sub-choice .sub-choice .detail-sub-choice {
    font-size: 20px;
    line-height: 35px;
    padding-left: 5px;
  }
  #page-1 .box-question-1 .warp-content .all-sub-choice .desc-other .area-desc-other {
    margin-left: 0;
    width: 93%;
    font-size: 20px;
    line-height: 35px;
  }
  #page-2 .warp-page2 .header-question.mobile {
    display: block;
    font-size: 26px;
    line-height: 30px;
  }
  #page-2 .warp-page2 .header-question.desktop {
    display: none;
  }
  #page-2 .warp-page2 .box-question2 {
    top: 411px;
  }
  #page-2 .warp-page2 .box-question2 .box-number-page {
    top: 0;
    right: 0;
  }
  #page-2 .warp-page2 .box-question2 .box-content {
    padding: 0 20px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .choice-ques2 {
    padding: 0;
  }
  #page-2 .warp-page2 .box-question2 .box-content .choice-ques2 .detail-choice {
    font-size: 20px;
    line-height: 35px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice {
    font-size: 20px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub {
    padding-left: 15px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .sub-question {
    padding-top: 15px;
    font-size: 20px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .question-mark {
    padding-bottom: 0;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .all-answer-social .answer-social {
    padding-top: 5px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .all-answer-social .answer-social .answer-ques1 {
    font-size: 20px;
    width: 80px;
  }
  #page-2 .warp-page2 .box-question2 .box-content .warp-all-choice .all-sub .answer-comment {
    width: 90%;
    font-size: 20px;
  }
  #page-2 .submit {
    text-align: center;
  }
  #page-2 .submit .btn-next {
    margin-bottom: 50px;
  }
  #page-3 .warp-content .box-number-page {
    padding-top: 15px;
    right: 0;
    top: 0;
  }
  #page-3 .warp-content .box-question3 .header-question {
    font-size: 26px;
    line-height: 30px;
  }
  #page-3 .warp-content .box-question3 .warp-question3 {
    padding: 0 20px;
  }
  #page-3 .warp-content .box-question3 .warp-question3 .box-number-page {
    top: -15px;
  }
  #page-3 .warp-content .box-question3 .choice-ques3 {
    padding-bottom: 0;
  }
  #page-3 .warp-content .box-question3 .choice-ques3 .detail-choice {
    font-size: 20px;
    line-height: 35px;
  }
  #page-thank-you .page-content {
    width: 100%;
  }
  #page-thank-you .page-content .header {
    font-size: 26px;
    line-height: 30px;
  }
}
