#media_music .align_panel {
  margin: 0 auto;
}
#media_music .align_panel .control_panel {
  height: 245px;
  background: rgba(255, 255, 255, 0.1);
}
#media_music .align_panel .control_panel #volumControl {
  position: relative;
}
#media_music .align_panel .control_panel #volumControl .current {
  font-family: db_helvethaica_xregular;
  color: #f3c85b;
  position: absolute;
  left: 10px;
  font-size: 24px;
  top: -24px;
}
#media_music .align_panel .control_panel #volumControl .minus_time {
  font-family: db_helvethaica_xregular;
  color: #FFF;
  position: absolute;
  right: 10px;
  font-size: 24px;
  top: -24px;
}
#media_music .align_panel .control_panel #volumControl #volumControlPanel {
  width: 216px;
  height: 30px;
  position: absolute;
  top: -8px;
}
#media_music .align_panel .music_list_panel {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  line-height: 34px;
  position: relative;
}
#media_music .align_panel .music_list_panel table {
  color: #FFF;
}
#media_music .align_panel .music_list_panel table tr {
  height: 35px;
}
#media_music .align_panel .music_list_panel table tr td.number {
  padding: 0 30px;
  vertical-align: bottom;
  font-family: db_helvethaica_xregular;
  font-size: 24px;
}
#media_music .align_panel .music_list_panel table tr td.song_name {
  padding: 0px 10px 0px 0px;
  vertical-align: bottom;
  font-family: db_helvethaica_xregular;
  font-size: 24px;
}
#media_music .align_panel .music_list_panel table tr td.duration {
  padding: 0px 10px;
  vertical-align: bottom;
  font-family: db_helvethaica_xregular;
  font-size: 24px;
}
#media_music .align_panel .music_list_panel table tr td.download {
  vertical-align: bottom;
  text-align: center;
}
#media_music .align_panel .music_list_panel table tr td.download a .download_icon {
  display: inline-block;
  background: url('../images/media/school_book/music_download.png') no-repeat transparent;
  width: 19px;
  height: 20px;
  vertical-align: -12%;
}
#media_music .align_panel .music_list_panel table tr.play_active {
  color: #ba953a !important;
  background: #f3c85b !important;
}
#media_music .align_panel .music_list_panel table tr.play_active td.download a .download_icon {
  background: url('../images/media/school_book/music_download_active.png') no-repeat transparent;
}
#media_music .align_panel .music_list_panel table tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}
#media_music .align_panel .music_list_panel table tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}
#media_music .align_panel .music_list_panel table tr:hover {
  background: rgba(243, 200, 91, 0.5);
}
#media_music .mCSB_inside > .mCSB_container {
  margin-right: 13px;
}
#media_music .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(255, 255, 255, 0.1);
}
#media_music .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #f3c85b;
}
@media (min-width: 768px) {
  #media_music .align_panel {
    width: 960px;
  }
  #media_music .align_panel .control_panel {
    width: 216px;
    display: inline-block;
  }
  #media_music .align_panel .music_list_panel {
    max-height: 245px;
    width: 710px;
  }
  #media_music .align_panel .music_list_panel table {
    color: #FFF;
  }
  #media_music .align_panel .music_list_panel table tr {
    height: 35px;
  }
  #media_music .align_panel .music_list_panel table tr td.number {
    padding: 0 30px;
  }
  #media_music .align_panel .music_list_panel table tr td.song_name {
    width: 350px;
  }
  #media_music .align_panel .music_list_panel table tr td.duration {
    width: 190px;
  }
  #media_music .align_panel .music_list_panel table tr td.download {
    width: 60px;
  }
  #media_music .ps-scrollbar-y-rail {
    width: 2px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
  }
  #media_music .ps-scrollbar-y {
    width: 6px;
    background-color: #f3c85b;
    left: -2px;
  }
}
@media (max-width: 767px) {
  #media_music {
    margin: 0 20px;
  }
  #media_music .align_panel {
    display: block;
    width: 100%;
  }
  #media_music .align_panel .control_panel {
    text-align: center;
    width: 100%;
    height: 245px;
    background: rgba(255, 255, 255, 0.1);
  }
  #media_music .align_panel .control_panel #volumControl {
    width: 100%;
    position: relative;
  }
  #media_music .align_panel .control_panel #volumControl .current {
    font-family: db_helvethaica_xregular;
    color: #f3c85b;
    position: absolute;
    left: 10px;
    font-size: 20px;
    top: -24px;
  }
  #media_music .align_panel .control_panel #volumControl .minus_time {
    font-family: db_helvethaica_xregular;
    color: #FFF;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: -24px;
  }
  #media_music .align_panel .control_panel #volumControl #volumControlPanel {
    width: 100%;
    left: 0px;
    height: 30px;
    position: absolute;
    top: -8px;
  }
  #media_music .align_panel .music_list_panel {
    margin-top: 3px;
    display: block;
    vertical-align: top;
  }
  #media_music .align_panel .music_list_panel table {
    width: 100%;
    color: #FFF;
  }
  #media_music .align_panel .music_list_panel table tr {
    height: 35px;
  }
  #media_music .align_panel .music_list_panel table tr td.number {
    padding: 0 10px;
    font-size: 20px;
  }
  #media_music .align_panel .music_list_panel table tr td.song_name {
    font-size: 20px;
  }
  #media_music .align_panel .music_list_panel table tr td.duration {
    padding: 0 0px;
    font-size: 20px;
  }
  #media_music .align_panel .music_list_panel table tr td.download {
    padding: 0 10px;
    font-size: 20px;
  }
  #media_music .align_panel .music_list_panel table tr td.download a .download_icon {
    background-size: cover;
    width: 14px;
    height: 15px;
  }
  #media_music .align_panel .music_list_panel table tr.play_active td.download a .download_icon {
    background-size: cover;
    width: 14px;
    height: 15px;
    vertical-align: -5%;
  }
  #media_music .ps-scrollbar-y-rail {
    display: none !important;
  }
  #media_music .mCSB_inside > .mCSB_container {
    margin-right: 0px;
  }
}
