#list-menu-item2-panel {
  background: url(../images/media/school_book/bg-diy-central.png) center center #d4c38b repeat-y;
  background-size: 100% 100%;
}
.container-wrapper .container-wrapper-detail .container-detail {
  max-width: 1280px !important;
  background: none !important;
}
#diy-list-panel {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  min-height: 640px;
  max-width: 960px;
}
#diy-list-panel .diy-list {
  width: 300px;
  float: left;
  margin: 0 0 20px 0;
  height: 400px;
  background: url(../images/media/school_book/bg-diy.png) repeat;
  border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
}
#diy-list-panel .diy-list .diy-list-link {
  position: relative;
  display: block;
}
#diy-list-panel .diy-list .diy-list-link .diy-list-img {
  margin: 0 auto;
  text-align: center;
  width: 280px;
  display: block;
}
#diy-list-panel .diy-list .diy-list-link .diy-list-title {
  display: block;
  text-align: center;
  padding: 15px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  font-size: 30px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  color: #6a500d;
}
#diy-list-panel .diy-list .diy-list-link .diy-link-download {
  width: 170px;
  height: 40px;
  color: #8e6d1d;
  display: block;
  font-size: 24px;
  border: 2px solid #8e6d1d;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -65px;
  line-height: 40px;
}
#diy-list-panel .diy-list .diy-list-link .diy-link-download:hover {
  background: #8e6d1d;
  color: #fff;
}
#diy-list-panel .diy-list-center {
  margin: 0 20px;
}
@media (max-width: 767px) {
  #list-menu-item2-panel {
    background-size: inherit;
  }
  #list-menu-item1-panel .container-wrapper-detail {
    height: auto !important;
  }
  #diy-list-panel .diy-list {
    float: none;
    margin: 30px auto;
  }
  #diy-list-panel {
    background: url(../images/media/school_book/bg-diy-central-mobile.png) center center repeat-y;
    background-size: 100%;
  }
}
