#school-book-header {
  background: url(../images/media/school_book/bg-header.png) center center #f3c75b no-repeat;
}
#school-book-header #school-book-header-panel {
  max-width: 1280px;
  margin: 0 auto;
  background: url(../images/media/school_book/bg-header-top.png) center center no-repeat;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel h1,
#school-book-header #school-book-header-panel #school-book-header-content-panel h2 {
  margin: 0;
  font-weight: normal;
  font-style: normal;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel .text-left {
  color: #7e641e;
  font-size: 80px;
  float: left;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel .text-right {
  float: left;
  color: #b98c23;
  font-size: 48px;
  line-height: 38px;
  padding: 23px 0 35px 20px;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel .text-right span {
  display: block;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel .text-right .text-under {
  color: #7e641e;
  font-size: 24px;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item {
  position: relative;
  text-align: center;
  width: 240px;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item img {
  margin: 0 auto;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item .item_game {
  background: url("../images/media/school_book/item-sprite.png") transparent no-repeat;
  background-position: 0px 0px;
  width: 154px;
  height: 122px;
  display: block;
  margin: 0 auto;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item .item_diy {
  background: url("../images/media/school_book/item-sprite.png") transparent no-repeat;
  background-position: -155px 0px;
  width: 154px;
  height: 123px;
  display: block;
  margin: 0 auto;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item .item_story {
  background: url("../images/media/school_book/item-sprite.png") transparent no-repeat;
  background-position: -310px 0px;
  width: 154px;
  height: 123px;
  display: block;
  margin: 0 auto;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item .img-list-normal {
  display: block;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item .img-list-active {
  display: none;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item .text-title {
  margin: 10px 0;
  display: block;
  font-size: 24px;
  color: #b98c23;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item .active-arrow {
  display: none;
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item-active .item_game {
  background: url("../images/media/school_book/item-sprite.png") transparent no-repeat;
  background-position: 0px -123px;
  width: 154px;
  height: 122px;
  display: block;
  margin: 0 auto;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item-active .item_diy {
  background: url("../images/media/school_book/item-sprite.png") transparent no-repeat;
  background-position: -155px -123px;
  width: 154px;
  height: 123px;
  display: block;
  margin: 0 auto;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item-active .item_story {
  background: url("../images/media/school_book/item-sprite.png") transparent no-repeat;
  background-position: -310px -123px;
  width: 154px;
  height: 123px;
  display: block;
  margin: 0 auto;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item-active .img-list-normal {
  display: none;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item-active .img-list-active {
  display: block;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item-active .text-title {
  color: #236bb4;
}
#school-book-header #school-book-header-panel #school-book-header-content-panel #list-menu-top .list-menu-item-active .active-arrow {
  display: block;
}
#school-book-header .slick-slider {
  margin-bottom: 0 !important;
  padding: 0 0 20px 0;
  width: 720px;
  margin: 0 auto;
}
#school-book-header .slick-list {
  overflow: visible !important;
}
.container-wrapper {
  position: relative;
}
.container-wrapper .container-wrapper-detail {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  height: auto;
}
.container-wrapper .container-wrapper-detail .container-detail {
  max-width: 960px;
  margin: 20px auto;
  position: relative;
  z-index: 2;
  min-height: 248px;
}
.container-wrapper .container-wrapper-detail .container-wrapper-top {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}
.container-wrapper .container-wrapper-detail .container-wrapper-bottom {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}
#list-menu-item1-panel {
  background: #b59544;
  position: relative;
}
#list-menu-item1-panel .container-wrapper-top {
  background: url(../images/media/school_book/bg-game-top.png) bottom center no-repeat;
  background-size: cover;
  height: 284px;
}
#list-menu-item1-panel .container-wrapper-bottom {
  background: url(../images/media/school_book/bg-game-bottom.png) top center no-repeat;
  background-size: cover;
  height: 365px;
}
#list-menu-item2-panel .container-wrapper-top {
  background: url(../images/media/school_book/bg-diy-top.png) bottom center no-repeat;
  background-size: cover;
  height: 448px;
}
#list-menu-item2-panel .container-detail {
  background: url(../images/media/school_book/bg-diy-central.png) center center repeat;
  background-size: cover;
}
#list-menu-item2-panel .container-wrapper-bottom {
  background: url(../images/media/school_book/bg-diy-bottom.png) top center no-repeat;
  background-size: cover;
  height: 306px;
}
#list-menu-item3-panel .container-wrapper-top {
  background: url(../images/media/school_book/bg-story-top.png) center bottom no-repeat;
  background-size: cover;
  height: 448px;
}
#list-menu-item3-panel .container-detail {
  background: url(../images/media/school_book/bg-story-central.png) center center repeat;
  background-size: cover;
}
#list-menu-item3-panel .container-wrapper-bottom {
  background: url(../images/media/school_book/bg-story-bottom.png) center top no-repeat;
  background-size: cover;
  height: 460px;
}
#list-menu-item4-panel {
  background: #236bb4;
}
#list-menu-item4-panel .container-wrapper-detail {
  background: url(../images/media/school_book/bg-inner-music.png) center center no-repeat;
  background-size: cover;
  height: auto;
}
@media (max-width: 767px) {
  #school-book-header .slick-slider {
    width: auto;
  }
  .container-wrapper .active-arrow {
    display: block;
    width: 28px;
    height: 14px;
    top: -14px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  #school-book-header .slick-list {
    overflow: hidden !important;
  }
  #school-book-header #school-book-header-panel {
    background: url(../images/media/school_book/bg-header-top-mobile.png) center center no-repeat;
    background-size: 100% 100%;
    text-align: center;
  }
  #school-book-header #school-book-header-panel #school-book-header-content-panel .text-left {
    float: none;
    margin: 50px 0 0 0;
    font-size: 60px;
  }
  #school-book-header #school-book-header-panel #school-book-header-content-panel .text-right .text-top {
    line-height: 40px;
    font-size: 40px;
  }
  #school-book-header #school-book-header-panel #school-book-header-content-panel .text-right .text-under {
    line-height: 20px;
    padding: 5px 0 20px 0;
    font-size: 20px;
  }
  #school-book-header #school-book-header-panel #school-book-header-content-panel .text-right {
    padding: 0 20px;
    float: none;
  }
  .slick-prev,
  .slick-next {
    width: 19px;
    height: 32px;
  }
  .slick-prev:before,
  .slick-next:before {
    width: 19px;
    height: 32px;
  }
  #school-book-header .slick-prev:before {
    content: none;
    background: url('../images/home/trick-mom/arrow-left-mobile.png') repeat;
    background-size: 19px 32px;
  }
  #school-book-header .slick-next:before {
    content: none;
    background: url('../images/home/trick-mom/arrow-right-mobile.png') repeat;
    background-size: 19px 32px;
  }
  #school-book-header .slick-prev {
    background: url('../images/home/trick-mom/arrow-left-mobile.png') repeat;
    background-size: 19px 32px;
    left: 40px;
  }
  #school-book-header .slick-next {
    background: url('../images/home/trick-mom/arrow-right-mobile.png') repeat;
    background-size: 19px 32px;
    right: 40px;
  }
  .slick-prev,
  .slick-next {
    top: 32%;
  }
  .slick-disabled {
    opacity: 0.3;
  }
}
