#dim-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}
#dim-panel .global-loading {
  margin: 0 auto;
  top: 40%;
  z-index: 2;
}
#dim-panel #dim-inner-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 1;
  cursor: pointer;
}
#dim-panel .message-panel-ok {
  padding: 30px 20px 0 20px !important;
}
#dim-panel #popup-panel {
  position: relative;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
  z-index: 2;
}
#dim-panel #popup-panel #popup-inner-panel .logo-s-mom-popup {
  width: 150px;
}
#dim-panel #popup-panel #popup-inner-panel #close-popup {
  background: url('../images/member/btn-close.png') 0 0 no-repeat;
  position: absolute;
  top: -18px;
  right: -10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#dim-panel #popup-panel #popup-inner-panel #check-accept-popup {
  background: url('../images/member/checkbox.png') left 3px no-repeat;
  background-size: 16px;
  padding-left: 20px;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
}
#dim-panel #popup-panel #popup-inner-panel .text-bold {
  font-size: 36px;
  display: block;
  line-height: 36px;
}
#dim-panel #popup-panel #popup-inner-panel .message-ok {
  line-height: 45px;
}
#dim-panel #popup-panel #popup-inner-panel .text-lighter {
  font-size: 30px;
  line-height: 30px;
  display: block;
}
#dim-panel #popup-panel #popup-inner-panel .message-ok-upper {
  font-size: 25px;
  line-height: 25px;
}
#dim-panel .bg-popup-message {
  background: url('../images/member/bg-popup-message.png') 0 0 no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 244px;
  text-align: center;
  padding: 50px 20px 0 20px;
}
#dim-panel #popup-panel.bg-popup-alert {
  max-width: 868px;
}
#dim-panel #popup-panel.bg-popup-alert #popup-inner-panel {
  background: url('../images/member/bg-alert-mom-desktop.png') 0 0 no-repeat;
  height: 480px;
}
#dim-panel #popup-panel.bg-popup-alert #text-popup-left {
  padding: 30px 40px;
  width: 465px;
}
#dim-panel #popup-panel.bg-popup-alert #text-popup1 {
  display: block;
  font-size: 36px;
  line-height: 36px;
}
#dim-panel #popup-panel.bg-popup-alert #text-popup2 {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
}
#dim-panel #popup-panel.bg-popup-alert #text-popup3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
}
#dim-panel #popup-panel.bg-popup-alert #text-popup4 {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}
#dim-panel #popup-panel.bg-popup-alert #btn-accept-condition {
  display: block;
  font-size: 20px;
  line-height: 22px;
  padding-left: 25px;
  background: url('../images/member/btn-accept-condition.png') 0 0 no-repeat;
  margin-top: 20px;
  cursor: pointer;
}
#dim-panel #popup-panel.bg-popup-alert p {
  padding: 0;
  margin: 0;
  text-indent: 60px;
}
.status-mom {
  position: absolute;
  z-index: 1;
  top: 18px;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.text-over {
  position: relative;
  z-index: 2;
  font-size: 20px;
}
.text-over a {
  display: inline !important;
}
.accept {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 1;
}
.age {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 1;
}
.panel-right .formErrorContent {
  margin-left: 40px;
}
.formError .formErrorContent {
  background: #8e6d1d;
  margin-left: 18px;
}
.formError .formErrorArrowBottom {
  display: none;
}
.offset-position {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}
#content-panel #section-1 .section-panel {
  background: url('../images/member/bg-section1.jpg') top center no-repeat;
  background-size: 100%;
  height: 511px;
}
#content-panel #section-1 .section-panel .section-inner-panel {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-left .wrap-inner .img1 {
  position: relative;
  margin-top: 60px;
  margin-left: -50px;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner {
  margin-top: 70px;
  text-align: center;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-1 {
  font-size: 72px;
  display: block;
  line-height: 72px;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-2 {
  font-family: db_helvethaica_xregular;
  font-size: 39px;
  display: block;
  line-height: 39px;
  margin-top: 5px;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-2 img {
  vertical-align: middle;
  top: -9px;
  position: relative;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-3 {
  font-size: 26px;
  display: block;
  line-height: 26px;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-4 {
  font-size: 26px;
  line-height: 26px;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-5 {
  font-size: 26px;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-6 {
  font-size: 36px;
  display: block;
  line-height: 36px;
  margin: 10px 0;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-7 {
  font-size: 22px;
  line-height: 22px;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-8 {
  display: block;
  font-size: 22px;
  margin-top: 30px;
}
#content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-8 a {
  width: 170px;
  height: 40px;
  display: block;
  font-size: 24px;
  border: 1px solid #8e6d1d;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
}
#content-panel #section-2 .section-panel {
  background: url('../images/member/bg-section2.jpg') top center no-repeat;
  background-size: 100%;
  height: 1055px;
}
#content-panel #section-2 .section-panel .section-inner-panel {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}
#content-panel #section-2 .section-panel .section-inner-panel .title-panel {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 40px;
}
#content-panel #section-2 .section-panel .section-inner-panel .title-panel .text-1 {
  font-size: 80px;
  line-height: 60px;
  display: block;
}
#content-panel #section-2 .section-panel .section-inner-panel .title-panel .text-2 {
  font-size: 50px;
  line-height: 50px;
  display: block;
}
#content-panel #section-2 .section-panel .section-inner-panel #content-list-panel {
  margin-bottom: 30px;
}
#content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list {
  height: 290px;
}
#content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list .content-list-wrapper {
  text-align: center;
}
#content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list .content-list-wrapper .img {
  margin: auto auto 15px auto;
}
#content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list .content-list-wrapper .text-panel {
  margin-top: 5px;
  display: block;
}
#content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list .content-list-wrapper .text-panel .text1 {
  font-family: db_helvethaica_xregular;
  font-size: 24px;
  line-height: 24px;
}
#content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list .content-list-wrapper .text-panel .text2 {
  font-size: 20px;
  line-height: 20px;
}
#content-panel #section-3 {
  background: url('../images/member/bg-section3-bottom.jpg') top center repeat-y;
  background-size: 100%;
}
#content-panel #section-3 .section-panel {
  background: url('../images/member/bg-section3.jpg') top center no-repeat;
  background-size: 100%;
  overflow: hidden;
}
#content-panel #section-3 .section-panel .section-inner-panel {
  max-width: 960px;
  margin: 30px auto;
  height: 100%;
}
#content-panel #section-3 .section-panel .section-inner-panel .title-panel {
  font-size: 80px;
  text-align: center;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel {
  width: 455px;
  background: url('../images/member/bg-btn-active.png') repeat;
  text-align: center;
  float: left;
  margin-right: 50px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  padding-bottom: 30px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn {
  margin-top: 30px;
  display: block;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .img-facebook {
  display: inline-block;
  vertical-align: middle;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .img-facebook-active {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .text-btn {
  color: #666666;
  font-size: 30px;
  margin-left: 10px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .text-btn span.bold {
  font-family: db_helvethaica_xregular;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .btn-facebook {
  display: block;
  vertical-align: middle;
  margin: 0px auto;
  cursor: pointer;
  cursor: hand;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .btn-facebook-active {
  display: none;
  cursor: pointer;
  cursor: hand;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .checkbox_box_panel {
  width: calc(100% - 40px);
  margin: 10px auto;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #8e6d1d;
  background-color: #FFF;
  border-radius: 10px;
  opacity: 0.9;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel {
  display: block;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel input {
  opacity: 0;
  position: absolute;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel input ~ span {
  display: block;
  padding-left: 20px ;
  background: url('../images/member/checkbox.png') left 3px no-repeat;
  background-size: 16px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel input:checked ~ span {
  background: url('../images/member/checkbox-active.png') left 3px no-repeat;
  background-size: 16px ;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel .more_condition {
  color: #4D360A;
  font-size: 20px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel .more_condition:hover {
  color: #8e723d;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register-mobile-form {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register-mobile-form {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel .arrow-active {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel .active .arrow-active {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -19px;
  margin: 0 auto;
  display: block;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.active {
  width: 455px;
  background: url('../images/member/bg-btn-facebook.png') repeat;
  text-align: center;
  float: left;
  margin-right: 50px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  padding-bottom: 30px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.active .register-btn {
  margin-top: 30px;
  display: block;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.active .register-btn .img-facebook {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.active .register-btn .img-facebook-active {
  display: inline-block;
  vertical-align: middle;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.active .register-btn .text-btn {
  font-size: 30px;
  color: #ffffff;
  margin-left: 10px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.active .register-btn .text-btn span.bold {
  font-family: db_helvethaica_xregular;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.active .register-btn .btn-facebook {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.active .register-btn .btn-facebook-active {
  display: block;
  vertical-align: middle;
  margin: 0px auto;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel {
  width: 455px;
  background: url('../images/member/bg-btn-active.png') repeat;
  text-align: center;
  float: left;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  padding-bottom: 30px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn {
  margin-top: 30px;
  display: block;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .img-mail {
  display: inline-block;
  vertical-align: middle;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .img-mail-active {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .text-btn {
  color: #666666;
  font-size: 30px;
  margin-left: 10px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .text-btn span.bold {
  font-family: db_helvethaica_xregular;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .btn-mail {
  display: block;
  vertical-align: middle;
  margin: 0px auto;
  cursor: pointer;
  cursor: hand;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .btn-mail-active {
  display: none;
  cursor: pointer;
  cursor: hand;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .checkbox_box_panel {
  width: calc(100% - 40px);
  margin: 16px auto 10px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #8e6d1d;
  background-color: #FFF;
  border-radius: 10px;
  opacity: 0.9;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel {
  display: block;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel input {
  opacity: 0;
  position: absolute;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel input ~ span {
  display: block;
  padding-left: 20px ;
  background: url('../images/member/checkbox.png') left 3px no-repeat;
  background-size: 16px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel input:checked ~ span {
  background: url('../images/member/checkbox-active.png') left 3px no-repeat;
  background-size: 16px ;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel .more_condition {
  color: #4D360A;
  font-size: 20px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .checkbox_box_panel .checkbox_panel .more_condition:hover {
  color: #8e723d;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.active {
  width: 455px;
  background: url('../images/member/bg-btn-mail.png') repeat;
  text-align: center;
  float: left;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  padding-bottom: 30px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.active .register-btn {
  margin-top: 30px;
  display: block;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.active .register-btn .img-mail {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.active .register-btn .img-mail-active {
  display: inline-block;
  vertical-align: middle;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.active .register-btn .text-btn {
  font-size: 30px;
  color: #ffffff;
  margin-left: 10px;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.active .register-btn .text-btn span.bold {
  font-family: db_helvethaica_xregular;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.active .register-btn .btn-mail {
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.active .register-btn .btn-mail-active {
  display: block;
  vertical-align: middle;
  margin: 0px auto;
}
#content-panel #section-3 .section-panel .section-inner-panel .form-panel {
  padding: 10px;
  margin: 25px auto auto;
  background: #fff;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  display: none;
}
#content-panel #section-3 .section-panel .section-inner-panel .text-title-form {
  display: block;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  margin: 20px 0 10px 0;
}
#content-panel #section-3 .section-panel .section-inner-panel .text-description-form {
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form {
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  padding: 0 40px;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .inp-text {
  background: none;
  border: 1px solid #8e6d1d;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  text-indent: 10px;
  width: 415px;
  height: 38px;
  margin-bottom: 20px;
  color: #8e6d1d;
  font-size: 20px;
  padding-left: 7px;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .label-list-text {
  background: none;
  border: 1px solid #8e6d1d;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  text-indent: 10px;
  width: 415px;
  height: 38px;
  color: #8e6d1d;
  display: block;
  line-height: 38px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAYCAYAAACBbx+6AAABxUlEQVRYhdXQvUoDQRDA8ZGAhY1YCGF35gUEi1SCpVrbXWUlhGhyM++QSgzJTOsLaC+2gpUgFmKhpW9gZWMhaCzk5Lxb49dd7vzDVrs7/BgAADDGZWO8Hu00l6BmjXaaS8Z4bYzLAPCGVcF7Exqr4P37RQ0K2lTwwoTGyakLOo1N2S5g0PaoQndZtO66VlVY3XWtPJbuBm2PAABBtAk9DGNcmTZ2GOOKCT18ik0atD0a022V6BDWmG5z2KS97eaiCt5k0dpzq2VjtedW85vFm73t5uLEjyG0Cj4O2a+VhR2yX1PBxx9j02hjupoGOoQ1pqtvY5P2OwvzyniZQ4vbKAqrsV/PbZbxcr+zMP+rgSG0MT0pu80/Y9ltGtNTYdg02pjOi0SHsMZ0/mdsUr/j5lTwrAh0cLOCZ/2OmysEOwmtgs+jHm59d8aoh1sq+Fw6No02ptPfoENYYzotDfuOjmDWhE5+gg5ihU76EcyWip2ENsYXjX03+1Zj360Um0EfZyDjNFpj383em9Dx1LFJUQQNZTwKoUNYZTyKImhUgv0KXUtsUhRBQwUP/wU21YwxHeTATAcAMFM17rM+omuOTXpDl4R9BZPCAIroZ4JEAAAAAElFTkSuQmCC') 96% center no-repeat;
  background-size: 22px 12px;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  padding-left: 7px;
  z-index: 3;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .label-list-text .status-list-panel {
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 90%;
  display: none;
  border: 1px solid #fcdf83;
  background: #fcdf83;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 5px 0 0 20px;
  text-indent: 0;
  list-style: none !important;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .label-list-text .status-list-panel div.status-list:hover {
  color: #0b3e8d;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .label-list-text .status-list-panel div.status-list.active {
  color: #0b3e8d;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .label-list-text .status-list-panel div.arrow-top {
  position: absolute;
  top: -17px;
  right: 30px;
  border-color: transparent transparent #fcdf83 transparent;
  border-image: none;
  border-style: solid;
  border-width: 8px;
  height: 1px;
  width: 1px;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .inp-text-even {
  margin-left: 20px;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .checkbox-box-panel {
  margin: 10px auto 20px;
  display: block;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .checkbox-box-panel .checkbox-panel {
  background: url('../images/member/checkbox.png') left 3px no-repeat;
  background-size: 16px;
  padding-left: 20px;
  display: block;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}
#content-panel #section-3 .section-panel .section-inner-panel .box-form .checkbox-box-panel .checkbox-panel.active {
  background: url('../images/member/checkbox-active.png') left 3px no-repeat;
  background-size: 18px;
  padding-left: 20px;
  display: block;
}
#content-panel #section-3 .section-panel .section-inner-panel .label-placeholder {
  padding-left: 18px !important;
  padding-top: 10px !important;
  color: #8e6d1d;
  font-size: 20px;
}
#content-panel #section-3 .section-panel .section-inner-panel .btn-register {
  width: 170px;
  height: 40px;
  display: block;
  font-size: 24px;
  border: 1px solid #8e6d1d;
  background: #8e6d1d;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  line-height: 40px;
}
#content-panel #section-3 .box-child_date {
  display: none;
}
.ui-datepicker {
  z-index: 999 !important;
}
.radio-box {
  width: 15%;
}
.radio-box .input-radio {
  margin-right: 5px;
}
.radio-box .text-radio {
  font-size: 20px;
}
.status-mom-panel {
  margin-bottom: 20px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAaCAMAAADPAI+fAAAAjVBMVEUAAACJbB2ObR2ObB6ObR2ObR2ObR2ObhyObR2ObR2PcBuOcRyZZhqNbRuObR2Pbh2IZiKPbRyObR2qVQCPbB2PcB+SbSSPcCCObR2Nbh2PbB2AgACObR2ObRyObh2AgCuObR2ObR2NbR+ObRyObR2LdBePbR2ObR2ObR2ObR6Nbh2QbxyOcRyPbB2ObR0Dh/KfAAAAL3RSTlMAGoPP9vXQh+h8MAkKL5OqD4ipA4YZDhDngn0EhemOBoz/Mc70C+Xs64p7LhuE0STZ5hEAAAC9SURBVHgB7dJFgoMwAEDRj7tXcJfx+99urJ5VDtC/QR6QBEDsmaJqumGqiryAZTuu5weObclLGMWnnTgKZSVJM06RpTs52dsHrh3zvYxQlEBV503bAWUhyClB0FygH35rgXES5JQgzAuwDr9tgKcLckoQdA94GX5bAd8Q5JQgTCPwepmeqwly6iTCcrN2a3aV/IvY5zHXDvZeRsC6/4SJjJx+lsP1Z5EVSOy3d98bndySF/j4/DL0SVXk5dkPdoMRKEUIIAgAAAAASUVORK5CYII=') no-repeat;
  background-position: -30px -4px;
  cursor: pointer;
}
input[type="radio"]:checked + label span {
  background-position: -4px -4px;
}
.hidden-value {
  position: absolute;
  border: 0;
  text-indent: -999px;
  left: 5px;
  bottom: 5px;
  z-index: -1;
}
.panel-eating {
  color: #8e6d1d;
  width: 100%;
}
.panel-eating .data-left {
  font-size: 20px;
  float: left;
}
.panel-eating .data-right {
  margin-left: 14px;
  float: left;
  position: relative;
  width: 50%;
}
.panel-eating .data-right .radio-box {
  font-size: 20px;
  float: left;
  margin: 0 14px;
}
.panel-eating .panel-eating-choice {
  padding-left: 17px;
  box-sizing: border-box;
}
.panel-eating .panel-eating-text {
  margin-top: 15px;
}
@media (max-width: 767px) {
  .status-mom-panel {
    margin-bottom: 0px;
  }
  .panel-eating .panel-eating-choice {
    padding-left: 20px;
  }
  .panel-eating .panel-eating-choice .data-left {
    float: none;
    width: 100%;
  }
  .panel-eating .panel-eating-choice .data-right {
    float: none;
    width: 100%;
    margin: 0;
  }
  .panel-eating .panel-eating-choice .data-right .radio-box {
    width: 50%;
    margin: 0;
  }
  .panel-eating .panel-eating-text {
    margin-top: 0;
  }
  #text-popup-left .show-logo {
    display: block !important;
  }
  #text-popup-left .hide-logo {
    display: none !important;
  }
  .accept,
  .status-mom {
    right: 0;
  }
  #dim-panel .message-panel-ok {
    padding: 9px 20px 0 20px !important;
  }
  #dim-panel #popup-panel #popup-inner-panel .logo-s-mom-popup {
    width: 100px;
  }
  #content-panel #section-1 .section-panel {
    background: url('../images/member/bg-mobile-section1.jpg') top center no-repeat;
    height: auto;
    background-size: 100% 100%;
  }
  #content-panel #section-1 .section-panel .section-inner-panel .content-left .wrap-inner .img1 {
    margin: 80px auto auto;
    display: block;
    width: 70%;
    left: 5%;
  }
  #content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner {
    margin-top: 10px;
    padding: 0 20px;
  }
  #content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-1 {
    font-size: 44px;
    line-height: 44px;
  }
  #content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-2 {
    font-size: 25px;
    line-height: 25px;
  }
  #content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-2 img {
    top: -3px;
    width: 65%;
  }
  #content-panel #section-1 .section-panel .section-inner-panel .content-right .wrap-inner .text-8 a {
    margin: auto auto 20px auto;
  }
  #content-panel #section-2 {
    background: url('../images/member/bg-mobile-section2-bottom.jpg') top center repeat;
    background-size: 100%;
  }
  #content-panel #section-2 .section-panel .section-inner-panel .title-panel {
    padding: 0 20px;
  }
  #content-panel #section-2 .section-panel {
    background: url('../images/member/bg-mobile-section2.jpg') top center no-repeat;
    background-size: 100%;
    height: auto;
  }
  #content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list {
    margin: 20px auto 10px auto;
    height: auto;
  }
  #content-panel #section-2 .section-panel .section-inner-panel .title-panel .text-1 {
    font-size: 42px;
    line-height: 42px;
  }
  #content-panel #section-2 .section-panel .section-inner-panel .title-panel .text-2 {
    font-size: 30px;
    line-height: 30px;
  }
  #content-panel #section-2 .section-panel .section-inner-panel #content-list-panel {
    padding: 0 20px;
  }
  #content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list .content-list-wrapper .text-panel .text1 {
    font-size: 22px;
    line-height: 22px;
  }
  #content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list .content-list-wrapper .text-panel .text2 {
    font-size: 18px;
    line-height: 18px;
  }
  #content-panel #section-2 .section-panel .section-inner-panel #content-list-panel .content-list .content-list-wrapper .img {
    width: 90%;
  }
  #menu-list-panel {
    padding: 0 20px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .title-panel {
    font-size: 40px;
    padding: 0 20px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel {
    width: 100% !important;
    margin-top: 20px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #facebook-register-mobile-form {
    margin-top: 30px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .form-panel {
    margin: 0 auto;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel {
    width: 100% !important;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .img-facebook {
    width: 40px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .img-facebook-active {
    width: 40px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #facebook-register.menu-list-panel .register-btn .text-btn {
    font-size: 22px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .img-mail {
    width: 40px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .img-mail-active {
    width: 40px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel #menu-list-panel #email-register.menu-list-panel .register-btn .text-btn {
    font-size: 22px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .box-form .inp-text {
    margin: 10px auto;
    width: 96% !important;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .box-form .label-list-text {
    margin: 10px 0;
    width: 96% !important;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .box-form .inp-text-even {
    margin-left: 0;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .text-title-form {
    font-size: 40px;
    line-height: 40px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .text-description-form {
    font-size: 26px;
    line-height: 26px;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .label-placeholder {
    padding-top: 20px !important;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .box-form {
    padding: 0 20px;
  }
  .formError .formErrorContent {
    margin-top: 10px;
    margin-left: 18px;
  }
  #dim-panel #popup-panel {
    max-width: 268px;
    top: 5%;
  }
  #dim-panel .bg-popup-message {
    padding: 21px 10px 0 10px;
    top: 34% !important;
  }
  #dim-panel #popup-panel #popup-inner-panel .text-bold {
    font-size: 24px;
    line-height: 24px;
  }
  #dim-panel #popup-panel #popup-inner-panel .text-lighter {
    font-size: 18px;
    line-height: 18px;
  }
  #dim-panel #popup-panel #popup-inner-panel #close-popup {
    background: url('../images/member/btn-close.png') 0 0 no-repeat;
    position: absolute;
    top: -8px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
  #dim-panel #popup-panel.bg-popup-alert {
    max-width: 562px;
    top: 80px;
    padding: 0 20px;
  }
  #dim-panel #popup-panel.bg-popup-alert #popup-inner-panel {
    background: url('../images/member/bg-alert-mom-mobile.png') 0 0 no-repeat;
    height: auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid transparent;
  }
  #dim-panel #popup-inner-top-panel {
    padding: 20px 0 20px 20px;
    height: 117px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid transparent;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup-left {
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup1 {
    font-size: 30px;
    line-height: 30px;
    padding-left: 2px;
    padding-right: 10px;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup2 {
    font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup3 {
    font-size: 20px;
    line-height: 20px;
  }
  #dim-panel #popup-panel.bg-popup-alert p {
    text-indent: 20px;
    padding-left: 2px;
  }
  #dim-panel #popup-panel.bg-popup-alert #btn-accept-condition {
    background: url('../images/member/btn-accept-condition.png') 2px 0 no-repeat;
  }
  #dim-panel #popup-panel.bg-popup-alert #text-popup4 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 5px;
  }
  #dim-panel #popup-top-panel {
    width: 100%;
    position: relative;
  }
  .logo-mom {
    display: block;
    width: 147px;
    border: 1px solid transparent;
    float: right;
    margin-right: -35px;
    position: relative;
  }
  #content-panel #section-3 .section-panel .section-inner-panel .btn-register {
    margin-bottom: 20px;
  }
  #content-panel #section-3 .section-panel {
    background: url('../images/member/bg-mobile-section3.jpg') top center no-repeat;
    background-size: 100%;
  }
}
