#detail-panel {
  overflow: inherit !important;
}
#detail-panel #detail-box {
  overflow: inherit !important;
  background: #fff0d1 !important;
  padding: 0 0 0 0 !important;
}
#detail-panel #detail-box #detail-content {
  max-width: 100% !important;
  margin: 0px auto !important;
}
.header_top {
  background: url("../stocks/custom_page/o0x0/5v/ti/e3lu5vtitw/miracle1_day_n_night_bg.png") transparent center bottom no-repeat;
  background-size: cover;
  height: 660px;
  position: relative;
  top: -100px;
}
.header_top .secound_bg {
  background: url("../stocks/custom_page/o0x0/5z/69/e3lu5z69dv/miracle1_day_n_night.png") transparent center bottom no-repeat;
  background-size: cover;
  height: 660px;
}
.header_top .secound_bg .panel_align {
  width: 1024px;
  height: 660px;
  margin: 0 auto;
  text-align: center;
}
.header_top .secound_bg .panel_align img.head_text {
  margin-top: 74px;
}
.header_top .secound_bg .panel_align img.head_pic {
  margin-top: 50px;
}
.detail_panel {
  width: 970px;
  margin: 0 auto;
  font-family: db_helvethaica_x_li;
  font-size: 30px;
  padding-bottom: 30px;
}
.detail_panel p {
  margin: 0px;
}
.detail_panel p.para_top {
  color: #8e6d1d;
}
.detail_panel p.para_2 {
  margin-top: 20px;
  text-indent: 70px;
}
.detail_panel .pic1 {
  margin-top: 30px;
  text-align: center;
}
.detail_panel .pic1-2 {
  display: none;
}
.detail_panel p.para_3 {
  margin-top: 30px;
}
.detail_panel p.para_3 img {
  margin-right: 20px;
}
.detail_panel p.para_3 span.blue {
  font-size: 36px;
  color: #005aab;
}
.detail_panel p.para_3 span.indent_p {
  display: inline;
  text-indent: 70px;
  margin-top: 10px;
}
.detail_panel .pic2 {
  margin-right: 41px;
  margin-top: 18px;
}
.detail_panel p.para_4 {
  text-indent: 70px;
  margin-top: 20px;
}
.detail_panel p.para_5 {
  text-indent: 70px;
  margin-top: 20px;
}
.detail_panel p.para_6 {
  text-indent: 70px;
  margin-top: 20px;
}
.detail_panel p.para_6 span.bold {
  font-family: db_helvethaica_xregular;
}
.detail_panel p.para_7 {
  text-indent: 70px;
  margin-top: 20px;
}
.detail_panel .pic3 {
  text-align: center;
}
.detail_panel .pic3 img {
  margin-right: 53px;
  margin-top: 20px;
}
.detail_panel .pic3_explan {
  width: 620px;
  margin: 0px auto;
  text-align: left;
  font-size: 24px;
  font-style: italic;
}
.detail_panel .line {
  margin: 20px 0px;
  border-bottom: 1px #000 solid;
}
.detail_panel .reference {
  font-size: 18px;
  font-style: italic;
}
.detail_panel .reference .superscript {
  font-size: 14px;
  vertical-align: super;
}
.detail_panel span.superscript {
  font-size: 18px;
  vertical-align: super;
}
@media (max-width: 767px) {
  #detail-panel {
    overflow: inherit !important;
  }
  #detail-panel #detail-box {
    overflow: inherit !important;
    background: #fff0d1 !important;
    padding: 0 0 0 0 !important;
  }
  #detail-panel #detail-box #detail-content {
    max-width: 100% !important;
    margin: 0px auto !important;
    padding: 0px !important;
  }
  .header_top {
    background: #fff0d1;
    position: relative;
    top: 0px;
    height: inherit;
  }
  .header_top .secound_bg {
    background: url("../stocks/custom_page/o0x0/bj/jg/e3m0bjjgu0/miracle1_day_n_night_bg_mobile.png") transparent center top no-repeat;
    background-size: cover;
    height: inherit;
  }
  .header_top .secound_bg .panel_align {
    width: inherit;
    margin: 0 auto;
    text-align: center;
    height: inherit;
  }
  .header_top .secound_bg .panel_align img.head_text {
    margin-top: 37px;
    width: calc(100% - 40px);
  }
  .header_top .secound_bg .panel_align img.head_pic {
    margin-top: 20px;
    width: 211px;
  }
  .detail_panel {
    width: calc(100% - 40px);
    margin: 20px auto 0;
    font-family: db_helvethaica_x_li;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .detail_panel p {
    margin: 0px;
  }
  .detail_panel p.para_top {
    color: #8e6d1d;
  }
  .detail_panel p.para_2 {
    margin-top: 20px;
    text-indent: 40px;
  }
  .detail_panel .pic1 {
    display: none;
  }
  .detail_panel p.para_3 {
    margin-top: 30px;
  }
  .detail_panel p.para_3 img {
    width: 78px;
    margin-right: 20px;
  }
  .detail_panel p.para_3 br {
    line-height: 30px;
  }
  .detail_panel p.para_3 span.blue {
    font-size: 22px;
    color: #005aab;
  }
  .detail_panel p.para_3 span.indent_p {
    display: inline;
    text-indent: 40px;
    margin-top: 10px;
  }
  .detail_panel p.para_3 span.indent_p span {
    display: none;
  }
  .detail_panel .pic2 {
    width: 260px;
    margin-right: 7px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .detail_panel p.para_4 {
    text-indent: 40px;
    margin-top: 20px;
  }
  .detail_panel p.para_5 {
    text-indent: 40px;
    margin-top: 20px;
  }
  .detail_panel p.para_6 {
    text-indent: 40px;
    margin-top: 20px;
  }
  .detail_panel p.para_6 span.bold {
    font-family: db_helvethaica_xregular;
  }
  .detail_panel p.para_7 {
    text-indent: 40px;
    margin-top: 20px;
  }
  .detail_panel .pic3 {
    text-align: center;
  }
  .detail_panel .pic3 img {
    margin-right: 0px;
    margin-top: 17px;
    margin-left: -7px;
    width: 100%;
  }
  .detail_panel .pic3_explan {
    width: 100%;
    margin: 0px auto;
    text-align: left;
    font-size: 16px;
    font-style: italic;
  }
  .detail_panel .line {
    margin: 20px 0px;
    border-bottom: 1px #000 solid;
  }
  .detail_panel .reference {
    font-size: 15px;
    font-style: italic;
  }
  .detail_panel .reference .superscript {
    font-size: 12px;
    vertical-align: super;
  }
  .detail_panel span.superscript {
    font-size: 14px;
    vertical-align: super;
  }
}
