#detail-panel #detail-box #detail-content {
  max-width: inherit;
  margin: 0;
  padding: 0;
}
.color-blue-light {
  color: #005aab;
}
.color-gold-light {
  color: #a27d32;
}
.color-black {
  color: #000;
}
#detail-panel {
  background: none;
}
#detail-panel sup {
  font-size: 18px;
}
#detail-panel #detail-box {
  background: none;
  padding: 0;
}
#detail-panel #detail-box #detail-content1 {
  overflow: hidden;
}
#detail-panel #detail-box #detail-content1 #detail-inner-content1 {
  background: url('../images/miracle4/banner-top-bg.jpg') no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  height: 752px;
  position: relative;
}
#detail-panel #detail-box #detail-content1 #detail-inner-content1 h1 {
  margin: 0;
  positon: relative;
}
#detail-panel #detail-box #detail-content1 #detail-inner-content1 h1 .img-title {
  margin: 0 auto;
  position: relative;
  top: -35px;
}
#detail-panel #detail-box #detail-content1 #detail-inner-content1 h1 .text-title-1 {
  text-align: center;
  display: block;
}
#detail-panel #detail-box #detail-content1 #detail-inner-content1 h1 .text-title-2 {
  text-align: center;
  display: block;
}
#detail-panel #detail-box #detail-content1 #detail-inner-content1 h1 .img-baby {
  margin: 0 auto;
}
#detail-panel #detail-box #detail-content2 {
  background: #fff0d1;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1 {
  position: relative;
  top: -20px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1 .paragraph-1-1 {
  display: block;
  color: #005aab;
  font-size: 48px;
  line-height: 48px;
  text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff, 1px 0 0 #ffffff, 2px 2px 0 #ffffff, -2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px -2px 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff, 1px 2px 0 #ffffff, -1px 2px 0 #ffffff, 1px -2px 0 #ffffff, -1px -2px 0 #ffffff, 2px 1px 0 #ffffff, -2px 1px 0 #ffffff, 2px -1px 0 #ffffff, -2px -1px 0 #ffffff;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1 .paragraph-1-2 {
  font-style: italic;
  display: block;
  color: #f36f21;
  font-size: 30px;
  text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff, 1px 0 0 #ffffff, 2px 2px 0 #ffffff, -2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px -2px 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff, 1px 2px 0 #ffffff, -1px 2px 0 #ffffff, 1px -2px 0 #ffffff, -1px -2px 0 #ffffff, 2px 1px 0 #ffffff, -2px 1px 0 #ffffff, 2px -1px 0 #ffffff, -2px -1px 0 #ffffff;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-2 {
  padding: 0 0 20px 0;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-2 .paragraph-2-1 {
  font-size: 30px;
  line-height: 35px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 .text-normal {
  font-size: 30px;
  line-height: 35px;
  position: relative;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 p {
  text-indent: 40px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-3 .img-child-play {
  position: relative;
  float: right;
  width: 365px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-3 .p3-change {
  margin-bottom: 0;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-3 .list-p-first-change {
  margin-top: 10px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-3 p.p-list-change {
  margin-top: 10px;
  margin-bottom: 0;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-5 {
  position: relative;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-5 .img-child {
  position: relative;
  float: left;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-5 .p-change {
  margin-top: 0;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-6 {
  padding: 20px 0 0 0;
  position: relative;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-6 .img-dha {
  float: left;
  margin-right: 60px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-6 .img-lutein {
  float: right;
  margin-left: 80px;
  position: relative;
  top: -55px;
  left: -80px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-7 {
  padding: 30px 0 20px 0;
  border-bottom: 1px solid #000;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-7 .img-alpha-lactalbumin {
  float: left;
  margin-right: 170px;
  position: relative;
  right: -100px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-8 {
  padding: 20px 0 0 0;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-8 p {
  margin: 20px 0;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-8 .paragraph-8-1 {
  display: block;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-8 .paragraph-8-1 div {
  display: block;
  font-size: 18px;
  line-height: 23px;
}
#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-8 .paragraph-8-1 div sup {
  font-size: 16px;
  line-height: 16px;
}
@media screen and (max-width: 767px) {
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-5 .img-lactalbumin {
    width: 100px;
    margin: 0 20px 0 0;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-5 .img-choline {
    right: 25px;
    bottom: -35px;
  }
  #paragraph-6 p {
    margin: 40px 0 30px 0;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-3 .img-baby {
    top: 0;
    left: inherit;
  }
  #detail-panel #detail-box #detail-content1 #detail-inner-content1 h1 .img-title {
    top: 35px;
    width: 90%;
  }
  #detail-panel #detail-box #detail-content1 #detail-inner-content1 {
    background: url('../images/miracle4/banner-top-bg-mobile.jpg') center bottom;
    background-size: cover;
    height: 400px;
    margin: 0 auto;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1 {
    top: 0;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 {
    padding: 0 20px 40px 20px;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1 .paragraph-1-1 {
    font-size: 25px;
    line-height: 25px;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-2 {
    padding: 0;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-2 .paragraph-2-1 {
    font-size: 20px;
    line-height: 20px;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1 .paragraph-1-2 {
    font-size: 20px;
    line-height: 24px;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 .text-normal {
    font-size: 20px;
    line-height: 23px;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-8 .paragraph-8-1 span {
    margin: 10px 0;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-6 {
    padding: 0;
  }
  .img-dha-lutein {
    margin: 20px auto 20px auto;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-7 .img-alpha-lactalbumin {
    margin-right: 20px;
    right: inherit;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-5 .img-child {
    margin: 40px auto auto auto;
    float: none;
  }
  #detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-3 .img-child-play {
    width: auto;
    margin: 20px 0;
  }
  .p-change {
    margin-top: 0;
  }
  #paragraph-6 .FBold {
    padding: 0 0 0 40px;
  }
}
