#wapKnowledgeDetail {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#wapKnowledgeDetail .detail-panel {
  background: url('../images/mommy_gadget/bg-detail.jpg') top center no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 35px;
}
#wapKnowledgeDetail .detail-panel #detail-content {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 50px;
  padding: 0;
}
#wapKnowledgeDetail .detail-panel #detail-content .detail-wapper {
  margin: 30px 0 35px 0;
}
#wapKnowledgeDetail .detail-panel #detail-content .btn-back {
  display: inline-block;
  border: 2px solid #a87914;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 24px;
  font-family: "db_helvethaica_xregular";
  text-align: center;
  color: #a87914;
  cursor: pointer;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-title {
  font-size: 48px;
  color: #0b3e8d;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: normal;
  font-family: "db_helvethaica_bold";
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-date {
  padding-right: 10px;
  border-right: 1px solid #f0d78f;
  font-size: 20px;
  color: #8e6d1d;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-views {
  /*padding: 0 10px;*/
  font-size: 20px;
  color: #96772f;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-views .icon-view {
  width: 25px;
  vertical-align: middle;
  padding: 0 5px 0 0;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-share {
  padding-left: 10px;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-share #facebook {
  display: inline-block;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-share #facebook .icon-share {
  width: 70px;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-share #twitter {
  display: inline-block;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-share #twitter .icon-twitter {
  width: 80px;
  vertical-align: middle;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-wrapper {
  margin: 30px 0;
}
#wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-wrapper img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
#relate-panel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#relate-panel #relate-content {
  background: url('../images/mommy_gadget/bg-bottom.jpg') top left no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}
#relate-panel #relate-content .relate-title {
  max-width: 926px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  color: #8E6D1D;
  font-size: 40px;
  line-height: 48px;
  text-shadow: 2px 2px 1px rgba(255, 251, 234, 0.7);
}
#relate-panel #relate-content #relate-list {
  list-style: none;
  max-width: 926px;
  padding: 20px 0 0;
  margin: 0 auto;
  height: 175px;
}
#relate-panel #relate-content #relate-list .relate-item {
  width: 450px;
  height: 136px;
  margin-right: 25px;
  background: #fbf4e1;
  position: relative;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-image {
  width: 255px;
  display: inline-block;
  vertical-align: top;
  float: left;
  position: relative;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail {
  float: left;
  width: 195px;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail .relate-item-detail-title {
  font-size: 24px;
  color: #4d4d4d;
  margin-top: 15px;
  display: block;
  padding: 0 20px;
  word-wrap: break-word;
  line-height: 24px;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail .relate-item-detail-description {
  font-size: 20px;
  color: #666666;
  margin-top: 5px;
  display: block;
  padding: 0 20px;
  line-height: 20px;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail-link {
  position: absolute;
  right: 142px;
  bottom: 10px;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail-link .icon-link {
  display: inline-block;
}
#relate-panel #relate-content #relate-list .relate-item .list-body-link-bookmark {
  position: absolute;
  bottom: 10px;
  right: 60px;
  border: 1px solid #8e6d1d;
  width: 113px;
  height: 34px;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#relate-panel #relate-content #relate-list .relate-item .list-body-link-bookmark img {
  display: inline-block;
  vertical-align: -4%;
  margin-right: 3px;
}
#relate-panel #relate-content #relate-list .relate-item .list-body-link-bookmark .text-bookmark {
  vertical-align: middle;
  color: #6b4e08;
  font-size: 24px;
}
#relate-panel .slick-prev:before {
  content: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
#relate-panel .slick-next:before {
  content: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
#relate-panel .slick-prev {
  left: -60px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
#relate-panel .slick-next {
  right: -60px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
#relate-panel .slick-prev,
#relate-panel .slick-next {
  width: 19px;
  height: 32px;
}
#relate-panel .slick-prev:before,
#relate-panel .slick-next:before {
  width: 19px;
  height: 32px;
}
#relate-panel .slick-disabled {
  display: none !important;
}
#bottom-panel {
  width: 100%;
  height: 165px;
}
#bottom-panel #recommend {
  width: 50%;
  height: 100%;
  background: url('../images/momtip/detail/bg-share.jpg') no-repeat;
  background-size: cover;
  background-position: right;
  float: left;
}
#bottom-panel #recommend .recommend-inner {
  width: 478px;
  height: 100%;
  float: right;
  display: table;
}
#bottom-panel #recommend .recommend-inner .recommend-panel {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 22px;
  color: #8e6d1d;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .recommend-panel-text {
  padding-bottom: 25px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share {
  width: 190px;
  height: 50px;
  display: inline-block;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  border-radius: 5px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link .icon-share {
  width: 30px;
  height: 30px;
  position: absolute;
  background: url('../images/momtip/detail/icon-share.png') no-repeat;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link .facebook {
  background-position: 3px 1px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link .twitter {
  background-position: -35px 1px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link .text-share {
  font-size: 22px;
  color: #fff;
  padding-left: 20px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share #facebook {
  background-color: #2c5f9a;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share #twitter {
  background-color: #17bfee;
}
#bottom-panel #rating {
  width: 50%;
  height: 100%;
  background-color: #0b3e8d;
  float: left;
}
#bottom-panel #rating .rating-inner {
  width: 473px;
  height: 100%;
  display: table;
}
#bottom-panel #rating .rating-inner .rating-panel {
  padding-top: 20px;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-text {
  padding-bottom: 20px;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-text .rating-text {
  font-size: 30px;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice {
  display: inline-table;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner {
  display: table-cell;
  vertical-align: middle;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 11px;
  cursor: pointer;
  background: url('../images/momtip/detail/rating-unactive.png') center no-repeat;
  position: relative;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rate-text-number {
  font-size: 50px;
  display: block;
  padding-top: 15px;
  position: relative;
  z-index: 2;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rate-text-desc {
  font-size: 18px;
  position: relative;
  z-index: 2;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rating-active {
  width: 98px;
  height: 99px;
  position: absolute;
  top: -12px;
  left: -11px;
  background: url('../images/momtip/detail/rating-active.png') center;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number:last-of-type {
  margin: 0px;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number.active-hover {
  background: url('../images/momtip/detail/rating-active.png') center;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number.active {
  color: #926a16;
}
@media screen and (max-width: 767px) {
  #wapKnowledgeDetail .detail-panel {
    background: url('../images/mommy_gadget/bg-detail-mobile.jpg') top center no-repeat;
    background-size: cover;
    padding-top: 190px;
    padding-bottom: 35px;
  }
  #wapKnowledgeDetail .detail-panel #detail-content {
    padding: 0 20px;
    padding-top: 30px;
  }
  #wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-share {
    display: block;
    padding: 10px 0 0;
  }
  #wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-share #facebook .icon-share {
    width: 120px;
  }
  #wapKnowledgeDetail .detail-panel #detail-content #detail-bar #detail-share #twitter .icon-twitter {
    width: 130px;
  }
  #relate-panel #relate-content {
    background: url('../images/mommy_gadget/bg-bottom-mobile.jpg') top left no-repeat;
    background-size: cover;
    padding-bottom: 0px;
  }
  #relate-panel #relate-content .relate-title {
    width: 90%;
    font-size: 34px;
    line-height: 34px;
  }
  #relate-panel #relate-content .relate-momtip-panel-list {
    width: 90%;
    margin: 0 auto;
  }
  #relate-panel #relate-content #relate-list {
    height: 380px;
    width: 260px;
    left: 3px;
  }
  #relate-panel #relate-content #relate-list .relate-item {
    height: 300px;
    width: 255px;
    margin: 0 5px 0 0;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-image {
    display: block;
    float: none;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-detail {
    display: block;
    float: none;
    width: auto;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-detail .relate-item-detail-title {
    display: block;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-detail .relate-item-detail-description {
    display: block;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-detail-link {
    left: 20px;
    right: inherit;
  }
  #relate-panel #relate-content #relate-list .relate-item .list-body-link-bookmark {
    right: auto;
    left: 70px;
  }
  #relate-panel .slick-prev {
    left: -30px;
  }
  #relate-panel .slick-next {
    right: -25px;
  }
  #bottom-panel {
    height: 200px;
    border: 0;
  }
  #bottom-panel #recommend {
    width: 100%;
  }
  #bottom-panel #recommend .recommend-inner {
    width: 100%;
    float: none;
  }
  #bottom-panel #recommend .recommend-inner .recommend-panel .btn-share {
    display: block;
    margin: 0 auto 10px;
  }
  #bottom-panel #rating {
    width: 100%;
    height: auto;
  }
  #bottom-panel #rating .rating-inner {
    width: 100%;
  }
  #bottom-panel #rating .rating-inner .rating-panel {
    padding: 20px 0;
  }
  #bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number {
    width: 64px;
    height: 71px;
    background-size: cover;
    margin: 0;
  }
  #bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rate-text-number {
    font-size: 35px;
    line-height: 15px;
    padding-top: 20px;
  }
  #bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rating-active {
    width: 70px;
    height: 71px;
    background-size: cover;
    top: 0;
    left: -2px;
    z-index: 1;
  }
}
