#detail-panel {
  width: 100%;
  position: relative;
  overflow: hidden;
  /*background: url('../images/momtip/detail/bg-footer.jpg') top center repeat-y;*/
  background-color: #fff2c6;
}
#detail-panel #detail-box {
  /*background: url('../images/momtip/detail/bg-full.jpg') center center no-repeat;*/
  background-position: center center;
  background-repeat: repeat;
  background-size: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 50px 0;
}
#detail-panel #detail-box #detail-content {
  list-style: none;
  padding: 0;
  max-width: 960px;
  margin: 50px auto 10px auto;
}
#detail-panel #detail-box #detail-content #detail-title {
  font-size: 48px;
  color: #0b3e8d;
  margin: 0 0 10px 0;
  padding: 0;
}
#detail-panel #detail-box #detail-content #detail-bar #detail-date {
  padding-right: 10px;
  font-size: 20px;
  color: #8e6d1d;
}
#detail-panel #detail-box #detail-content #detail-bar #detail-views {
  /*padding: 0 10px;*/
  font-size: 20px;
  color: #96772f;
}
#detail-panel #detail-box #detail-content #detail-bar #detail-views .icon-view {
  width: 25px;
  vertical-align: middle;
  padding: 0 5px 0 0;
}
#detail-panel #detail-box #detail-content #detail-bar #detail-share #manage-favorite {
  display: none;
  border-left: 1px solid #f0d78f;
  padding-left: 10px;
  font-size: 20px;
  color: #96772f;
}
#detail-panel #detail-box #detail-content #detail-bar #detail-share #manage-favorite .img {
  display: inline-block;
  width: 15px;
  height: 14px;
  padding-right: 5px;
}
#detail-panel #detail-box #detail-content #detail-bar #detail-share #manage-favorite .img img {
  vertical-align: -2px;
}
#detail-panel #detail-box #detail-content #detail-bar .list-body-link-bookmark {
  position: relative;
  border: 1px solid #8e6d1d;
  width: 112px;
  height: 30px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  float: right;
}
#detail-panel #detail-box #detail-content #detail-bar .list-body-link-bookmark img {
  display: inline-block;
  vertical-align: -6%;
  margin-right: 3px;
}
#detail-panel #detail-box #detail-content #detail-bar .list-body-link-bookmark .text-bookmark {
  vertical-align: middle;
  color: #6b4e08;
  font-size: 24px;
}
#detail-panel #detail-box #detail-content #detail-wrapper {
  margin: 30px 0;
}
#detail-panel #detail-box #detail-content #detail-wrapper img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
#detail-panel #detail-box #detail-content #detail-wrapper #video-panel {
  margin: auto auto 20px auto;
}
#detail-panel #detail-box #detail-content #detail-wrapper #video-panel #youtube-player {
  margin: 0 auto;
}
#detail-panel #detail-box #detail-content #detail-wrapper #video-panel #youtube-player iframe {
  margin: 0 auto;
}
#detail-panel #detail-box #detail-content #detail-wrapper #video-panel .video-player {
  display: block;
  margin: 0 auto;
  width: 100%;
}
#detail-panel #detail-box #detail-content #detail-wrapper #img-mobile {
  margin-bottom: 20px;
}
#detail-panel #detail-box #detail-content #detail-wrapper #img-mobile img {
  margin: 0 auto;
}
#detail-panel #detail-box #detail-content #detail-wrapper #detail-box-content {
  float: left;
  width: 50%;
}
#detail-panel #detail-box #detail-content #detail-wrapper #detail-box-content.display-full {
  width: 100% !important;
  float: none;
}
#detail-panel #detail-box #detail-content #detail-wrapper #img-desktop {
  float: left;
  width: 50%;
}
#detail-panel #detail-box #detail-content #detail-wrapper #img-desktop img {
  padding-left: 30px;
}
#bottom-panel {
  width: 100%;
  height: 165px;
  border-bottom: 1px solid #ebebeb;
}
#bottom-panel #recommend {
  width: 50%;
  height: 100%;
  background: url('../images/momtip/detail/bg-share.jpg') no-repeat;
  background-size: cover;
  background-position: right;
  float: left;
}
#bottom-panel #recommend .recommend-inner {
  width: 478px;
  height: 100%;
  float: right;
  display: table;
}
#bottom-panel #recommend .recommend-inner .recommend-panel {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 22px;
  color: #8e6d1d;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .recommend-panel-text {
  padding-bottom: 25px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share {
  width: 190px;
  height: 50px;
  display: inline-block;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  border-radius: 5px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link .icon-share {
  width: 30px;
  height: 30px;
  position: absolute;
  background: url('../images/momtip/detail/icon-share.png') no-repeat;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link .facebook {
  background-position: 3px 1px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link .twitter {
  background-position: -35px 1px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share .share-link .text-share {
  font-size: 22px;
  color: #fff;
  padding-left: 20px;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share #facebook {
  background-color: #2c5f9a;
}
#bottom-panel #recommend .recommend-inner .recommend-panel .btn-share #twitter {
  background-color: #17bfee;
}
#bottom-panel #rating {
  width: 50%;
  height: 100%;
  background-color: #0b3e8d;
  float: left;
}
#bottom-panel #rating .rating-inner {
  width: 473px;
  height: 100%;
  display: table;
}
#bottom-panel #rating .rating-inner .rating-panel {
  padding-top: 20px;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-text {
  padding-bottom: 20px;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-text .rating-text {
  font-size: 30px;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice {
  display: inline-table;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner {
  display: table-cell;
  vertical-align: middle;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 11px;
  cursor: pointer;
  background: url('../images/momtip/detail/rating-unactive.png') center no-repeat;
  position: relative;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rate-text-number {
  font-size: 50px;
  display: block;
  padding-top: 15px;
  position: relative;
  z-index: 2;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rate-text-desc {
  font-size: 18px;
  position: relative;
  z-index: 2;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rating-active {
  width: 98px;
  height: 99px;
  position: absolute;
  top: -12px;
  left: -11px;
  background: url('../images/momtip/detail/rating-active.png') center;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number:last-of-type {
  margin: 0px;
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number.active-hover {
  /*width: 98px;
								height: 99px;
								position: absolute;
								top: -12px;
								left: -11px;*/
  background: url('../images/momtip/detail/rating-active.png') center;
  /*position: absolute;*/
}
#bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number.active {
  color: #926a16;
}
#relate-panel {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: 100%;
  background-color: #fff2c6;
}
#relate-panel #relate-content {
  /*background: url('../images/momtip/detail/bg-relate_new.jpg') top center no-repeat;*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#relate-panel #relate-content #relate-list {
  list-style: none;
  max-width: 926px;
  padding: 40px 0;
  margin: 0 auto;
  height: 212px;
}
#relate-panel #relate-content #relate-list .relate-item {
  width: 450px;
  height: 136px;
  margin-right: 25px;
  background: #fbf4e1;
  position: relative;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-image {
  width: 255px;
  display: inline-block;
  vertical-align: top;
  float: left;
  position: relative;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail {
  float: left;
  width: 195px;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail .relate-item-detail-title {
  font-size: 24px;
  color: #4d4d4d;
  margin-top: 15px;
  display: block;
  padding: 0 20px;
  word-wrap: break-word;
  line-height: 24px;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail .relate-item-detail-description {
  font-size: 20px;
  color: #666666;
  margin-top: 5px;
  display: block;
  padding: 0 20px;
  line-height: 20px;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail-link {
  position: absolute;
  right: 142px;
  bottom: 10px;
}
#relate-panel #relate-content #relate-list .relate-item .relate-item-detail-link .icon-link {
  display: inline-block;
}
#relate-panel #relate-content #relate-list .relate-item .list-body-link-bookmark {
  position: absolute;
  bottom: 10px;
  right: 60px;
  border: 1px solid #8e6d1d;
  width: 113px;
  height: 34px;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#relate-panel #relate-content #relate-list .relate-item .list-body-link-bookmark img {
  display: inline-block;
  vertical-align: -4%;
  margin-right: 3px;
}
#relate-panel #relate-content #relate-list .relate-item .list-body-link-bookmark .text-bookmark {
  vertical-align: middle;
  color: #6b4e08;
  font-size: 24px;
}
#relate-panel .slick-prev:before {
  content: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABMklEQVRIia3WP0vEMBgG8OcUz7+fwY8hCIqzq9zsF9DFUaduOnmLuPULdGy7dmuX61oooVMzFLu4SEDapnG4FtoDj0vzPmvgRxKS932B6ZkBOABwCGDfwMEMwHGSJPdCiJVlWedTwR56aNu2VkopIcSq26E+lKbpo1JKKqWUlPI3juMF1kc2g6IoWgA46tZ3yh6AE8bYEwmUZdmz6iKl/AnD8I4ECoLgFusL14JOGWMvJFCe569U0FsPNU3z7bruDSU014XOOOdLEqgois8equv6y/O8KxLIcZwLXQgA5mVZfvRQVVWlbduXHaQdUoz0mP+Cvu9fG4Gc83fTpzEESR7tLqDWd9oEjT/6CKQoQUOQpDhuBaeU7RFI0VD6kLW6reCUJjwCKcaDTdB4cBmCo5HqDygk9JMvi6wyAAAAAElFTkSuQmCC') no-repeat;
}
#relate-panel .slick-next:before {
  content: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABFUlEQVRIicXWvUqFcBjH8a8djvZ2DV1GEBTNrdHcDdTSWJNbTbVEmzfgeHR10+W4CiJOOkguLSGE+teG04GGJv+P9FzABx54Xn6wqQVgAUvAQKMWtm0fNU2zTpLkGtjTAa2madbjOI7DMHRJktzogMs4jq+UUl/jplSaprdTQQPYjaJoXjDLsjtgH9iZBIZheKmU+vwBxzzP73VAKwiCi1nBLMsegAMxsCiKRy1wtVqd933/8Qt80gHN2cGyLF+Aw8mg53mnXde9b8Gqqt60QNd1j6VAANNxnJO2bestWNf1K2D+GybWpgGYvu+fiUB/jMazCDRlaMXWSWzRxU6Q2HEUO9tiD0X01Yk+YdF4IBpcQChSfQOzxPSTj7UenAAAAABJRU5ErkJggg==') no-repeat;
}
#relate-panel .slick-prev {
  left: -60px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABMklEQVRIia3WP0vEMBgG8OcUz7+fwY8hCIqzq9zsF9DFUaduOnmLuPULdGy7dmuX61oooVMzFLu4SEDapnG4FtoDj0vzPmvgRxKS932B6ZkBOABwCGDfwMEMwHGSJPdCiJVlWedTwR56aNu2VkopIcSq26E+lKbpo1JKKqWUlPI3juMF1kc2g6IoWgA46tZ3yh6AE8bYEwmUZdmz6iKl/AnD8I4ECoLgFusL14JOGWMvJFCe569U0FsPNU3z7bruDSU014XOOOdLEqgois8equv6y/O8KxLIcZwLXQgA5mVZfvRQVVWlbduXHaQdUoz0mP+Cvu9fG4Gc83fTpzEESR7tLqDWd9oEjT/6CKQoQUOQpDhuBaeU7RFI0VD6kLW6reCUJjwCKcaDTdB4cBmCo5HqDygk9JMvi6wyAAAAAElFTkSuQmCC') no-repeat;
}
#relate-panel .slick-next {
  right: -60px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABFUlEQVRIicXWvUqFcBjH8a8djvZ2DV1GEBTNrdHcDdTSWJNbTbVEmzfgeHR10+W4CiJOOkguLSGE+teG04GGJv+P9FzABx54Xn6wqQVgAUvAQKMWtm0fNU2zTpLkGtjTAa2madbjOI7DMHRJktzogMs4jq+UUl/jplSaprdTQQPYjaJoXjDLsjtgH9iZBIZheKmU+vwBxzzP73VAKwiCi1nBLMsegAMxsCiKRy1wtVqd933/8Qt80gHN2cGyLF+Aw8mg53mnXde9b8Gqqt60QNd1j6VAANNxnJO2bestWNf1K2D+GybWpgGYvu+fiUB/jMazCDRlaMXWSWzRxU6Q2HEUO9tiD0X01Yk+YdF4IBpcQChSfQOzxPSTj7UenAAAAABJRU5ErkJggg==') no-repeat;
}
#relate-panel .slick-prev,
#relate-panel .slick-next {
  width: 19px;
  height: 32px;
}
#relate-panel .slick-prev:before,
#relate-panel .slick-next:before {
  width: 19px;
  height: 32px;
}
#relate-panel .slick-disabled {
  display: none !important;
}
@media screen and (max-width: 767px) {
  #detail-panel {
    /*background: url('../images/momtip/detail/bg-footer-mobile.jpg') top center repeat;*/
    background-size: cover;
  }
  #detail-panel #detail-box {
    /*background: url('../images/momtip/detail/bg-full.jpg') center center no-repeat;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  #detail-panel #detail-box #detail-content {
    padding: 90px 20px 0;
  }
  #detail-panel #detail-box #detail-content #detail-title {
    margin: 70px 0 10px 0;
  }
  #detail-panel #detail-box #detail-content #detail-bar #detail-share {
    display: block;
    padding: 10px 0 0 0;
  }
  #detail-panel #detail-box #detail-content #detail-bar #detail-share #manage-favorite {
    border-left: 0;
  }
  #detail-panel #detail-box #detail-content #detail-bar #detail-views {
    border: none;
  }
  #relate-panel {
    /*background: url('../images/momtip/detail/bg-relate-mobile_new.jpg') top center repeat;*/
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
  }
  #relate-panel #relate-content {
    /*background: url('../images/momtip/detail/bg-relate-mobile_new.jpg') top center no-repeat;*/
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
  }
  #relate-panel #relate-content #relate-list {
    height: 380px;
    width: 255px;
  }
  #relate-panel #relate-content #relate-list .relate-item {
    height: 300px;
    width: 255px;
    margin: 0 auto;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-image {
    display: block;
    float: none;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-detail {
    display: block;
    float: none;
    width: auto;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-detail .relate-item-detail-title {
    display: block;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-detail .relate-item-detail-description {
    display: block;
  }
  #relate-panel #relate-content #relate-list .relate-item .relate-item-detail-link {
    left: 20px;
    right: inherit;
  }
  #relate-panel .slick-prev {
    left: -30px;
  }
  #relate-panel .slick-next {
    right: -30px;
  }
  #detail-panel #detail-box #detail-content #detail-wrapper #detail-box-content {
    width: 100%;
    float: none;
  }
  #bottom-panel {
    height: 200px;
    border: 0;
  }
  #bottom-panel #recommend {
    width: 100%;
  }
  #bottom-panel #recommend .recommend-inner {
    width: 100%;
    float: none;
  }
  #bottom-panel #recommend .recommend-inner .recommend-panel .btn-share {
    display: block;
    margin: 0 auto 10px;
  }
  #bottom-panel #rating {
    width: 100%;
    height: auto;
  }
  #bottom-panel #rating .rating-inner {
    width: 100%;
  }
  #bottom-panel #rating .rating-inner .rating-panel {
    padding: 20px 0;
  }
  #bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number {
    width: 64px;
    height: 71px;
    background-size: cover;
    margin: 0;
  }
  #bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rate-text-number {
    font-size: 35px;
    line-height: 15px;
    padding-top: 20px;
  }
  #bottom-panel #rating .rating-inner .rating-panel .rating-panel-choice .rating-panel-choice-inner .rating-number .rating-active {
    width: 70px;
    height: 71px;
    background-size: cover;
    top: 0;
    left: -2px;
    z-index: 1;
  }
  #detail-panel #detail-box #detail-content #detail-bar .list-body-link-bookmark {
    position: relative;
    border: 1px solid #8e6d1d;
    width: 117px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    float: none;
    display: block;
    margin: 10px 0;
  }
  #detail-panel #detail-box #detail-content #detail-bar .list-body-link-bookmark img {
    display: inline-block;
    vertical-align: -6%;
    margin-right: 3px;
  }
  #detail-panel #detail-box #detail-content #detail-bar .list-body-link-bookmark .text-bookmark {
    vertical-align: middle;
    color: #6b4e08;
    font-size: 24px;
  }
}
