#header-momtip {
  background: #ffdf88;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#header-momtip #header-momtip-panel {
  /*	background: url('../images/momtip/bg-main.jpg') center center no-repeat;*/
  background-repeat: center center;
  background-position: center center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 480px;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper {
  max-width: 970px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content {
  width: 650px;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h1 {
  color: #0b3e8d;
  font-size: 70px;
  margin: 25px 0 20px 0;
  font-weight: normal;
  font-style: normal;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h1 .logo-mom {
  vertical-align: middle;
  padding-right: 10px;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h2 {
  color: #8e6d1d;
  font-size: 44px;
  margin: 0 0 0px 0;
  line-height: 40px;
  min-height: 50px;
  padding: 10px 20px 0 56px;
  font-weight: normal;
  font-style: normal;
  background: url('../images/momtip/quote.png') top left no-repeat;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h3 {
  color: #0b3e8d;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 36px;
  padding-left: 56px;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h3 span {
  color: #8e6d1d;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content article {
  font-size: 24px;
  color: #444444;
  margin: 5px 0 0 0;
  padding-left: 56px;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content article p {
  margin: 0 0 5px 0;
  /*text-indent: 40px;*/
}
#header-momtip #header-momtip-panel #header-momtip-wrapper .mom {
  position: absolute;
  bottom: -18px;
  right: -157px;
  width: 50%;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #mom-2 {
  bottom: 0;
  width: 45%;
}
#header-momtip #header-momtip-panel #header-momtip-wrapper #mom-3 {
  bottom: 0;
  width: 50%;
  bottom: -14px;
}
#header-momtip .content-en {
  height: 595px !important;
}
#header-momtip .content-en h1 {
  margin-top: 45px !important;
}
#header-momtip .content-en h3 {
  padding: 25px 0px 0px !important;
  font-size: 36px !important;
}
#header-momtip .content-en article {
  padding-left: 0px !important;
  margin-top: 15px !important;
}
.panel_cat {
  position: relative;
}
.panel_cat .panel_subcat_even {
  width: 100%;
  position: relative;
  overflow: hidden;
  /*background:#fff2c5 url('../images/momtip/bg-even_new1.jpg') center center no-repeat;*/
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff2c5;
  background-size: auto;
  height: 565px;
}
.panel_cat .panel_subcat_odd {
  width: 100%;
  position: relative;
  overflow: hidden;
  /*background:#fff2c5 url('../images/momtip/bg-odd_new1.jpg') center center no-repeat;*/
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff2c5;
  height: 565px;
}
.panel_cat .list-content-panel {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 592px;
}
.panel_cat .list-content-panel .title-subcat {
  font-size: 52px;
  text-align: center;
  color: #a87914;
  margin-top: 30px;
  margin-bottom: 25px;
  line-height: 45px;
}
.panel_cat .list-content-panel .trick-mom-list {
  max-width: 970px;
  position: relative;
  margin: 0 auto;
}
.panel_cat .list-content-panel .list-panel {
  width: 100%;
  height: 100%;
  position: relative;
}
.panel_cat .list-content-panel .list-panel .list-item {
  /*width: 301px !important;*/
  margin: 0 10px;
  float: left;
  background: url('../images/knowledge/bg_list.png') top center repeat;
  height: 414px;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-img-panel {
  height: 207px;
  width: 280px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  display: block;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-img-panel img {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: relative;
  width: 100%;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-img-panel .cover-video {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 72px;
  height: 72px;
  top: 32%;
}
.panel_cat .list-content-panel .list-panel .list-item .badge-list {
  background: url(../images/knowledge/badge.png) 0 0 no-repeat;
  width: 62px;
  height: 56px;
  position: absolute;
  bottom: 169px;
  right: 26px;
  color: #FFFFFF;
  font-family: "db_helvethaica_x_med";
  text-align: center;
  line-height: 20px;
}
.panel_cat .list-content-panel .list-panel .list-item .badge-list .txt-day {
  font-size: 36px;
  display: block;
  margin-top: 13px;
}
.panel_cat .list-content-panel .list-panel .list-item .badge-list .txt-month {
  font-size: 18px;
  display: block;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-content-panel {
  height: 120px;
  overflow: hidden;
  margin: 10px 0 15px 0;
  padding: 0 20px;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-content-panel .view-panel {
  text-align: left;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-content-panel .view-panel .view_icon {
  float: left;
  width: 28px;
  margin-top: 3px;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-content-panel .view-panel .view_number {
  font-size: 18px;
  color: #a87914;
  margin-left: 5px;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-content-panel a.list-body-title {
  color: #0b3e8d;
  font-size: 26px;
  margin: 0 0 10px;
  line-height: 26px;
  display: block;
  text-align: left;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-content-panel a.list-body-description {
  color: #666666;
  font-size: 22px;
  margin: 0 0 0 0;
  display: block;
  text-align: left;
  font-family: 'db_helvethaica_xregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-link {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-link img {
  margin: 0 auto;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-link-bookmark {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  border: 1px solid #8e6d1d;
  width: 113px;
  height: 34px;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-link-bookmark img {
  display: inline-block;
  vertical-align: -4%;
  margin-right: 3px;
}
.panel_cat .list-content-panel .list-panel .list-item .list-body-link-bookmark .text-bookmark {
  vertical-align: middle;
  color: #6b4e08;
  font-size: 24px;
}
.panel_cat .list-content-panel .list-panel .list-item-center {
  /*margin: 0 1.4%;*/
}
.panel_cat .slick-disabled {
  display: none !important;
}
.panel_cat .slick-prev:before {
  content: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
.panel_cat .slick-next:before {
  content: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
.panel_cat .slick-prev {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
  /*left: 15px;*/
}
.panel_cat .slick-next {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
  /*right: 15px;*/
}
.panel_cat .slick-prev,
.panel_cat .slick-next {
  /*top:25%;*/
  top: calc(34%);
  width: 19px;
  height: 32px;
}
.panel_cat .slick-prev:before,
.panel_cat .slick-next:before {
  width: 19px;
  height: 32px;
}
@media screen and (max-width: 767px) {
  #header-momtip {
    background: none;
  }
  #header-momtip .content-en {
    height: auto !important;
  }
  #header-momtip .content-en h1 {
    margin-top: 45px !important;
  }
  #header-momtip .content-en h3 {
    padding: 0px !important;
  }
  #header-momtip .content-en article {
    padding-left: 0px !important;
    margin-top: 15px !important;
  }
  #header-momtip #header-momtip-panel {
    height: auto;
    padding-top: 190px;
    /*background: url('../images/momtip/bg-mobile.png') center center no-repeat;*/
    background-size: 100% 100%;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper {
    /*background: url('../images/momtip/bg-top-mobile.png') center center no-repeat;*/
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content {
    padding: 0 20px;
    width: auto;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper .mom {
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #mom-2 {
    width: 100%;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #mom-3 {
    width: 100%;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h1 {
    font-size: 58px;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h2 {
    font-size: 46px;
  }
  .panel_cat .panel_subcat_even {
    background-position: top left;
    background-size: 120%;
  }
  .panel_cat .panel_subcat_odd {
    background-position: top right;
    background-size: 120%;
  }
  .panel_cat .list-content-panel .trick-mom-list {
    max-width: 310px;
  }
  .panel_cat .list-content-panel .list-panel {
    width: 100%;
  }
  .panel_cat .list-content-panel .list-panel .list-item .list-body-img-panel {
    width: 270px;
  }
  .panel_cat .slick-next {
    top: calc(25%);
  }
  .panel_cat .slick-prev {
    top: calc(25%);
  }
}
@media screen and (max-width: 420px) {
  #header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h1 {
    font-size: 35px;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h2 {
    font-size: 31px;
    line-height: 31px;
    padding: 10px 0 10px 45px;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content h3 {
    font-size: 28px;
    padding-left: 0px;
    padding-bottom: 5px;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content article {
    padding-left: 0px;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper #header-momtip-content article p {
    margin: 0 0 10px 0;
  }
  #header-momtip #header-momtip-panel #header-momtip-wrapper .mom {
    width: 100%;
  }
  .panel_cat .panel_subcat_even,
  .panel_cat .panel_subcat_odd {
    height: 540px;
  }
  .panel_cat .list-content-panel .list-panel .list-item .list-body-img-panel {
    width: 270px;
  }
  .panel_cat .list-content-panel .title-subcat {
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 30px;
  }
  .panel_cat .slick-next {
    right: 20px;
    top: calc(25%);
  }
  .panel_cat .slick-prev {
    left: 20px;
    top: calc(25%);
  }
}
