#register-panel-inner .register-panel-top .main-title-cheng-pass {
  font-size: 32px !important;
}
#register-panel-inner .register-panel-top {
  border-bottom: 0px !important;
}
#register-panel-inner .register-panel-top-left .display_name_panel {
  display: none;
}
#register-panel-inner .register-panel-top-left .email_panel {
  display: none;
}
#register-panel #register-panel-inner .register-panel-top .register-panel-top-right .register-panel-top-right-inner {
  padding: 10px 20px !important;
}
#register-panel #register-panel-inner .register-panel-top .register-panel-top-right {
  height: auto !important;
}
#register-panel #register-panel-inner .register-panel-top .register-panel-top-right .register-panel-top-right-inner .description-list {
  font-family: db_helvethaica_x_med;
  font-size: 20px;
}
#register-panel #register-panel-inner .register-panel-top .register-panel-top-right .register-panel-top-right-inner .guide-panel-list {
  padding: 5px 0 10px 5px !important;
  list-style: none;
  font-family: db_helvethaica_x_med;
  font-size: 18px;
}
#register-panel #register-panel-inner .register-panel-top .register-panel-top-right .register-panel-top-right-inner .guide-panel-list .guide-box {
  padding: 7.5px 0;
}
#register-panel #register-panel-inner .register-panel-top .register-panel-top-right .register-panel-top-right-inner .guide-panel-list .guide-box .hint {
  display: block;
  font-size: 16px;
  font-family: db_helvethaica_x_li;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#register-panel #register-panel-inner .register-panel-top .register-panel-top-right .register-panel-top-right-inner .guide-panel-list .guide-box .FLighter {
  list-style: none;
  font-family: db_helvethaica_x_med;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  #register-panel {
    padding-top: 160px !important;
  }
  #register-panel #register-panel-inner .register-panel-top {
    padding-bottom: 20px !important;
  }
  #register-panel {
    font-family: db_helvethaica_xregular;
  }
  #register-panel #register-panel-inner .register-panel-top {
    border-bottom: 0px !important;
  }
  #register-panel #register-panel-inner .register-panel-top .register-panel-top-left {
    margin: 0px !important;
    width: 100%;
  }
  #register-panel #register-panel-inner .register-panel-top .register-panel-top-right {
    width: 100% !important;
    height: auto !important;
  }
  #register-panel #register-panel-inner .register-panel-top .main-title-cheng-pass {
    font-size: 40px;
  }
}
