#s26_progress_gold {
  overflow: hidden;
}
#s26_progress_gold .fixed-panel {
  width: 100%;
  height: calc(259.75vw);
  min-height: 2943px;
  position: relative;
  background-color: #f1ebc9;
}
#s26_progress_gold .fixed-panel .img-responsive {
  width: 100%;
}
#s26_progress_gold .fixed-panel .panel-plot {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  cursor: default;
}
#s26_progress_gold .fixed-panel .panel-plot.panel1 {
  top: 820px;
}
#s26_progress_gold .fixed-panel .panel-plot.panel2 {
  top: 1400px;
}
#s26_progress_gold .fixed-panel .panel-plot.panel3 {
  top: 1925px;
}
#s26_progress_gold .fixed-panel .panel-plot.panel4 {
  bottom: 0;
}
#s26_progress_gold .section {
  background-size: cover;
  background-position: center;
}
#s26_progress_gold .section .panel_align {
  width: 1024px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
#s26_progress_gold .section .panel_align .detail_link .inner_detail_link {
  display: inline-block;
}
#s26_progress_gold .section .panel_align .detail_link .inner_detail_link .inner_link_btn {
  font-family: db_helvethaica_x_li;
  border: #8e6d1d 1px solid;
  border-radius: 40px;
  width: 222px;
  height: 62px;
  line-height: 62px;
  font-size: 30px;
  color: #8e6d1d;
  text-align: center;
  padding-top: 5px;
  margin-right: 20px;
}
#s26_progress_gold .section .panel_align .detail_link .inner_detail_link .inner_link_btn:hover {
  border: #af8c1f 1px solid;
  color: #af8c1f;
}
#s26_progress_gold .section .panel_align .detail_link .inner_detail_link .link_btn_last {
  margin-right: 0px;
}
#s26_progress_gold .section .panel_align .detail_panel .picture_panel {
  width: 49.5%;
}
#s26_progress_gold .section .panel_align .detail_panel .description_panel {
  font-family: db_helvethaica_x_li;
  font-size: 24px;
  width: 49.5%;
}
#s26_progress_gold .banner {
  width: 100%;
  height: 720px;
  background-image: url("../images/product/progress_gold/banner.jpg");
  background-position: bottom;
}
#s26_progress_gold .banner .section-inner {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#s26_progress_gold .banner .section-inner .banner-text {
  position: absolute;
  left: -43px;
  bottom: 75px;
  z-index: 2;
}
#s26_progress_gold .banner .section-inner .banner-product {
  position: absolute;
  right: -83px;
  bottom: 0;
  z-index: 1;
}
#s26_progress_gold .s1_bg {
  padding-top: 50px;
  background-image: url("../images/product/progress_gold/s1_bg.jpg");
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .picture_panel {
  width: 370px !important;
  position: relative;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .picture_panel img {
  position: absolute;
  top: 30px;
  left: 30px;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel {
  width: 600px;
  text-align: left;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d1 {
  font-family: db_helvethaica_x_med;
  color: #0b3e8c;
  font-size: 60px;
  display: inline-block;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d2 {
  line-height: 26px;
  font-size: 55px;
  display: inline-block;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d2 .name1 {
  color: #8e6d1d;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d2 .name2 {
  color: #0b3e8c;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d3 {
  font-family: db_helvethaica_xregular;
  font-weight: bold;
  line-height: 30px;
  margin-top: 0px;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d3 .quote1 {
  color: #d6a846;
  font-size: 50px;
  vertical-align: -36%;
  margin-right: 8px;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d3 .text {
  color: #8e6d1d;
  font-size: 36px;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d3 .quote2 {
  color: #d6a846;
  font-size: 50px;
  vertical-align: -52%;
  margin-left: 7px;
}
#s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d4 {
  margin-bottom: -10px;
  color: #8e6d1d;
  margin-top: 15px;
}
#s26_progress_gold .s2_bg {
  background-image: url("../images/product/progress_gold/s2_big_bg.jpg");
  overflow: hidden;
  position: relative;
  background-color: #FFEAB9;
}
#s26_progress_gold .s2_bg .layer2_kid {
  background-image: url("../images/product/progress_gold/s2-06.png");
  background-position: bottom;
  width: 1024px;
  height: 610px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}
#s26_progress_gold .s2_bg .bar_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 150px;
}
#s26_progress_gold .s2_bg .panel_align img {
  width: 90%;
}
#s26_progress_gold .s2_bg .panel_align .img-curve {
  position: absolute;
  bottom: 0px;
  left: 5.5%;
}
#s26_progress_gold .s2_bg .panel_align .top_text {
  margin-top: 20px;
}
#s26_progress_gold .s2_bg .panel_align .bottom_text_and_pic_align {
  width: 1024px;
  position: absolute;
  bottom: 0;
}
#s26_progress_gold .s2_bg .panel_align .bottom_text_and_pic_align .bottom_text_and_pic {
  position: relative;
}
#s26_progress_gold .s2_bg .panel_align .bottom_text_and_pic_align .bottom_text_and_pic .text {
  position: absolute;
  left: 0;
  bottom: 10px;
}
#s26_progress_gold .s2_bg .panel_align .bottom_text_and_pic_align .bottom_text_and_pic .pic {
  position: absolute;
  right: 0;
  bottom: -75px;
}
#s26_progress_gold .s2_bg .panel_align .permit {
  position: absolute;
  bottom: 16px;
  right: 13px;
  font-size: 8px;
}
#s26_progress_gold .s3_bg {
  background-image: url("../images/product/progress_gold/s3_bg.jpg");
  overflow: hidden;
}
#s26_progress_gold .s3_bg .panel_align {
  margin-bottom: 30px;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .picture_panel {
  margin-top: 84px;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left {
  font-family: db_helvethaica_xregular;
  position: absolute;
  left: 29px;
  top: 30px;
  z-index: 10;
  text-align: left;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d1 {
  font-family: db_helvethaica_x_li;
  color: #0b3e8c;
  font-size: 80px;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d2 {
  color: #0b3e8c;
  font-size: 48px;
  line-height: 36px;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d2 .bold {
  font-family: db_helvethaica_xregular;
  font-weight: bold;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d3 {
  color: #0b3e8c;
  font-size: 48px;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d3 .italic {
  font-style: italic;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .pic_mobile {
  display: none;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d4 {
  color: #666;
  margin-top: -15px;
  width: 480px;
  font-size: 24px;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d4 img {
  position: relative;
  top: 13px;
  margin-right: 13px;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d4 p {
  margin: 13px 0px;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d4 p span.blue {
  font-family: db_helvethaica_xregular;
  font-size: 36px;
  color: #0b3e8d;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_right {
  font-family: db_helvethaica_xregular;
  font-size: 24px;
  margin-top: 110px;
  text-align: left;
  color: #666;
  width: 46.9%;
}
#s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_right p {
  margin: 13px 0px;
}
#s26_progress_gold .s4_bg {
  background-image: url("../images/product/progress_gold/s4_bg.png");
  overflow: hidden;
  position: relative;
}
#s26_progress_gold .s4_bg img.bar_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 150px;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .header_panel {
  text-align: left;
  font-family: db_helvethaica_x_li;
  font-size: 72px;
  color: #FFFFFF;
  margin-top: 34px;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .picture_panel {
  width: 310px;
  position: absolute;
  right: 35px;
  top: 20px;
  z-index: 10;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel {
  text-align: left;
  color: #666;
  width: 604px;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d1 {
  margin-top: -10px;
  color: #FFFFFF;
  font-size: 48px;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d1 b {
  font-family: db_helvethaica_xregular;
  font-weight: bold;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 {
  color: #FFFFFF;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 .header {
  font-size: 36px;
  color: #FFFFFF;
  font-family: db_helvethaica_x_med;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 .gold {
  color: #FFFFFF;
  font-family: db_helvethaica_x_med;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 ul {
  list-style-image: url('../images/product/progress_gold/s5_bullet_desktop.png');
  margin-left: -20px;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 ul li {
  margin: 10px 0;
}
#s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 .remark {
  margin-top: 10px;
  font-size: 18px;
}
#s26_progress_gold .s4_bg .bg-curve {
  position: absolute;
  bottom: -70px;
  width: 100%;
  z-index: 5;
}
#s26_progress_gold .s5_bg {
  background-image: url("../images/product/progress_gold/s5_bg.jpg");
  overflow: hidden;
}
#s26_progress_gold .s5_bg .panel_align .detail_panel .header_panel {
  text-align: left;
  font-family: db_helvethaica_x_li;
  font-size: 80px;
  color: #8e6d1d;
  margin-top: 53px;
  width: 516px;
}
#s26_progress_gold .s5_bg .panel_align .detail_panel .picture_panel img {
  margin-top: 40px;
}
#s26_progress_gold .s5_bg .panel_align .detail_panel .description_panel {
  text-align: left;
  color: #666;
  width: 513px;
}
#s26_progress_gold .s5_bg .panel_align .detail_panel .description_panel ul {
  list-style-image: url('../images/product/progress_gold/s5_bullet_desktop.png');
  margin-left: -20px;
}
#s26_progress_gold .s5_bg .panel_align .detail_panel .description_panel ul li {
  margin: 10px 0;
}
#s26_progress_gold .s6_bg {
  background-color: #eff4fc;
  overflow: hidden;
}
#s26_progress_gold .s6_bg .panel_align .detail_panel .header_panel {
  text-align: left;
  font-family: db_helvethaica_x_li;
  font-size: 48px;
  color: #8e6d1d;
  margin-top: 53px;
  width: 516px;
  position: relative;
  z-index: 10;
}
#s26_progress_gold .s6_bg .panel_align .detail_panel .picture_panel {
  width: 759px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
#s26_progress_gold .s6_bg .panel_align .detail_panel .picture_panel img {
  margin-top: -176px;
  margin-left: 164px;
}
#s26_progress_gold .s6_bg .panel_align .detail_panel .description_panel {
  text-align: left;
  color: #666;
  width: 525px;
  position: relative;
  z-index: 10;
}
#s26_progress_gold .s6_bg .panel_align .detail_panel .description_panel ul {
  list-style-image: url('../images/product/progress_gold/s5_bullet_desktop.png');
  margin-left: -14px;
}
#s26_progress_gold .s6_bg .panel_align .detail_panel .description_panel ul li {
  margin: 10px 0;
}
#s26_progress_gold .s7_bg {
  background-image: url("../images/product/progress_gold/s7_bg.jpg");
  overflow: hidden;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .header_panel {
  font-family: db_helvethaica_x_li;
  color: #8e6d1d;
  margin-top: 36px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .header_panel .l1 {
  font-size: 48px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .header_panel .l2 {
  font-size: 60px;
  line-height: 57px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel {
  width: 100%;
  margin-top: 28px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s {
  display: inline-block;
  width: 47.8%;
  vertical-align: top;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .head_s {
  vertical-align: top;
  background: url('../images/product/progress_gold/s7_head_box.png') transparent no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 114px;
  height: 93px;
  line-height: 93px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .description_s {
  padding-left: 10px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  color: #8e6d1d;
  padding-top: 3px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .description_s span {
  font-size: 18px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 {
  border: 1px solid #EEE;
  color: #FFF;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  overflow: hidden;
  width: 442px;
  margin: 28px 0px 20px 34px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.head_left_top {
  background: #0055a5;
  width: 134px;
  height: 73px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.head_top {
  background: #156fc4;
  width: 308px;
  height: 35px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.head_top1 {
  background: #3e8dd7;
  width: 77px;
  height: 38px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.head_top2 {
  background: #5b9cda;
  width: 77px;
  height: 38px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.head_top3 {
  background: #7cb6ec;
  width: 77px;
  height: 38px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.head_top4 {
  background: #97c9f8;
  width: 77px;
  height: 38px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.head_left {
  background: #64aceb;
  width: 134px;
  height: 40px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.b_top_g {
  border-top: 1px solid #EEE;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.b_left_g {
  border-left: 1px solid #EEE;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td.data {
  background: #FFF;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td {
  vertical-align: middle;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb1 tr td img {
  width: 19px;
  vertical-align: -10%;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 {
  border: 1px solid #EEE;
  color: #FFF;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  overflow: hidden;
  width: 444px;
  margin: 28px 0px 20px 13px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 tr td.head_left_top {
  background: #b4820b;
  width: 250px;
  height: 73px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 tr td.head_right_top {
  background: #cea132;
  width: 194px;
  height: 35px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 tr td.head_left {
  background: #dab764;
  width: 250px;
  height: 40px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 tr td.b_top_g {
  border-top: 1px solid #EEE;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 tr td.data {
  background: #FFF;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 tr td {
  vertical-align: middle;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 tr td img {
  width: 19px;
  vertical-align: -10%;
  margin: 0 8px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view table.tb2 tr td b {
  font-size: 18px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view {
  display: none;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .explan {
  text-align: left;
  font-family: db_helvethaica_xregular;
  font-size: 24px;
  color: #666;
  margin-left: 54px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .explan img {
  width: 31px;
  vertical-align: -23%;
  margin-right: 8px;
}
#s26_progress_gold .s7_bg .panel_align .detail_panel .explan span {
  margin-left: 42px;
}
#s26_progress_gold #article-momtip {
  width: 100%;
  height: auto;
  background: url('../images/home/trick-mom/bg-trick-mom.jpg') top center no-repeat;
}
#s26_progress_gold #article-momtip .article-momtip-panel {
  max-width: 950px;
  height: 630px;
  margin: 0 auto;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-header {
  width: auto;
  padding: 45px 0 15px;
  border-top: solid 1px #d2a12a;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-header .momtip-header-left {
  display: inline-block;
  font-size: 60px;
  color: #d3bb82;
  font-family: 'db_helvethaica_x_med';
  vertical-align: middle;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-header .momtip-header-left .FXregular {
  font-family: 'db_helvethaicamonx';
  font-weight: bold;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-header .momtip-header-left .bold {
  font-family: 'db_helvethaica_xregular';
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-header .momtip-header-right {
  font-family: 'db_helvethaica_xregular';
  display: inline-block;
  font-size: 24px;
  color: #7e6b5d;
  width: 600px;
  line-height: 26px;
  vertical-align: middle;
  padding-left: 25px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body {
  max-width: 960px;
  margin: 0 auto;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box {
  width: 100%;
  float: left;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list {
  list-style: none;
  padding: 0;
  font-family: 'db_helvethaica_xregular';
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body {
  float: left;
  width: 280px;
  padding: 10px;
  height: 410px;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////GQAJyAPKSOz6nwAAAABJRU5ErkJggg==') repeat;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 10px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-content {
  display: block;
  height: 100%;
  position: relative;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover {
  height: 205px;
  margin: 0 auto;
  position: relative;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .trick-img {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-svg {
  margin: 0 auto;
  display: block;
  width: 228px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-image {
  margin: 0 auto;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-logo {
  position: absolute;
  right: 20px;
  bottom: -10px;
  width: 48px;
  height: 48px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite1 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: 0px 0px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite2 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: -48px 0px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite3 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: -96px 0px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .cover-video {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 72px;
  height: 72px;
  top: 32%;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel {
  overflow: hidden;
  margin: 10px 0 15px 0;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .view-panel .view_icon {
  float: left;
  width: 28px;
  margin-top: 3px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .view-panel .view_number {
  font-size: 18px;
  color: #a87914;
  margin-left: 5px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .list-body-title {
  color: #4d4d4d;
  font-size: 24px;
  margin: 0 0 10px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt {
  letter-spacing: 0.2px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-blue {
  font-family: db_helvethaica_bold;
  font-size: 26px;
  line-height: 26px;
  color: #0b3e8d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-gold {
  font-family: db_helvethaica_x_med;
  font-size: 24px;
  color: #a87914;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-black {
  font-family: db_helvethaica_xregular;
  font-size: 26px;
  line-height: 24px;
  color: #000;
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .list-body-desc {
  color: #666666;
  font-size: 22px;
  margin: 0 0 0 0;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link img {
  margin: 0 auto;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  border: 1px solid #8e6d1d;
  width: 113px;
  height: 34px;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark img {
  display: inline-block;
  vertical-align: -9%;
  margin-right: 3px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark .text-bookmark {
  vertical-align: middle;
  color: #6b4e08;
  font-size: 24px;
}
#s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .mobile {
  margin: 0;
}
#s26_progress_gold #article-momtip .slick-prev:before {
  content: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
#s26_progress_gold #article-momtip .slick-next:before {
  content: '';
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
#s26_progress_gold #article-momtip .slick-prev {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
#s26_progress_gold #article-momtip .slick-next {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
#s26_progress_gold #article-momtip .slick-prev,
#s26_progress_gold #article-momtip .slick-next {
  height: 35px;
}
#s26_progress_gold #article-momtip .slick-prev:hover,
#s26_progress_gold #article-momtip .slick-prev:focus {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
#s26_progress_gold #article-momtip .slick-next:hover,
#s26_progress_gold #article-momtip .slick-next:focus {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
#s26_progress_gold #article-momtip .slick-disabled {
  display: none !important;
}
@media (min-width: 768px) {
  #s26_progress_gold .section .panel_align .detail_panel .right {
    float: right;
  }
  #s26_progress_gold .section .panel_align .detail_panel .left {
    float: left;
  }
  #s26_progress_gold .s1_bg .panel_align {
    height: 500px;
  }
  #s26_progress_gold .s2_bg .panel_align {
    height: 610px;
    /*.img-curve {
				    bottom: 0;
				    left: 0;
				    right: 0;
				}*/
  }
  #s26_progress_gold .s3_bg .panel_align {
    height: 506px;
  }
  #s26_progress_gold .s4_bg {
    height: 826px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 {
    width: 590px;
    height: 121px;
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 22px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .cell1 {
    background-color: #d7ad49;
    color: #444;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .cell2 {
    background-color: #edc667;
    color: #444;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .cell3 {
    background-color: #fedd8d;
    color: #444;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .cell {
    background-color: #FFF;
    color: #666;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .DrowA {
    position: absolute;
    height: 53px;
    line-height: 55px;
    top: 0px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .DrowB {
    position: absolute;
    height: 70px;
    line-height: 70px;
    top: 53px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .Dcol1 {
    width: 196px;
    left: 0px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .Dcol2 {
    width: 198px;
    left: 196px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .Dcol3 {
    width: 196px;
    left: 394px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .border {
    border-left: 1px solid #EEE;
  }
  #s26_progress_gold .s5_bg .panel_align {
    height: 435px;
  }
  #s26_progress_gold .s6_bg .panel_align {
    height: 430px;
  }
  #s26_progress_gold .s7_bg .panel_align {
    height: 597px;
  }
}
@media (max-width: 767px) {
  #s26_progress_gold {
    width: 100%;
    padding-top: 150px;
  }
  #s26_progress_gold .fixed-panel {
    width: 100%;
    height: calc(100vw * 8.374);
    min-height: 1430px;
    margin: 0 auto;
  }
  #s26_progress_gold .fixed-panel .panel-plot.panel1 {
    top: 1090px;
  }
  #s26_progress_gold .fixed-panel .panel-plot.panel2 {
    top: 2110px;
  }
  #s26_progress_gold .fixed-panel .panel-plot.panel3 {
    top: 2890px;
  }
  #s26_progress_gold .fixed-panel .panel-plot.panel4 {
    bottom: 0;
  }
  #s26_progress_gold a.offset_y {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
  }
  #s26_progress_gold .section .panel_align {
    width: 100%;
    padding-top: 10px;
  }
  #s26_progress_gold .section .panel_align .detail_link {
    width: 280px;
    margin: 0 auto;
  }
  #s26_progress_gold .section .panel_align .detail_link .inner_detail_link {
    margin: 7px 0px;
    display: inline-block;
  }
  #s26_progress_gold .section .panel_align .detail_link .inner_detail_link .inner_link_btn {
    width: 275px;
  }
  #s26_progress_gold .section .panel_align .detail_panel {
    padding: 0 20px;
  }
  #s26_progress_gold .banner {
    background-image: url("../images/product/progress_gold/banner-mobile.jpg");
  }
  #s26_progress_gold .s1_bg {
    padding-top: 60px;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .picture_panel {
    width: 280px !important;
    text-align: center;
    margin: 0 auto;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .picture_panel img {
    width: 260px;
    margin: 40px auto 0px;
    position: relative;
    top: auto;
    left: auto;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel {
    width: 100%;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d1 {
    font-size: 50px;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d2 {
    font-size: 36px;
    line-height: 13px;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d3 {
    line-height: 31px;
    margin-top: 6px;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d3 .quote1 {
    font-size: 77px;
    vertical-align: -21%;
    font-weight: normal;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d3 .text {
    font-size: 20px;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d3 .quote2 {
    font-size: 77px;
    vertical-align: -41%;
    font-weight: normal;
  }
  #s26_progress_gold .s1_bg .panel_align .detail_panel .description_panel .d4 {
    font-size: 18px;
  }
  #s26_progress_gold .s2_bg {
    /*background-image: url("../images/product/progress_gold/s2-05.jpg");*/
    overflow: hidden;
    position: relative;
    height: 65vw;
  }
  #s26_progress_gold .s2_bg .layer2_kid {
    background-image: url("../images/product/progress_gold/s2-06.png");
    background-position: bottom;
    background-size: 150vw;
    width: 100%;
    height: inherit;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #s26_progress_gold .s2_bg .bar_img {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 75px;
  }
  #s26_progress_gold .s2_bg .panel_align {
    width: inherit;
    height: inherit;
    padding-top: 0px;
  }
  #s26_progress_gold .s2_bg .panel_align img {
    width: 100vw;
  }
  #s26_progress_gold .s2_bg .panel_align .img-curve {
    bottom: 0;
    left: 0;
    right: 0;
  }
  #s26_progress_gold .s2_bg .panel_align .top_text {
    margin-top: 10px;
  }
  #s26_progress_gold .s2_bg .panel_align .top_text img {
    width: calc(100% - 40px);
  }
  #s26_progress_gold .s2_bg .panel_align .bottom_text_and_pic_align {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  #s26_progress_gold .s2_bg .panel_align .bottom_text_and_pic_align .bottom_text_and_pic {
    position: relative;
  }
  #s26_progress_gold .s2_bg .panel_align .bottom_text_and_pic_align .bottom_text_and_pic .text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 60vw;
  }
  #s26_progress_gold .s2_bg .panel_align .bottom_text_and_pic_align .bottom_text_and_pic .pic {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 30vw;
  }
  #s26_progress_gold .s3_bg .panel_align {
    margin-bottom: 20px;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .picture_panel {
    width: 100%;
    margin: 16px auto 0;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .picture_panel img {
    width: 280px;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 10;
    text-align: left;
    font-family: db_helvethaica_xregular;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d1 {
    color: #0b3e8c;
    font-size: 40px;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d2 {
    color: #0b3e8c;
    font-size: 24px;
    line-height: 24px;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d2 .bold {
    font-family: db_helvethaica_xregular;
    font-weight: bold;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d3 {
    color: #0b3e8c;
    font-size: 24px;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d3 .italic {
    font-style: italic;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .pic_mobile {
    display: none;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d4 {
    color: #666;
    margin-top: -15px;
    font-size: 18px;
    font-family: db_helvethaica_xregular;
    width: inherit;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d4 img {
    position: relative;
    top: 7px;
    margin-right: 8px;
    width: 170px;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d4 p {
    margin: 13px 0px;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_left .d4 p span.blue {
    font-family: db_helvethaica_xregular;
    font-size: 22px;
    color: #0b3e8d;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_right {
    font-family: db_helvethaica_xregular;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 23px;
    font-size: 18px;
  }
  #s26_progress_gold .s3_bg .panel_align .detail_panel .description_panel_right p {
    margin: 8px 0px;
  }
  #s26_progress_gold .s4_bg {
    background-image: url("../images/product/progress_gold/s4_bg.png");
  }
  #s26_progress_gold .s4_bg img.bar_img {
    width: 100%;
    position: relative;
    bottom: -4px;
    height: 75px;
  }
  #s26_progress_gold .s4_bg .panel_align {
    padding-bottom: 20px;
    /*padding-bottom: 20px;*/
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .header_panel {
    text-align: left;
    font-family: db_helvethaica_x_li;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 8px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .picture_panel {
    position: relative;
    top: 20px;
    right: 0px;
    margin: 0 auto;
    width: 100%;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .picture_panel img {
    width: 280px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel {
    text-align: left;
    color: #FFFFFF;
    margin-top: 20px;
    width: 100%;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d1 {
    margin-top: -10px;
    color: #FFFFFF;
    font-size: 30px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d1 b {
    font-family: db_helvethaica_xregular;
    font-weight: bold;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 {
    color: #FFF;
    font-size: 18px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 .header {
    font-size: 24px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 ul {
    list-style-image: url('../images/product/progress_gold/s5_bullet_mobile.png');
    margin-left: -19px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d2 ul li {
    margin: 5px 0;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 {
    position: relative;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
    width: 280px;
    height: 105px;
    line-height: 36px;
    /*                          margin-top: 15px;
                            margin-bottom: 23px;
                            margin-left: -1px;*/
    margin: 15px auto 23px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .cell1 {
    background-color: #d7ad49;
    color: #444;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .cell2 {
    background-color: #edc667;
    color: #444;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .cell3 {
    background-color: #fedd8d;
    color: #444;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .cell {
    background-color: #FFF;
    color: #666;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .border {
    border-top: 1px solid #EEE;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .Mcol1 {
    position: absolute;
    left: 0px;
    width: 140px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .Mcol2 {
    position: absolute;
    left: 140px;
    width: 140px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .Mrow1 {
    top: 0px;
    height: 35px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .Mrow2 {
    top: 35px;
    height: 35px;
  }
  #s26_progress_gold .s4_bg .panel_align .detail_panel .description_panel .d3 .Mrow3 {
    top: 70px;
    height: 35px;
  }
  #s26_progress_gold .s5_bg .panel_align .detail_panel .header_panel {
    font-size: 40px;
    color: #8e6d1d;
    margin-top: 4px;
    width: 280px;
  }
  #s26_progress_gold .s5_bg .panel_align .detail_panel .picture_panel {
    width: 100%;
  }
  #s26_progress_gold .s5_bg .panel_align .detail_panel .picture_panel img {
    margin-top: 10px;
    width: 280px;
  }
  #s26_progress_gold .s5_bg .panel_align .detail_panel .description_panel {
    color: #666;
    font-size: 18px;
    width: 100%;
    margin: 18px 0px;
  }
  #s26_progress_gold .s5_bg .panel_align .detail_panel .description_panel ul {
    list-style-image: url('../images/product/progress_gold/s5_bullet_mobile.png');
    margin-left: -19px;
  }
  #s26_progress_gold .s5_bg .panel_align .detail_panel .description_panel ul li {
    margin: 5px 0;
  }
  #s26_progress_gold .s6_bg .panel_align {
    width: 100%;
    margin: 0;
  }
  #s26_progress_gold .s6_bg .panel_align .detail_panel .header_panel {
    font-size: 30px;
    margin-top: 3px;
    width: 516px;
  }
  #s26_progress_gold .s6_bg .panel_align .detail_panel .picture_panel {
    position: relative;
    right: 50px;
    top: -67px;
    z-index: 9;
    margin: 0 auto;
    width: 100%;
  }
  #s26_progress_gold .s6_bg .panel_align .detail_panel .picture_panel img {
    margin-top: -62px;
    margin-left: 36px;
    width: 316px;
  }
  #s26_progress_gold .s6_bg .panel_align .detail_panel .description_panel {
    width: 100%;
    position: relative;
    margin-top: -80px;
    font-size: 18px;
    margin-bottom: 17px;
  }
  #s26_progress_gold .s6_bg .panel_align .detail_panel .description_panel ul {
    list-style-image: url('../images/product/progress_gold/s5_bullet_mobile.png');
    margin-left: -20px;
  }
  #s26_progress_gold .s6_bg .panel_align .detail_panel .description_panel ul li {
    margin: 10px 0;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .header_panel {
    margin-top: 10px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .header_panel .l1 {
    font-size: 24px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .header_panel .l2 {
    font-size: 30px;
    line-height: 30px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel {
    margin-top: 14px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .head_s {
    width: 68px;
    height: 54px;
    line-height: 60px;
    font-size: 20px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .description_s {
    margin-top: -4px;
    padding-left: 8px;
    padding-top: 0px;
    width: 70%;
    font-size: 18px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .desktop_view {
    display: none;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view {
    display: block;
    padding-top: 16px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 {
    border: 1px solid #EEE;
    color: #FFF;
    border-radius: 10px;
    font-size: 18px;
    display: inline-block;
    overflow: hidden;
    width: 280px;
    margin: 0px 0px 20px 0px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td.head_top {
    background: #0055a5;
    width: 280px;
    height: 38px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td.head_top1 {
    background: #3e8dd7;
    width: 70px;
    height: 38px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td.head_top2 {
    background: #5b9cda;
    width: 70px;
    height: 38px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td.head_top3 {
    background: #7cb6ec;
    width: 70px;
    height: 38px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td.head_top4 {
    background: #97c9f8;
    width: 70px;
    height: 38px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td.b_left_g {
    border-left: 1px solid #EEE;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td.data {
    background: #FFF;
    height: 38px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td {
    vertical-align: middle;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb1 tr td img {
    width: 25px;
    vertical-align: -27%;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb2 {
    border: 1px solid #EEE;
    color: #FFF;
    border-radius: 10px;
    font-size: 18px;
    display: inline-block;
    overflow: hidden;
    width: 280px;
    margin: 0px 0px 20px 0px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb2 tr td.head_top {
    background: #b4820b;
    width: 280px;
    height: 55px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb2 tr td.head_left {
    background: #cea132;
    height: 55px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb2 tr td.data {
    width: 176px;
    background: #FFF;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb2 tr td {
    vertical-align: middle;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb2 tr td img {
    width: 25px;
    vertical-align: -27%;
    margin: 0 6px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .description_panel .panel_s .table .mobile_view table.tb2 tr td b {
    font-size: 18px;
  }
  #s26_progress_gold .s7_bg .panel_align .detail_panel .explan {
    margin-left: 0px;
    margin-bottom: 26px;
  }
  #s26_progress_gold #article-momtip .slick-prev,
  #s26_progress_gold #article-momtip .slick-next {
    top: 25%;
  }
  #s26_progress_gold #article-momtip .slick-prev {
    left: 15px;
  }
  #s26_progress_gold #article-momtip .slick-next {
    right: 15px;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel {
    width: 90%;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel .momtip-header {
    padding: 15px 0;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel .momtip-header .momtip-header-left {
    width: 100%;
    margin: 0px;
    text-align: center;
    font-size: 45px;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel .momtip-header .momtip-header-right {
    width: 100%;
    font-size: 20px;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list {
    width: 290px;
    margin: 0 auto;
    list-style: none;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body {
    width: 260px;
    margin: 0px;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .trick-img {
    width: 260px;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-slide {
    margin: 0 5px;
  }
  #s26_progress_gold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-dots {
    display: none !important;
  }
}
