#wapMomGold {
  position: relative;
  width: 100%;
  color: #9b7b30;
}
#wapMomGold h1,
#wapMomGold h2,
#wapMomGold h3,
#wapMomGold h4,
#wapMomGold h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}
#wapMomGold .wap-bg {
  width: 100%;
  height: 100%;
  min-height: 4111px;
  background: url('../images/product/mom_gold/bg.jpg') no-repeat;
  background-size: cover;
  background-position: top center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#wapMomGold .wap-banner {
  width: 100%;
  height: calc(100vw * 0.4);
  min-height: 790px;
  display: table;
}
#wapMomGold .wap-banner .wap-banner-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#wapMomGold .wap-banner .wap-banner-inner .img-box {
  width: calc(100% - 40px);
  height: 400px;
  max-width: 1043px;
  margin: 0 auto;
}
#wapMomGold .wap-content {
  display: block;
  width: calc(100% - 40px);
  max-width: 1043px;
  margin: 0 auto;
  cursor: default;
}
#wapMomGold .wap-content .content-text {
  font-size: 36px;
  line-height: 34px;
  margin-bottom: 25px;
}
#wapMomGold .wap-content .content-text .title {
  font-size: 48px;
  line-height: 34px;
}
#wapMomGold .wap-content .content-text.last {
  margin-bottom: 0;
}
#wapMomGold .wap-content .color-blue {
  color: #0052a1;
}
#wapMomGold .wap-intro {
  padding-left: 40px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
#wapMomGold .wap-intro .intro-img {
  float: left;
  margin: 0 50px 5px -55px;
}
#wapMomGold .wap-intro .intro-title {
  padding-top: 80px;
  display: block;
  position: relative;
  left: -10px;
}
#wapMomGold .wap-btn-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#wapMomGold .wap-btn-bar .btn-list {
  width: 190px;
  height: 60px;
  background: url('../images/product/mom_gold/bg-btn.png') no-repeat;
  background-size: contain;
  margin-right: 35px;
  display: table;
  position: relative;
}
#wapMomGold .wap-btn-bar .btn-list:last-child {
  margin-right: 0;
}
#wapMomGold .wap-btn-bar .btn-list:before {
  content: "";
  background: url('../images/product/mom_gold/btn-light.png') no-repeat;
  width: 227px;
  height: 56px;
  position: absolute;
  top: -25px;
  left: -50px;
  z-index: -1;
}
#wapMomGold .wap-btn-bar .btn-list .btn-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  color: #0052a1;
}
#wapMomGold .wap-detail .detail-bottom {
  padding-top: 35px;
  padding-bottom: 45px;
}
#wapMomGold .wap-detail .detail-bottom .detail-text {
  display: inline-block;
  color: #413620;
}
#wapMomGold .wap-detail .detail-bottom .detail-text.left {
  float: left;
  font-size: 30px;
  line-height: 28px;
  padding-left: 35px;
}
#wapMomGold .wap-detail .detail-bottom .detail-text.right {
  float: right;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1px;
}
#wapMomGold .liner {
  width: calc(100% - 40px);
  height: 2px;
  background: url('../images/product/mom_gold/liner.png') no-repeat;
  background-size: contain;
  max-width: 1043px;
  margin: 0 auto;
}
#wapMomGold .wap-howto {
  padding-top: 50px;
}
#wapMomGold .wap-howto .howto-title {
  margin-bottom: 10px;
}
#wapMomGold .wap-howto .howto-bottom {
  padding: 40px 0 55px 12px;
  color: #484a49;
  font-size: 20px;
  line-height: 20px;
  box-sizing: border-box;
}
#wapMomGold .wap-keep {
  padding-top: 40px;
  padding-bottom: 40px;
}
#wapMomGold .wap-keep .keep-img {
  margin-top: -70px;
}
#wapMomGold #article-momtip {
  width: 100%;
  height: auto;
  /*background: url('../images/home/trick-mom/bg-trick-mom.jpg') top center no-repeat;*/
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 2;
}
#wapMomGold #article-momtip .article-momtip-panel {
  max-width: 950px;
  height: 630px;
  margin: 0 auto;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-header {
  width: auto;
  padding: 45px 0 15px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-header .momtip-header-left {
  display: inline-block;
  font-size: 80px;
  color: #a87914;
  font-family: 'db_helvethaica_x_li';
  margin-right: 40px;
  vertical-align: middle;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-header .momtip-header-right {
  display: inline-block;
  font-size: 24px;
  color: #444444;
  width: 535px;
  line-height: 26px;
  vertical-align: middle;
  letter-spacing: 0.3px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body {
  max-width: 960px;
  margin: 0 auto;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box {
  width: 100%;
  float: left;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list {
  list-style: none;
  padding: 0;
  font-family: 'db_helvethaica_xregular';
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body {
  float: left;
  width: 280px;
  padding: 10px;
  height: 410px;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////GQAJyAPKSOz6nwAAAABJRU5ErkJggg==') repeat;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 10px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-content {
  display: block;
  height: 100%;
  position: relative;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover {
  height: 205px;
  margin: 0 auto;
  position: relative;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .trick-img {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-svg {
  margin: 0 auto;
  display: block;
  width: 228px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-image {
  margin: 0 auto;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-logo {
  position: absolute;
  right: 20px;
  bottom: -10px;
  width: 48px;
  height: 48px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite1 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: 0px 0px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite2 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: -48px 0px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite3 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: -96px 0px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .cover-video {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 72px;
  height: 72px;
  top: 32%;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel {
  overflow: hidden;
  margin: 10px 0 15px 0;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .view-panel .view_icon {
  float: left;
  width: 28px;
  margin-top: 3px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .view-panel .view_number {
  font-size: 18px;
  color: #a87914;
  margin-left: 5px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .list-body-title {
  color: #4d4d4d;
  font-size: 24px;
  margin: 0 0 10px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt {
  letter-spacing: 0.2px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-blue {
  font-family: db_helvethaica_bold;
  font-size: 26px;
  line-height: 26px;
  color: #0b3e8d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-gold {
  font-family: db_helvethaica_x_med;
  font-size: 24px;
  color: #a87914;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-black {
  font-family: db_helvethaica_xregular;
  font-size: 26px;
  line-height: 24px;
  color: #000;
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .list-body-desc {
  color: #666666;
  font-size: 22px;
  margin: 0 0 0 0;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link img {
  margin: 0 auto;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  border: 1px solid #8e6d1d;
  width: 113px;
  height: 34px;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark img {
  display: inline-block;
  vertical-align: -9%;
  margin-right: 3px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark .text-bookmark {
  vertical-align: middle;
  color: #6b4e08;
  font-size: 24px;
}
#wapMomGold #article-momtip .article-momtip-panel .momtip-body .mobile {
  margin: 0;
}
#wapMomGold #article-momtip .slick-prev:before {
  content: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
#wapMomGold #article-momtip .slick-next:before {
  content: '';
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
#wapMomGold #article-momtip .slick-prev {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
#wapMomGold #article-momtip .slick-next {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
#wapMomGold #article-momtip .slick-prev,
#wapMomGold #article-momtip .slick-next {
  height: 35px;
}
#wapMomGold #article-momtip .slick-prev:hover,
#wapMomGold #article-momtip .slick-prev:focus {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
}
#wapMomGold #article-momtip .slick-next:hover,
#wapMomGold #article-momtip .slick-next:focus {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
}
#wapMomGold #article-momtip .slick-disabled {
  display: none !important;
}
@media screen and (max-width: 767px) {
  #wapMomGold {
    margin-top: 150px;
    overflow: hidden;
  }
  #wapMomGold .wap-bg {
    min-height: 3500px;
    height: 100%;
    background: url('../images/product/mom_gold/bg-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
  }
  #wapMomGold .wap-banner {
    height: calc(100vw * .8);
    min-height: 530px;
  }
  #wapMomGold .wap-banner .wap-banner-inner .img-box {
    height: auto;
    max-width: 617px;
    width: calc(90% - 40px);
  }
  #wapMomGold .wap-banner .wap-banner-inner .img-box img {
    width: 100%;
  }
  #wapMomGold .wap-content .content-text {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  #wapMomGold .wap-content .content-text .title {
    font-size: 34px;
    line-height: 34px;
  }
  #wapMomGold .wap-intro {
    padding-left: 5px;
    margin-bottom: 30px;
  }
  #wapMomGold .wap-intro .intro-img {
    margin-right: 4%;
    margin-left: -30px;
    width: 45%;
    max-width: 302px;
  }
  #wapMomGold .wap-intro .intro-title {
    padding-top: 0;
    left: -5px;
  }
  #wapMomGold .wap-btn-bar .btn-list {
    width: 25%;
    height: 50px;
    margin-right: 1%;
    background-size: 100% 100%;
  }
  #wapMomGold .wap-btn-bar .btn-list:before {
    width: 197px;
    left: -45px;
    background-size: cover;
  }
  #wapMomGold .wap-btn-bar .btn-list .btn-inner {
    font-size: 24px;
    line-height: 24px;
  }
  #wapMomGold .wap-detail .detail-title {
    width: 95%;
    max-width: 553px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  #wapMomGold .wap-detail .detail-img {
    width: 100%;
    max-width: 643px;
    margin: 0 auto;
  }
  #wapMomGold .wap-detail .detail-bottom {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  #wapMomGold .wap-detail .detail-bottom .detail-text.left {
    padding-left: 10px;
    margin-right: 5px;
    width: calc(100% - 67px);
    font-size: 14px;
    line-height: 14px;
  }
  #wapMomGold .wap-detail .detail-bottom .detail-text.right {
    width: 52px;
    font-size: 14px;
    line-height: 14px;
  }
  #wapMomGold .wap-howto {
    padding-top: 25px;
  }
  #wapMomGold .wap-howto .howto-title {
    width: 95%;
    max-width: 504px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  #wapMomGold .wap-howto .howto-img {
    width: 100%;
    max-width: 639px;
    margin: 0 auto;
  }
  #wapMomGold .wap-howto .howto-bottom {
    font-size: 14px;
    line-height: 14px;
    padding: 20px 0 25px 10px;
  }
  #wapMomGold .wap-keep {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #wapMomGold .wap-keep .keep-title {
    width: 60%;
    max-width: 294px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  #wapMomGold .wap-keep .keep-img {
    margin-top: 25px;
    width: 100%;
    max-width: 639px;
  }
  #wapMomGold #article-momtip .slick-prev,
  #wapMomGold #article-momtip .slick-next {
    top: 25%;
  }
  #wapMomGold #article-momtip .slick-prev {
    left: 15px;
  }
  #wapMomGold #article-momtip .slick-next {
    right: 15px;
  }
  #wapMomGold #article-momtip .article-momtip-panel {
    width: 90%;
  }
  #wapMomGold #article-momtip .article-momtip-panel .momtip-header {
    padding: 15px 0;
  }
  #wapMomGold #article-momtip .article-momtip-panel .momtip-header .momtip-header-left {
    width: 100%;
    margin: 0px;
    text-align: center;
    font-size: 45px;
  }
  #wapMomGold #article-momtip .article-momtip-panel .momtip-header .momtip-header-right {
    width: 100%;
    font-size: 20px;
  }
  #wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list {
    width: 290px;
    margin: 0 auto;
    list-style: none;
  }
  #wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body {
    width: 260px;
    margin: 0px;
  }
  #wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .trick-img {
    width: 260px;
  }
  #wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-slide {
    margin: 0 5px;
  }
  #wapMomGold #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-dots {
    display: none !important;
  }
}
@media (max-width: 585px) {
  #wapMomGold .wap-btn-bar .btn-list {
    height: 40px;
  }
  #wapMomGold .wap-btn-bar .btn-list:before {
    left: -65px;
  }
  #wapMomGold .wap-btn-bar .btn-list .btn-inner {
    font-size: 18px;
    line-height: 16px;
  }
}
