.slick-prev:before,
.slick-next:before {
  content: '';
  background: url('../images/product/pe_gold/icon-arrow-group.png') no-repeat;
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  background: url('../images/product/pe_gold/icon-arrow-group.png') no-repeat;
  left: -65px;
  background-position: 0px 0px;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
  background: url('../images/product/pe_gold/icon-arrow-group.png') no-repeat;
  right: -65px;
  background-position: -70px 0px;
}
.slick-prev,
.slick-next {
  width: 50px;
  height: 45px;
  box-shadow: 0px 5px #8F6500;
  border-radius: 0px 0px 6px 6px;
}
.slick-disabled {
  display: none !important;
}
.color-gray-light {
  color: #666;
}
#product-panel #product-inner-panel #article-body {
  width: 100%;
  height: auto;
  background: url('../images/product/pe_gold/bg-article.jpg') no-repeat;
  background-size: cover;
  display: none;
}
#product-panel #product-inner-panel #article-body #article-custom-page {
  width: 100%;
  height: auto;
}
#product-panel #product-inner-panel #article-body #article-custom-page .article-custom-page-panel {
  max-width: 950px;
  margin: 0 auto;
}
#product-panel #product-inner-panel #article-body #article-custom-page .article-custom-page-panel .custom-page-header {
  width: auto;
  padding: 30px 0 15px;
  text-align: center;
}
#product-panel #product-inner-panel #article-body #article-custom-page .article-custom-page-panel .custom-page-body {
  width: 768px;
  height: 241px;
  border-radius: 15px;
  margin: 0 auto;
}
#product-panel #product-inner-panel #article-body #article-custom-page .article-custom-page-panel .custom-page-body .custom-page-link {
  width: 241px;
  height: 241px;
  padding: 0 7.5px;
}
#product-panel #product-inner-panel #article-body #article-custom-page .article-custom-page-panel .custom-page-body .custom-page-link .custom-page-body-box {
  width: 100%;
  height: 100%;
}
#product-panel #product-inner-panel #article-body #article-custom-page .article-custom-page-panel .custom-page-body .custom-page-link .custom-page-body-box .custom-page-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
#product-panel #product-inner-panel #article-body #article-custom-page .slick-prev,
#product-panel #product-inner-panel #article-body #article-custom-page .slick-next {
  top: 121px;
}
#product-panel #product-inner-panel #article-body #article-custom-page .slick-prev:active,
#product-panel #product-inner-panel #article-body #article-custom-page .slick-next:active {
  box-shadow: none;
  top: 126px;
}
#product-panel #product-inner-panel #article-body #article-momtip {
  width: 100%;
  height: auto;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel {
  max-width: 950px;
  margin: 0 auto;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-header {
  width: auto;
  padding: 60px 0 20px;
  text-align: center;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body {
  max-width: 960px;
  margin: 0 auto;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box {
  width: 100%;
  float: left;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list {
  list-style: none;
  padding: 0;
  font-family: 'db_helvethaica_xregular';
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body {
  float: left;
  width: 280px;
  padding: 10px;
  height: 410px;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////GQAJyAPKSOz6nwAAAABJRU5ErkJggg==') repeat;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 10px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-content {
  display: block;
  height: 100%;
  position: relative;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover {
  height: 205px;
  margin: 0 auto;
  position: relative;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .trick-img {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-svg {
  margin: 0 auto;
  display: block;
  width: 228px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-image {
  margin: 0 auto;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .list-body-logo {
  position: absolute;
  right: 20px;
  bottom: -10px;
  width: 48px;
  height: 48px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite1 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: 0px 0px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite2 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: -48px 0px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .spite3 {
  background: url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
  background-position: -96px 0px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-img-panel_cover .cover-video {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 72px;
  height: 72px;
  top: 32%;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel {
  overflow: hidden;
  margin: 10px 0 15px 0;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .view-panel .view_icon {
  float: left;
  width: 28px;
  margin-top: 3px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .view-panel .view_number {
  font-size: 18px;
  color: #a87914;
  margin-left: 5px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .list-body-title {
  color: #4d4d4d;
  font-size: 24px;
  margin: 0 0 10px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt {
  letter-spacing: 0.2px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-blue {
  font-family: db_helvethaica_bold;
  font-size: 26px;
  line-height: 26px;
  color: #0b3e8d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-gold {
  font-family: db_helvethaica_x_med;
  font-size: 24px;
  color: #a87914;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .txt-black {
  font-family: db_helvethaica_xregular;
  font-size: 26px;
  line-height: 24px;
  color: #000;
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-content-panel .list-body-desc {
  color: #666666;
  font-size: 22px;
  margin: 0 0 0 0;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link img {
  margin: 0 auto;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  border: 1px solid #8e6d1d;
  width: 113px;
  height: 34px;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark img {
  display: inline-block;
  vertical-align: -9%;
  margin-right: 3px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body .list-body-link-bookmark .text-bookmark {
  vertical-align: middle;
  color: #6b4e08;
  font-size: 24px;
}
#product-panel #product-inner-panel #article-body #article-momtip .article-momtip-panel .momtip-body .mobile {
  margin: 0;
}
#product-panel #product-inner-panel #article-body #article-momtip .slick-prev,
#product-panel #product-inner-panel #article-body #article-momtip .slick-next {
  top: 215px;
}
#product-panel #product-inner-panel #article-body #article-momtip .slick-prev:active,
#product-panel #product-inner-panel #article-body #article-momtip .slick-next:active {
  box-shadow: none;
  top: 220px;
}
#product-panel #product-inner-panel #article-body #article-grow {
  width: 100%;
  height: auto;
}
#product-panel #product-inner-panel #article-body #article-grow .article-grow-panel {
  max-width: 950px;
  margin: 0 auto;
}
#product-panel #product-inner-panel #article-body #article-grow .article-grow-panel .grow-header {
  padding: 65px 0 35px;
  text-align: center;
}
#product-panel #product-inner-panel #article-body #article-grow .article-grow-panel .grow-body {
  padding-bottom: 45px;
  text-align: center;
}
#product-panel #product-inner-panel #article-contact {
  width: 100%;
  height: auto;
  background: url('../images/product/pe_gold/bg-article-contact.jpg') center no-repeat;
  background-size: cover;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel {
  max-width: 950px;
  height: 236px;
  margin: 0 auto;
  text-align: center;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .main-title {
  font-size: 60px;
  padding: 40px 0 10px;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .contact-box {
  display: inline-block;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .contact-box .contact-box-inner {
  display: table;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .contact-box .contact-box-inner .icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  background: url('../images/product/pe_gold/icon-contact.png') no-repeat;
  border-radius: 2px;
  display: table-cell;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .contact-box .contact-box-inner .telphone {
  background-position: 0px 0px;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .contact-box .contact-box-inner .facebook {
  background-position: -70px 0px;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .contact-box .contact-box-inner .line {
  background-position: -140px 0px;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .contact-box .contact-box-inner .contact-text {
  color: #59513b;
  font-size: 21px;
  text-shadow: 1px 0px #ffffff, -1px 0px #ffffff, 0px 1px #ffffff, 0px -1px #ffffff, 1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
  display: table-cell;
  vertical-align: middle;
  padding-left: 14px;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .box-telphone {
  margin-right: 110px;
}
#product-panel #product-inner-panel #article-contact .article-contact-panel .box-facebook {
  margin-right: 85px;
}
#product-panel #product-inner-panel #article-information {
  width: 100%;
  height: 100%;
}
#product-panel #product-inner-panel #article-information .article-panel {
  background: url('../images/product/pe_gold/bg-product-main.jpg') no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel {
  max-width: 950px;
  margin: 0 auto;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #menu-pe-gold {
  margin: 45px auto 65px;
  list-style: none;
  padding: 0;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #menu-pe-gold .menu-list {
  float: left;
  width: 292px;
  height: 70px;
  line-height: 70px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: 1px solid #8e6d1d;
  text-align: center;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #menu-pe-gold .menu-list .menu-list-text {
  font-size: 30px;
  color: #8e6d1d;
  cursor: pointer;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #menu-pe-gold .menu-list-middle {
  margin: 0 30px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel {
  margin-bottom: 15px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .img-main1 {
  float: left;
  position: relative;
  left: -15px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box {
  float: left;
  margin: 40px 0 0 20px;
  position: relative;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box .img-main2 {
  position: absolute;
  top: -40px;
  right: -160px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .desc-box {
  float: left;
  padding: 25px 15px 0;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .img-main3 {
  float: right;
  position: relative;
  top: -45px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-1 {
  padding-bottom: 25px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-1 .text-1 {
  font-size: 72px;
  display: block;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-1 .text-2 {
  font-family: db_helvethaica_xregular;
  font-weight: bold;
  font-size: 48px;
  display: block;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-1 .text-3 {
  font-family: db_helvethaica_xregular;
  font-size: 24px;
  display: block;
  color: #666;
  margin: 10px 0;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-1 .text-3 .bold {
  font-weight: bold;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 {
  margin: 45px auto;
  position: relative;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner {
  padding: 10px 0 0 20px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .text-1 {
  font-size: 72px;
  line-height: 70px;
  display: block;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .text-2 {
  font-family: db_helvethaica_xregular;
  font-weight: bold;
  color: #8E6D1D !important;
  font-size: 48px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .text-3 {
  font-size: 24px;
  display: block;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .text-4 {
  font-size: 22px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .text-5 {
  font-size: 22px;
  display: block;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  height: 54px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title .table-first {
  background: #d7ad49;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title .table-second {
  background: #edc667;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title .table-third {
  background: #fedd8d;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title .table-list {
  float: left;
  width: 200px;
  height: 54px;
  text-align: center;
  line-height: 54px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-dtail {
  list-style: none;
  padding: 0;
  height: 54px;
  margin-bottom: 20px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-dtail .table-first {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-dtail .table-second {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-dtail .table-third {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-dtail .table-list {
  float: left;
  width: 200px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  background: #fff;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .img1 {
  margin: 30px 0 0;
  display: block;
  position: relative;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 {
  margin: 0 auto;
  position: relative;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .content-right {
  margin: 20px 0;
  float: right;
  left: 0;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .content-right .img1 {
  width: 450px;
  margin: 0 auto;
  display: block;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .content-left {
  margin: 40px 0;
  float: left;
  right: 0;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .content-left .content-wrap-inner .text-1 {
  font-family: db_helvethaica_x_li;
  font-size: 72px;
  color: #8e6d1d;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .content-left .content-wrap-inner .list {
  padding: 0;
  font-size: 24px;
  list-style: none;
  color: #666;
  font-family: db_helvethaica_x_li;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .content-left .content-wrap-inner .list li {
  margin: 10px 0;
  background: url('../images/product/progress_gold/s5_bullet_desktop.png') 0 9px no-repeat;
  padding: 0 0 0 20px;
  background-size: 12px 12px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .title-txt {
  font-size: 65px;
  line-height: 50px;
  padding-bottom: 20px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .subtitle-txt {
  font-size: 35px;
  line-height: 30px;
}
#product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .desc-txt {
  font-size: 24px;
}
@media (max-width: 767px) {
  .slick-prev:before {
    content: '';
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
  }
  .slick-next:before {
    content: '';
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
  }
  .slick-prev,
  .slick-prev:hover,
  .slick-prev:focus {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
    background-position: 0px 0px;
  }
  .slick-next,
  .slick-next:hover,
  .slick-next:focus {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
    background-position: 0px 0px;
  }
  .slick-prev,
  .slick-next {
    width: 19px;
    height: 32px;
    box-shadow: none;
  }
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel {
    width: 90%;
  }
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .custom-page-header {
    padding-bottom: 25px !important;
  }
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .custom-page-header .img-top {
    width: 60% !important;
    margin: 0 auto 30px;
  }
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .custom-page-header img {
    width: 100%;
  }
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .custom-page-body {
    width: 261px !important;
  }
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-prev,
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-prev:focus,
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-prev:hover {
    left: 10px;
  }
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-next,
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-next:focus,
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-next:hover {
    right: 10px;
  }
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-prev,
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-next,
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-prev:active,
  #product-panel #product-inner-panel #article-custom-page .article-custom-page-panel .slick-next:active {
    top: 50% !important;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel {
    width: 100%;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-header {
    width: 90% !important;
    margin: 0 auto;
    padding-top: 35px !important;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-header img {
    width: 100%;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body {
    width: 300px;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box {
    width: 310px !important;
    margin: 0px;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list {
    list-style: none;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .list-body-img-panel .list-body {
    margin: 0 5px 0 0!important;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-prev,
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-prev:focus,
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-prev:hover {
    left: 10px;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-next,
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-next:focus,
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-next:hover {
    right: 20px;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-prev,
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-next,
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-prev:active,
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-next:active {
    top: 25% !important;
  }
  #product-panel #product-inner-panel #article-momtip .article-momtip-panel .momtip-body .trick-mom-box .trick-mom-body-list .slick-dots {
    display: none !important;
  }
  #product-panel #product-inner-panel #article-grow .article-grow-panel {
    width: 90%;
  }
  #product-panel #product-inner-panel #article-grow .article-grow-panel .grow-header {
    padding: 35px 0 25px !important;
  }
  #product-panel #product-inner-panel #article-grow .article-grow-panel .grow-header img {
    width: 100%;
  }
  #product-panel #product-inner-panel #article-grow .article-grow-panel .grow-body {
    padding-bottom: 25px !important;
  }
  #product-panel #product-inner-panel #article-grow .article-grow-panel .grow-body img {
    width: 100%;
  }
  #product-panel #product-inner-panel #article-contact {
    background: url('../images/product/pe_gold/bg-article-contact-mobile.jpg') no-repeat;
    background-size: cover;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel {
    width: 90%;
    height: auto;
    text-align: left;
    padding-bottom: 30px;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel .main-title {
    padding: 30px 0 !important;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel .main-title img {
    width: 100%;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel .main-box {
    width: 290px;
    margin: 0 auto;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel .main-box .contact-box {
    height: 105px;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel .main-box .contact-box .contact-box-inner .icon {
    display: block !important;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel .main-box .contact-box .contact-box-inner .contact-text {
    font-size: 18px;
    display: block !important;
    padding: 0;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel .box-telphone {
    margin-right: 10px;
  }
  #product-panel #product-inner-panel #article-contact .article-contact-panel .box-facebook {
    margin-right: 28px;
    text-align: center;
  }
  #product-panel #product-inner-panel #article-information .article-panel {
    background: url('../images/product/pe_gold/bg-product-mobile.jpg') no-repeat;
    background-size: cover;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #menu-pe-gold {
    width: 90%;
    margin-bottom: 30px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #menu-pe-gold .menu-list {
    width: 286px;
    margin: 0 auto;
    float: none;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #menu-pe-gold .menu-list-middle {
    margin: 25px auto;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel {
    width: 90%;
    margin: 0 auto;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main {
    text-align: center;
    margin: 0 auto;
    float: none;
    padding-bottom: 25px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .img-main1 {
    left: 0;
    float: none;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box {
    float: none;
    margin: 0 auto;
    text-align: left;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box .title-txt {
    line-height: 20px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box .title-txt .text1 {
    font-size: 48px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box .title-txt .text2 {
    font-size: 39px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box .title-txt .text3 {
    font-size: 34px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box .subtitle-txt {
    font-size: 23px;
    line-height: 25px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .title-box .img-main2 {
    width: 72px;
    top: 0;
    right: 0;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .img-main3 {
    float: none;
    width: 100%;
    top: 0;
    margin: 20px 0;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .desc-box {
    padding: 0px;
    float: none;
    top: 0px;
    text-align: left;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-main .desc-box .desc-txt {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-1 .text-1 {
    font-size: 60px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-1 .text-3 {
    font-size: 18px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 {
    margin: 0 auto;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .text-1 {
    font-size: 60px !important;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner {
    padding: 0px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .img1 {
    width: 300px;
    position: relative;
    margin: 20px auto;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .text-3,
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .text-5 {
    font-size: 18px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .text-5 {
    margin-bottom: 20px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel {
    margin: 0 auto;
    width: 280px;
    display: block;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title {
    width: 140px;
    height: auto;
    float: left;
    margin: 0;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title .table-list {
    width: 139px;
    height: inherit;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title .table-first {
    border-bottom: none;
    height: 54px;
    line-height: 20px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title .table-second {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #eee;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-title .table-third {
    border-top: none;
    border-left: 1px solid #eee;
    border-right: none;
    border-bottom: 1px solid #eee;
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-dtail {
    width: 140px;
    height: auto;
    float: left;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-dtail .table-list {
    width: 139px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-2 .content-wrap-inner .table-panel .table-dtail .table-first {
    width: 138px;
    border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .text-1 {
    font-size: 60px !important;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .content-left {
    margin: 0px;
  }
  #product-panel #product-inner-panel #article-information .article-panel .article-inner-panel #article-information-panel .panel-3 .content-left .img1 {
    margin: 20px auto 30px auto;
  }
}
