.footer_product {
  width: 33.33333%;
  height: 227px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: -5px;
  margin-left: -2px;
  margin-top: -1px;
}
.footer_product .footer_product_align {
  width: 101%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.footer_product .footer_product_align .detail_panel {
  padding: 20px;
}
.footer_product .footer_product_align .detail_panel .footer_product_img_panel img {
  margin: 0 auto;
}
.footer_product .footer_product_align .detail_panel .footer_product_detail {
  color: #694e0a;
}
.footer_product .footer_product_align .detail_panel .footer_product_detail .footer_product_name .thin {
  font-family: db_helvethaica_x_li;
  font-size: 24px;
}
.footer_product .footer_product_align .detail_panel .footer_product_detail .footer_product_name .bold {
  font-family: db_helvethaica_x_li;
  font-size: 24px;
  font-weight: bold;
}
.footer_product .footer_product_align .detail_panel .footer_product_detail .footer_product_detail {
  font-family: db_helvethaica_x_li;
  font-size: 18px;
}
.footer_product .footer_product_align:hover {
  background: #f4e3aa !important;
}
.footer_product .footer_product_align:hover .detail_panel .footer_product_detail {
  color: #FFF;
}
.mom_gold {
  /*background-image: url("../images/product/product_footer/footer_bg1.jpg");*/
}
.progress_gold {
  /*background-image: url("../images/product/product_footer/footer_bg2.jpg");*/
}
.pe_gold {
  /*background-image: url("../images/product/product_footer/footer_bg4.jpg");*/
}
.progress {
  /*background-image: url("../images/product/product_footer/footer_bg3.jpg");*/
}
.slick-slider {
  margin-bottom: 0px;
}
.product_footer_slick .slick-prev {
  background: url("../images/home/trick-mom/arrow-left-mobile.png") no-repeat center transparent;
  left: 13px;
  width: 19px;
  height: 32px;
  background-size: cover;
}
.product_footer_slick .slick-next {
  background: url("../images/home/trick-mom/arrow-right-mobile.png") no-repeat center transparent;
  right: 13px;
  width: 19px;
  height: 32px;
  background-size: cover;
}
.product_footer_slick .slick-next::before {
  content: "";
}
.product_footer_slick .slick-prev::before {
  content: "";
}
.product_footer_slick .slick-disabled {
  opacity: 0.3;
}
@media (min-width: 768px) {
  br.dtnl {
    display: inline-block;
  }
  br.mbnl {
    display: none;
  }
}
@media (max-width: 767px) {
  br.dtnl {
    display: none;
  }
  br.mbnl {
    display: inline-block;
  }
  .footer_product {
    margin-left: 0px;
  }
}
