#wapPromotion {
  position: relative;
  width: 100%;
  /*background: url(../images/knowledge/bg_knowledge.png) top center repeat;*/
  background-position: top center;
  background-repeat: repeat;
  background-size: 100%;
  overflow: hidden;
}
#wapPromotion .list-content-panel {
  /*background: url(../images/promotion/bg_object_promotion_new.jpg) top center repeat;*/
  background-position: top center;
  background-repeat: repeat;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 50px 0;
}
#wapPromotion .header-content {
  max-width: 952px;
  position: relative;
  margin: 0px auto;
  padding-top: 35px;
  text-align: center;
}
#wapPromotion .header-content h1 {
  font-family: "db_helvethaica_x_li";
  font-size: 80px;
  color: #a87914;
  margin: 0;
  display: inline-block;
  font-weight: normal;
}
#wapPromotion .header-content h3 {
  font-weight: normal;
  color: #b98c23;
  font-family: "db_helvethaica_x_li";
  font-size: 48px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding-top: 15px;
  padding-left: 25px;
  width: 635px;
}
#wapPromotion .header-content .txt-desc {
  font-size: 24px;
  font-family: "db_helvethaica_x_li";
  color: #7e641e;
  line-height: 22px;
}
#wapPromotion .list-panel {
  max-width: 952px;
  margin: 0 auto;
  position: relative;
  margin-top: 28px;
  padding: 0px;
  list-style: outside none none;
}
#wapPromotion .list-panel .list-item {
  background: #FFF;
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 16px;
  float: left;
  overflow: hidden;
  position: relative;
}
#wapPromotion .list-panel .list-item-center {
  margin: 0 15px;
}
#wapPromotion .list-panel .list-img {
  width: 100%;
  height: 216px;
  margin-bottom: 14px;
}
#wapPromotion .list-panel .badge-list {
  /*background: url(../images/knowledge/badge.png) 0 0 no-repeat;*/
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 62px;
  height: 56px;
  position: absolute;
  bottom: 143px;
  left: 25px;
  color: #FFFFFF;
  font-family: "db_helvethaica_x_med";
  text-align: center;
  line-height: 20px;
}
#wapPromotion .list-panel .txt-day {
  font-size: 36px;
  display: block;
  margin-top: 13px;
}
#wapPromotion .list-panel .txt-month {
  font-size: 18px;
  display: block;
}
#wapPromotion .list-panel .txt-list-panel {
  margin: 0 15px;
}
#wapPromotion .list-panel .list-title {
  font-family: "db_helvethaica_x_li";
  font-size: 24px;
  color: #000;
  margin-bottom: 5px;
  margin: 0px 10px;
  display: block;
}
#wapPromotion .list-panel .short-desc {
  font-family: "db_helvethaica_x_med";
  font-size: 20px;
  color: #666666;
  line-height: 20px;
}
#wapPromotion .load-more {
  border: 2px solid #a87914;
  border-radius: 20px;
  width: 150px;
  margin: 30px auto 0;
  font-family: "db_helvethaica_bold";
  font-size: 24px;
  text-align: center;
  color: #a87914;
  cursor: pointer;
}
#wapPromotion .font-xregular {
  font-family: "db_helvethaica_xregular";
}
@media screen and (max-width: 767px) {
  #wapPromotion {
    margin-top: 50px;
    /*background: url(../images/knowledge/m_bg_knowledge.png) top center repeat;*/
    background-position: top center;
    background-repeat: repeat;
  }
  #wapPromotion .list-content-panel {
    /*background: url(../images/knowledge/m_bg_object_knowledge_new.jpg) top center no-repeat;*/
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
  }
  #wapPromotion .header-content {
    text-align: center;
    padding: 0px;
    padding-top: 30px;
  }
  #wapPromotion .header-content h1 {
    display: block;
  }
  #wapPromotion .header-content h3 {
    padding: 0;
    display: block;
    width: 100%;
    margin-top: -10px;
  }
  #wapPromotion .list-panel .list-item {
    background: #FFF;
    width: 100%;
    max-width: 280px;
    height: 280px;
    border-radius: 20px;
    margin-bottom: 16px;
    float: none;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  #wapPromotion .list-panel .list-img {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 420px) {
  #wapPromotion .header-content h1 {
    font-size: 60px;
  }
  #wapPromotion .header-content h3 {
    font-size: 40px;
  }
  #wapPromotion .header-content .txt-desc {
    font-size: 20px;
  }
}
