.global-loading-text,
.global-loading i {
  color: #8e6d1d;
}
#list-result-inner-panel .global-loading {
  margin: 40px auto;
}
input[type="text"] {
  -webkit-appearance: none;
  border-radius: 0;
}
#search-page-panel {
  background: #fff9e9;
  overflow: hidden;
}
#search-page-panel #search-top-panel {
  width: auto;
  background: url('../images/search/bg-top-search.jpg') no-repeat;
  background-size: 100%;
  overflow: hidden;
}
#search-page-panel #search-top-panel #text-h1 {
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 60px;
}
#search-page-panel #search-top-panel #box-search-panel {
  width: 734px;
  margin: auto auto 40px auto;
  height: auto;
}
#search-page-panel #search-top-panel #box-search-panel #input-search {
  width: 609px;
  height: 40px;
  border: 1px solid #8e6d1d;
  border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  float: left;
  text-indent: 20px;
  font-size: 24px;
  padding: 0;
}
#search-page-panel #search-top-panel #box-search-panel #btn-submit-search {
  width: 114px;
  background: #8e6d1d;
  border: 1px solid #8e6d1d;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  float: left;
  border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  cursor: pointer;
}
#search-page-panel #search-top-panel #box-search-panel #btn-submit-search span {
  font-size: 24px;
  margin-left: 5px;
}
#search-page-panel #search-top-panel #box-search-panel #btn-submit-search img {
  margin-left: 10px;
  width: 26px;
  vertical-align: middle;
}
#search-page-panel #search-detail-panel {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 40px;
}
#search-page-panel #search-detail-panel #result-panel {
  margin: 25px auto 30px auto;
}
#search-page-panel #search-detail-panel #result-panel #result-text {
  display: none;
  font-size: 22px;
}
#search-page-panel #search-detail-panel #list-result-panel #list-result-inner-panel {
  list-style: none;
  padding: 0;
}
#search-page-panel #search-detail-panel #list-result-panel #list-result-inner-panel li {
  padding-bottom: 20px;
  border-bottom: 1px solid #fbefd2;
  margin-bottom: 20px;
}
#search-page-panel #search-detail-panel #list-result-panel #list-result-inner-panel li .list-title {
  display: block;
  font-size: 30px;
}
#search-page-panel #search-detail-panel #list-result-panel #list-result-inner-panel li .list-title .hilight {
  font-family: 'db_helvethaica_bold';
}
#search-page-panel #search-detail-panel #list-result-panel #list-result-inner-panel li .list-detail {
  display: block;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 5px;
}
#search-page-panel #search-detail-panel #list-result-panel #list-result-inner-panel li .list-detail .hilight {
  font-family: 'db_helvethaica_bold';
  color: #0052a1;
}
#search-page-panel #search-detail-panel #list-result-panel #list-result-inner-panel li .list-tag {
  display: inline-block;
  font-size: 16px;
  background: #f6e8c3;
  padding: 2px 10px;
  text-align: center;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
#search-page-panel #search-detail-panel #loadmore {
  display: none;
  font-size: 16px;
  border: 2px solid #8e6d1d;
  padding: 5px 20px;
  text-align: center;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 8px 15px;
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
}
@media (max-width: 767px) {
  #search-page-panel #search-top-panel {
    background: url('../images/search/bg-top-search-mobile.jpg') no-repeat;
    background-size: 100%;
  }
  #search-page-panel #search-top-panel #text-h1 {
    margin: 20px 0 10px 0;
  }
  #search-page-panel #search-top-panel #box-search-panel {
    width: auto;
    padding: 0 20px;
  }
  #search-page-panel #search-top-panel #box-search-panel #input-search {
    -webkit-appearance: none;
    width: 100%;
    border-right: 0;
    text-indent: 10px;
  }
  #search-page-panel #search-detail-panel {
    padding: 0 20px;
  }
  .input-search-panel {
    width: 89.666667%;
    border-right: 0;
    height: 40px;
    float: left;
    display: inline-block;
  }
  #btn-submit-search-mobile {
    width: 10.333333%;
    height: 40px;
    line-height: 40px;
    border-left: 0;
    cursor: pointer;
    float: left;
    display: block;
  }
  #btn-submit-search-mobile img {
    width: 32px;
    vertical-align: middle;
    padding-left: 13px;
    display: inline-block;
    float: right;
    margin: 5px 13px;
  }
  .img-panel-search {
    border: 1px solid #8e6d1d;
    height: 40px;
    border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    border-left: 0;
    display: block;
    background: #fff;
  }
  #search-page-panel #search-top-panel {
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .input-search-panel {
    width: 85.666667%;
  }
  #btn-submit-search-mobile {
    width: 14.333333%;
  }
}
@media (max-width: 420px) {
  #search-page-panel #search-top-panel #text-h1 {
    font-size: 36px;
  }
  #search-page-panel #search-detail-panel #result-panel #result-text {
    font-size: 18px;
  }
  #btn-submit-search-mobile img {
    width: 20px;
    margin: 11px 13px;
  }
}
