/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
a {
  outline: 0 none;
  cursor: pointer;
  text-decoration: none;
}
a:link {
  -webkit-tap-highlight-color: #0080C6;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
  zoom: 1;
  display: block;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
nav ul {
  list-style: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  overflow: hidden;
}
textarea {
  overflow: auto;
  resize: none;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
  margin: 3px 3px 0 0;
}
label,
input[type=button],
input[type=submit],
button {
  /*cursor: pointer;*/
}
input[type=text] {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  width: auto;
  overflow: visible;
}
.ie6 input {
  vertical-align: text-bottom;
}
/** helper styles
 ***************************************/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
  font-size: 0px;
}
.clearfix {
  display: block;
  clear: both;
}
/*  new standard values */
.default_css ul,
.default_css ol {
  padding: 0 0 0 12px;
}
.default_css ul {
  list-style: disc;
}
.default_css ul ul li {
  list-style-type: circle;
  margin: 0px 0 0 16px;
}
.default_css ol {
  list-style: decimal;
}
.default_css ol li,
.default_css ul li {
  margin: 0px 0 0 20px;
  overflow: visible;
}
.default_css p {
  margin: 0 0;
}
.default_css a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}
.default_css a:hover {
  text-decoration: underline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  font-size: 13px;
  font-family: Tahoma, Geneva, sans-serif;
}
#tinymce {
  width: 100%;
}
#tinymce img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 767px) {
  #tinymce img {
    max-width: 100%;
  }
}
