.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
.img-responsive {
  display: block;
  max-width: 100%;
}
.img-responsive-f {
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  #smartbrain {
    padding-top: 150px;
  }
}
#smartbrain .smart_banner .smart_banner_slide {
  margin: 0;
}
#smartbrain .smart_banner .smart_banner_slide .slick-dots {
  bottom: 40px;
}
@media (max-width: 768px) {
  #smartbrain .smart_banner .smart_banner_slide .slick-dots {
    bottom: 20px;
  }
}
#smartbrain .smart_banner .smart_banner_slide .slick-dots li {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  #smartbrain .smart_banner .smart_banner_slide .slick-dots li {
    width: 10px;
    height: 10px;
  }
}
#smartbrain .smart_banner .smart_banner_slide .slick-dots li:only-child {
  display: none;
}
#smartbrain .smart_banner .smart_banner_slide .slick-dots li button {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #c58936;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
@media (max-width: 768px) {
  #smartbrain .smart_banner .smart_banner_slide .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}
#smartbrain .smart_banner .smart_banner_slide .slick-dots li button:before {
  display: none;
}
#smartbrain .smart_banner .smart_banner_slide .slick-dots li.slick-active button {
  background-color: #a06230;
  /*@include box-shadow(0,0,2px,2px,#edd28d);*/
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
#smartbrain .smart_banner .smart_banner_slide .slick-prev {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnPrev.png') no-repeat center center;
  text-indent: -9999px;
  left: 17.70833333%;
  margin-top: -29px;
  z-index: 2;
}
@media (max-width: 768px) {
  #smartbrain .smart_banner .smart_banner_slide .slick-prev {
    background-size: contain;
    left: 15px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
#smartbrain .smart_banner .smart_banner_slide .slick-next {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnNext.png') no-repeat center center;
  text-indent: -9999px;
  right: 17.70833333%;
  margin-top: -29px;
  z-index: 2;
}
@media (max-width: 768px) {
  #smartbrain .smart_banner .smart_banner_slide .slick-next {
    background-size: contain;
    right: 15px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
#smartbrain .smart_foundation .smart_foundation_slide {
  margin: 0;
}
#smartbrain .smart_foundation .smart_foundation_slide .slick-dots {
  bottom: 40px;
}
@media (max-width: 768px) {
  #smartbrain .smart_foundation .smart_foundation_slide .slick-dots {
    bottom: 20px;
  }
}
#smartbrain .smart_foundation .smart_foundation_slide .slick-dots li {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  #smartbrain .smart_foundation .smart_foundation_slide .slick-dots li {
    width: 10px;
    height: 10px;
  }
}
#smartbrain .smart_foundation .smart_foundation_slide .slick-dots li:only-child {
  display: none;
}
#smartbrain .smart_foundation .smart_foundation_slide .slick-dots li button {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #c58936;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
@media (max-width: 768px) {
  #smartbrain .smart_foundation .smart_foundation_slide .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}
#smartbrain .smart_foundation .smart_foundation_slide .slick-dots li button:before {
  display: none;
}
#smartbrain .smart_foundation .smart_foundation_slide .slick-dots li.slick-active button {
  background-color: #a06230;
  /*@include box-shadow(0,0,2px,2px,#edd28d);*/
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
#smartbrain .smart_foundation .smart_foundation_slide .slick-prev {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnPrev.png') no-repeat center center;
  text-indent: -9999px;
  left: 17.70833333%;
  margin-top: -29px;
  z-index: 2;
}
@media (max-width: 768px) {
  #smartbrain .smart_foundation .smart_foundation_slide .slick-prev {
    background-size: contain;
    left: 15px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
#smartbrain .smart_foundation .smart_foundation_slide .slick-next {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnNext.png') no-repeat center center;
  text-indent: -9999px;
  right: 17.70833333%;
  margin-top: -29px;
  z-index: 2;
}
@media (max-width: 768px) {
  #smartbrain .smart_foundation .smart_foundation_slide .slick-next {
    background-size: contain;
    right: 15px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
#smartbrain .smart_doc .smart_doc_slide {
  margin: 0;
}
#smartbrain .smart_doc .smart_doc_slide .slick-prev {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnPrev.png') no-repeat center center;
  text-indent: -9999px;
  left: 17.70833333%;
  margin-top: -29px;
  z-index: 2;
  top: 42%;
}
@media (max-width: 768px) {
  #smartbrain .smart_doc .smart_doc_slide .slick-prev {
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    left: 15px;
  }
}
#smartbrain .smart_doc .smart_doc_slide .slick-next {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnNext.png') no-repeat center center;
  text-indent: -9999px;
  right: 17.70833333%;
  margin-top: -29px;
  z-index: 2;
  top: 42%;
}
@media (max-width: 768px) {
  #smartbrain .smart_doc .smart_doc_slide .slick-next {
    background-size: contain;
    right: 15px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
#smartbrain .smart_video .smart_video_wrap {
  position: relative;
}
#smartbrain .smart_video .smart_video_wrap .wrapvideo {
  position: absolute;
  width: 50.625%;
  left: 24.73958333%;
  top: 19.7309417%;
}
@media (max-width: 768px) {
  #smartbrain .smart_video .smart_video_wrap .wrapvideo {
    width: 100%;
    left: 0%;
    top: 26.44087938%;
  }
}
#smartbrain .smart_video .smart_video_wrap .video {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #smartbrain .smart_video .smart_video_wrap .video {
    width: 100%;
  }
}
#smartbrain .boxSlide4 {
  position: relative;
}
#smartbrain .boxSlide4 .wrap_slide {
  position: absolute;
  width: 50.625%;
  left: 24.73958333%;
  top: 38.58024691%;
}
#smartbrain .boxSlide4 .wrap_slide .slick-dots {
  bottom: -40px;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide4 .wrap_slide .slick-dots {
    bottom: -20px;
  }
}
#smartbrain .boxSlide4 .wrap_slide .slick-dots li {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide4 .wrap_slide .slick-dots li {
    width: 10px;
    height: 10px;
  }
}
#smartbrain .boxSlide4 .wrap_slide .slick-dots li:only-child {
  display: none;
}
#smartbrain .boxSlide4 .wrap_slide .slick-dots li button {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #c58936;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide4 .wrap_slide .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}
#smartbrain .boxSlide4 .wrap_slide .slick-dots li button:before {
  display: none;
}
#smartbrain .boxSlide4 .wrap_slide .slick-dots li.slick-active button {
  background-color: #a06230;
  /*@include box-shadow(0,0,2px,2px,#edd28d);*/
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
#smartbrain .boxSlide4 .wrap_slide .slick-prev {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnPrev.png') no-repeat center center;
  text-indent: -9999px;
  left: -25px;
  margin-top: -29px;
  z-index: 2;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide4 .wrap_slide .slick-prev {
    background-size: contain;
    left: 20%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: 15px;
  }
}
#smartbrain .boxSlide4 .wrap_slide .slick-next {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnNext.png') no-repeat center center;
  text-indent: -9999px;
  right: -25px;
  margin-top: -29px;
  z-index: 2;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide4 .wrap_slide .slick-next {
    background-size: contain;
    right: 20%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  #smartbrain .boxSlide4 .wrap_slide {
    width: 100%;
    left: 0%;
  }
}
#smartbrain .boxSlide8 {
  position: relative;
}
#smartbrain .boxSlide8 .wrap_slide {
  position: absolute;
  width: 50.625%;
  left: 24.73958333%;
  top: 15.43209877%;
}
#smartbrain .boxSlide8 .wrap_slide .slick-dots {
  bottom: -40px;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide8 .wrap_slide .slick-dots {
    bottom: -20px;
  }
}
#smartbrain .boxSlide8 .wrap_slide .slick-dots li {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide8 .wrap_slide .slick-dots li {
    width: 10px;
    height: 10px;
  }
}
#smartbrain .boxSlide8 .wrap_slide .slick-dots li:only-child {
  display: none;
}
#smartbrain .boxSlide8 .wrap_slide .slick-dots li button {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #c58936;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide8 .wrap_slide .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}
#smartbrain .boxSlide8 .wrap_slide .slick-dots li button:before {
  display: none;
}
#smartbrain .boxSlide8 .wrap_slide .slick-dots li.slick-active button {
  background-color: #a06230;
  /*@include box-shadow(0,0,2px,2px,#edd28d);*/
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
#smartbrain .boxSlide8 .wrap_slide .slick-prev {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnPrev.png') no-repeat center center;
  text-indent: -9999px;
  left: -25px;
  margin-top: -29px;
  z-index: 2;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide8 .wrap_slide .slick-prev {
    background-size: contain;
    left: 20%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: 15px;
  }
}
#smartbrain .boxSlide8 .wrap_slide .slick-next {
  width: 58px;
  height: 58px;
  background: url('../images/smartbrand/btnNext.png') no-repeat center center;
  text-indent: -9999px;
  right: -25px;
  margin-top: -29px;
  z-index: 2;
}
@media (max-width: 768px) {
  #smartbrain .boxSlide8 .wrap_slide .slick-next {
    background-size: contain;
    right: 20%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  #smartbrain .boxSlide8 .wrap_slide {
    width: 100%;
    left: 0%;
  }
}
#smartbrain .embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
#smartbrain .embed-responsive .embed-responsive-item,
#smartbrain .embed-responsive iframe,
#smartbrain .embed-responsive embed,
#smartbrain .embed-responsive object {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
#smartbrain .embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
#smartbrain .embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}
