.sphingomyelin {
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #9b7b30;
}
.sphingomyelin .sphingomyelin-bg {
  width: 100%;
  height: 100%;
  min-height: 5000px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/sphingomyelin/bg.jpg') no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 1;
}
.sphingomyelin .sphingomyelin-inner {
  width: 100%;
  max-width: 1042px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-header {
  width: 100%;
  height: calc(100vw * 0.35);
  min-height: 650px;
  display: table;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-header .sphingomyelin-header-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-title {
  margin: 30px auto 50px;
  text-align: center;
  font-size: 54px;
  line-height: 29px;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar {
  width: 100%;
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list {
  width: 240px;
  height: 220px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list:before {
  content: "";
  display: block;
  position: absolute;
  width: 382px;
  height: 364px;
  pointer-events: none;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu1 {
  width: 220px;
  margin-right: 138px;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu1:before {
  background: url('../images/sphingomyelin/menu01.png') no-repeat;
  top: -52px;
  left: -61px;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu2 {
  width: 200px;
  margin-right: 111px;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu2:before {
  background: url('../images/sphingomyelin/menu02.png') no-repeat;
  top: -43px;
  left: -71px;
}
.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu3:before {
  background: url('../images/sphingomyelin/menu03.png') no-repeat;
  top: -52px;
  left: -51px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel {
  padding-top: 115px;
  padding-bottom: 380px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content sup {
  font-size: 24px;
  line-height: 22px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .text-line {
  display: inline;
  vertical-align: middle;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .liner {
  width: 100%;
  border-bottom: 2px dashed #b0873f;
  box-sizing: border-box;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .align-center {
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-text {
  font-size: 40px;
  line-height: 34px;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-text .text-margin {
  margin-bottom: 15px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-1000days {
  margin: 65px 0 45px;
  padding: 40px 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-1000days .text {
  font-size: 40px;
  line-height: 34px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-1000days .subtext {
  font-size: 24px;
  line-height: 24px;
  color: #4b4949;
  margin-bottom: 5px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .title-center {
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .title-content-middle {
  margin-top: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-middle {
  margin-bottom: 65px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .title-content-bottom {
  margin-top: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom {
  background: rgba(255, 255, 255, 0.5);
  padding: 35px 40px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom sup {
  font-size: 16px;
  line-height: 16px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-type {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 15px;
  background: #b0873f;
  color: #ffffff;
  font-size: 32px;
  line-height: 26px;
  display: inline-table;
  vertical-align: middle;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-type .content-type-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-desc {
  width: calc(100% - 155px);
  height: 160px;
  display: inline-table;
  vertical-align: middle;
  font-size: 28px;
  line-height: 28px;
  color: #4b4949;
  border-bottom: 2px solid rgba(155, 123, 48, 0.3);
  box-sizing: border-box;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-desc .content-desc-inner {
  display: table-cell;
  vertical-align: middle;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-bottom-text {
  font-size: 28px;
  line-height: 32px;
  color: #4b4949;
  margin-top: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 {
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .main-title-box {
  margin-top: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .main-title-box .main-title-text {
  font-size: 54px;
  line-height: 24px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-middle-box {
  margin-top: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-middle-box .title-middle-text {
  font-size: 40px;
  line-height: 20px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-bottom-box {
  margin-top: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-bottom-box .title-bottom-text {
  font-size: 40px;
  line-height: 20px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .desc-box {
  margin: 60px 0 40px;
  text-align: left;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 {
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-title-box {
  margin-top: 50px;
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-title-box .main-title-text {
  font-size: 54px;
  line-height: 24px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-desc-box {
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-desc-box .main-desc-text {
  font-size: 40px;
  line-height: 36px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-bottom-box {
  margin-bottom: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-bottom-box .main-bottom-text {
  font-size: 54px;
  line-height: 24px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box {
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box.content1 {
  margin-top: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box .content-mike-text {
  font-size: 40px;
  line-height: 36px;
  margin-top: -10px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .img-bottom-box {
  margin-top: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .img-bottom-box img {
  position: relative;
  left: -3%;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .subtitle-box {
  text-align: center;
  margin-top: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .subtitle-box .subtitle-text {
  font-size: 54px;
  line-height: 24px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar {
  text-align: center;
  margin: 55px auto 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list {
  width: 229px;
  height: 111px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  margin-right: 98px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list:last-child {
  margin-right: 0;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list:before {
  content: "";
  display: block;
  position: absolute;
  width: 281px;
  height: 142px;
  pointer-events: none;
  right: 0;
  bottom: 0;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu1:before {
  background: url('../images/sphingomyelin/page03/btn01.png') no-repeat;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu2:before {
  background: url('../images/sphingomyelin/page03/btn02.png') no-repeat;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu3:before {
  background: url('../images/sphingomyelin/page03/btn03.png') no-repeat;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.active.submenu1:before {
  background: url('../images/sphingomyelin/page03/btn01-active.png') no-repeat;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.active.submenu2:before {
  background: url('../images/sphingomyelin/page03/btn02-active.png') no-repeat;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.active.submenu3:before {
  background: url('../images/sphingomyelin/page03/btn03-active.png') no-repeat;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent {
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-title-box .subcontent-title-text {
  font-size: 40px;
  line-height: 36px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-subtitle-box {
  margin: 40px auto 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-subtitle-box .subcontent-subtitle-text {
  font-size: 54px;
  line-height: 24px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box {
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box.content1 {
  margin-top: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box .subcontent-text {
  font-size: 40px;
  line-height: 36px;
  margin-top: -10px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box .subcontent-text2 {
  margin-top: 40px;
  font-size: 40px;
  line-height: 36px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 {
  text-align: center;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-title-box {
  margin-top: 50px;
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-title-box .main-title-text {
  font-size: 54px;
  line-height: 24px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-desc-box {
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-desc-box .main-desc-text {
  font-size: 40px;
  line-height: 36px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-bottom-box {
  margin-bottom: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-bottom-box .main-bottom-text {
  font-size: 54px;
  line-height: 24px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box {
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box.content1 {
  margin-top: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box .content-mike-text {
  font-size: 40px;
  line-height: 36px;
  margin-top: -10px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .img-bottom-box {
  margin-top: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .img-bottom-box img {
  position: relative;
  left: -3%;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-3 .subcontent-title-box {
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template {
  margin-top: 70px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn {
  display: inline-table;
  vertical-align: middle;
  width: 229px;
  height: 93px;
  margin-right: 40px;
  cursor: pointer;
  color: #0052a1;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 0.35px;
  background: url('../images/sphingomyelin/detail/bg-btn.png') no-repeat;
  background-size: contain;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn:last-child {
  margin-right: 0;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn:hover,
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn.active {
  color: #9b7b30;
  background: url('../images/sphingomyelin/detail/bg-btn-hover.png') no-repeat;
  background-size: contain;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn span {
  display: table-cell;
  vertical-align: middle;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content {
  margin-top: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-doctor-name {
  color: #0052a1;
  font-size: 28px;
  line-height: 28px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content {
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.3);
  padding-bottom: 35px;
  box-sizing: border-box;
  font-size: 28px;
  line-height: 26px;
  text-align: left;
  color: #4b4949;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-banner {
  width: 100%;
  margin-bottom: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-title-image {
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box {
  margin-bottom: 25px;
  padding: 0 40px;
  box-sizing: border-box;
  text-indent: 25px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box.title {
  text-indent: 0;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box.space-bottom {
  margin-bottom: 50px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box .detail-inline-box {
  display: flex;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box .detail-inline-box .detail-inline {
  width: 300px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box .detail-inline-box .detail-inline.title-detail {
  width: 150px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box .detail-inline-box .detail-inline.last {
  width: auto;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-image {
  float: right;
  margin-left: 25px;
  margin-bottom: 40px;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-image.last {
  margin-bottom: 0;
}
.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .text-desc {
  text-align: left;
  padding-top: 35px;
  padding-left: 20px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .sphingomyelin {
    margin-top: 150px;
  }
  .sphingomyelin .sphingomyelin-bg {
    min-height: 2000px;
    height: 100%;
    background: url('../images/sphingomyelin/bg-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-header {
    height: calc(100vw * 1.056);
    min-height: 350px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-header .sphingomyelin-header-inner img {
    margin: 0 auto;
    width: calc(100% - 30px);
    max-width: 533px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-title {
    margin-top: 80px;
    font-size: 36px;
    line-height: 28px;
    padding: 0 15px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-title img {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 314px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list {
    width: 120px;
    height: 110px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list:before {
    width: 191px;
    height: 182px;
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu1 {
    width: 120px;
    margin-right: 20px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu1:before {
    top: -26px;
    left: -24px;
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu2 {
    width: 100px;
    margin-right: 20px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu2:before {
    top: -22px;
    left: -35px;
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu3:before {
    top: -26px;
    left: -25px;
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel {
    padding-top: 35px;
    padding-bottom: 100px;
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list {
    width: 149px;
    height: 73px;
    margin-right: 2.5%;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list:before {
    width: 182px;
    height: 93px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu1:before,
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu1.active:before {
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu2:before,
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu2.active:before {
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu3:before,
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list.submenu3.active:before {
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-text {
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-1000days {
    margin: 35px 0 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-1000days img {
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 333px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .title-center {
    margin: 0 auto 20px;
    width: calc(100% - 40px);
    max-width: 572px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .title-content-middle {
    margin-top: 20px;
    margin-left: 20px;
    width: calc(100% - 80px);
    max-width: 417px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-middle {
    width: calc(100% * 1.42);
    position: relative;
    left: -14%;
    margin-bottom: 35px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .title-content-bottom {
    margin: 20px 0 15px 20px;
    width: calc(100% - 40px);
    max-width: 548px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom {
    margin-bottom: 25px;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box {
    width: calc(50% - 5px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box:nth-child(2n) {
    margin-left: 10px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-desc {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 22px;
    line-height: 22px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-desc .content-desc-inner {
    display: block;
    margin-bottom: 15px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-type {
    width: 100px;
    height: 100px;
    font-size: 22px;
    line-height: 22px;
    float: left;
    margin-bottom: 10px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-type .content-type-inner {
    width: 100px;
    height: 100px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .text-bottom {
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 565px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .main-title-box {
    margin-top: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .main-title-box img {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 314px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .main-title-box .main-title-text {
    font-size: 40px;
    line-height: 24px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-middle-box {
    margin-top: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-middle-box img {
    margin: 0 auto;
    width: calc(100% - 30px);
    max-width: 513px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-middle-box img.mobile {
    max-width: 326px;
    width: calc(100% - 100px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-middle-box .title-middle-text {
    font-size: 32px;
    line-height: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-bottom-box {
    margin-top: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-bottom-box img {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 314px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-bottom-box img.mobile {
    max-width: 241px;
    width: calc(100% - 100px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .title-bottom-box .title-bottom-text {
    font-size: 32px;
    line-height: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .desc-box {
    margin-top: 40px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-1 .desc-box img {
    width: 100%;
    max-width: 565px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-title-box {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-title-box img {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 314px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-title-box .main-title-text {
    font-size: 40px;
    line-height: 24px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-desc-box {
    margin-bottom: 20px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-desc-box img {
    margin: 0 auto;
    width: calc(100% - 30px);
    max-width: 574px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-desc-box .main-desc-text {
    font-size: 32px;
    line-height: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-bottom-box {
    margin-bottom: 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-bottom-box img {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 314px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .main-bottom-box .main-bottom-text {
    font-size: 32px;
    line-height: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box {
    margin-bottom: 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box.content1 {
    margin-top: 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box.content1 img {
    max-width: 359px;
    width: calc(100% - 80px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box.content2 img {
    max-width: 500px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box.content3 img {
    max-width: 375px;
    width: calc(100% - 80px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box.content4 img {
    max-width: 519px;
    width: calc(100% - 80px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box img {
    margin: 0 auto;
    width: calc(100% - 30px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .content-mike-box .content-mike-text {
    font-size: 32px;
    line-height: 30px;
    margin-top: auto;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .img-bottom-box {
    margin-top: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-2 .img-bottom-box img {
    width: 100%;
    margin: 0 auto;
    left: auto;
    max-width: 638px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .subtitle-box img {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 314px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .subtitle-box .subtitle-text {
    font-size: 34px;
    line-height: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .submenu-bar {
    margin: 35px auto 20px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.main img {
    width: calc(100% * 1.415);
    position: relative;
    left: -14%;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-1 .subcontent-title-box img {
    width: calc(100% - 100px);
    max-width: 265px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-1 .subcontent-subtitle-box img {
    width: calc(100% - 100px);
    max-width: 265px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-title-box {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-title-box img {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 314px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-title-box .main-title-text {
    font-size: 40px;
    line-height: 24px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-desc-box {
    margin-bottom: 20px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-desc-box img {
    margin: 0 auto;
    width: calc(100% - 30px);
    max-width: 574px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-desc-box .main-desc-text {
    font-size: 32px;
    line-height: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-bottom-box {
    margin-bottom: 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-bottom-box img {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 314px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .main-bottom-box .main-bottom-text {
    font-size: 32px;
    line-height: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box {
    margin-bottom: 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box.content1 {
    margin-top: 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box.content1 img {
    max-width: 359px;
    width: calc(100% - 80px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box.content2 img {
    max-width: 500px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box.content3 img {
    max-width: 375px;
    width: calc(100% - 80px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box.content4 img {
    max-width: 519px;
    width: calc(100% - 80px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box img {
    margin: 0 auto;
    width: calc(100% - 30px);
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .content-mike-box .content-mike-text {
    font-size: 32px;
    line-height: 30px;
    margin-top: auto;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .img-bottom-box {
    margin-top: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-2 .img-bottom-box img {
    width: 100%;
    margin: 0 auto;
    left: auto;
    max-width: 638px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent.page-3 .subcontent-title-box img {
    width: 100%;
    max-width: 566px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-title-box img {
    margin: 0 auto;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-title-box .subcontent-title-text {
    font-size: 30px;
    line-height: 28px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-subtitle-box {
    margin: 20px auto 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-subtitle-box img {
    margin: 0 auto;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-subtitle-box .subcontent-subtitle-text {
    font-size: 28px;
    line-height: 22px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box {
    margin-bottom: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box.content1 {
    margin-top: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box.content1 img {
    width: calc(100% - 30px);
    max-width: 399px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box.content2 img {
    width: 100%;
    max-width: 535px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box img {
    margin: 0 auto;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-box .subcontent-text {
    font-size: 30px;
    line-height: 28px;
    margin-top: auto;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.page-3 .sphingomyelin-subcontent-panel .sphingomyelin-subcontent .subcontent-bottom-box img {
    width: 100%;
    max-width: 529px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template {
    margin-top: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn {
    width: 149px;
    height: 61px;
    letter-spacing: 0;
    margin-right: 10px;
    font-size: 24px;
    line-height: 20px;
    background: url('../images/sphingomyelin/detail/bg-btn-mobile.png') no-repeat;
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn:hover,
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn.active {
    color: #9b7b30;
    background: url('../images/sphingomyelin/detail/bg-btn-hover-mobile.png') no-repeat;
    background-size: contain;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content img {
    margin: 0 auto 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .title-image {
    width: calc(100% - 40px);
    max-width: 521px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-doctor-name {
    font-size: 22px;
    line-height: 22px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content {
    font-size: 22px;
    line-height: 20px;
    margin-top: 30px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-banner {
    margin-bottom: 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box {
    margin-bottom: 15px;
    padding: 0 20px;
    text-indent: 15px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box.space-bottom {
    margin-bottom: 25px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box .detail-inline-box .detail-inline {
    width: 90%;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-box .detail-inline-box .detail-inline.last {
    width: 90%;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-image {
    width: 100%;
    margin-left: 0;
    margin-bottom: 25px;
    float: left;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-image.half-left {
    width: 49.5%;
    margin-right: 0.5%;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-image.half-right {
    width: 49.5%;
    margin-left: 0.5%;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-title-image {
    width: 50%;
    padding: 10px 0 0;
    margin: 0 0 10px 10px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .detail-content .detail-image-index {
    float: right;
    margin-left: 15px;
    margin-bottom: 20px;
    width: 43.5%;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .text-desc {
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .text-desc img {
    width: calc(100% - 40px);
    margin: 0;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .text-desc.desc1 img {
    max-width: 549px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .text-desc.desc2 img {
    max-width: 554px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .text-desc.desc3 img {
    max-width: 566px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content .text-desc.desc4 img {
    max-width: 565px;
  }
}
@media (max-width: 660px) {
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn {
    width: 109px;
    height: 45px;
    letter-spacing: 0;
    margin-right: 10px;
    font-size: 19px;
    line-height: 14px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-content {
    margin-top: 30px;
  }
}
.visible-510 {
  display: none;
}
@media (max-width: 510px) {
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list {
    width: 90px;
    height: 43px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list:before {
    width: 108px;
    height: 55px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-type {
    width: 80px;
    height: 80px;
    font-size: 18px;
    line-height: 18px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-type .content-type-inner {
    width: 80px;
    height: 80px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-desc {
    font-size: 20px;
    line-height: 20px;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn {
    width: 89px;
    height: 37px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 11px;
  }
}
@media (max-width: 425px) {
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-type {
    display: block;
    margin: 0 auto 15px;
    float: none;
  }
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box .content-desc {
    height: calc(100% - 95px);
  }
}
@media (max-width: 410px) {
  .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn {
    width: 68px;
    height: 28px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 10px;
  }
}
@media (max-width: 400px) {
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-title {
    font-size: 31px;
    line-height: 28px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list {
    width: 90px;
    height: 90px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list:before {
    width: 145px;
    height: 138px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu1 {
    width: 90px;
    margin-right: 15px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu1:before {
    top: -15px;
    left: -18px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu2 {
    width: 80px;
    margin-right: 15px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu2:before {
    top: -9px;
    left: -23px;
  }
  .sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list.menu3:before {
    top: -14px;
    left: -18px;
  }
}
.visible-336-390 {
  display: none;
}
@media (min-width: 336px) and (max-width: 390px) {
  .visible-336-390 {
    display: block;
  }
}
.visible-401-432 {
  display: none;
}
@media (min-width: 401px) and (max-width: 432px) {
  .visible-401-432 {
    display: block;
  }
}
