#team_header .team_header_bg {
  background: url('../images/team/team_header/bg.jpg') no-repeat center center transparent;
  background-size: cover;
  overflow: hidden;
}
#team_header .team_header_bg .team_header_align {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
#team_header .team_header_bg .team_header_align .team_all {
  text-align: center;
}
#team_header .team_header_bg .team_header_align .team_all .header_text {
  font-size: 78px;
  text-align: center;
  padding-top: 31px;
}
#team_header .team_header_bg .team_header_align .team_all .header_text .bold {
  font-family: db_helvethaica_xregular;
  color: #8e6d1d;
}
#team_header .team_header_bg .team_header_align .team_all .header_text .thin {
  font-family: db_helvethaica_x_li;
  color: #8e6d1d;
}
#team_header .team_header_bg .team_header_align .team_all .header_detail {
  font-size: 36px;
  text-align: center;
  margin-top: -7px;
  margin-bottom: 9px;
}
#team_header .team_header_bg .team_header_align .team_all .header_detail .bold {
  font-family: db_helvethaica_xregular;
  color: #8e6d1d;
}
#team_header .team_header_bg .team_header_align .team_all .header_detail .thin {
  font-family: db_helvethaica_x_li;
  color: #8e6d1d;
}
#team_header .page_detail_bg {
  background: url('../images/team/team_header/team_header_detail_bg.jpg') no-repeat transparent;
  background-size: cover;
}
#team_header .page_detail_bg .page_detail_align {
  width: 960px;
  margin: 0 auto;
}
#team_header .page_detail_bg .page_detail_align .page_detail {
  text-align: center;
}
#team_header .page_detail_bg .page_detail_align .page_detail img {
  margin-top: 34px;
  margin-bottom: 12px;
}
#team_header .page_detail_bg .page_detail_align .page_detail .header_text {
  font-size: 44px;
}
#team_header .page_detail_bg .page_detail_align .page_detail .header_text .bold {
  font-family: db_helvethaica_xregular;
  color: #8e6d1d;
}
#team_header .page_detail_bg .page_detail_align .page_detail .header_text .thin {
  font-family: db_helvethaica_x_li;
  color: #8e6d1d;
}
#team_header .page_detail_bg .page_detail_align .page_detail .detail {
  margin-top: -7px;
  font-family: db_helvethaica_xregular;
  font-size: 24px;
}
#team_header .page_detail_bg .page_detail_align .page_detail .detail p {
  margin: 20px 0;
}
#team_header .page_detail_bg .page_detail_align .page_detail .detail p br {
  display: block;
}
.en #team_header .team_header_bg .team_header_align {
  height: 465px;
}
@media (min-width: 768px) {
  #team_header .team_header_bg .team_header_align {
    height: 504px;
  }
  #team_header .page_detail_bg {
    height: 464px;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail .header_text br {
    display: none;
  }
}
@media (max-width: 767px) {
  .wapContent {
    padding-top: 150px;
  }
  #team_header .team_header_bg {
    height: 220px;
  }
  #team_header .team_header_bg .team_header_align {
    width: 320px;
  }
  #team_header .team_header_bg .team_header_align .team_all {
    height: 220px;
    text-align: center;
  }
  #team_header .team_header_bg .team_header_align .team_all .header_text {
    padding: 0 10px;
    font-size: 43px;
    padding-top: 62px;
  }
  #team_header .team_header_bg .team_header_align .team_all .header_detail {
    font-size: 25px;
    margin-bottom: 13px;
  }
  #team_header .team_header_bg .team_header_align .team_all .team_pic {
    width: 270px;
    margin-top: 9px;
  }
  #team_header .page_detail_bg {
    background: url('../images/team/team_header/team_header_detail_bg.jpg') no-repeat transparent;
    background-size: cover;
  }
  #team_header .page_detail_bg .page_detail_align {
    width: 320px;
    margin: 0 auto;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail {
    text-align: center;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail img {
    margin-top: 14px;
    margin-bottom: 7px;
    width: 165px;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail .header_text {
    font-size: 26px;
    line-height: 24px;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail .header_text br {
    display: block;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail .header_text .bold {
    font-family: db_helvethaica_xregular;
    color: #8e6d1d;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail .header_text .thin {
    font-family: db_helvethaica_x_li;
    color: #8e6d1d;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail .detail {
    margin-top: -7px;
    font-family: db_helvethaica_xregular;
    font-size: 19px;
    text-align: left;
    padding-bottom: 14px;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail .detail p {
    padding: 0px 20px;
    margin: 20px 0;
  }
  #team_header .page_detail_bg .page_detail_align .page_detail .detail p br {
    display: none;
  }
  .en #team_header .team_header_bg .team_header_align .team_all .team_pic {
    margin-top: 47px;
  }
}
