#detail-box {
  background: #fbefcd !important;
}
#detail-box p.h1 {
  font-family: db_helvethaica_xregular;
  font-size: 48px;
  color: #0b3e8c;
  margin-bottom: 0px;
}
#detail-box p.h2 {
  font-family: db_helvethaica_x_li;
  font-size: 36px;
  color: #0b3e8c;
  margin: 0;
}
#detail-box p.h3 {
  font-family: db_helvethaica_xregular;
  font-size: 36px;
  color: #8e6d1d;
  margin: 14px 0px 0px;
}
#detail-box p.d1 {
  font-family: db_helvethaica_x_li;
  font-size: 24px;
  color: #8e6d1d;
  margin: 7px 0px 0px;
}
#detail-box p.db {
  font-family: db_helvethaica_xregular;
  font-size: 24px;
  color: #8e6d1d;
  margin: 7px 0px;
}
