#verify_result {
  background: url("../images/register/bg-popup.jpg") no-repeat transparent;
  background-size: cover;
}
#verify_result .panel_align {
  padding: 20px 0px 20px;
  width: 930px;
  margin: 0 auto;
  color: #8e6d1d;
  text-align: center;
}
#verify_result .panel_align .data_panel {
  background: #FFF;
  border-radius: 20px;
  padding: 20px 0px 50px;
}
#verify_result .panel_align .data_panel .header {
  font-size: 62px;
}
#verify_result .panel_align .data_panel .detail1 {
  margin-top: 20px;
  font-size: 40px;
}
#verify_result .panel_align .data_panel .detail2 {
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  #verify_result {
    background: url("../images/register/bg-popup.jpg") no-repeat transparent;
    background-size: cover;
  }
  #verify_result .panel_align {
    padding: 20px 0px 20px;
    width: calc(100% - 40px);
    margin: 50px auto 0px;
    color: #8e6d1d;
    text-align: center;
  }
  #verify_result .panel_align .data_panel {
    background: #FFF;
    border-radius: 10px;
    padding: 20px 0px 50px;
  }
  #verify_result .panel_align .data_panel .header {
    font-size: 40px;
  }
  #verify_result .panel_align .data_panel .detail1 {
    margin-top: 20px;
    font-size: 28px;
  }
  #verify_result .panel_align .data_panel .detail2 {
    font-size: 16px;
  }
}
