#hl_header {
  font-family: "db_helvethaica_xregular";
  background: url("../images/video/bg_hl.png") no-repeat scroll center -88px #f3c75a;
  height: 382px;
  overflow: hidden;
}
#hl_header #hl_header_in {
  width: 1280px;
  margin: 0 auto;
}
#hl_header #hl_header_in #header_video {
  float: left;
  width: 59%;
}
#hl_header #hl_header_in #header_video #display_video_hl {
  background: url("../images/video/bg_video_hl.png") no-repeat scroll 0 0;
  height: 327px;
  margin: 55px 0 0 120px;
  width: 596px;
}
#hl_header #hl_header_in #header_video #display_video_hl #display_video_hl_in {
  width: 533px;
  height: 318px;
  margin: 9px 0 0 53px;
  display: inline-block;
  overflow: hidden;
}
#hl_header #hl_header_in #header_video #display_video_hl #display_video_hl_in #youtube_iframe {
  width: 533px;
  height: 318px;
  background: #000;
  overflow: hidden;
}
#hl_header #hl_header_in #header_text {
  float: right;
  width: 41%;
  margin: 70px 0 0;
}
#hl_header #hl_header_in #header_text .row1 {
  font-size: 80px;
  color: #b98c23;
  line-height: 70px;
}
#hl_header #hl_header_in #header_text .row1 span.thin {
  font-family: db_helvethaica_x_li;
}
#hl_header #hl_header_in #header_text .row2 {
  color: #6a500d;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
#hl_header #hl_header_in #header_text .row3 {
  font-size: 48px;
  color: #b98c23;
  line-height: 48px;
  width: 360px;
}
#hl_header #hl_header_in #header_text .row4 {
  font-size: 48px;
  color: #6a500d;
  font-family: "db_helvethaica_x_li";
  font-family: db_helvethaica_xregular;
}
#display_slide_video {
  font-family: "db_helvethaica_xregular";
  background: #fff6d6;
  padding: 50px 0 30px;
}
#display_slide_video #display_slide_video_in {
  width: 950px;
  margin: 0 auto;
}
#display_slide_video #display_slide_video_in .video_list {
  width: 204px;
  height: 160px;
  margin: 0 17px;
}
#display_slide_video #display_slide_video_in .video_list .video_thumbnail {
  background-size: 100%;
  height: 115px;
  margin-bottom: 12px;
}
#display_slide_video #display_slide_video_in .video_list .video_thumbnail .video_btn_play {
  background: url("../images/video/btn_video_play.png") no-repeat scroll center center;
  width: 100%;
  height: 100%;
  display: block;
}
#display_slide_video #display_slide_video_in .video_list .video_title {
  color: #6a500d;
  font-size: 18px;
  line-height: 18px;
}
#display_slide_video .slick-prev {
  background: url("../images/video/btn_prev.png") no-repeat scroll center center;
  width: 17px;
  height: 30px;
  top: 55px;
}
#display_slide_video .slick-next {
  background: url("../images/video/btn_next.png") no-repeat scroll center center;
  width: 17px;
  height: 30px;
  top: 55px;
}
#video_light_box {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  display: none;
}
#video_light_box .video_align {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
#video_light_box .video_align .video_panel {
  width: 700px;
  height: 480px;
  margin: 0 auto;
}
#video_light_box .video_align .video_panel .video_iframe {
  width: 700px;
  height: 480px;
  z-index: 998;
  background: #000;
}
#video_light_box .video_align .close_video {
  background: url("../images/video/video_close.png") transparent no-repeat;
  width: 41px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.7;
  cursor: hand;
  cursor: pointer;
  z-index: 999;
}
@media (max-width: 767px) {
  #hl_header {
    height: auto;
  }
  #hl_header #hl_header_in {
    width: 100%;
    text-align: center;
  }
  #hl_header #hl_header_in #header_video {
    float: inherit;
    width: 100%;
  }
  #hl_header #hl_header_in #header_video #display_video_hl {
    background: url("../images/video/bg_video_hl_mobile.png") no-repeat scroll 0 0;
    width: 600px;
    margin: 0 auto;
  }
  #hl_header #hl_header_in #header_video #display_video_hl #display_video_hl_in {
    margin: 9px 0 0 0;
  }
  #hl_header #hl_header_in #header_text {
    margin: 40px 0 0;
    float: inherit;
    width: 100%;
  }
  #hl_header #hl_header_in #header_text .row1 {
    font-size: 45px;
    margin-top: 62px;
  }
  #hl_header #hl_header_in #header_text .row1 span.thin {
    font-family: db_helvethaica_x_li;
  }
  #hl_header #hl_header_in #header_text .row2 {
    font-size: 23px;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 12px;
  }
  #hl_header #hl_header_in #header_text .row3 {
    font-size: 25px;
    line-height: 25px;
    width: 280px;
    margin: 0 auto;
  }
  #hl_header #hl_header_in #header_text .row4 {
    font-size: 29px;
  }
  #display_slide_video #display_slide_video_in {
    width: 435px;
  }
  #display_slide_video #display_slide_video_in .video_list {
    width: 100%;
  }
  #display_slide_video #display_slide_video_in .video_list .video_thumbnail {
    height: 228px;
  }
  #display_slide_video #display_slide_video_in .video_list .video_thumbnail .video_btn_play {
    background: url("../images/video/btn_video_play_mobile.png") no-repeat scroll center center;
  }
  #display_slide_video .slick-prev .slick-next {
    width: 19px;
    height: 37px;
    background-size: contain;
  }
  #display_slide_video .slick-prev {
    left: -10px;
    top: 69px;
  }
  #display_slide_video .slick-prev::before {
    content: "";
  }
  #display_slide_video .slick-next {
    right: -10px;
    top: 69px;
  }
  #display_slide_video .slick-next::before {
    content: "";
  }
  #hl_header #hl_header_in #header_video #display_video_hl {
    width: 300px;
    background-size: 100% 100%;
    height: 160px;
  }
  #hl_header #hl_header_in #header_video #display_video_hl #display_video_hl_in {
    width: 268px;
    height: 155px;
    margin: 5px 0px 0px;
  }
  #hl_header #hl_header_in #header_video #display_video_hl #display_video_hl_in #youtube_iframe {
    width: 100%;
    height: 151px;
  }
  #display_slide_video {
    padding: 0px 0px 0px;
  }
  #display_slide_video #display_slide_video_in {
    width: 320px;
    height: 180px;
  }
  #display_slide_video #display_slide_video_in #video_list {
    width: 240px;
    margin: 0 auto;
  }
  #display_slide_video #display_slide_video_in #video_list .video_thumbnail {
    height: 150px;
    background-size: contain;
    margin-bottom: -10px;
  }
  #display_slide_video #display_slide_video_in #video_list .video_thumbnail .video_btn_play {
    background-size: contain;
  }
  #video_light_box .video_align .video_panel {
    width: 320px;
    height: 220px;
  }
  #video_light_box .video_align .video_panel .video_iframe {
    width: 320px;
    height: 220px;
  }
}
