.wyeth-detail-panel {
  background: url('../images/wyeth/detail/bg.jpg') top left no-repeat;
  background-size: cover;
  overflow: hidden;
}
.wyeth-detail-panel .wyeth-detail-panel-inner {
  width: calc(100% - 30px);
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .head-panel {
  position: relative;
  width: 100%;
  height: 420px;
  z-index: 1;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .head-panel:before {
  content: "";
  display: block;
  width: 1610px;
  height: 631px;
  position: absolute;
  background: url('../images/wyeth/detail/bg-image.png') no-repeat;
  background-size: contain;
  top: 0;
  left: -160px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .head-panel .logo_wyeth {
  position: absolute;
  top: 10px;
  left: -10px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .title-panel {
  position: relative;
  z-index: 2;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .title-panel .title {
  font-size: 45px;
  line-height: 47px;
  color: #0b3e8d;
  margin-bottom: 15px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .title-panel .subtitle {
  font-size: 34px;
  line-height: 34px;
  color: #5b4101;
  margin-bottom: 25px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel {
  font-size: 28px;
  line-height: 30px;
  color: #7b5e16;
  position: relative;
  z-index: 2;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row {
  width: 100%;
  margin-top: 70px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box {
  width: 50%;
  float: left;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box {
  display: inline-block;
  position: relative;
  font-size: 100px;
  line-height: 50px;
  color: #0b3e8d;
  text-shadow: 0 1px 0 #8E6D1D;
  letter-spacing: -4.35px;
  margin-bottom: 20px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year {
  position: absolute;
  right: 0;
  bottom: -5px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1915 {
  right: -64px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1933 {
  right: -68px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1956 {
  right: -70px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1961 {
  right: -119px;
  bottom: -10px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1989 {
  right: -114px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1996 {
  right: -111px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y2002 {
  right: -117px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y2006 {
  right: -149px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y2010 {
  right: -103px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y2015 {
  right: -76px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-detail {
  font-size: 28px;
  line-height: 27px;
  color: #7b5e16;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-paragraft {
  margin-bottom: 20px;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-paragraft:last-child {
  margin-bottom: 0;
}
.wyeth-detail-panel .wyeth-detail-panel-inner .btn-back {
  display: inline-block;
  margin: 30px 0 80px;
  width: 130px;
  height: 37px;
  box-sizing: border-box;
  border: 1px solid #825C00;
  color: #825C00;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  border-radius: 19px;
}
@media screen and (max-width: 767px) {
  .wyeth-detail-panel {
    margin-top: 150px;
    background: url('../images/wyeth/detail/bg-mobile.jpg') top left no-repeat;
    background-size: cover;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .head-panel {
    max-height: 260px;
    height: auto;
    min-height: 140px;
    padding-bottom: 35%;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .head-panel:before {
    width: calc(100vw + 250px);
    height: 453px;
    background: url('../images/wyeth/detail/bg-image-mobile.png') no-repeat;
    background-size: contain;
    top: 20px;
    left: -100px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .head-panel .logo_wyeth {
    position: relative;
    top: auto;
    left: auto;
    margin: 70px auto 0;
    display: block;
    width: 100%;
    max-width: 575px;
    height: auto;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .title-panel .title {
    font-size: 32px;
    line-height: 32px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .title-panel .subtitle {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel {
    font-size: 20px;
    line-height: 20px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row {
    margin-top: 0;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box {
    width: 100%;
    float: none;
    margin-top: 40px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box {
    font-size: 75px;
    line-height: 40px;
    letter-spacing: -3.3px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1915 {
    width: 37px;
    height: 52px;
    right: -52px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1933 {
    width: 40px;
    height: 59px;
    right: -55px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1956 {
    width: 41px;
    height: 61px;
    right: -56px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1961 {
    width: 79px;
    height: 66px;
    right: -94px;
    bottom: -5px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1989 {
    width: 74px;
    height: 84px;
    right: -89px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y1996 {
    width: 70px;
    height: 74px;
    right: -85px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y2002 {
    width: 79px;
    height: 65px;
    right: -94px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y2006 {
    width: 102px;
    height: 72px;
    right: -117px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y2010 {
    width: 67px;
    height: 43px;
    right: -82px;
    bottom: 0;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-year-box .icon-year.y2015 {
    width: 46px;
    height: 46px;
    right: -61px;
    bottom: 0;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-row .content-box .text-detail {
    font-size: 20px;
    line-height: 20px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .content-panel .content-paragraft {
    margin-bottom: 15px;
  }
  .wyeth-detail-panel .wyeth-detail-panel-inner .btn-back {
    display: block;
    width: 250px;
    margin: 25px auto 50px;
  }
}
