.gold {
  color: #5b4101 !important;
}
a:link {
  -webkit-tap-highlight-color: transparent;
}
.wyeth-panel .wyeth_nav_bar {
  width: 100%;
  height: 70px;
  background: #DA3;
  position: fixed;
  top: -70px;
  left: 0px;
  z-index: 4;
  transition: top 0.5s;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth_nav_bar {
    display: none;
  }
}
.wyeth-panel .wyeth_nav_bar .align {
  width: 1280px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}
.wyeth-panel .wyeth_nav_bar .align .logo {
  width: 159px;
  height: 43px;
  /* background: url("../images/wyeth/wyeth_logo_w_3.png") no-repeat;*/
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 14px;
  left: 161px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel {
  position: absolute;
  right: 160px;
  top: 20px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn {
  display: inline-block;
  margin: 0 15px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn .wyeth-icon {
  display: inline-block;
  vertical-align: middle;
  background: url('../images/wyeth/icon.svg') no-repeat;
  margin-right: 10px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn .wyeth-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
  line-height: 27px;
  color: #fff;
  text-shadow: 0 1px 0 #AF6300;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn.wyeth_btn1 .wyeth-icon {
  width: 33px;
  height: 25px;
  background-position: -52px -231px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn.wyeth_btn1.active .wyeth-icon {
  background-position: -97px -231px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn.wyeth_btn2 .wyeth-icon {
  width: 34px;
  height: 28px;
  background-position: 0 0;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn.wyeth_btn2.active .wyeth-icon {
  background-position: 0 -36px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn.wyeth_btn3 .wyeth-icon {
  width: 28px;
  height: 21px;
  background-position: -89px -3px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .wyeth_btn.wyeth_btn3.active .wyeth-icon {
  background-position: -89px -39px;
}
.wyeth-panel .wyeth_nav_bar .align .button_panel .active .wyeth-text {
  color: #A4080E;
  text-shadow: 0 1px 0 #FFCA4C;
}
.wyeth-panel .active {
  top: 0;
  transition: top 0.5s;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel {
  width: 100%;
  height: 550px;
  position: relative;
}
@media screen and (min-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel {
    /*background: url('../images/wyeth/bg-wyeth-main_new.jpg') center right no-repeat;*/
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel {
    background: url('../images/wyeth/bg-wyeth-main-mobile_new.jpg') center center no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 75%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .background_mb {
    width: 290px;
    height: 290px;
    position: absolute;
    right: 0px;
    top: -32px;
    /*background: url('../images/wyeth/kidmom.png') center right no-repeat;*/
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    display: none;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner {
  width: calc(100% - 30px);
  max-width: 970px;
  height: 100%;
  margin: 0 auto;
  padding-top: 400px;
  box-sizing: border-box;
  /*
				.button-box{
					text-align: center;
					.button-link{
						display: inline-block;
						width: 200px;
						height: 60px;
						background: @red;
						border-radius: 100px;
						margin-right: 20px;
						color: #fff;
						&:hover {
							background: #d60e20;
							@media screen and (max-width: 767px) {
								background: @red;
							}
						}
						@media screen and (max-width: 767px) {
							width: 285px;
							height: 43px;
							font-size: 20px;
							line-height: 43px;
							display: block;
							margin: 10px auto 0px;
						}
						.font(28px,60px);
						&:last-child{
							margin-right: 0px;

							@media screen and (max-width: 767px) {
								width: 285px;
								height: 43px;
								font-size: 20px;
								line-height: 43px;
								display: block;
								margin: 10px auto 0px;
							}
						}
						.icon{
						    display: inline-block;
						    vertical-align: middle;
						    margin-right: 15px;
						    background: @icon;
							@media screen and (max-width: 767px) {
								transform: scale(0.7);
							}
						    &.legacy{
						    	width: 43px;
						    	height: 38px;
						    	background-position: -136px 0;
						    }
						    &.team{
						    	width: 52px;
						    	height: 30px;
						    	background-position: -189px -3px;
						    }
						    &.contact{
						    	width: 36px;
						    	height: 28px;
					    	    background-position: -251px -5px;
						    }
						    &.article{
						    	width: 40px;
						    	height: 30px;
						    	background-position: 0 -231px;
						    }
						}
						.text{
						    display: inline-block;
   							vertical-align: top;
						}
					}
				}
				*/
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .logo {
  width: 433px;
  height: 190px;
  /*background: url(../images/wyeth/wyeth_logo_w_4.png) no-repeat;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  top: -25px;
  margin: 0 auto;
  display: none;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .logo {
    width: 90vw;
    height: calc(90vw * ( 241 / 690 ));
    top: 0;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner {
    padding-top: 40px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .text-panel {
  font-size: 28px;
  line-height: 28px;
  color: #5b4101;
  text-align: center;
  margin-bottom: 85px;
  display: none;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .text-panel {
    font-size: 21px;
    position: relative;
    margin: 30px auto;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box {
  text-align: center;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link {
  display: inline-block;
  width: 200px;
  height: 60px;
  background: #e21f26;
  border-radius: 100px;
  margin-right: 20px;
  color: #fff;
  font-size: 28px;
  line-height: 60px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link:hover {
  background: #d60e20;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link:hover {
    background: #e21f26;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link {
    width: 285px;
    height: 43px;
    font-size: 20px;
    line-height: 43px;
    display: block;
    margin: 10px auto 0px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link:last-child {
    width: 285px;
    height: 43px;
    font-size: 20px;
    line-height: 43px;
    display: block;
    margin: 10px auto 0px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: url('../images/wyeth/icon.svg') no-repeat;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon {
    transform: scale(0.7);
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon.legacy {
  width: 43px;
  height: 38px;
  background-position: -136px 0;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon.team {
  width: 52px;
  height: 30px;
  background-position: -189px -3px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon.contact {
  width: 36px;
  height: 28px;
  background-position: -251px -5px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .icon.article {
  width: 40px;
  height: 30px;
  background-position: 0 -231px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-main-panel .wyeth-main-panel-inner .button-box .button-link .text {
  display: inline-block;
  vertical-align: top;
}
.wyeth-panel .wyeth-panel-inner .wyeth-menubar {
  position: relative;
  top: -68px;
}
@media (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-menubar {
    top: -149px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  /*background: url('../images/wyeth/bg-wyeth-article.jpg') bottom right no-repeat;*/
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 736px;
  box-sizing: border-box;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner {
  position: relative;
  width: calc(100% - 30px);
  max-width: 970px;
  height: 100%;
  margin: 0 auto;
  padding-top: 400px;
  box-sizing: border-box;
  padding-top: 40px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner {
    padding-top: 40px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 81px;
  margin-right: 15px;
  background: url('../images/wyeth/icon.svg') no-repeat;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon.legacy {
  background-position: 0px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon.team {
  background-position: -92px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon.contact {
  background-position: -184px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon.article {
  background-position: -141px -230px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon {
    width: 50px;
    height: 50px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon.legacy {
    background-position: 0px -169px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon.contact {
    background-position: -114px -169px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-icon.article {
    background-position: -231px -230px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .legacy-icon {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 90px;
  background: url("../images/wyeth/icon/Wyeth_All.svg") no-repeat;
  background-size: contain;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .legacy-icon {
    width: 50px;
    height: 65px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
  line-height: 28px;
  color: #fff;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-text.legacy {
  text-shadow: 0 0 30px #53666C;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-text.team {
  text-shadow: 0 0 30px #886A1B;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-text {
    font-size: 19px;
    line-height: 19px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-text {
  color: #5B4101;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .title-box .title-text {
    width: calc(100% - 70px);
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel {
  width: 530px;
  margin: 30px 0 0 60px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-box {
  width: 260px;
  height: 260px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  /*background: url("../images/wyeth/bg-article.jpg") no-repeat;*/
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 25px 10px 25px 15px;
  box-sizing: border-box;
  box-shadow: 0 0 20px #fff;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-box:first-child {
  margin-left: 0;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-box .text-box .title {
  color: #0B3E8D;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #FEFAF1;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-box .text-box .title .top {
  font-size: 48px;
  line-height: 30px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-box .text-box .desc {
  color: #5B4101;
  font-size: 26px;
  line-height: 25px;
  letter-spacing: -0.2px;
  text-shadow: 0 0 10px #FEFAF1;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-box .btn-arrow {
  width: 36px;
  height: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: url('../images/wyeth/icon.svg') no-repeat;
  background-position: 0px -273px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .img-article {
  position: absolute;
  right: -210px;
  bottom: -20px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel {
  width: 100%;
  padding-bottom: 30px;
  height: auto;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel {
    /*background: url('../images/wyeth/bg-wyeth-legacy.jpg') center right no-repeat;*/
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel {
    /*background: url('../images/wyeth/legacy_background.jpg') center right no-repeat;*/
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: top right;
    padding-bottom: 0px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .legacy_bg {
    position: absolute;
    /*background: url('../images/wyeth/legacy_doctor.png') center right no-repeat;*/
    background-position: center right;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background-size: cover;
    top: 92px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner {
  position: relative;
  width: calc(100% - 30px);
  max-width: 970px;
  height: 100%;
  margin: 0 auto;
  padding-top: 400px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner {
    min-height: 460px;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner {
    padding-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box {
    height: 60px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 81px;
  margin-right: 15px;
  background: url('../images/wyeth/icon.svg') no-repeat;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon.legacy {
  background-position: 0px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon.team {
  background-position: -92px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon.contact {
  background-position: -184px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon.article {
  background-position: -141px -230px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon {
    width: 50px;
    height: 50px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon.legacy {
    background-position: 0px -169px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon.contact {
    background-position: -114px -169px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-icon.article {
    background-position: -231px -230px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .legacy-icon {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 90px;
  background: url("../images/wyeth/icon/Wyeth_All.svg") no-repeat;
  background-size: contain;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .legacy-icon {
    width: 50px;
    height: 65px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
  line-height: 28px;
  color: #fff;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-text.legacy {
  text-shadow: 0 0 30px #53666C;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-text.team {
  text-shadow: 0 0 30px #886A1B;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-text {
    font-size: 19px;
    line-height: 19px;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .wyeth-legacy-panel-inner .title-box .title-text {
    width: calc(100vw - 160px);
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .arrow {
  position: absolute;
  width: 100%;
  top: 453px;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .arrow {
    width: calc(100vw - 30px);
    top: 193px;
    padding-top: 65px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .arrow .left_arrow {
  display: block;
  position: absolute;
  width: 18px;
  height: 31px;
  background-image: url("../images/wyeth/arrow.png");
  background-repeat: no-repeat;
  background-position: 2px 1px;
  top: 10px;
  left: -15px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .arrow .left_arrow {
    top: auto;
    left: -2px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .arrow .right_arrow {
  display: block;
  position: absolute;
  width: 18px;
  height: 31px;
  background-image: url("../images/wyeth/arrow.png");
  background-repeat: no-repeat;
  background-position: -18px 1px;
  top: 10px;
  right: -15px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .arrow .right_arrow {
    top: auto;
    right: -2px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .arrow .deactive {
  opacity: 0.5;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel {
  width: 100%;
  height: 660px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url("../images/wyeth/line.png") repeat-x center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel {
    width: calc(100vw - 70px);
    margin: 0 auto;
    height: 217px;
    padding-top: 65px;
    background-position: 0 173px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table {
  display: table;
  height: 660px;
  padding: 0px 300px 0px 365px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table {
    padding: 0 calc((100vw /2) - 104px);
    height: 217px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row {
  display: table-row;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data {
  transition-delay: 0.4s;
  transition-duration: 0.4s;
  transition-property: all;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box {
  background-image: url("../images/wyeth/background_circle.jpg");
  background-size: cover;
  display: inline-block;
  position: relative;
  border-radius: 500px;
  transform: scale(0);
  transition-delay: 0.0s;
  transition-duration: 0.4s;
  transition-property: all;
  margin: 0 auto;
  z-index: 2;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .year {
  position: absolute;
  width: 106px;
  height: 43px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .year {
    top: 42px !important;
    left: 12px !important;
    transform: scale(0.8) !important;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product {
  width: 159px;
  height: 43px;
  position: absolute;
  top: -65px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product1 {
  left: 36px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product2 {
  left: 21px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product3 {
  left: 71px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product4 {
  left: 36px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product5 {
  left: 71px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product6 {
  left: 56px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product7 {
  left: 91px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product8 {
  left: 81px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product9 {
  left: 146px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product10 {
  left: 81px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product11 {
  left: 61px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product12 {
  left: 46px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product13 {
  left: 96px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product14 {
  left: 91px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product1,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product2,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product3,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product4,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product5,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product6,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product7,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product8,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product9,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product10,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product11,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product12,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product13,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .wyeth_product.product14 {
    left: -14px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.new {
  width: 60px;
  height: 85px;
  background: url("../images/wyeth/icon/Wyeth_New.svg") no-repeat;
  background-size: contain;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.origin {
  width: 60px;
  height: 85px;
  background: url("../images/wyeth/icon/Wyeth_Origin.svg") no-repeat;
  background-size: contain;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product1 {
  right: 10px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product2 {
  right: -10px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product3 {
  width: 80px;
  height: 100px;
  background: url("../images/wyeth/icon/Wyeth_1933.svg") no-repeat;
  background-size: contain;
  top: -5px;
  right: 20px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product4 {
  width: 75px;
  height: 100px;
  background: url("../images/wyeth/icon/Wyeth_1947.svg") no-repeat;
  background-size: contain;
  top: -10px;
  right: -10px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product5 {
  top: 10px;
  right: 10px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product6 {
  top: 5px;
  right: 10px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product7 {
  top: 10px;
  right: 25px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product8 {
  width: 80px;
  height: 100px;
  background: url("../images/wyeth/icon/Wyeth_1989.svg") no-repeat;
  background-size: contain;
  top: -5px;
  right: 20px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product9 {
  width: 139px;
  height: 109px;
  background: url("../images/wyeth/icon/Wyeth_1996.svg") no-repeat;
  background-size: contain;
  top: -5px;
  right: 20px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product10 {
  width: 87px;
  height: 101px;
  background: url("../images/wyeth/icon/Wyeth_1997.svg") no-repeat;
  background-size: contain;
  top: -10px;
  right: 20px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product11 {
  width: 110px;
  height: 90px;
  background: url("../images/wyeth/icon/Wyeth_2002.svg") no-repeat;
  background-size: contain;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product12 {
  width: 80px;
  height: 100px;
  background: url("../images/wyeth/icon/Wyeth_2006.svg") no-repeat;
  background-size: contain;
  top: -15px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product13 {
  top: 25px;
  right: 15px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product14 {
  top: 15px;
  right: 30px;
}
@media (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.new,
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.origin {
    top: -10px;
    right: -15px;
    width: 40px;
    height: 57px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product3 {
    width: 55px;
    height: 70px;
    top: -25px;
    right: -25px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product4 {
    width: 55px;
    height: 73px;
    top: -25px;
    right: -25px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product8 {
    width: 55px;
    height: 72px;
    top: -25px;
    right: -25px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product9 {
    width: 66px;
    height: 52px;
    top: -5px;
    right: -35px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product10 {
    width: 55px;
    height: 68px;
    top: -20px;
    right: -25px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product11 {
    width: 70px;
    height: 57px;
    top: -10px;
    right: -40px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .product-icon.product12 {
    width: 55px;
    height: 70px;
    top: -20px;
    right: -25px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .detail {
  position: absolute;
  font-size: 28px;
  color: #FFF;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .data .detail_box .detail {
    display: none;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .active {
  transition-delay: 0.4s;
  transition-duration: 0.4s;
  transition-property: all;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .active .detail_box {
  transition-delay: 0.8s;
  transition-duration: 0.4s;
  transition-property: all;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot {
  display: block;
  width: 10px;
  height: 10px;
  background: #FFF;
  position: absolute;
  top: 325px;
  left: calc(50% - 5px);
  line-height: 0px;
  font-size: 0px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot {
    top: 104px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year {
  width: 56px;
  height: 26px;
  position: relative;
  top: 24px;
  left: -25px;
  background-image: url("../images/wyeth/year_small.png");
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year {
    display: none;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year1 {
  background-position: 0px 2px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year2 {
  background-position: 0px -27px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year3 {
  background-position: 0px -54px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year4 {
  background-position: 0px -80px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year5 {
  background-position: 0px -104px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year6 {
  background-position: 0px -130px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year7 {
  background-position: 0px -157px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year8 {
  background-position: 0px -183px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year9 {
  background-position: 0px -209px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year10 {
  background-position: 0px -237px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year11 {
  background-position: 0px -264px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year12 {
  background-position: 0px -291px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year13 {
  background-position: 0px -318px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data_cell .history_dot .year14 {
  background-position: 0px -345px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .line {
  display: table-cell;
  vertical-align: middle;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .line .line_dash {
  width: 100px;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .line .line_dash {
    width: 50px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data1 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data1 .data .detail_box {
  width: 230px;
  height: 230px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data1 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data1 .data .detail_box .year {
  top: 40px;
  left: 44px;
  display: block;
  background-image: url("../images/wyeth/year_big/1915.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data1 .data .detail_box .detail {
  width: 163px;
  top: 90px;
  left: 43px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data1 .active {
  width: 230px;
  height: 230px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data1 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data1 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data2 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data2 .data .detail_box {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data2 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data2 .data .detail_box .year {
  top: 40px;
  left: 34px;
  display: block;
  background-image: url("../images/wyeth/year_big/1920.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data2 .data .detail_box .detail {
  width: 163px;
  top: 90px;
  left: 34px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data2 .active {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data2 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data2 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data3 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data3 .data .detail_box {
  width: 300px;
  height: 300px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data3 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data3 .data .detail_box .year {
  top: 51px;
  left: 48px;
  display: block;
  background-image: url("../images/wyeth/year_big/1933.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data3 .data .detail_box .detail {
  width: 220px;
  top: 104px;
  left: 47px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data3 .active {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data3 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data3 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data4 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data4 .data .detail_box {
  width: 230px;
  height: 230px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data4 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data4 .data .detail_box .year {
  top: 40px;
  left: 44px;
  display: block;
  background-image: url("../images/wyeth/year_big/1947.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data4 .data .detail_box .detail {
  width: 163px;
  top: 90px;
  left: 43px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data4 .active {
  width: 230px;
  height: 230px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data4 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data4 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data5 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data5 .data .detail_box {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data5 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data5 .data .detail_box .year {
  top: 51px;
  left: 48px;
  display: block;
  background-image: url("../images/wyeth/year_big/1951.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data5 .data .detail_box .detail {
  width: 220px;
  top: 104px;
  left: 47px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data5 .active {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data5 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data5 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data6 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data6 .data .detail_box {
  width: 270px;
  height: 270px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data6 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data6 .data .detail_box .year {
  top: 51px;
  left: 48px;
  display: block;
  background-image: url("../images/wyeth/year_big/1956.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data6 .data .detail_box .detail {
  width: 198px;
  top: 104px;
  left: 47px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data6 .active {
  width: 270px;
  height: 270px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data6 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data6 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data7 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data7 .data .detail_box {
  width: 340px;
  height: 340px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data7 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data7 .data .detail_box .year {
  top: 51px;
  left: 48px;
  display: block;
  background-image: url("../images/wyeth/year_big/1961.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data7 .data .detail_box .detail {
  width: 255px;
  top: 104px;
  left: 47px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data7 .active {
  width: 340px;
  height: 340px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data7 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data7 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data8 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data8 .data .detail_box {
  width: 320px;
  height: 320px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data8 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data8 .data .detail_box .year {
  top: 45px;
  left: 59px;
  display: block;
  background-image: url("../images/wyeth/year_big/1989.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data8 .data .detail_box .detail {
  width: 220px;
  top: 99px;
  left: 59px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data8 .active {
  width: 320px;
  height: 320px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data8 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data8 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data9 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data9 .data .detail_box {
  width: 450px;
  height: 450px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data9 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data9 .data .detail_box .year {
  top: 62px;
  left: 85px;
  display: block;
  background-image: url("../images/wyeth/year_big/1996.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data9 .data .detail_box .detail {
  width: 320px;
  top: 116px;
  left: 86px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data9 .active {
  width: 450px;
  height: 450px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data9 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data9 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data10 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data10 .data .detail_box {
  width: 320px;
  height: 320px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data10 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data10 .data .detail_box .year {
  top: 45px;
  left: 59px;
  display: block;
  background-image: url("../images/wyeth/year_big/1997.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data10 .data .detail_box .detail {
  width: 220px;
  top: 99px;
  left: 59px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data10 .active {
  width: 320px;
  height: 320px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data10 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data10 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data11 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data11 .data .detail_box {
  width: 280px;
  height: 280px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data11 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data11 .data .detail_box .year {
  top: 51px;
  left: 48px;
  display: block;
  background-image: url("../images/wyeth/year_big/2002.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data11 .data .detail_box .detail {
  width: 210px;
  top: 104px;
  left: 47px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data11 .active {
  width: 280px;
  height: 280px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data11 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data11 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data12 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data12 .data .detail_box {
  width: 250px;
  height: 250px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data12 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data12 .data .detail_box .year {
  top: 40px;
  left: 44px;
  display: block;
  background-image: url("../images/wyeth/year_big/2006.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data12 .data .detail_box .detail {
  width: 170px;
  top: 90px;
  left: 43px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data12 .active {
  width: 250px;
  height: 250px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data12 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data12 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data13 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data13 .data .detail_box {
  width: 350px;
  height: 350px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data13 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data13 .data .detail_box .year {
  top: 67px;
  left: 59px;
  display: block;
  background-image: url("../images/wyeth/year_big/2010.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data13 .data .detail_box .detail {
  width: 255px;
  top: 121px;
  left: 62px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data13 .active {
  width: 350px;
  height: 350px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data13 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data13 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data14 .data {
  width: 0px;
  height: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data14 .data .detail_box {
  width: 340px;
  height: 340px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data14 .data .detail_box {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data14 .data .detail_box .year {
  top: 54px;
  left: 55px;
  display: block;
  background-image: url("../images/wyeth/year_big/2011.png");
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data14 .data .detail_box .detail {
  width: 270px;
  top: 106px;
  left: 55px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data14 .active {
  width: 340px;
  height: 340px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data14 .active {
    width: 130px;
    height: 130px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .slide_panel .data_show_panel .data_table .data_row .data14 .active .detail_box {
  transform: scale(1);
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .mobile_detail_panel {
  font-size: 21px;
  padding: 0 30px;
  color: #5B4101;
  display: none;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .mobile_detail_panel {
    display: block;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .readmore {
  width: 200px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #8E6D1D;
  box-sizing: border-box;
  border-radius: 100px;
  color: #A88936;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-legacy-panel .readmore {
    position: relative;
    width: calc(100% - 60px);
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #8E6D1D;
    margin: 30px auto;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel {
  width: 100%;
  height: 732px;
  background: url('../images/wyeth/bg-wyeth-team.jpg') center right no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel {
    height: auto;
    background-position: top left;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner {
  position: relative;
  width: calc(100% - 30px);
  max-width: 970px;
  height: 100%;
  margin: 0 auto;
  padding-top: 400px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner {
    padding-top: 40px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 81px;
  margin-right: 15px;
  background: url('../images/wyeth/icon.svg') no-repeat;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon.legacy {
  background-position: 0px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon.team {
  background-position: -92px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon.contact {
  background-position: -184px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon.article {
  background-position: -141px -230px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon {
    width: 50px;
    height: 50px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon.legacy {
    background-position: 0px -169px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon.contact {
    background-position: -114px -169px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-icon.article {
    background-position: -231px -230px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .legacy-icon {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 90px;
  background: url("../images/wyeth/icon/Wyeth_All.svg") no-repeat;
  background-size: contain;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .legacy-icon {
    width: 50px;
    height: 65px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
  line-height: 28px;
  color: #fff;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-text.legacy {
  text-shadow: 0 0 30px #53666C;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-text.team {
  text-shadow: 0 0 30px #886A1B;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .title-box .title-text {
    font-size: 19px;
    line-height: 19px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .image-map area {
  cursor: pointer;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .image-map area:focus {
  outline: 0;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .img-team {
  position: absolute;
  left: -10px;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .img-team {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .image_mobile {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .wyeth-team-panel-inner .image_mobile {
    display: block;
    width: calc(100vw - 30px);
    height: calc( (100vw - 30px ) * ( 433 / 990 ));
    background-image: url("../images/wyeth/doctors.png");
    background-size: contain;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail {
  position: absolute;
  color: #FFF;
  font-size: 0px;
  line-height: 0px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail {
    position: initial;
    margin: 15px 0;
    width: 290px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative {
  position: relative;
  height: 100px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative {
    height: auto;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative .detail {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  position: relative;
  width: 350px;
  top: -12px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative .detail {
    margin: 0px;
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    top: 0px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative .detail .doctor_name {
  font-size: 34px;
  line-height: 34px;
  text-shadow: 0px 0px 10px #9C7E2A;
  position: relative;
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative .detail .doctor_name {
    opacity: 1;
    font-size: 26px;
    line-height: 26px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative .detail .doctor_position {
  font-size: 28px;
  line-height: 28px;
  text-shadow: 0px 0px 10px #9C7E2A;
  position: relative;
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative .detail .doctor_position {
    opacity: 1;
    font-size: 21px;
    line-height: 21px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative .line {
  border-left: 1px solid #FFF;
  width: 1px;
  height: 0px;
  display: inline-block;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  bottom: 0px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .doctor_relative .line_show {
  height: 100px;
  transition: height 0.2s;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .left .line {
  left: 0px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .left .line {
    height: 37px;
    top: 8px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .left .detail .doctor_name {
  text-align: left;
  left: -20px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .left .detail .doctor_name {
    left: 0px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .left .detail .doctor_position {
  text-align: left;
  left: -10px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .left .detail .doctor_position {
    left: 0px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .left .detail .doctor_name_show {
  opacity: 1;
  left: 0px;
  transition: left 0.5s , opacity 0.5s;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .left .detail .doctor_position_show {
  opacity: 1;
  left: 0px;
  transition: left 0.5s , opacity 0.5s;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .right .line {
  right: 0px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .right .line {
    right: inherit;
    height: 37px;
    top: 8px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .right .detail .doctor_name {
  text-align: right;
  right: -20px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .right .detail .doctor_name {
    text-align: left;
    right: inherit;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .right .detail .doctor_position {
  text-align: right;
  right: -10px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .right .detail .doctor_position {
    text-align: left;
    right: inherit;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .right .detail .doctor_name_show {
  opacity: 1;
  right: 0px;
  transition: right 0.5s , opacity 0.5s;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_detail .right .detail .doctor_position_show {
  opacity: 1;
  right: 0px;
  transition: right 0.5s , opacity 0.5s;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_1 {
  top: 173px;
  left: 130px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_2 {
  top: 173px;
  left: 300px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_2 .left .line {
    height: 56px;
    top: 8px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_3 {
  top: 173px;
  left: 480px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_4 {
  top: 173px;
  right: 290px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_4 .right .line {
    height: 56px;
    top: 8px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_5 {
  top: 173px;
  right: 130px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-team-panel .doctor_5 .right .line {
    height: 56px;
    top: 8px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel {
  width: 100%;
  height: 532px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel {
    background: url('../images/wyeth/bg-wyeth-contact.jpg') center right no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel {
    background: url('../images/wyeth/contact_background.jpg') center right no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .contact_bg {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -10px;
    right: 0;
    background: url('../images/wyeth/contact_mom.png') center right no-repeat;
    background-size: contain;
    z-index: 1;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner {
  z-index: 2;
  position: relative;
  width: calc(100% - 30px);
  max-width: 970px;
  height: 100%;
  margin: 0 auto;
  padding-top: 400px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner {
    padding-top: 40px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 81px;
  margin-right: 15px;
  background: url('../images/wyeth/icon.svg') no-repeat;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon.legacy {
  background-position: 0px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon.team {
  background-position: -92px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon.contact {
  background-position: -184px -76px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon.article {
  background-position: -141px -230px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon {
    width: 50px;
    height: 50px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon.legacy {
    background-position: 0px -169px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon.contact {
    background-position: -114px -169px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon.article {
    background-position: -231px -230px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .legacy-icon {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 90px;
  background: url("../images/wyeth/icon/Wyeth_All.svg") no-repeat;
  background-size: contain;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .legacy-icon {
    width: 50px;
    height: 65px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
  line-height: 28px;
  color: #fff;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text.legacy {
  text-shadow: 0 0 30px #53666C;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text.team {
  text-shadow: 0 0 30px #886A1B;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text {
    font-size: 19px;
    line-height: 19px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-icon {
  vertical-align: top;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .header {
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .header {
    margin-top: 6px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .address {
  margin-top: 75px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .address {
    margin-top: 40px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .address .f34 {
  font-size: 34px;
}
@media screen and (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .address .f34 {
    font-size: 24px;
  }
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .telephone {
  margin-top: 20px;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .telephone .mail {
  color: #C72228;
}
.wyeth-panel .wyeth-panel-inner .wyeth-contact-panel .wyeth-contact-panel-inner .title-box .title-text .telephone .phone {
  color: #5b4101;
}
@media (max-width: 767px) {
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel {
    background: url('../images/wyeth/bg-wyeth-article-mobile.jpg') bottom center no-repeat;
    background-size: cover;
    height: auto;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel {
    margin: 25px auto 10px;
    width: 100%;
    max-width: 422px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-row .article-box {
    width: calc(50% - 5px);
    height: 200px;
    padding: 20px 5px 20px 10px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-row .article-box .text-box .title {
    font-size: 20px;
    line-height: 20px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-row .article-box .text-box .title .top {
    font-size: 32px;
    line-height: 20px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .article-panel .article-row .article-box .text-box .desc {
    font-size: 19px;
    line-height: 19px;
  }
  .wyeth-panel .wyeth-panel-inner .wyeth-article-panel .wyeth-article-panel-inner .img-article {
    position: relative;
    display: block;
    margin: 0 auto;
    bottom: auto;
    right: auto;
    width: 100%;
    max-width: 555px;
    height: auto;
  }
}
@media (max-width: 360px) {
  br.mbnl {
    display: none;
  }
}
