@gray: #444;
@gold: #9b7b30;
@blue: #0052A1;
@brown: #413620;

@bg-btn: url('../images/product/mom_gold/bg-btn.png') no-repeat;
@btn-light: url('../images/product/mom_gold/btn-light.png') no-repeat;

.font(@font,@line-height:@font){
	font-size: @font;
	line-height: @line-height;
}

#product-panel{
	#banner-product{
		width: 100%;
		height: 810px;
		background: url('../images/product/progress/bg-banner-product.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		.banner-inner{
			width: calc(~"100% - 40px");
			height: 100%;
			max-width: 1043px;
			margin: 0 auto;
			.banner-image{
			    position: relative;
			    top: 15px;
			    right: 15px;
			}
		}
	}
	#banner-panel{
		width: 100%;
		height: 800px;
		background: #fff url('../images/product/progress/bg-banner.png') no-repeat;
		background-size: 100% 100%;
		overflow: hidden;
		.banner-inner{
			width: calc(~"100% - 40px");
			height: 100%;
			max-width: 1043px;
			margin: 0 auto;
			.banner-image{
				position: relative;
				left: -438px;
			}
		}
	}
	#content-panel{
		width: 100%;
		min-height: 1000px;
		background: url('../images/product/progress/bg-content.jpg') no-repeat;
		background-size: cover;
		position: relative;
		&:before{
			content: "";
			display: block;				
			width: 100%;
			height: calc(~"100vw * .7144");
			min-height: 914.432px;
			background: url('../images/product/progress/img-content.png') no-repeat;
			background-size: cover;
			position: absolute;
			top: calc(~"(100vw * .7144) * .383 * -1");
			left: 0;
			z-index: 1;
			@media (max-width: 1280px){
				top: -350px;
			}
		}
		.content-inner{
			height: 100%;
			margin: 0 auto;
			position: relative;
			top: -90px;
			z-index: 2;
		}
	}
	#info{
		overflow: hidden;
	    padding-top: 90px;
		.info-panel{
			position: relative;
			width: calc(~"100% - 40px");
			max-width: 1043px;
			margin: auto;
			.info-remark{
				text-align: center;
			    display: inline-block;
			    position: absolute;
			    left: 0;
			    top: -90px;
			    .font(28px,23px);
			    color: @gray;
			    padding-left: 5px;
			    letter-spacing: -0.3px;
			}
			.info-image{
			    position: relative;
			    left: -70px;
			    margin-top: -30px;
			}
			.info-desc{
				color: @gold;
				.font(38px,34px);
				position: absolute;
			    bottom: 120px;
			    left: 5px;
			}
		}
	}
	#article-btn{
		width: 100%;
		height: 100%;
		margin-top: -60px;
		margin-bottom: 25px;
		.article-panel{
			.article-inner-panel{
				width: calc(~"100% - 40px");
				height: 100%;
				max-width: 1043px;
				margin: 0 auto;
				.title-box{
					text-align: left;
					padding-left: 5px;
					margin-bottom: 50px;
					.title-image{
						position: relative;
						left: -10px;
					}
					.title{
						.font(48px,42px);
						color: @blue;
						margin-bottom: 15px;
					}
					.desc{							
						.font(38px,34px);
						color: @gold;
					}
				}
				#menu-pe-gold{
					display: flex;
					justify-content: center;
					.btn-list{
						width: 190px;
						height: 60px;
						background: @bg-btn;
						background-size: contain;
						margin-right: 35px;
						display: table;
						position: relative;
						&:last-child{
							margin-right: 0;
						}
						&:before{
							content: "";
							background: @btn-light;
							width: 227px;
							height: 56px;
							position: absolute;
						    top: -25px;
			    			left: -50px;
			    			z-index: -1;
						}
						.btn-inner{
						    display: table-cell;
			    			vertical-align: middle;
			    			text-align: center;
			    			.font(32px,30px);
			    			color: @blue;
						}
					}
				}
			}
		}
	}
	.content{
		.inner{
			width: calc(~"100% - 40px");
			height: 100%;
			max-width: 1043px;
			margin: 0 auto;
			.detail-bottom{
				padding-top: 35px;
				padding-bottom: 45px;
				.detail-text{
					display: inline-block;
					color: @brown;
					&.left{
						float: left;
						.font(30px,28px);
						padding-left: 35px;
					}
					&.right{
						float: right;
						.font(30px);
						letter-spacing: -1px;
					}
				}
			}
		}
	}
	#article-momtip{
		width: 100%;
		height: auto;
		background: url('../images/home/trick-mom/bg-trick-mom.jpg') top center no-repeat;
		.article-momtip-panel{
			max-width: 950px;
			height: 630px;
			margin: 0 auto;
			.momtip-header{
				width: auto;
				padding: 45px 0 15px;
				.momtip-header-left{
					display: inline-block;
					font-size: 80px;
					color: #a87914;
					font-family: 'db_helvethaica_x_li';
					margin-right: 40px;
					vertical-align: middle;
				}
				.momtip-header-right{
					display: inline-block;
					font-size: 24px;
					color: #444444;
					width: 535px;
					line-height: 26px;
					vertical-align: middle;
					letter-spacing: 0.3px;
				}
			}
			.momtip-body{
				max-width: 960px;
					margin: 0 auto;
					.trick-mom-box{
	  				width: 100%;
	  				float: left;
					.trick-mom-body-list{
						list-style: none;
						padding: 0;
						font-family: 'db_helvethaica_xregular';
						.list-body-img-panel{
							.list-body{
								float: left;
								width: 280px;
								padding: 10px;
								height: 410px;
								position: relative;
								background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////GQAJyAPKSOz6nwAAAABJRU5ErkJggg==') repeat;
								border-radius: 10px;
								-moz-border-radius: 10px;
								-webkit-border-radius: 10px;
								margin: 0 10px;
								.list-content{
									display: block;
									height: 100%;
									position: relative;
								}
								.list-body-img-panel_cover {
									height: 205px;
									margin: 0 auto;
									position: relative;
									.trick-img{
										border-radius:10px;
										-moz-border-radius: 10px;
							            -webkit-border-radius: 10px;
									}
									.list-body-svg{
										margin: 0 auto;
										display: block;
										width: 228px;
									}
									.list-body-image{
										margin: 0 auto;
									}
									.list-body-logo{
										position: absolute;
										right: 20px;
										bottom: -10px;
										width:48px;
										height:48px;
									}
									.spite1 {
										background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
										background-position: 0px 0px;
									}
									.spite2 {
										background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
										background-position: -48px 0px;
									}
									.spite3 {
										background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
										background-position: -96px 0px;
									}
									.cover-video{
										position: absolute;
										left: 0;
										right: 0;
										margin: 0 auto;
										width: 72px;
										height: 72px;
										top: 32%;
									}
								}
								.list-body-content-panel{
									overflow: hidden;
									margin: 10px 0 15px 0;
									.view-panel {
										.view_icon {
											float: left;
											width: 28px;
											margin-top: 3px;
										}
										.view_number {
											font-size: 18px;
											color: #a87914;
											margin-left: 5px;
										}
									}
									.list-body-title{
										color: #4d4d4d;
										font-size: 24px;
										margin: 0 0 10px;
									}
									.txt{
										letter-spacing: 0.2px;
									}
									.txt-blue{
										font-family: db_helvethaica_bold;
										font-size: 26px;
										line-height: 26px;
										color: #0b3e8d;
										-webkit-font-smoothing: antialiased;
										-moz-osx-font-smoothing: grayscale;
									}
									.txt-gold{
										font-family: db_helvethaica_x_med;
										font-size: 24px;
										color: #a87914;
										-webkit-font-smoothing: antialiased;
										-moz-osx-font-smoothing: grayscale;
									}
									.txt-black{
										font-family: db_helvethaica_xregular;
										font-size: 26px;
										line-height: 24px;
										color: #000;
										margin-top: 10px;
										-webkit-font-smoothing: antialiased;
										-moz-osx-font-smoothing: grayscale;
									}
									.list-body-desc{
										color: #666666;
										font-size: 22px;
										margin: 0 0 0 0;
									}
								}
								.list-body-link{
									position: absolute;
									bottom: 15px;
									left: 0;
									right: 0;
									text-align: center;
									img{
										margin: 0 auto;
									}
								}
								.list-body-link-bookmark{
									position: absolute;
									bottom: 15px;
									left: 0;
									right: 0;
									text-align: center;
									border: 1px solid #8e6d1d;
									width: 113px;
									height: 34px;
									text-align: center;
									margin: 0 auto;
									line-height: 34px;
									border-radius: 3px;
									-webkit-border-radius: 3px;
									-moz-border-radius: 3px;
									img{
										display: inline-block;
										vertical-align: -9%;
										margin-right: 3px;
									}
									.text-bookmark{
										vertical-align: middle;
										color: #6b4e08;
										font-size: 24px;
									}
								}
							}
						}
					}
				}
				.mobile{
					margin:0;
				}
			}
		}
		@arrow-left: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
		@arrow-right: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
		.slick-prev:before {
			content: none;
			background:@arrow-left;
		}
		.slick-next:before{
			content: '';
			background: @arrow-right;
		}
		.slick-prev{
			background: @arrow-left;
		}
		.slick-next{
			background: @arrow-right;
		}
		.slick-prev, .slick-next{
			height: 35px;
		}
		.slick-prev:hover, .slick-prev:focus{
			background: @arrow-left;
		}
		.slick-next:hover, .slick-next:focus{
			background: @arrow-right;
		}
		.slick-disabled{
			display: none !important;
		}
	}
}

@media  (max-width: 767px){

	#product-panel{
		margin-top: 150px;
		overflow: hidden;
	
		#banner-product{
			height: calc(~"100vw * 0.8148");
			max-height: 625px;
			background: url('../images/product/progress/bg-banner-product.jpg') no-repeat;
			background-position: center;
			background-size: cover;
			.banner-inner{
				.banner-image{
					top: auto;
				    right: auto;
				    margin: 0 auto;
				    width: 100%;
				    max-width: 657px;
				}
			}
		}

		#banner-panel{
			height: calc(~"100vw * .85");
			background: #fff url('../images/product/progress/bg-banner-mobile.png') no-repeat;
			background-size: 100% 100%;
			.banner-inner{
				.banner-image{
					width: 110%;
					left: 0;
				}
			}
		}
		#content-panel{
			&:before{
				background: url('../images/product/progress/img-content-mobile.png') no-repeat;
			    background-size: cover;
			    width: 100%;
			    height: calc(~"100vw * .8259");
			    top: calc(~"(100vw * .8259) * 0.38 * -1");
			    min-height: 265px;
			}
			.content-inner{
				top: -10px;
				padding-bottom: 30px;
			}
		}
		#info{
			padding-top: 70px;
			.info-panel{
				.info-remark{
					text-align: left;
    				top: -70px;
    				.font(20px,18px);
				}
				.info-image{
				    margin-top: 0;
				    width: 122%;
				    left: -9%;
				}
				.info-desc{
					.font(28px,26px);
				    bottom: auto;
				    top: 10px;
				    left: 35%;
				}
			}
		}
		#article-btn{
			margin-top: 0;
			.article-panel{
				.article-inner-panel{
					#menu-pe-gold{
						.btn-list{
							width: 25%;
							height: 50px;
							margin-right: 5%;
							background-size: 100% 100%;
							&:before{
								width: 197px;
								left: -45px;
								background-size: cover;
							}
							.btn-inner{
								.font(24px);
							}
						}
					}
				}
			}
			.article-panel{
				margin-top: 20px;
				.article-inner-panel{ 
					.title-box{ 
						margin-bottom: 25px;
						.title-image{
							width: 50%;
							max-width: 277px;
							left: -5px;
						}
						.title{
							.font(28px,26px);
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.desc{
							.font(26px,24px);
						}
					}
				}
			}
		}
		.content{
			.inner{
				img{
					width: 100%;
				}
				.detail-bottom{
					padding-top: 15px;
					padding-bottom: 25px;
					.detail-text{
						&.left{
							padding-left: 10px;
							margin-right: 10px;
							width: calc(~"100% - 82px");
							.font(14px);
						}
						&.right{
							width: 62px;
							.font(14px);
						}
					}
				}
			}
		}
	}

	#product-panel #article-momtip{
		.slick-prev, .slick-next{
			top: 25%;
		}
		.slick-prev{
			left: 15px;
		}
		.slick-next{
			right: 15px;
		}

		.article-momtip-panel{
			width: 90%;
			.momtip-header{
				padding: 15px 0;
				.momtip-header-left{
					width: 100%;
					margin: 0px;
					text-align: center;
					font-size: 45px;
				}
				.momtip-header-right{
					width: 100%;
					font-size: 20px;
				}
			}
			.momtip-body{
				.trick-mom-box{
					.trick-mom-body-list{
						width: 290px;
						margin: 0 auto;
						list-style: none;
						.list-body-img-panel{
							.list-body{
								width: 260px;
								margin: 0px;
								.list-body-img-panel_cover{
									.trick-img{
										width: 260px;
									}
								}
							}
						}
						.slick-slide{
							margin: 0 5px;
						}
						.slick-dots {
							display:none !important;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 585px){
	#product-panel #article-btn .article-panel .article-inner-panel{
		#menu-pe-gold{
			.btn-list{
				width: 31%;
				height: 40px;
				margin-right: 2%;
				&:before{
					left: -65px;
				}
				.btn-inner{
					.font(18px,16px);
				}
			}
		}
	}
	#product-panel #info .info-panel .info-desc{
		.font(21px,19px);
		@media (max-width: 410px){
			.font(16px,14px);
		}
	}
}