#detail-box {
    background:url("../images/alpha_lac/alpha_lac_qa_bg.png") no-repeat center transparent !important;
    padding: 0 0 0 0 !important;
    background-size: cover !important;
    #detail-content {
        max-width: 100% !important;
        margin-bottom: 0px !important;
        padding: 0px !important;
    }
}
.content_panel {
    .content_align {
        width: 1024px;
        margin: 0 auto;
        padding: 0px 20px 30px;
        .head_link_panel {
            width: 1024px;
            text-align:center;
            .head_link {
                font-family: db_helvethaica_x_li;
                border: #8e6d1d 2px solid;
                border-radius: 40px;
                width:292px;
                height:62px;
                line-height: 62px;
                font-size: 30px;
                color: #8e6d1d;
                text-align: center;
                padding-top:5px;
                display: inline-block;
                margin: 0px 15px;

            }
            .head_link:hover {
                border: #af8c1f 2px solid;
                color: #af8c1f;
            }
            .head_link_current {
                background:#8e6d1d;
                font-family: db_helvethaica_x_li;
                border: #8e6d1d 2px solid;
                border-radius: 40px;
                width:292px;
                height:62px;
                line-height: 62px;
                font-size: 30px;
                color: #FFF;
                text-align: center;
                padding-top:5px;
                display: inline-block;
                margin: 0px 15px;
            }
        }
        .detail_align {
            width: 960px;
            margin: 60px auto 0;
            .section {
                position: relative;
                .picture {
                    position: absolute;
                    img.pic1_d {
                        margin-right:49px;
                        display: block;
                    }
                    img.pic1_m {
                        display: none;
                    }
                    img.pic2_d {
                        margin-left:49px;
                        display: block;
                    }
                    img.pic2_m {
                        display: none;
                    }
                    img.pic3_d {
                        margin-right:49px;
                        display: block;
                    }
                    img.pic3_m {
                        display: none;
                    }
                }
                .right {
                    top: 0px;
                    right: 0px;
                }
                .left {
                    top: 0px;
                    left: 0px;
                }
                .qa_panel {
                    position: absolute;
                    .text1 {
                        font-family: db_helvethaica_xregular;
                        font-size: 80px;
                        color:#0b3e8d;
                    }
                    .text2 {
                        font-family: db_helvethaica_x_li;
                        font-size: 48px;
                        color: #8e6d1d;
                        line-height: 40px;
                    }
                    .text3 {
                        font-family: db_helvethaica_x_med;
                        font-size: 36px;
                        color: #0b3e8d;
                    }
                    .question_detail {
                        background-image: url("../images/alpha_lac/question_icon.png");
                        background-position: top left;
                        background-repeat: no-repeat;
                        background-size: 36px;
                        padding-left:49px;
                        padding-top: 5px;
                        font-family: db_helvethaica_xregular;
                        font-weight: bold;
                        font-size: 24px;
                        color: #8e6d1d;
                        min-height: 36px;
                        width: 450px;
                        margin-top:10px;
                    }
                    .answer_detail {
                        background-image: url("../images/alpha_lac/answer_icon.png");
                        background-position: top left;
                        background-repeat: no-repeat;
                        background-size: 36px;
                        padding-left: 49px;
                        padding-top: 2px;
                        font-family: db_helvethaica_x_li;
                        font-size: 24px;
                        color: #0b3e8d;
                        min-height: 36px;
                        width: 450px;
                    }
                }
                .qa1 {

                }
                .qa2 {
                    margin-top:20px;
                }
                .qa3 {
                    margin-top:50px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    br.dtnl {
        display: block;
    }
    br.mbnl {
        display: none;
    }
    .content_panel {
        .content_align {
            .detail_align {
                .s1 {
                    height: 400px;
                }
                .s2 {
                    height: 260px;
                }
                .s3 {
                    height:300px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    br.dtnl {
        display: none;
    }
    br.mbnl {
        display: block;
    }
    .content_panel {
        background:url("../images/alpha_lac/alpha_lac_desktop_bg.png") no-repeat center transparent !important;
        background-size: cover !important;
        .content_align {
            width: inherit;
            margin: 0 auto;
            padding: 0px 20px 30px;
            .head_link_panel {
                width:280px;
                text-align:center;
                margin:0 auto;
                .head_link {
                    width:278px;
                    height:64px;
                    line-height: 64px;
                    font-size: 30px;
                    margin:10px 0px;

                }
                .head_link:hover {
                }
                .head_link_current {
                    width:278px;
                    height:64px;
                    line-height: 64px;
                    font-size: 30px;
                    margin:10px 0px;
                }
            }
            .detail_align {
                width: inherit;
                margin: 60px auto 0;
                .section {
                    position: relative;
                    .picture {
                        position: relative;
                        text-align: center;
                        img.pic1_d {
                            display: none;
                        }
                        img.pic1_m {
                            display: block;
                            width:233px;
                            margin: 0 auto;
                        }
                        img.pic2_d {
                            display: none;
                        }
                        img.pic2_m {
                            display: block;
                            width:230px;
                            margin: 0 auto;
                            position: relative;
                            left: 14px;
                        }
                        img.pic3_d {
                            display: none;
                        }
                        img.pic3_m {
                            display: block;
                            width:222px;
                            margin: 0 auto;
                            position: relative;
                            left: 14px;
                        }
                    }
                    .right {
                        top: 0px;
                        right: 0px;
                    }
                    .left {
                        top: 0px;
                        left: 0px;
                    }
                    .qa_panel {
                        position: relative;
                        .text1 {
                            font-size: 48px;
                            margin-top: 10px;
                        }
                        .text2 {
                            font-size: 32px;
                            line-height: 26px;
                        }
                        .text3 {
                            font-size: 24px;
                        }
                        .question_detail {
                            background-image: url("../images/alpha_lac/question_icon.png");
                            background-position: top left;
                            background-repeat: no-repeat;
                            background-size: 36px;
                            padding-left:49px;
                            padding-top: 5px;
                            font-family: db_helvethaica_xregular;
                            font-weight: bold;
                            font-size: 18px;
                            color: #8e6d1d;
                            min-height: 36px;
                            width: calc(~"100% - 50px");
                            margin-top: 15px;
                        }
                        .answer_detail {
                            background-image: url("../images/alpha_lac/answer_icon.png");
                            background-position: top left;
                            background-repeat: no-repeat;
                            background-size: 36px;
                            padding-left: 49px;
                            padding-top: 2px;
                            font-family: db_helvethaica_x_li;
                            font-size: 18px;
                            color: #0b3e8d;
                            min-height: 36px;
                            width: calc(~"100% - 50px");
                            margin-bottom: 15px;
                        }
                    }
                    .qa1 {
                        margin-top:0px;
                    }
                    .qa2 {
                        margin-top:0px;
                    }
                    .qa3 {
                        margin-top:0px;
                    }
                }
            }
        }

    }
}
