#detail-box {
    background:url("../images/alpha_lac/alpha_lac_kw_bg.png") no-repeat center transparent !important;
    background-size: cover !important;
    padding: 0 0 0 0 !important;
    #detail-content {
        max-width: 1024px !important;
    }
}
.head_link_panel {
    width:1024px;
    text-align:center;
    .head_link {
        font-family: db_helvethaica_x_li;
        border: #8e6d1d 2px solid;
        border-radius: 40px;
        width:292px;
        height:62px;
        line-height: 62px;
        font-size: 30px;
        color: #8e6d1d;
        text-align: center;
        padding-top:5px;
        display: inline-block;
        margin: 0px 15px;

    }
    .head_link:hover {
        border: #af8c1f 2px solid;
        color: #af8c1f;
    }
    .head_link_current {
        background:#8e6d1d;
        font-family: db_helvethaica_x_li;
        border: #8e6d1d 2px solid;
        border-radius: 40px;
        width:292px;
        height:62px;
        line-height: 62px;
        font-size: 30px;
        color: #FFF;
        text-align: center;
        padding-top:5px;
        display: inline-block;
        margin: 0px 15px;
    }
}
.detail_align {
    text-align: center;
    width: 1024px;
    padding-bottom: 35px;
    .detail_panel {
        width:960px;
        position: relative;
        text-align: left;
        margin: 47px auto 0px;
        .kid_picture {
            position: absolute;
            top:0px;
            right:0px;
        }
        .text1 {
            font-family: db_helvethaica_xregular;
            font-size: 80px;
            color:#0b3e8d;
            line-height: 70px;
        }
        .text2 {
            font-family: db_helvethaica_x_med;
            font-size: 48px;
            color:#8e6d1d;
            line-height: 55px;
        }
        .text3 {
            font-family: db_helvethaica_x_li;
            font-size: 36px;
            color:#0b3e8d;
            line-height: 36px;
        }
        .text4 {

            font-family: db_helvethaica_x_med;
            font-size: 30px;
            color:#8e6d1d;
            line-height: 32px;
            margin-top: 10px;
        }
        .text_detail {
            font-family: db_helvethaica_x_li;
            font-size: 24px;
            color:#444;
            width: 460px;
            margin-top: 7px;
            .text_detail_bold {
                font-family: db_helvethaica_x_med;
                font-size: 24px;
                color:#444;
            }
        }
        .align_right {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

}

@media (min-width: 768px) {
    br.dtnl {
        display: block;
    }
    br.mbnl {
        display: none;
    }
}

@media (max-width: 767px) {
    #detail-box {
        background:url("../images/alpha_lac/alpha_lac_mobile_bg.png") no-repeat center transparent !important;
        background-size: cover !important;
    }
    #detail-content {
        padding:0px !important;
    }
    br.dtnl {
        display: none;
    }
    br.mbnl {
        display: block;
    }
    .head_link_panel {
        width:280px;
        text-align:center;
        margin:0 auto;
        .head_link {
            width:278px;
            height:64px;
            line-height: 64px;
            font-size: 30px;
            margin:10px 0px;

        }
        .head_link:hover {
        }
        .head_link_current {
            width:278px;
            height:64px;
            line-height: 64px;
            font-size: 30px;
            margin:10px 0px;
        }
    }
    .detail_align {
        width: inherit;
        padding: 0 20px;
        .detail_panel {
            width: inherit;
            position: relative;
            text-align: left;
            margin:0;
            .kid_picture {
                text-align: center;
                position: relative;
                top:0px;
                right:0px;
                margin-top: 10px;
                img {
                    width:280px;
                }
            }
            .text1 {
                font-size: 48px;
                line-height: 48px;
            }
            .text2 {
                font-family: db_helvethaica_x_li;
                font-size: 36px;
                line-height: 36px;
            }
            .text3 {

                font-size: 24px;
                line-height: 24px;
            }
            .text4 {
                font-family: db_helvethaica_x_li;
                font-size: 24px;
                line-height: 24px;
                margin-top: 5px;
            }
            .text_detail {
                font-family: db_helvethaica_x_li;
                font-size: 18px;
                color:#444;
                width: inherit;
                margin-top: 7px;
                .text_detail_bold {
                    font-family: db_helvethaica_x_med;
                    font-size: 18px;
                    color:#444;
                }
            }
            .align_right {
                position: inherit;
            }
        }

    }
}
