#detail-box {
    background:url("../images/alpha_lac/alpha_lac_kw_bg.png") no-repeat center transparent !important;
    background-size: cover !important;
    padding: 0 0 0 0 !important;
    #detail-content {
        max-width: 100% !important;
        margin-bottom: 0px !important;
        padding: 0px !important;
    }
}
.content_panel {
    .content_align {
        width: 1024px;
        margin: 0 auto;
        padding: 0px 20px 30px;
        .head_link_panel {
            width:1024px;
            text-align:center;
            .head_link {
                font-family: db_helvethaica_x_li;
                border: #8e6d1d 2px solid;
                border-radius: 40px;
                width:292px;
                height:62px;
                line-height: 62px;
                font-size: 30px;
                color: #8e6d1d;
                text-align: center;
                padding-top:5px;
                display: inline-block;
                margin: 0px 15px;

            }
            .head_link:hover {
                border: #af8c1f 2px solid;
                color: #af8c1f;
            }
            .head_link_current {
                background:#8e6d1d;
                font-family: db_helvethaica_x_li;
                border: #8e6d1d 2px solid;
                border-radius: 40px;
                width:292px;
                height:62px;
                line-height: 62px;
                font-size: 30px;
                color: #FFF;
                text-align: center;
                padding-top:5px;
                display: inline-block;
                margin: 0px 15px;
            }
        }
        .detail_align {
            text-align: center;
            width: 1024px;
            .detail_panel {
                width:960px;
                position: relative;
                text-align: left;
                margin: 47px auto 0px;
                .picture_panel {
                    position: absolute;
                    top:0px;
                    right:0px;
                    img.desktop_pic {
                        display:block;
                    }
                    img.mobile_pic {
                        display:none;
                    }
                }
                .text1 {
                    font-family: db_helvethaica_xregular;
                    font-size: 80px;
                    color:#0b3e8d;
                    line-height: 70px;
                    span.thin {
                        font-family: db_helvethaica_x_li;
                    }
                }
                .text2 {
                    font-family: db_helvethaica_x_li;
                    font-size: 60px;
                    color:#8e6d1d;
                    line-height: 48px;
                    font-style: italic;
                    span.quot_left {
                        font-family: "sans-serif";
                        color:#d5ab3a;
                        opacity: 0.56;
                        position: relative;
                        top: 5px;
                        margin-right: 10px;
                        font-size: 39px;
                        font-weight: bold;
                    }
                    span.quot_right {
                        font-family: "sans-serif";
                        color:#d5ab3a;
                        opacity: 0.56;
                        position: relative;
                        top: 11px;
                        margin-left: 7px;
                        font-weight: bold;
                        font-size: 39px;

                    }
                    span.bold {

                        font-family: db_helvethaica_xregular;
                        font-weight: bold;
                    }
                }
                .text3 {
                    font-family: db_helvethaica_x_li;
                    font-size: 36px;
                    color:#0b3e8d;
                    line-height: 36px;
                    width:500px;
                    span.bold {
                        font-weight: bold;
                    }
                }
                .text4 {

                    font-family: db_helvethaica_x_med;
                    font-size: 48px;
                    color:#8e6d1d;
                    line-height: 48px;
                    margin-top: 10px;
                }
                .text_detail {
                    font-family: db_helvethaica_x_li;
                    font-size: 24px;
                    color:#444;
                    width: 460px;
                    margin-top: 7px;
                    .text_detail_bold {
                        font-family: db_helvethaica_x_med;
                        font-size: 24px;
                        color:#444;
                    }
                }
                .align_right {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }

        }
    }

}
.content_panel2 {
    background:url("../images/alpha_lac/alpha_lac_desktop_bg_master_s2.png") no-repeat center transparent !important;
    background-size: cover !important;
    .content_align {
        width: 1024px;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0px 40px;
        .s2_header {
            font-family: db_helvethaica_xregular;
            font-size: 80px;
            color:#a48845;
            text-align: center;
            span.thin {
                font-family: db_helvethaica_x_li;
            }
        }
        .box_sub {
            display: inline-block;
            width:300px;
            text-align: center;
            .box_sub_pic {

            }
            .box_sub_content {
                font-size: 24px;
                color:#a48845;
                .header {
                    font-family: db_helvethaica_xregular;
                    font-weight: bold;
                    margin-top: 21px;
                }
                .detail {
                    font-family: db_helvethaica_x_li;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    br.dtnl {
        display: block;
    }
    br.mbnl {
        display: none;
    }
}

@media (max-width: 767px) {
    br.dtnl {
        display: none;
    }
    br.mbnl {
        display: block;
    }
    .content_panel {
        background:url("../images/alpha_lac/alpha_lac_desktop_bg.png") no-repeat center transparent !important;
        background-size: cover !important;
        .content_align {
            width: inherit;
            margin: 0 auto;
            padding: 0px 20px 30px;
            .head_link_panel {
                width:280px;
                text-align:center;
                margin:0 auto;
                .head_link {
                    width:278px;
                    height:64px;
                    line-height: 64px;
                    font-size: 30px;
                    margin:10px 0px;

                }
                .head_link:hover {
                }
                .head_link_current {
                    width:278px;
                    height:64px;
                    line-height: 64px;
                    font-size: 30px;
                    margin:10px 0px;
                }
            }
            .detail_align {
                text-align: center;
                width: inherit;
                .detail_panel {
                    width:inherit;
                    position: relative;
                    text-align: left;
                    margin: 0px;
                    .picture_panel {
                        position:relative;
                        right: inherit;
                        top: inherit;
                        img.desktop_pic {
                            display:none;
                        }
                        img.mobile_pic {
                            display:block;
                            width:227px;
                            margin: 0 auto;
                        }
                    }
                    .text1 {
                        font-size: 45px;
                        line-height: 45px;
                        margin-top: 21px;
                        span.thin {
                        }
                    }
                    .text2 {
                        font-size: 36px;
                        line-height: 34px;
                        span.quot_left {
                            margin-right: 5px;
                        }
                        span.quot_right {
                            margin-left: 5px;

                        }
                        span.bold {
                            font-weight: bold;
                            margin-left: 24px;
                        }
                    }
                    .text3 {
                        font-size: 24px;
                        line-height: 24px;
                        width: inherit;
                        margin-top: 15px;
                        span.bold {

                        }
                    }
                    .text4 {
                        font-family: db_helvethaica_x_li;
                        font-size: 24px;
                        line-height: 24px;
                        margin-top: 10px;
                    }
                    .text_detail {
                        font-size: 18px;
                        width: inherit;
                        .text_detail_bold {
                            font-size: 18px;
                        }
                    }
                    .align_right {
                        position: inherit;
                    }
                }

            }
        }

    }
    .content_panel2 {
        background:url("../images/alpha_lac/alpha_lac_mobile_bg_master_s2.png") no-repeat center transparent !important;
        background-size: cover !important;
        .content_align {
            width: inherit;
            margin: 0 auto;
            padding: 20px 20px 0px;
            display: table;
            .s2_header {
                font-family: db_helvethaica_xregular;
                font-size: 48px;
                color:#a48845;
                text-align: center;
                span.thin {
                    font-family: db_helvethaica_x_li;
                }
            }
            .box_sub {
                display: block;
                width: inherit;
                text-align: center;
                margin: 22px 0px;
                .box_sub_pic {
                    display: inline-block;
                    img {
                        width:87px;
                    }
                }
                .box_sub_content {
                    display: inline-block;
                    font-size: 24px;
                    color: #a48845;
                    width: calc(~"100% - 127px");
                    text-align: left;
                    vertical-align: top;
                    margin-left: 13px;
                    .header {
                        font-family: db_helvethaica_xregular;
                        font-weight: bold;
                        margin-top: 0px;
                    }
                    .detail {
                        font-family: db_helvethaica_x_li;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
