@gold: #604519;

.font(@font,@lh:@font){
	font-size: @font;
	line-height: @lh;
}

nav#TabNav{
	width: 100% !important;
}

#detail-panel1.detail-panel{
	width: 100%;
	position: relative;
	overflow: hidden;
	.detail-box{
		background: url('../images/app/bg-banner-1.jpg') top center no-repeat;
		background-size: cover;
		width: 100%;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		height: 630px;
		.detail-content{
			list-style: none;
			max-width: 960px;
			padding: 0;
			margin: 0 auto;
			text-align: center;
			height: 100%;
			position: relative;
			.img-banner-1{
				position: absolute;
				top: -105px;
    			left: -165px;
			}
			.title-banner-box{
				position: absolute;
				top: 80px;
				right: -130px;
				.title-banner{
				}
				.title-banner-text-box{
					position: absolute;
					bottom: 5px;
					width: 100%;
					text-align: center;
					.btn-app-link{
						display: inline-block;
						vertical-align: middle;
						margin-left: 20px;
						cursor: pointer;
					}
					.title-banner-text{
						margin-top: 25px;
						text-align: left;
						display: inline-block;
    					.font(18px);
    					color: @gold;
					}
				}
			}
		}
	}
}
#detail-panel2.detail-panel{
	width: 100%;
	position: relative;
	overflow: hidden;
	.detail-box{
		background: url('../images/app/bg-banner-2.jpg') top center no-repeat;
		background-size: cover;
		width: 100%;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		min-height: 600px;
		padding: 70px 0;
		box-sizing: border-box;
		.detail-content{
			max-width: 960px;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			.panel-content{
				color: @gold;
				.font(24px);
				&.panel-main{
					text-align: center;
					.title-banner-2{
						margin: 0 auto;
					}
					.subtitle-banner-2{
						.font(30px,36px);
						margin-bottom: 45px;
					}
					.img-banner-2{
						position: relative;
						left: -8px;
					}
				}
				&.panel-1{
					margin-top: 150px;
				}
				&.panel-2{
					margin-top: 110px;
				}
				&.panel-3{
					margin-top: 60px;
				}
				&.panel-4{
					margin-top: 125px;
				}
				&.panel-5{
					margin-top: 125px;
				}
				.left{
					float: left;
				}
				.right{
					float: right;
				}
				.title-menu{
					margin-bottom: 20px;
				}
				.text-menu-2-1{
					margin-top: 60px;
					margin-right: 15px;
				}
				.text-menu-2-2{
					margin-top: 30px;
				}
				.text-menu-2-3{
					margin-top: 130px;
					margin-right: 10px;
				}
				.text-menu-2-4{
					margin-top: 75px;
				}
				.text-menu-2-5{
					margin-top: 50px;
					margin-right: 20px;
				}
			}
		}
	}
}
#detail-panel3.detail-panel{
	width: 100%;
	position: relative;
	overflow: hidden;
	.detail-box{
		background: url('../images/app/bg-banner-3.jpg') top center no-repeat;
		background-size: cover;
		width: 100%;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		height: 1065px;
		.detail-content{
			width: 100%;
			height: 100%;
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			display: table;
			.detail-content-inner{
				display: table-cell;
				vertical-align: middle;
			}
			.content-row{
				display: inline-block;
				margin-bottom: 90px;
				&:last-child{
					margin-bottom: 0;
				}
				.content-box{
					float: left;
					text-align: center;
					margin-right: 90px;
					&:nth-child(2n){
						margin-right: 0;
					}
					.title-content-box{
						height: 40px;
						position: relative;
						margin-bottom: 10px;
						.title-content{
							display: inline-block;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							margin: auto;
						}
					}
					.text-content{
						.font(24px);
						color: @gold;
					}
				}
			}
		}
	}
}
#detail-panel-app.detail-panel{
	width: 100%;
	position: relative;
	overflow: hidden;
	.detail-box{
		background: url('../images/app/bg-banner-app.jpg') top center no-repeat;
		background-size: cover;
		width: 100%;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		height: 550px;
		.detail-content{
			width: 100%;
			height: 100%;
			margin: 0 auto;
			max-width: 960px;
			position: relative;
			.text-app-box{
				position: absolute;
				top: 70px;
				left: -20px;
				.btn-app-bar{
					position: absolute;
					bottom: 20px;
					width: 100%;
					text-align: center;
					.btn-app-link{
						display: inline-block;
						vertical-align: middle;
						margin-right: 30px;
						cursor: pointer;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
			.img-hand{
				display: block;
				position: absolute;
				right: 25px;
				bottom: 0;
			}
		}
	}
}

@media (max-width: 767px){
	#detail-panel1.detail-panel{
		.detail-box{
			background: url('../images/app/bg-banner-1-mobile.jpg') top center no-repeat;
			background-size: cover;
			height: 100%;
			.detail-content{
				padding-top: 160px;
				.img-banner-1{
					position: relative;
					top: auto;
					left: 0;
				    right: 0;
				    margin: auto auto 20px;
				    max-width: 520px;
				    width: calc(~"100% - 30px");
				}
				.title-banner-box{
					position: relative;
					top: auto;
					left: 0;
					right: 0;
					width: calc(~"100% - 30px");
					max-width: 340px;
					margin: auto auto 25px;
					.title-banner{
						width: 100%;
						max-width: 340px;
					}
					.title-banner-text-box{
						position: relative;
						bottom: auto;
						margin-top: 20px;
						.btn-box{
							.btn-app-link{
								&:first-child{
									margin-left: 0;
								}
								.btn-app{
									width: 130px;
								}
							}
						}
						.title-banner-text{
							.font(16px);
							margin-top: 15px;
							ul{
								-webkit-padding-start: 20px;
							}
						}
					}
				}
			}
		}
	}
	#detail-panel2.detail-panel{
		.detail-box{
			padding: 35px 0;
			.detail-content{
				width: calc(~"100% - 30px");
				margin: 0 auto;
				.panel-content{
					.font(20px);
					margin-bottom: 40px;
					&:last-child{
						margin-bottom: 0;
					}
					&.panel-main{
						.title-banner-2{
						}
						.subtitle-banner-2{
							margin-top: 10px;
							margin-bottom: 30px;
							.font(24px);
						}
						.img-banner-2{
							width: 100%;
							left: auto;
							max-width: 500px;
							margin: 0 auto;
						}
					}
					&.panel-1, &.panel-2, &.panel-3, &.panel-4, &.panel-5{
						margin-top: 0;
					}
					.left, .right{
						float: none;
					}
					.panel-image, .panel-text{
					}
					.title-menu{
						margin-bottom: 10px;
					}
					.img-menu{
						width: 100%;
						max-width: 500px;
						margin: 0 auto 10px;
					}
					.text-menu-2-1, .text-menu-2-2, .text-menu-2-3, .text-menu-2-4, .text-menu-2-5{
						margin: 0;
					}
				}
			}
		}
	}
	#detail-panel3.detail-panel{
		.detail-box{
			background: url('../images/app/bg-banner-3-mobile.jpg') top center no-repeat;
			background-size: cover;
			height: 100%;
			.detail-content{
				.detail-content-inner{
					margin-top: 30px;
					.content-row{
						display: block;
						margin-top: 30px;
						margin-bottom: 0;
						&:last-child{
							margin-top: 0;
						}
						.content-box{
							float: none;
							width: calc(~"100% - 30px");
    						margin: 0 auto 30px;
							.img-content{
								max-width: 290px;
							}
							.text-content{
								.font(20px);
							}
						}
					}
				}
			}
		}
	}
	#detail-panel-app.detail-panel{
		.detail-box{
			background: url('../images/app/bg-banner-app-mobile.jpg') top center no-repeat;
			background-size: cover;
			height: 100%;
			.detail-content{
				.text-app-box{
					position: relative;
					top: auto;
				    left: 0;
				    right: 0;
				    margin: 35px auto 30px;
				    .text-app{
				    	max-width: 340px;
				    	width: calc(~"100% - 30px");
				    	margin: 0 auto;
				    }
				    .btn-app-bar{
				    	margin-top: 15px;
				    	position: relative;
				    	bottom: auto;
				    	.btn-app{
				    		width: 130px;
				    	}
				    }
				}
				.img-hand{
					position: relative;
					top: auto;
				    left: 0;
				    right: 0;
				    margin: 0 auto;
				    max-width: 200px;
				    width: calc(~"100% - 30px");
				}
			}
		}
	}
}