@white: #fff;
@yellow: linear-gradient(-180deg, #E5D8AC 0%, #B29B67 100%);
@brown: #5B4101;
@darkbrown: #332301;
@red: #D71B24;
@blue: #003661;
@background: url('../images/brain_ignition/question/bg-question.jpg') no-repeat;
@background-mobile: url('../images/brain_ignition/question/bg-question-mobile.jpg') no-repeat;
@btn-answer: url('../images/brain_ignition/question/btn-answer.svg') no-repeat;
@background-popup: url('../images/brain_ignition/question/bg-popup.jpg') no-repeat;

@btn-popup: url('../images/brain_ignition/question/btn-popup.svg') no-repeat;

.font(@font,@line-height:@font){
	font-size: @font;
	line-height: @line-height;
}

#panel-answer.panel{
	width: 100%;
	min-height: 810px;
	background: @background;
	background-size: cover;
	.panel-inner{
		width: calc(~"100% - 30px");
		max-width: 840px;
		margin: 0 auto;
		padding-top: 80px;
		padding-bottom: 80px;
		text-align: center;
		box-sizing: border-box;
		.main-title{
			.font(60px,54px);
			color: @darkbrown;
		}
		.answer-progress-bar{
			width: 100%;
			height: 10px;
			margin-top: 110px;
			margin-bottom: 30px;
			background: rgba(255, 255, 255, .5);
			border-radius: 100px;
			position: relative;
			.answer-progress{
				width: 10%;
				height: 10px;
				border-radius: 100px;
				background: @yellow;
				position: relative;
				transition: width .3s;
				&:before{
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: @yellow;
					position: absolute;
					right: 0;
					top: -5px;
				}
				.answer-text{
					width: 80px;
					height: 40px;
					background: @white;
					border-radius: 8px;
					.font(26px,40px);
					color: @red;
					position: absolute;
					top: -65px;
					right: -30px;
					&:before{
						content: "";
						display: block;
						width: 0;
						height: 0;
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-top: 8px solid @white;
						position: absolute;
					    bottom: -7px;
					    left: 0;
					    right: 0;
					    margin: auto;
					}
				}
			}
		}
		.answer-panel{
			width: 100%;
			max-width: 840px;
			min-height: 330px;
			margin: 0 auto;
			background: rgba(255, 255, 255, .8);
			border-radius: 16px;
			text-align: center;
			padding: 50px 20px 70px;
			box-sizing: border-box;
			.answer-title{
				.font(46px,55px);
				color: @red;
				margin-bottom: 5px;
				.answer-icon{
					width: 35px;
					height: 29px;
					background: @btn-answer;
					background-position: 0 -318px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 8px;
				}
				.answer-title-text{
					display: inline-block;
					vertical-align: middle;
				}
			}
			.answer-question{
				.font(36px,43px);
				color: @darkbrown;
				.question-list{
					display: none;
					&.active{
						display: block;
					}
				}
			}
			.btn-bar{
				margin-top: 30px;
				.btn-answer{
					width: 243px;
					height: 64px;
					cursor: pointer;
					.font(36px,64px);
					color: @brown;
					display: inline-block;
					vertical-align: middle;
					margin-right: 15px;
					background: @btn-answer;
					background-position: 0 0;
					box-shadow: 0 2px 4px rgba(0,0,0,.3);
					border-radius: 30px;
					&:last-child{
						margin-right: 0;
					}
					&:hover{
						color: @white;
						background-position: 0 -74px;
					}
				}
			}
		}
		.result-panel{
			display: none;
			width: 100%;
			max-width: 840px;
			min-height: 485px;
			margin: 50px auto 0;
			background: rgba(255, 255, 255, .8);
			border-radius: 16px;
			text-align: center;
			padding: 100px 40px 90px;
			box-sizing: border-box;
			.result-title{
				.font(55px);
				color: @blue;
			}
			.result-answer-panel{
				display: none;
				&.active{
					display: block;
				}
			}
			.result-answer{
				.font(47px,57px);
				color: @darkbrown;
				margin-bottom: 5px;
			}
			.result-desc{
				.font(30px);
				color: @darkbrown;
			}
			.result-btn-panel{
				margin-top: 70px;
				.result-btn-text{
					.font(22px);
					color: @darkbrown;
				}
			}
			.result-btn{
				width: 300px;
				height: 67px;
				margin: 0 auto 10px;
				cursor: pointer;
				.font(25px,67px);
				padding-left: 35px;
				box-sizing: border-box;
				color: @brown;
				background: @btn-answer;
				background-position: 0px -153px;
				box-shadow: 0 2px 4px rgba(0,0,0,.3);
    			border-radius: 30px;
				&:hover{
					color: @white;
					background-position: 0px -235px;
				}
			}
		}
	}
}

.popup-answer-panel{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    z-index: 9999;
    .popup-answer{
    	width: calc(~"100% - 30px");
    	max-width: 600px;
    	height: calc(~"100vh - 100px");
    	max-height:  750px;
    	border-radius: 22px;
    	background: @background-popup;
    	background-size: cover;
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	margin: auto;
    	padding: 80px 20px;
    	box-sizing: border-box;
    	text-align: center;
    	.btn-close{
    		width: 36px;
    		height: 36px;
    		border-radius: 50%;
    		background: #2E72D1;
    		cursor: pointer;
    		position: absolute;
    		top: -12px;
    		right: -12px;
    		&:before{
    			content: "";
    			display: block;
    			width: 17px;
    			height: 17px;
    			position: absolute;
    			top: 0;
		    	left: 0;
		    	right: 0;
		    	bottom: 0;
		    	margin: auto;
		    	background: @btn-popup;
		    	background-position: -355px -278px;
    		}
    	}
    	.popup-title{
    		.font(60px,72px);
    		color: @red;
    	}
    	.popup-subtitle{
    		.font(26px,32px);
    		color: @darkbrown;
    	}
    	.popup-answer-content{
    		overflow-y: scroll;
    		overflow-x: hidden;
    		height: calc(~"100% - 64px");
    	}
    	.popup-answer-inner{
    		width: 100%;
    		max-width: 340px;
    		margin: 20px auto 0;
    		padding-bottom: 10px;
    		.login-facebook{
    			width: 340px;
    			height: 67px;
    			.font(25px,67px);
    			color: @white;
    			cursor: pointer;
    			padding-left: 40px;
    			box-sizing: border-box;
    			background: @btn-popup;
    			background-position: 0 0;
    			box-shadow: 0 2px 4px rgba(0,0,0,.3);
    			border-radius: 30px;
    			&:hover{
    				background-position: 0 -82px;
    			}
    		}
	    	.text-or{
	    		.font(26px,32px);
	    		color: @darkbrown;
	    		margin: 20px auto;
	    	}
	    	.input-panel{
	    		width: 100%;
	    		margin-bottom: 15px;
	    		input{
	    			width: 100%;
	    			height: 54px;
	    			padding: 0 15px 0 30px;
	    			margin: 0;
	    			border: 1px solid #A89669;
	    			border-radius: 4px;
	    			box-sizing: border-box;
	    			.font(20px,54px);
	    			background: transparent;
	    			color: @darkbrown;
	    			&::placeholder{
	    				color: @darkbrown;
	    			}
	    			&::-webkit-input-placeholder{
						color: @darkbrown;
	    			}
	    			&::-moz-placeholder{
	    				opacity: 1;
	    				color: @darkbrown;
	    			}
	    			&:-ms-input-placeholder {
						color: @darkbrown;
	    			}
	    		}
	    	}
	    	.forgot-password{
	    		color: @darkbrown;
	    		.font(20px,24px);
	    		text-align: right;
	    		a{
	    			color: @darkbrown;
	    			&:hover, &:link, &:active, &:visited{
						color: @darkbrown;
	    			}
	    		}
	    	}
	    	.bth-login{
	    		width: 340px;
    			height: 67px;
    			.font(25px,67px);
    			cursor: pointer;
    			color: @brown;
    			margin-top: 30px;
    			padding-left: 40px;
				box-sizing: border-box;
    			background: @btn-popup;
    			background-position: 0 -164px;
    			box-shadow: 0 2px 4px rgba(0,0,0,.3);
    			border-radius: 30px;
    			&:hover{
    				color: @white;
    				background-position: 0 -246px;
    			}
	    	}
    	}
    }
}

@media (max-width: 767px) {
#panel-answer.panel{
		background: @background-mobile;
		background-size: cover;
		margin-top: 150px;
		min-height: 550px;
		.panel-inner{
			padding-top: 40px;
			padding-bottom: 45px;
			.main-title{
				.font(40px);
			}
			.answer-progress-bar{
				width: 90%;
				margin: 70px auto 30px;
				.answer-progress{
					.answer-text{
						width: 60px;
						height: 30px;
						top: -50px;
						right: -20px;
						.font(20px,30px);
					}
				}
			}
			.answer-panel{
				padding-bottom: 40px;
				.answer-title{
					.font(30px,36px);
				}
				.answer-question{
					margin-top: 25px;
					.font(30px);
				}
				.btn-bar{
					.btn-answer{
						width: 203px;
						height: 53px;
						.font(30px,53px);
						background-position: -315px 0;
						&:hover{
							background-position: -315px -68px;
						}
					}
				}
			}
			.result-panel{
				min-height: 300px;
				padding: 50px 20px 30px;
				.result-title{
					.font(30px,36px);
					margin-bottom: 5px;
				}
				.result-answer{
					.font(40px);
					margin-bottom: 30px;
				}
				.result-desc{
					.font(18px,19px);
				}
				.result-btn-panel{
					margin-top: 40px;
					.result-btn-text{
						.font(16px,18px);
					}
				}
				.result-btn{
					width: 203px;
					height: 53px;
					.font(18px,53px);
					background-position: -316px -153px;
					&:hover{
						background-position: -316px -221px;
					}
				}
			}
		}
	}
	.popup-answer-panel{
		.popup-answer{
			padding: 70px 20px 40px;
			max-height: 600px;
			.popup-title{
				.font(40px,48px);
			}
			.popup-subtitle{
				.font(18px,21px);
			}
			.popup-answer-inner{
				.login-facebook{
					width: 250px;
					height: 56px;
					margin: 0 auto;
					.font(21px,56px);
					background-position: -355px 0;
					&:hover{
						background-position: -355px -71px;
					}
				}
				.text-or{
					margin: 15px auto;
				}
				.bth-login{
					width: 203px;
					height: 53px;
					margin: 30px auto 0;
					.font(21px,53px);
					background-position: -355px -142px;
					&:hover{
						background-position: -355px -210px;
					}
				}
			}
		}
	}
}

.visible-cs{
	display: none;
}

@media (max-width: 570px) {
	.panel .panel-inner .answer-panel .btn-bar .btn-answer{
		display: block;
		margin: 0 auto 20px;
		&:last-child{
			margin: 0 auto;
		}
	}

}

@media (max-width: 450px) {
	.visible-cs{
		display: block;
	}
}