@White: #FFF;
@Gold: #AE7914;
@Brown: #332301;
@lightBrown: #6F5720;
@darkBrown: #5B4101;
@highlightBrown: #8B572A;
@Red: #D71B24;
@bg-static-desktop: url('../images/brain_ignition/bg-static.jpg') no-repeat;
@bg-static-mobile: url('../images/brain_ignition/bg-static-mobile.jpg') no-repeat;
@bg-dynamic-desktop: #FEEDBC url('../images/brain_ignition/bg-dynamic.png') no-repeat;
@text-shadow-title: url('../images/brain_ignition/text-shadow-title.png') no-repeat;
@text-shadow: url('../images/brain_ignition/text-shadow.png') no-repeat;

@icon: url('../images/brain_ignition/icon.svg') no-repeat;
@btn-ignition: url('../images/brain_ignition/btn-ignition.svg') no-repeat;

.font(@font,@line-height:@font){
	font-size: @font;
	line-height: @line-height;
}

.shadow-title(){
	background: @text-shadow-title;
	width: 785px;
	height: 191px;
}

.shadow-text(){
	width: 811px;
	height: 122px;
	background: @text-shadow;
	left: 70px;
	bottom: 0px;
	@media (max-width: 767px) {
		display: none;
	}
}

.wapContent{
	.inner-panel{
		.static-panel{
			width: 100%;
			height: 1060px;
			background: @bg-static-desktop;
			background-size: cover;
			overflow: hidden;
			.static-panel-inner{
				width: calc(~"100% - 30px");
				max-width: 900px;
				margin: 0 auto;
				height: 100%;
				padding: 120px 0 0;
				box-sizing: border-box;
				text-align: center;
				color: @Brown;
				.title-panel{
					.text-title{
						position: relative;
					    width: 100%;
					    height: 120px;
						img{
						    position: relative;
						    z-index: 2;
						}
						&:before{
							content: "";
							display: block;
							.shadow-title();
							position: absolute;
							z-index: 1;
							bottom: -10px;
							left: 70px;
						}
					}
					.text-subtitle{
						position: relative;
						&:before{
							content: "";
							display: block;
							position: absolute;
						    z-index: 1;
							.shadow-text();
						}
						&.line1{
							.font(30px,36px);
							margin-top: 10px;
							margin-bottom: 20px;
						}
						&.line2{
							.font(24px,26px);
							color: @lightBrown;
						}
						&.line3{
							.font(24px,26px);
							color: @lightBrown;
							margin-top: 5px;
							&:before{
								width: 740px;
							    height: 110px;
							    left: 105px;
							    background-size: contain;
							}
						}
						span{
						    position: relative;
	    					z-index: 2;
						}
						.highlight-color{
							color: @highlightBrown;
						}
					}
				}
				.slide-panel{
					width: 718px;
					height: 399px;
					margin: 40px auto 0;
					.vjs-control-bar{
						display: none;
					}
					video{
						top: 0;
						left: 0;
					}
					.big-video-wrap{
				    	position: absolute;
				    }
					.slide-list{
						width: 100%;
						height: 399px;
						position: relative;
						.tubular-panel{
							max-width: 718px;
							max-height: 399px;
						}
					}
					.slick-prev, .slick-next{
						width: 35px;
    					height: 45px;
						background: rgba(255,255,255,0.5);
					}
					.slick-prev{
						left: 0;
						border-radius: 0 50% 50% 0;
						&:before{
							display: inline-block;
							content: '';
							width: 16px;
							height: 24px;
							opacity: 1;
							background: @icon;
							background-position: -125px -1px;
						}
					}
					.slick-next{
						right: 0;
    					border-radius: 50% 0 0 50%;
						&:before{
							display: inline-block;
							content: '';
							width: 16px;
							height: 24px;
							opacity: 1;
							background: @icon;
							background-position: -102px -1px;
						}
					}
					.slick-dots{
						bottom: -25px;
						li{
						    width: 12px;
    						height: 12px;
							&.slick-active{
								button{
									background: @darkBrown;
								}
							}
							button{
								width: 9px;
								height: 9px;
								border: 1px solid @darkBrown;
								border-radius: 50%;
								box-sizing: border-box;
								&:before{
									content: "";
									width: 12px;
									height: 12px;
								}
							}
						}
					}
				}
				.button-panel{
					width: 100%;
					height: 67px;
					margin-top: 75px;
					.button{
						display: inline-block;
						vertical-align: middle;
						width: 300px;
						height: 67px;
						// background: linear-gradient(-180deg, #E21F26 0%, #9F031B 100%);
						background: @btn-ignition;
						background-position: 0 0;
						border-radius: 35px;
						.font(28px,65px);
						color: @darkBrown;
						cursor: pointer;
						margin-right: 20px;
						box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.21);
						position: relative;
						&:last-child{
							margin-right: 0;
						}
						&:hover, &.active{
							color: @White;
							background-position: 0 -82px;
							.icon-btn{
								&.brain-test{
									background-position: 0 0;
								}
								&.brain-tip{
									background-position: -35px 0;
								}
							}
						}
						.icon-btn-box{
							display: inline-block;
							vertical-align: middle;
						    width: 55px;
						    height: 50px;
						    margin-left: 10px;
    						position: relative;
						}
						.icon-btn{
							background: @icon;
							position: absolute;
							top: 8px;
						    left: 0;
						    right: 0;
						    margin: auto;
							&.brain-test{
								width: 29px;
								height: 28px;
								background-position: 0 -36px;
							}
							&.brain-tip{
								width: 31px;
								height: 31px;
								background-position: -35px -36px;
							}
						}
						.text-btn{
							display: inline-block;
							vertical-align: middle;
							width: calc(~"100% - 65px");
						}
						.arrow-selected{
						 	width: 100px;
						    height: 25px;
						    position: relative;
						    left: 0;
						    right: 0;
						    bottom: -70px;
						    margin: auto;
						    overflow: hidden;
						    transition: bottom 0.5s;
						    cursor: default;
						 	&:after {
							 	content: "";
							 	position: absolute;
							 	width: 50px;
							 	height: 50px;
							 	background: #FEEDBC;
							 	transform: rotate(45deg);
							 	top: 15px;
							 	left: 25px;
							 	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.31);
							}
						}
						&.active{
							.arrow-selected{
								bottom: -35px;
							}
						}
					}
				}
			}
		}
		.dynamic-panel{
			width: 100%;
			height: auto;
			background: @bg-dynamic-desktop;
		    background-size: cover;
    		background-position: bottom;
			max-height: 0;
			transition: max-height 1s;
			overflow: hidden;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.31);
			&.active{
				max-height: 3000px;
			}
			.dynamic-panel-inner{
				width: calc(~"100% - 30px");
				max-width: 920px;
				padding: 40px 0 80px;
				box-sizing: border-box;
				margin: 0 auto;
				.dynamic-title{
				    width: 100%;
    				margin: 0 auto 50px;
					.font(46px,55px);
					text-align: center;
					color: @Red;
				}
				.data-panel{
					max-width: 920px;
					margin: 0 auto;
					position: relative;
					padding: 0px;
					list-style: outside none none;
					&:after{
					 	content: "";
					    clear: both;
					    display: table;
					}
					.list-item{
						background: url(../images/knowledge/bg_list.png) 0 0 repeat-y;
						width: 100%;
						max-width: 280px;
						height: 360px;
						border-radius: 20px;
						margin-bottom: 40px;
						float: left;
						overflow: hidden;
						position: relative;
						box-shadow: 2px 2px 10px rgba(226, 182, 96, 0.55);
					}
					.list-item-center{
						margin: 0 40px;
					}
					.list-img{
						width: 100%;
						height: 210px;
						margin-bottom: 40px;
					}
					.badge-list{
						background: url('../images/brain_ignition/badge.png') 0 0 no-repeat;
						width: 66px;
						height: 60px;
						position: absolute;
						top: 180px;
						left: 20px;
						color: #FFFFFF;
						text-align: center;
						line-height: 20px;
					}
					.txt-day{
						.font(28px,22px);
						display: block;
						margin-top: 10px;
						color: #302303;
					}
					.txt-month{
						.font(18px,14px);
						display: block;
						color: #302303;
					}
					.txt-list-panel{
						margin: 0 25px;
					}
					.list-title{
						.font(24px,26px);
						color: #302303;
						margin-bottom: 5px;
						word-wrap: break-word;
					}
					.list-writer{
						.font(18px,22px);
						color: @Red;
					}
					.arrow-box{
						width: 22px;
						height: 22px;
						border: 1px solid @Brown;
						border-radius: 50%;
						position: absolute;
						right: 15px;
						bottom: 15px;
						&:before{
							content: '';
							width: 8px;
							height: 10px;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: auto;
							background: @icon;
							background-position: -70px -22px;
						}
					}
				}
				.button-loadmore{
					width: 243px;
					height: 64px;
					color: @darkBrown;
					box-sizing: border-box;
					margin: 0 auto;
					.font(26px,64px);
					text-align: center;
					cursor: pointer;
					background: @btn-ignition;
					background-position: 0 -164px;
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.21);
					border-radius: 28px;
					&:hover{
						color: @White;
						background-position: 0 -243px;
					}
				}
				.brain-lab-panel{
					width: 100%;
					max-width: 840px;
					height: 263px;
					background: rgba(255, 255, 255, 0.55);
					margin: 0 auto;
					display: table;
					text-align: center;
					.brain-lab-panel-inner{
						display: table-cell;
						vertical-align: middle;
						.brain-lab-title{
							.font(46px,55px);
							color: @Red;
						}
						.brain-lab-subtitle{
							.font(30px,36px);
							color: @Brown;
						}
						.brain-lab-btn-panel{
							margin-top: 25px;
							.brain-lab-btn{
								width: 200px;
								height: 60px;
								display: inline-block;
								vertical-align: middle;
								border-radius: 8px;
								.font(28px,60px);
								margin-right: 25px;
								cursor: pointer;
								color: @darkBrown;
								background-image: linear-gradient(-180deg, #FFF8CF 0%, #755114 180%);
								&:last-child{
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.wapContent{
		.inner-panel{
			.static-panel{
				height: auto;
				padding-top: 65%;
				padding-bottom: 60px;
				background: @bg-static-mobile;
				background-size: cover;
				background-position: top center;
				.static-panel-inner{
					.title-panel{
						.text-title{
							&:before{
								left: -5%;
							}
						}
						.text-subtitle{
							&.line1{
								.font(23px,24px);
								margin-top: 20px;
							}
							&.line2, &.line3{
								.font(18px);
							}
						}
					}
					.slide-panel{
						width: 100%;
						height: calc(~"(100vw - 30px) * 0.5557");
						.slick-prev{
							left: 0;
						}
						.slick-next{
							right: 0;
						}
						.slide-list{
							width: 100%;
							height: calc(~"(100vw - 30px) * 0.5557");
							.tubular-panel{
								width: 100%;
								height: 100%;
							}
							.images-list{
								width: 100%;
							}
						}
					}
					.button-panel{
						.button{
							&.active{
								.arrow-selected{
									bottom: -40px;
								}
							}
						}
					}
				}
			}
			.dynamic-panel{
				.dynamic-panel-inner{
					.dynamic-title{
						.font(36px,43px);
						margin-bottom: 40px;
					}
					.data-panel{
						.list-item{
							float: none;
							margin: 0 auto 30px;
						}
					}
					.brain-lab-panel{
						height: auto;
					    padding: 40px 15px;
					    box-sizing: border-box;
					    .brain-lab-panel-inner{
					    	.brain-lab-title{
					    		.font(36px,43px);
					    		margin-bottom: 10px;
					    	}
					    	.brain-lab-subtitle{
					    		.font(23px,24px);
					    	}
					    	.brain-lab-btn-panel{
					    		.brain-lab-btn{
									display: block;
									margin: 0 auto 20px;
									&:last-child{
										margin: 0 auto;
									}
					    		}
					    	}
					    }
					}
					.button-loadmore{
						width: 180px;
						height: 47px;
						border-radius: 0;
						box-shadow: none;
						.font(20px,47px);
					}
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.wapContent{
		.inner-panel{
			.static-panel{
				.static-panel-inner{
					.title-panel{
						.text-title{
						    max-width: 500px;
							margin: 0 auto;
							height: calc(~"100vw * 0.236");
							max-height: 118px;
							img{
								width: 100%;
							}
						}
					}
					.button-panel{
						height: auto;
						.button{
							display: block;
							width: 270px;
							height: 60px;
							margin: 0 auto 25px;
							box-shadow: none;
							.font(24px,58px);
							&:last-child{
								margin: 0 auto;
							}
							.icon-btn-box{
								width: 50px;
								height: 44px;
								margin-left: 8px;
							}
							.icon-btn{
								top: 6px;
							}
							.text-btn{
								width: calc(~"100% - 58px");
							}
						}
					}
				}
			}
		}
	}
}