@White: #FFF;
@Gold: #AE7914;
@Brown: #332301;
@lightBrown: #8B572A;
@darkBrown: #5B4101;
@Red: #D71B24;
@blue: #003760;

@questionColor1: #8CC751;
@questionColor2: #F4CA56;
@questionColor3: #F17A7C;
@questionColor4: #046692;
@questionColor5: #7E69A7;
@questionColor6: #F5882B;

@icon: url('../images/brain_ignition/question/icon-question.svg') no-repeat;
@icon-new: url('../images/brain_ignition/question/icon-question-new.svg') no-repeat;

@bg-question-desktop: url('../images/brain_ignition/question/bg-question.jpg') no-repeat;
@bg-question-mobile: url('../images/brain_ignition/question/bg-question-mobile.jpg') no-repeat;

@btn-start: url('../images/brain_ignition/question/btn-start.svg') no-repeat;

.font(@font,@line-height:@font){
	font-size: @font;
	line-height: @line-height;
}

.wapContent{
	.inner-panel{
		background: @bg-question-desktop;
		background-size: cover;
		.static-panel{
			width: 100%;
			height: 640px;
			.static-panel-inner{
				width: calc(~"100% - 30px");
				max-width: 900px;
				margin: 0 auto;
				height: 100%;
				padding: 70px 0 0;
				box-sizing: border-box;
				text-align: center;
				color: @darkBrown;
				.question-panel-desc{
					.font(24px);
					color: @blue;
				}
			}
		}
		.question-panel{
			width: 100%;
			height: 860px;
			.question-panel-inner{
				width: calc(~"100% - 30px");
				max-width: 900px;
				margin: 0 auto;
				height: 100%;
				.question-panel-title-box{
					text-align: center;
					margin-bottom: 30px;
				}
				.question-box{
					width: 100%;
					max-width: 680px;
					margin: 0 auto;
					.question-box-list{
						width: 200px;
						height: 226px;
						border-radius: 12px;
						background: @White;
						box-shadow: 2px 2px 10px rgba(168, 139, 76, .55);
						position: relative;
						cursor: pointer;
						display: inline-block;
						vertical-align: middle;
						margin-right: 40px;
						margin-top: 90px;
						&:hover{
							box-shadow: 8px 8px 14px #A88B4C;
							.btn-start{
								color: @White;
								background-position: 0 -54px;
							}
						}
						&:nth-child(3n){
							margin-right: 0;
						}
						&.language{
							color: @questionColor1;
						}
						&.art{
							color: @questionColor2;
						}
						&.music{
							color: @questionColor3;
						}
						&.math{
							color: @questionColor4;
						}
						&.science{
							color: @questionColor5;
						}
						&.leader{
							color: @questionColor6;
						}
						.question-img{
							width: 130px;
							height: 125px;
							border-radius: 50%;
							position: absolute;
							top: -50px;
							left: 0;
							right: 0;
							margin: auto;
							&:before{
								content: "";
								display: block;
								position: absolute;
								background: @icon-new;
							}
							&.language{
								&:before{
									width: 142px;
									height: 122px;
									background-position: -5px -20px;
									left: -12px;
								}
							}
							&.art{
								&:before{
									width: 156px;
									height: 132px;
									background-position: -198px -16px;
									left: -6px;
								}
							}
							&.music{
								&:before{
									width: 141px;
									height: 132px;
									background-position: -392px -12px;
								    left: -3px;
    								top: -7px;
								}	
							}
							&.math{
								&:before{
									width: 152px;
									height: 132px;
									background-position: -12px -194px;
									left: -9px;
								}
							}
							&.science{
								&:before{
									width: 144px;
									height: 123px;
									background-position: -196px -195px;
									left: -9px;
								}
							}
							&.leader{
								&:before{
									width: 172px;
									height: 129px;
									background-position: -360px -189px;
								    left: -36px;
    								top: -5px;
								}
							}
						}
						.question-box-inner{
							display: inline-table;
						    width: 100%;
						    height: 100%;
						    text-align: center;
						    .question-text{
						    	display: table-cell;
						    	vertical-align: middle;
						    	.question-title{
						    		.font(32px);
						    	}
						    }
						}
						.btn-start{
							width: 150px;
							height: 39px;
							background: @btn-start;
							background-position: 0 0;
							.font(22px,39px);
							text-align: center;
							color: @Brown;
							position: absolute;
							left: 0;
							right: 0;
							bottom: 20px;
							margin: auto;
							box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
							border-radius: 18px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.wapContent{
		margin-top: 150px;
		.inner-panel{
			background: @bg-question-mobile;
			background-size: cover;
			.static-panel{
				height: auto;
				.static-panel-inner{
					text-align: center;
					padding: 25px 0;
					img{
						width: 100%;
						max-width: 580px;
						margin: 0 auto;
					}
				}
			}
			.question-panel{
				height: auto;
				.question-panel-inner{
					padding-bottom: 70px;
					.question-panel-title-box{
						padding-top: 35px;
						img{
							width: 100%;
							max-width: 580px;
							margin: 0 auto;
						}
					}
					.question-box{
						margin: 40px auto 0;
						.question-box-list{
							margin: 70px 40px 0;
							&:nth-child(3n){
								margin: 70px 40px 0;
							}
						}
					}
				}
				.slick-list{
					padding-bottom: 45px;
				}
				.slick-next, .slick-prev{
					width: 28px;
					height: 28px;
					background: @icon;
					&:before{
						content: "";
					}
				}
				.slick-prev{
					left: 0;
					background-position: 0 -205px;
				}
				.slick-next{
					right: 0;
					background-position: -39px -205px;
				}
				.slick-dots{
					bottom: 0;
					li{
						width: 14px;
						height: 14px;
						border: 2px solid @Brown;
						border-radius: 50%;
						box-sizing: border-box;
						&.slick-active{
							background: @Brown;
						}
						button{
							width: 10px;
						    height: 10px;
						    padding: 0;
						    margin: 0;
							&:before{
								content: "";
								width: 10px;
								height: 10px;
							}
						}
					}
				}
			}
		}
	}
}