@white: #fff;
@green: #43AD9E;
@blue: #003760;
@black: #000;
@borderColor: #C19870;
@brown: #5B4101;

@background: url('../images/brain_ignition/question/bg-question.jpg') no-repeat;
@background-mobile: url('../images/brain_ignition/question/bg-question-mobile.jpg') no-repeat;
@btn-popup: url('../images/brain_ignition/question/btn-popup.svg') no-repeat;
@certificate: url('../images/brain_ignition/certificate/certificate.jpg') no-repeat;
@btn-confirm: url('../images/brain_ignition/question/btn-start.svg') no-repeat;

.font(@font,@line-height:@font){
	font-size: @font;
	line-height: @line-height;
}

#panel-cer.panel{
	width: 100%;
	min-height: 810px;
	background: @background;
	background-size: cover;
	padding: 60px 0;
	.panel-inner{
		width: calc(~"100% - 30px");
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;
		background: rgba(255, 255, 255, .9);
		border-radius: 50px;
		padding: 50px;
		.certificate-box{
			width: 786px;
			height: 537px;
			margin: 0 auto;
			background: @certificate;
			background-size: cover;
			box-shadow: 0 2px 13px @brown;
			position: relative;
			.certificate-name{
				.font(30px,55px);
				color: @white;
				position: absolute;
			    top: 222px;
			    right: 93px;
			    width: 268px;
		        white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
			}
			.certificate-type{
				.font(60px);
				color: @green;
			    position: absolute;
			    bottom: 153px;
			    right: 90px;
			    width: 270px;
			}
			.certificate-level{
				width: 340px;
				.font(30px);
				color: #045597;
				position: absolute;
			    bottom: 122px;
				right: 50px;
			}
		}
		.input-name-panel{
			margin-top: 45px;
			.input-name-title{
				.font(36px,48px);
				color: @blue;
			}
			.input-name-panel-inner{
				margin-top: 20px;
				margin-bottom: 40px;
				.input-box{
					display: inline-block;
					vertical-align: middle;
					width: 100%;
					height: 65px;
					border: 1px solid @borderColor;
					border-radius: 4.8px;
					position: relative;
                    z-index: 1;
					input{
		    			width: 100%;
		    			height: 65px;
		    			outline: none;
		    			margin: 0;
		    			border: none;
		    			.font(24px,29px);
		    			background: transparent;
		    			color: @black;
						padding: 20px 30px 10px;
		    			box-sizing: border-box;
		    			position: relative;
    					z-index: 2;
		    			&:focus,
                        &:valid {
                            & ~ .input-placeholder {
                                top: 6px;
                                .font(15px,18px);
                            }
                        }
                        &::-ms-clear {
						    display: none;
						}
		    		}
		    		.input-placeholder {
                        .font(24px,29px);
                        color: rgba(0,0,0,.5);
                        position: absolute;
                        top: 18px;
    					left: 27px;
                        z-index: 1;
                        width: calc(~"100% - 27px");
					    white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
				        text-align: left;
                        transition: all .5s;
                        text-indent: 3px;
                        &.active {
                            top: 5px;
                            .font(16px);
                        }
                    }
				}
				.btn-confirm{
					display: inline-block;
					vertical-align: middle;
					width: 180px;
					height: 51px;
					.font(25px,51px);
					margin-left: 40px;
					color: @brown;
					background: @btn-confirm;
					background-position: -180px 0;
					cursor: pointer;
					box-shadow: 0 2px 4px rgba(0,0,0,.3);
					border-radius: 30px;
					&:hover{
						color: @white;
						background-position: -180px -71px;
					}
				}
			}
		}
		.share-panel{
			.share-title{
				.font(36px,56px);
				color: @blue;
			}
			.btn-share{
				width: 340px;
    			height: 67px;
    			margin: 30px auto 0;
    			.font(25px,67px);
    			color: @white;
    			cursor: pointer;
    			padding-left: 40px;
    			box-sizing: border-box;
    			background: @btn-popup;
    			background-position: 0 0;
    			box-shadow: 0 2px 4px rgba(0,0,0,.3);
				border-radius: 30px;
    			&:hover{
    				background-position: 0 -82px;
    			}
			}
		}
	}
}

@media (max-width: 767px) {
	#panel-cer.panel{
		background: @background-mobile;
		background-size: cover;
		margin-top: 150px;
		min-height: 500px;
		.panel-inner{
			padding: 40px 15px;
			.certificate-box-panel{
				width: 100%;
    			height: calc(~"(100vw - 60px) * 0.6832");
			}
			.certificate-box{
				transform-origin: top left;
			}
			.input-name-panel{
				margin-top: 25px;
				.input-name-title{
					.font(24px,28px);
				}
				.input-name-panel-inner{
					.input-box{
						display: block;
						width: 100%;
						height: 42px;
						max-width: 480px;
						margin: 0 auto;
						input{
							width: 100%;
							height: 100%;
							.font(18px,20px);
							&:focus,
	                        &:valid {
	                            & ~ .input-placeholder {
	                                top: 2px;
	                                .font(14px,16px);
	                            }
	                        }
						}
						.input-placeholder{
							top: 12px;
							.font(18px,20px);
						}
					}
					.btn-confirm{
						margin: 20px auto 0;
						.font(21px,51px);
					}
				}
			}
			.share-panel{
				.share-title{
					.font(27px,28px);
				}
				.btn-share{
					width: 250px;
					height: 56px;
					margin: 20px auto 0;
					.font(21px,56px);
					background-position: -355px 0;
					&:hover{
						background-position: -355px -71px;
					}
				}
			}
		}
	}
}

