
@font-path : '../fonts/';
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito-regular.eot');
    src: url('../fonts/nunito-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nunito-regular.woff2') format('woff2'),
        url('../fonts/nunito-regular.woff') format('woff'),
        url('../fonts/nunito-regular.ttf') format('truetype'),
        url('../fonts/nunito-regular.svg#Nunito-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.eacute{
    font-family: 'Nunito';
}
#detail-panel{
	width: 100%;
	position: relative;
	overflow: hidden;
	background: url('../images/momtip/detail/bg-footer.jpg') top center repeat;
	background-size: 100%;
	#detail-box{
		background: url('../images/momtip/detail/bg.jpg') top center no-repeat;
		background-size: 100%;
		width: 100%;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		padding: 0 0 50px 0;
		#detail-content{
			list-style: none;
			padding: 0;
			max-width: 960px;
			margin: 50px auto 10px auto;
			a{
				display: inline;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	#detail-panel{
		background: url('../images/momtip/detail/bg-footer-mobile.jpg') top center repeat;
		background-size: 100%;
	}
	#detail-panel #detail-box{
		background: url('../images/momtip/detail/bg-mobile.jpg') top center no-repeat;
		background-size: 100%;
	}
	#detail-panel #detail-box #detail-content{
		margin: 70px 0;
		padding: 0 20px;
	}
}