.wapcontent-panel{
	position: relative;
	overflow: hidden;
}
.panel-row1{
	background: url(../images/day-and-night/bg-row1-repeat.png) no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	.panel-bg-obj{
		max-width: 1280px;
		position: relative;
		margin: 0 auto;
	}
	.bg-obj{
		background: url(../images/day-and-night/bg-row1-object.png) no-repeat;
		margin: 0 auto;
		height: 429px;
	}
	h1{
		margin: 0px;
		padding: 0px;
		font-family: "db_helvethaica_xregular";
		font-size: 80px;
		color: #0b3e8d;
		display: inline-block;
		margin-top: 75px;
	}
	h1 span{
		font-family: "db_helvethaica_x_li";
	}
	h3{
		font-family: "db_helvethaica_x_li";
		font-size: 48px;
		color: #0b3e8d;
		margin: 0px;
		margin-top: -25px;
	}
	h4{
		font-family: "db_helvethaica_xregular";
		font-size: 30px;
		color: #FFF;
		margin: 0px;
		margin-top: -5px;
	}
	.txt-content{
		font-family: "db_helvethaica_xregular";
		font-size: 24px;
		color: #FFF;
		width: 500px;
	}
}
.panel-row2{
	position: relative;
	width: 100%;
	background-color: #ffe396;
	background: url(../images/product/progress_gold/s3_bg.jpg) no-repeat;
	background-size: cover;
	.panel-bg-obj{
		max-width: 1280px;
		position: relative;
		margin: 0 auto;
	}
	.wap-content{
		width: 100%;
		position: relative;
		.panel-left{
			float: left;
			position: relative;
			width: 45%;
			height: 450px;
			.img-content{
				position: absolute;
				// right: 0;
				left: 20px;
				top: 35px;
			}
		}
		.panel-right{
			position: relative;
			width: 55%;
			float: left;
		}
		h1{
			font-family: "db_helvethaica_x_li";
			color: #8e6d1d;
			font-size: 80px;
			margin: 0px;
			margin-top: 60px;
		}
		h4{
			font-size: 30px;
			font-family: "db_helvethaica_x_med";
			margin: 0px;
			color: #8e6d1d;
			margin-top: -20px;
		}
		.bg-obj{
			// padding-left: 20px;
		}
		.txt-list{
			list-style-type: none;
			font-family: "db_helvethaica_x_med";
			font-size: 24px;
			padding: 0px;
			color: #333333;
			li{
				background: url(../images/day-and-night/bullet.png) left 9px no-repeat;
				padding-left: 20px;
			}
		}
		.txt-content{
			font-family: "db_helvethaica_x_li";
			font-size: 24px;
			color: #666666;
			width: 490px;
		}
	}
}
.panel-row3{
	position: relative;
	width: 100%;
	background: url(../images/day-and-night/bg-row3-object.png) no-repeat;
	background-size: cover;
	.panel-bg-obj{
		max-width: 1280px;
		position: relative;
		margin: 0 auto;
	}
	.wap-content{
		width: 100%;
		position: relative;
		.panel-left{
			float: left;
			position: relative;
			width: 50%;
			height: 450px;
		}
		.panel-right{
			position: relative;
			width: 35%;
			float: left;
		}
		.img-content{
			margin-top: 40px;
		}
		h1{
			font-family: "db_helvethaica_x_li";
			color: #0b3e8d;
			font-size: 80px;
			margin: 0px;
			margin-top: 60px;
		}
		h4{
			font-size: 48px;
			font-family: "db_helvethaica_x_li";
			margin: 0px;
			color: #444;
			margin-top: -20px;
		}
		.bg-obj{
			// padding-left: 20px;
		}
		.txt-list{
			list-style-type: none;
			font-family: "db_helvethaica_x_med";
			font-size: 24px;
			padding: 0px;
			color: #333333;
			li{
				background: url(../images/day-and-night/bullet.png) left 9px no-repeat;
				padding-left: 20px;
			}
		}
		.txt-normal{
			font-family: "db_helvethaica_x_li";
			color: #666;
		}
		.txt-content{
			font-family: "db_helvethaica_x_li";
			font-size: 24px;
			color: #666666;
			width: 600px;
		}
	}
}
.panel-row4{
	position: relative;
	width: 100%;
	background: url(../images/day-and-night/bg-row4-object.png) no-repeat;
	background-size: cover;
	padding-bottom: 50px;
	.panel-bg-obj{
		max-width: 1280px;
		position: relative;
		margin: 0 auto;
	}
	.wap-content{
		width: 100%;
		position: relative;
		.panel-left{
			float: left;
			position: relative;
			width: 50%;
			margin-bottom: 50px;
		}
		.panel-right{
			position: relative;
			width: 50%;
			float: left;
			.bg-obj{
				padding-left: 20px;
			}
		}
		.img-content{
			margin-top: 40px;
		}
		h1{
			font-family: "db_helvethaica_x_li";
			color: #8e6d1c;
			font-size: 80px;
			margin: 0px;
			margin-top: 60px;
		}
		h4{
			font-size: 48px;
			font-family: "db_helvethaica_x_li";
			margin: 0px;
			color: #444;
			margin-top: -20px;
		}
		.bg-obj{
			// padding-left: 20px;
		}
		.txt-brown{
			color: #8e6d1d;
			font-size: 24px;
			font-family: "db_helvethaica_x_med";
			margin: 10px 0px;
		}
		.txt-list{
			list-style-type: none;
			font-family: "db_helvethaica_x_med";
			font-size: 20px;
			padding: 0px;
			color: #333333;
			li{
				background: url(../images/day-and-night/bullet.png) left 9px no-repeat;
				padding-left: 20px;
				margin-top: 10px;
			}
		}
		.txt-normal{
			font-family: "db_helvethaica_x_li";
			color: #666;
			font-size: 20px;
		}
		.txt-content{
			font-family: "db_helvethaica_x_li";
			font-size: 24px;
			color: #666666;
			// width: 600px;
		}
		.multi-normal{
			padding-left: 20px;
		}
	}
}
@media (max-width: 767px) {
	.panel-row1{
		width: 100%;
		.m-bg-obj{
			width: 100%;
		}
		.panel-bg-obj{
			max-width: 952px;
		}
		.wap-content{
			width: 100%;
		}
		.bg-obj{
			background: none;
			background-color: #eba450;
			margin: 0 auto;
			padding: 0 20px;
			height: auto;
		}
		h1{
			margin-top: 0px;
			font-size: 40px;
			margin-top: 15px;
		}
		h3{
			font-size: 26px;
			margin-top: -10px;
		}
		h4{
			font-size: 20px;
			margin-top: 0px;
		}
		.txt-content{
			width: auto;
			padding-bottom: 30px;
			font-size: 18px;
		}
	}
	.panel-row2{
		position: relative;
		width: 100%;
		background: url(../images/day-and-night/m_bg-row2-object.jpg) top center no-repeat;
		background-color: #f4c75c;
		background-size: cover;
		.panel-bg-obj{
			max-width: 952px;
		}
		.wap-content{
			width: 100%;
			position: relative;
			.panel-left{
				float: none;
				position: relative;
				width: 100%;
				text-align: center;
				height: unset;
				.img-content{
					position: relative;
					left: unset;
					top: unset;
					text-align: unset;
					margin: 0 auto;
				}
			}
			.panel-right{
				position: relative;
				width: 100%;
				float: none;
				margin-bottom: 60px;
			}
			h1{
				font-size: 40px;
				margin-top: 0px;
			}
			h4{
				font-size: 26px;
				margin-top: 0px;
			}
			.bg-obj{
				padding: 0 20px;
			}
			.txt-list{
				font-size: 20px;
			}
			.txt-content{
				font-size: 18px;
				width: unset;
			}
		}
	}
	.panel-row3{
		position: relative;
		width: 100%;
		background: url(../images/day-and-night/m_bg-row3-object.png) no-repeat;
		background-size: cover;
		.panel-bg-obj{
			max-width: 952px;
			position: relative;
			margin: 0 auto;
		}
		.wap-content{
			width: 100%;
			position: relative;
			.panel-left{
				float: none;
				position: relative;
				width: 100%;
				height: unset;
				margin-bottom: 50px;
			}
			.panel-right{
				position: relative;
				width: 100%;
				float: none;
			}
			.img-content{
				margin-top: unset;
				margin: 0 auto;
			}
			h1{
				font-size: 40px;
				margin-top: 0px;
			}
			h4{
				font-size: 26px;
				margin-top: 0px;
			}
			.bg-obj{
				padding: 0 20px;
			}
			.txt-list{
				font-size: 18px;
				li{
					background: url(../images/day-and-night/bullet.png) left 9px no-repeat;
					padding-left: 20px;
				}
			}
			.txt-normal{
			}
			.txt-content{
				font-size: 18px;
				width: unset;
			}
		}
	}
	.panel-row4{
		position: relative;
		width: 100%;
		background: url(../images/day-and-night/m_bg-row4-object.png) no-repeat;
		background-size: cover;
		.panel-bg-obj{
			max-width: 952px;
			position: relative;
			margin: 0 auto;
		}
		.wap-content{
			width: 100%;
			position: relative;
			.panel-left{
				float: none;
				position: relative;
				width: 100%;
				margin-bottom: 50px;
			}
			.panel-right{
				position: relative;
				width: 100%;
				float: none;
			}
			.img-content{
				margin-top: 0px;
				padding-top: 20px;
				margin: 0 auto;
			}
			h1{
				font-family: "db_helvethaica_x_li";
				color: #8e6d1c;
				font-size: 40px;
				margin: 0px;
				margin-top: 60px;
			}
			h4{
				font-size: 26px;
				font-family: "db_helvethaica_x_li";
				margin: 0px;
				color: #444;
				margin-top: -20px;
			}
			.bg-obj{
				padding: 0 20px;
			}
			.txt-brown{
				color: #8e6d1d;
				font-size: 20px;
				font-family: "db_helvethaica_x_med";
				margin: 10px 0px;
			}
			.txt-list{
				list-style-type: none;
				font-family: "db_helvethaica_x_med";
				font-size: 18px;
				padding: 0px;
				color: #333333;
				li{
					background: url(../images/day-and-night/bullet.png) left 9px no-repeat;
					padding-left: 20px;
					margin-top: 10px;
				}
				.txt-normal{
					padding-left: 0px;
				}
			}
			.txt-normal{
				font-family: "db_helvethaica_x_li";
				color: #666;
				font-size: 18px;
			}
			.txt-content{
				font-family: "db_helvethaica_x_li";
				font-size: 18px;
				color: #666666;
				// width: 600px;
			}
			.multi-normal{
				padding-left: 20px;
			}
		}
	}
}