@gold: #8e6d1d;
.dropdown-list{
	  width: 100%;
	  position: relative;
	  height: 25px;
	  cursor: pointer;
	  z-index: 1;
	  color: #999999;
	  line-height: 20px;
	  border: 1px solid @gold;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
	  text-indent: 10px;
	  text-align: left;
	.dropdown-list-text{
		color: @gold;
		font-size: 20px;
	}
	.dropdown-list-arrow-down{

	}
	.btn-list{
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		text-align: center;
		width: 30px;
		height: 100%;
		text-align: center;
		.btn-img{
			background: url('../images/ddown/ddown-arrow.png') center center no-repeat;
			background-position: 0px -2px;
			width: 20px;
			height: 10px;
			display: block;
			margin: 0 auto;
			margin-top: 8px;
		}
	}
}
.dropdown-list.active-list{
	border-radius: 8px 8px 0 0;
	.btn-list{
		.btn-img{
			background-position: 0px -20px;
		}
	}
}
.dropdown-list-data{
	display: none;
	position: absolute;
	top: 27px;
	color: #777;
	background: #fff;
	width: 100%;
	padding: 0;
		z-index: 999;
		border-bottom: 1px solid @gold;
		border-left: 1px solid @gold;
		border-right: 1px solid @gold;
		 -webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
		.dropdown-list-data-inner{
		max-height: 200px;
			overflow: auto;
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			border-bottom: 1px solid @gold;
			padding: 5px 0 5px 20px;
			font-size: 20px;
			color: @gold;
			cursor: pointer;
			height: auto;
			background-position: 0 0;
			text-align: left;
			.list-text{
				padding-left: 20px;
			}
		}
		// li:first-child{
		// 	padding: 2px 0 2px 10px;
		// }
		li:last-child{
		// 	padding: 2px 0 2px 10px;
			border-bottom: none;
		}
		li.active{
			.list-text{
				padding-left: 20px;
				background: url('../images/ddown/ddown-arrow.png') left center no-repeat;
				background-position: 0 -25px;
			}
		}
	}
}
.dropdown-list-data.ddDownDesktop{
	li:hover{
		background-color: #fbfbfb;
		position: relative;
	}
	li:last-child:hover{
		border-radius: 0 0 10px 10px;
	}
	// li:hover:before{
	// 	content: "";
	// 	position: absolute;
	// 	width: 3px;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	background-color: #a0ba2a;
	// }
	// li:first-child:hover:before{
	// 	content: "";
	// 	position: absolute;
	// 	width: 3px;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	background-color: #a0ba2a;
	// }
	// li:last-child:hover:before{
	// 	content: "";
	// 	position: absolute;
	// 	width: 1px;
	// 	height: 30px;
	// 	top: 0;
	// 	left: 0;
	// 	background-color: #a0ba2a;
	// 	border-radius: 0 0 0 50%;
	//     -webkit-border-radius: 0 0 0 50%;
	//     -moz-border-radius: 0 0 0 50%;
	//     border: 1px solid #a0ba2a;
	// }
}