#everyonecanbethestar{
	@media(max-width: 768px){
		margin-top: 149px;
	}
	.everyVideo{
		background: url('../images/everyonecanbethestar/desktop_01.jpg') top center no-repeat;
		background-size:contain;
		padding-top: 40.7%;
		position: relative;

		@media(max-width: 768px){
			background: url('../images/everyonecanbethestar/mobile_01.jpg') top center no-repeat;
		   background-size:contain;
		   padding-top: 100%;
		}

		.wrapvideo{
			position: absolute;
			bottom:0;
			left:0%;
			width:100%;
		}

		.video{
			width:900 / 1920 * 100%;
			margin:0 auto;
			@media(max-width: 768px){
				width: 100%;
			}
		}
	}


}

	.embed-responsive {
	  position: relative;
	  display: block;
	  height: 0;
	  padding: 0;
	  overflow: hidden;

	  .embed-responsive-item,
	  iframe,
	  embed,
	  object {
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    height: 100%;
	    width: 100%;
	    border: 0;
	  }

	  // Modifier class for 16:9 aspect ratio
	  &.embed-responsive-16by9 {
	    padding-bottom: 56.25%;
	  }

	  // Modifier class for 4:3 aspect ratio
	  &.embed-responsive-4by3 {
	    padding-bottom: 75%;
	  }
	}