#register-panel {
    font-family: db_helvethaica_xregular;
    #register-panel-inner{
        .register-panel-top{
            border-bottom: 0px !important;
            .main-title-cheng-pass {
                font-size: 60px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    #register-panel {
        font-family: db_helvethaica_xregular;
        #register-panel-inner{
            .register-panel-top{
                .register-panel-top-left {
                    margin: 0px !important;
                    width: 100%;
                }
                .register-panel-top-right {
                    width: 100% !important;
                    height: auto !important;
                }
                border-bottom: 0px !important;
                .main-title-cheng-pass {
                    font-size: 40px;
                }
            }
        }
    }
}