#day-1-90-title-box1{
	margin-bottom: 30px;
	font-size: 50px;
	line-height: 50px;
	.small-title{
		font-size: 32px;
	}
}
#day-1-90-title-box5{

}
@media  (max-width: 767px){
	#day-1-90-title-box1{
		font-size: 40px;
		line-height: 40px;
	}
	#day-1-90-title-box5{
		margin-top: 20px;
	}
}