@red: #E21F26;
@gold: #5B4101;
@icon: url('../images/wyeth/icon.svg') no-repeat;

.gold{
	color: @gold !important;
}

.font(@font,@lh:@font){
	font-size: @font;
	line-height: @lh;
}

.style-inner(){
	width: calc(~"100vw - 30px");
	max-width: 970px;
	height: 100%;
	margin: 0 auto;
	padding-top: 400px;
	box-sizing: border-box;
	@media screen and (max-width : 767px) {
		padding-top: 40px;
	}
}

.style-title-box(){
	.title-icon{
		display: inline-block;
		vertical-align: middle;
		width: 80px;
		height: 81px;
		margin-right: 15px;
		background: @icon;
		&.legacy{
		    background-position: 0px -76px;
		}
		&.team{
			background-position: -92px -76px;
		}
		&.contact{
			background-position: -184px -76px;
		}
		&.article{
			background-position: -141px -230px;
		}
		@media screen and (max-width : 767px) {
			width: 50px;
			height: 50px;
			&.legacy{
				background-position: 0px -169px;
			}
			&.contact{
				background-position: -114px -169px;
			}
			&.article{
				background-position: -231px -230px;
			}
		}
	}
	.title-text{
		display: inline-block;
		vertical-align: middle;
		.font(26px,28px);
		color: #fff;
		&.legacy{
			text-shadow: 0 0 30px #53666C;
		}
		&.team{
			text-shadow: 0 0 30px #886A1B;
		}
		@media screen and (max-width : 767px) {
			.font(19px,19px);
		}
	}
}

a:link {
	-webkit-tap-highlight-color: transparent;
}
.wyeth-panel {
	overflow: hidden;
	.wyeth-panel-inner {
		.wyeth-main-panel{
			width: 100%;
			height: 550px;
			position: relative;
			@media screen and (min-width: 767px) {
				/*background: url('../images/wyeth/bg-wyeth-main.jpg') center right no-repeat;*/
				background-position: center right;
				background-repeat: no-repeat;
				background-size: cover;

			}
			@media screen and (max-width: 767px) {
			/*	background: url('../images/wyeth/bg-wyeth-main-mobile.jpg') center center no-repeat;*/
				background-repeat:no-repeat;
				background-size: cover;
				height: auto;
				padding-top: 75%;
				padding-bottom: 20px;
			}
			.background_mb {
				@media screen and (max-width: 767px) {
					width: 290px;
					height: 290px;
					position: absolute;
					right: 0px;
					top: -32px;
					/*background: url('../images/wyeth/kidmom.png') center right no-repeat;*/
					background-position: center right;
				    background-repeat: no-repeat;
					background-size: contain;
					display:none;
				}
			}
			.wyeth-main-panel-inner{
				.logo {
				    width: 435px;
    				height: 180px;
					/*background: url("../images/wyeth/wyeth_logo_w_4.png") no-repeat;*/
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					margin: 0 auto 30px;
					position: relative;
					display: none;
					@media screen and (max-width: 767px) {
						width: 90vw;
						height: calc(~"90vw * ( 180 / 435 )");
					}
				}
				.style-inner();
				.text-panel{
					.font(28px);
					color: @gold;
					text-align: center;
					margin-bottom: 85px;
					display: none;
					@media screen and (max-width: 767px) {
						font-size: 21px;
						position: relative;
						margin: 30px auto;
					}
				}
				.button-box{
					text-align: center;
					.button-link{
						display: inline-block;
						width: 200px;
						height: 60px;
						background: @red;
						border-radius: 100px;
						margin-right: 20px;
						color: #fff;
						&:hover {
							background: #d60e20;
							@media screen and (max-width: 767px) {
								background: @red;
							}
						}
						@media screen and (max-width: 767px) {
							width: 285px;
							height: 43px;
							font-size: 20px;
							line-height: 43px;
							display: block;
							margin: 10px auto 0px;
						}
						.font(28px,60px);
						&:last-child{
							margin-right: 0px;

							@media screen and (max-width: 767px) {
								width: 285px;
								height: 43px;
								font-size: 20px;
								line-height: 43px;
								display: block;
								margin: 10px auto 0px;
							}
						}
						.icon{
							display: inline-block;
							vertical-align: middle;
							margin-right: 15px;
							background: @icon;
							@media screen and (max-width: 767px) {
								transform: scale(0.7);
							}
							&.legacy{
								width: 43px;
								height: 38px;
								background-position: -136px 0;
							}
							&.team{
								width: 52px;
								height: 30px;
								background-position: -189px -3px;
							}
							&.contact{
								width: 36px;
								height: 28px;
								background-position: -251px -5px;
							}
							&.article{
						    	width: 40px;
						    	height: 30px;
						    	background-position: 0 -231px;
						    }
						}
						.text{
							display: inline-block;
							vertical-align: top;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.wyeth-panel-no-banner{
		padding-top: 150px;
	}
}
