#detail-panel-app.detail-panel{
    width: 100%;
    position: relative;
    overflow: hidden;
    .detail-box{
        background: url('../images/app/bg-banner-app.jpg') top center no-repeat;
        background-size: cover;
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        height: 550px;
        .detail-content{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            max-width: 960px;
            position: relative;
            .text-app-box{
                position: absolute;
                top: 70px;
                left: -20px;
                .btn-app-bar{
                    position: absolute;
                    bottom: 20px;
                    width: 100%;
                    text-align: center;
                    .btn-app-link{
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 30px;
                        cursor: pointer;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
            .img-hand{
                display: block;
                position: absolute;
                right: 25px;
                bottom: 0;
            }
        }
    }
}

@media (max-width: 767px){
    #detail-panel-app.detail-panel{
        .detail-box{
            background: url('../images/app/bg-banner-app-mobile.jpg') top center no-repeat;
            background-size: cover;
            height: 100%;
            .detail-content{
                .text-app-box{
                    position: relative;
                    top: auto;
                    left: 0;
                    right: 0;
                    margin: 35px auto 30px;
                    .text-app{
                        max-width: 340px;
                        width: calc(~"100% - 30px");
                        margin: 0 auto;
                    }
                    .btn-app-bar{
                        margin-top: 15px;
                        position: relative;
                        bottom: auto;
                        .btn-app{
                            width: 130px;
                        }
                    }
                }
                .img-hand{
                    position: relative;
                    top: auto;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    max-width: 200px;
                    width: calc(~"100% - 30px");
                }
            }
        }
    }
}