/*body{
	background: rgba(119, 255, 125, 0.80);
	//background: rgba(255,202,76,0.8);
	.global-loading {
	  display: block;
	  margin: 10% auto auto auto;
	  position: absolute;
	  width: 70px;
	  color: #fff;
	  text-align: center;
	  left: 0;
	  right: 0;
	  margin: 0 auto;
	  top: 100px;
	}
}*/

#banner-mom{
	height: 2000px;
	.show-slide-image{
		display: block !important;
	}
	.hide-slide-image{
		display: none !important;
	}
}
.link-video{
	display: inline-block;
}
.link-video-active{
	display: block;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
}
.banner-en{
	padding-top: 40px;
}
// #dim-panel{
// 	position: fixed;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	z-index: 9999;
// 	.global-loading{
// 		margin: 0 auto;
// 		top: 40%;
// 		z-index: 2;
// 	}
// 	#dim-inner-panel{
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		background: #000;
// 		opacity: 0.7;
// 		filter: alpha(opacity=70);
// 		z-index: 1;
// 		cursor: pointer;
// 	}
// 	#popup-panel.bg-popup-alert{
// 		max-width: 868px;
// 		position: relative;
// 		#popup-inner-panel{
// 			height: 480px;
//             .popup-inner-panel-bg {
//                 background: url('../images/home/bg-breaetfeeding.jpg') 0 0 no-repeat;
//                 width:100%;
//                 height: 388px;
//                 border-radius: 20px;
//                 position:absolute;
//                 top: 0;
//                 left: 0;
//                 z-index: -1;
//             }
// 		}
// 		#text-popup-left{
// 			padding: 25px 40px;
// 			width: 465px;
// 		}
// 		.popup-en{
// 			width: 490px !important;
// 		}
// 		#text-popup1{
// 			display: block;
// 			font-size: 48px;
// 			line-height: 48px;
// 			font-family: "Times New Roman, Georgia, Serif";
// 			font-style: italic;
// 		}
// 		#text-popup2{
// 			display: block;
// 			font-size: 80px;
// 			line-height: 70px;
// 			// margin-bottom: 5px;
// 			font-family: "Times New Roman, Georgia, Serif";
// 		}
// 		#text-popup3{
// 			display: block;
// 			font-size: 60px;
// 			line-height: 60px;
// 			margin-bottom: 5px;
// 		}
// 		#text-popup4{
// 			display: block;
// 			font-size: 25px;
// 			line-height: 30px;
// 			margin-bottom: 15px;
// 		}
// 		p{
// 			padding: 0;
// 			margin: 0;
// 			text-indent: 60px;
// 		}
// 	}
// }

// #popup-panel{
// 	position: absolute;
// 	top: 10%;
// 	// background: #fff;
// 	left: 0;
// 	right: 0;
// 	margin: 0 auto;
// 	max-width: 500px;
// 	z-index: 2;
// 	#popup-inner-panel{
// 		#close-popup{
// 			background: url('../images/member/btn-close.png') 0 0 no-repeat;
// 			position: absolute;
// 			top: -18px;
// 			right: -10px;
// 			width: 40px;
// 			height: 40px;
// 			cursor: pointer;
// 		}
// 		.text-bold{
// 			font-size: 36px;
// 			display: block;
// 			line-height: 36px;
// 		}
// 		.text-lighter{
// 			font-size: 30px;
// 			line-height: 30px;
// 			display: block;
// 		}
// 	}
// }

.tubular-panel{
	position: absolute !important;
	z-index: 0 !important;
}
#banner-mom {
	display: inline-block;
    margin: -175px 0 -4px;
    overflow: hidden;
    width: 100%;
    .play-control{
    	position: absolute;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
    	top: 0;
    	background: url("../images/home/banner/icon_video_player.png") no-repeat scroll center center transparent;
  		width: 100%;
  		height: 100%;
  		z-index: 1000;
    }
    .playing{
    	.play-control{
    		background: none;
    	}
    }
    .mobile-detect{
    	position: absolute;
    	z-index: 1;
    }
    .mobile-detect.active{
    	display: none !important;
    }
    .images-list-portrait{
		width: 100%;
		height: auto;
	}
	.images-list-lanscape{
		width: auto;
		height: 100%;
		margin-left:auto !important;
		margin-right:auto !important;
	}
	.vjs-control-bar{
		display: none;
	}
    .slick-dots li button::before{
		content: "";
    }
    .youtube-player-panel{
    	width: 100%;
    	height: 100%;
    }
    .youtube-player{
    	display: none;
    }
    .big-video-wrap{
    	position: absolute;
    }
    .player_list{
    	width: 100%;
    	height: 100%;
    }

	.slick-dots{
		display: inline-block;
		margin: 0 6px 0 0;
		position: absolute;
		right: 20px;
		text-align: right;
		top: 190px;
		z-index: 100;
		height: 10px;


		li{
			border: 1px solid #fff;
		    border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
		    height: 10px;
		    width: 10px;

		}
		li.slick-active{
			background: #ffffff;
		}
	}
	.slick-list, .slick-track{
		height: 100%;
	}

	.banner-list{
		position: relative;
		z-index: 0;
		overflow: hidden;
	}

	.slick-active{
		z-index: 10;
	}

	.display-description{
		font-family: "db_helvethaica_x_li";
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWPI9mTYDAADPwFoco/XFgAAAABJRU5ErkJggg==') repeat scroll 0 0;
		border-radius: 30px 30px 0 0;
		-moz-border-radius: 30px 30px 0 0;
		-webkit-border-radius: 30px 30px 0 0;
		bottom: 0;
		color: #fff;
		left: 61px;
		padding: 16px 47px;
		position: absolute;
		width: 550px;
	}

	.display-title-text{
		border-bottom: 1px solid #bfb499;
	    line-height: 56px;
	    margin-bottom: 14px;
	    padding: 0 0 7px;
  		font-family: "db_helvethaica_xregular";
  		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

	}

	.display-description-text{
		font-size: 24px;
	    // line-height: 32px;
	}

	.btnPlayVideo{
		background: url("../images/home/banner/icon_video_player.png") no-repeat scroll center center transparent;
		width: 100%;
		height: 100%;
		// top: 0;
		// left: 0;
		// position: relative;
		// z-index: 100;
	}

	.playing{
		background: none;
	}
}
#banner-mom.andriod-device{
	.big-video-wrap{
		.video-js{
			width: 100% !important;
		}
		video{
			width: 100% !important;
			top: 42%;
			height: auto !important;
		}
	}
	.banner-list{
		iframe.active{
			width: 100% !important;
			left: 0 !important;
			top: 75px !important;
			height: 100% !important;
		}
	}
	.btnPlayVideo{
		background: none #000;
	}
}
body.en #banner-mom.andriod-device .banner-list iframe.active{
	width: 100% !important;
	left: 0 !important;
	top: 10px !important;
	height: 100% !important;
}
body.en #banner-mom .slick-dots{
    top: 150px!important;
}
body.en #banner-mom.andriod-device .big-video-wrap video{
	top: 32%;
}
#banner-mom.andriod-lanscape{
	.big-video-wrap{
		video{
		    width: 80% !important;
		    top: 100px;
		    height: auto !important;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		}
	}
	.banner-list{
		iframe.active{
			width: 100% !important;
			left: 0 !important;
			height: 100% !important;
			top: 60px!important;
		}
	}
}

#banner-mom.ipad-device{
	/*.big-video-wrap{
		.video-js{
			width: 100% !important;
		}
		video{
			width: 100% !important;
			top: 42%;
			height: auto !important;
		}
	}*/
	.banner-list{
		iframe.active{
			width: 100% !important;
			left: 0 !important;
			top: 75px;
			height: 100% !important;
		}
	}
	.btnPlayVideo{
		background: none #000;
	}
}
#banner-mom.ipad-lanscape{
	/*.big-video-wrap{
		video{
		    width: 80% !important;
		    top: 100px;
		    height: auto !important;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		}
	}*/
	.banner-list{
		iframe.active{
			width: 100% !important;
			left: 0 !important;
			height: 100% !important;
			top: 60px!important;
		}
	}
}

#TabNav{
	position: relative;
	z-index: 100;
}
@media screen and (min-width: 768px) {
	#banner-mom .display-title-text{
		font-size: 40px !important;
	}
}

@media screen and (max-width: 767px) {
	body.en #banner-mom .slick-dots {
	    top: 175px!important;
	}
	#banner-mom {
		margin: -89px 0 -4px;
	}
	#banner-mom .play-control{
		background: url("../images/home/banner/icon_video_player.png") no-repeat scroll center 58% transparent;
	}
	// //popup
	// #dim-panel #popup-panel.bg-popup-alert #text-popup2{
	// 	width: 300px;
	// 	font-size: 36px;
	// 	line-height: 33px;
	// }
	// #popup-inner-top-panel{
	// 	height: 261px !important;
	// }
	// #dim-panel #popup-panel.bg-popup-alert #text-popup-left{
	// 	width: 75% !important;
	// 	float: left;
	// }
	// .popup-en{
	// 	width: 56% !important;
	// }
	// #text-popup-right{
	// 	float: right;
	// 	width: 30%;
	// 	position: absolute;
	// 	top: 0px;
	// 	right: 20px;
	// 	height: 100%;
	// 	z-index: -1
	// }
	// .mom-img{
	// 	background: url('../images/home/img-mom.png') no-repeat;
	// 	width: 100%;
	// 	background-position: right center;
	// 	background-size: cover;
	// 	position: absolute;
	// 	top: 0;
	// 	height: 100%;
	// 	// border: 1px solid transparent;
	// 	border-radius: 12px;
	// 	-moz-border-radius: 12px;
	// 	-webkit-border-radius: 12px;
	// }
	// #popup-panel{
	// 	padding: 0 20px;
	// }
	// #dim-panel #popup-panel.bg-popup-alert #text-popup4{
	// 	font-size: 18px;
	// 	line-height: 18px;
	// 	padding-right: 35px;
	// }
 //    #dim-panel #popup-panel.bg-popup-alert #popup-inner-panel{
 //        background-size: 100%;

 //        .popup-inner-panel-bg {
 //            background: url('../images/home/bg-breaetfeeding.jpg') 0 0 no-repeat;
 //            width:calc(~"100% - 40px");
 //            height: 263px;
 //            border-radius: 17px;
 //            position:absolute;
 //            top: 0;
 //            left: 0;
 //            z-index: -1;
 //            margin-left:20px;
 //        }
 //    }
	// #dim-panel #popup-panel.bg-popup-alert #popup-inner-panel{
	// 	height: auto;
	// 	border-radius: 15px;
	// 	-moz-border-radius: 15px;
	// 	-webkit-border-radius: 15px;
 //  		border: 1px solid transparent;
	// }
	// #dim-panel #popup-panel.bg-popup-alert #text-popup-left{
 //        padding: 15px 0px 15px 15px;
	// }
	// #popup-panel #popup-inner-panel #close-popup{
	// 	top: -9px;
	// 	right: 0;
	// 	background-size: 22px;
	// 	z-index: 9;
	// }
	// #dim-panel #popup-panel.bg-popup-alert #text-popup3{
	// 	font-size: 40px;
	// 	line-height: 40px;
	// }
	// #dim-panel #popup-panel.bg-popup-alert #text-popup2{
	// 	font-size: 45px;
	// 	line-height: 45px;
	// }
	// #dim-panel #popup-panel.bg-popup-alert #text-popup1{
	// 	font-size: 30px;
	// 	line-height: 30px;
	// }
	// #popup-inner-top-panel{
	// 	overflow: hidden;
	// }
	// //End popup
	#banner-mom .display-title-text{
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		line-height: inherit;
	}
	#banner-mom .display-description-text{
		height: 50px;
		overflow: hidden;
	}
	#banner-mom {

		.slick-dots{
			right: 10px;
			top: 250px !important;
		}

		#banner-slick{
			margin-bottom: 0;
		}
		.display-description {
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			left: 0;
			padding: 16px 2%;
			width: 96%;
			z-index: 101;
		}
	}
	.tubular-panel{
		z-index: 100 !important;
	}
}

@media screen and (max-width: 420px) {
	#dim-panel #popup-panel.bg-popup-alert #text-popup4{
		font-size: 18px;
		line-height: 18px;
	}
	#dim-panel #popup-panel.bg-popup-alert #text-popup3{
        font-size: 24px;
        line-height: 22px;
	}
    #dim-panel #popup-panel.bg-popup-alert #text-popup2 {
        font-size: 28px;
        line-height: 28px;
    }
	#dim-panel #popup-panel.bg-popup-alert #text-popup1 {
		font-size: 24px;
		line-height: 24px;
	}
}

/// TABLET
.mobile-device .mobile-detect{
	display: block !important;
}
.mobile-device .play-control{
	display: block !important;
}
.mobile-device #banner-mom .display-title-text{
	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: inherit;
}
.mobile-device #banner-mom .display-description-text{
	height: 50px;
	overflow: hidden;
}
.mobile-device #banner-mom {

	.slick-dots{
		right: 10px;
		top:155px;
	}

	#banner-slick{
		margin-bottom: 0;
	}
	.display-description {
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		left: 0;
		padding: 16px 2%;
		width: 96%;
		z-index: 101;
	}
}
.mobile-device .tubular-panel{
	z-index: 100 !important;
}
@media screen and (max-width: 370px) {

    #dim-panel #popup-panel.bg-popup-alert #popup-inner-panel{
        background-size: 100%;

        .popup-inner-panel-bg {
            background: url('../images/home/bg-breaetfeeding.jpg') 0 0 no-repeat;
            width:calc(~"100% - 40px");
            height: 263px;
            border-radius: 17px;
            position:absolute;
            top: 0;
            left: 0;
            z-index: -1;
            margin-left:20px;
        }
    }
	#dim-panel #popup-panel.bg-popup-alert #text-popup-left{
		padding: 10px 20px 20px 20px;
		width: 50%;
  		padding-right: 0;
	}
	#text-popup-right{
		width: 41%;
	}
	#dim-panel #popup-panel.bg-popup-alert #text-popup2{
		width: 200px;
		font-size: 36px;
		line-height: 33px;
	}
	#dim-panel #popup-panel.bg-popup-alert #text-popup4{
		font-size: 16px;
  		line-height: 16px;
	}
	#popup-inner-top-panel{
		height: 261px !important;
	}
}