.content-panel{
	background: url(../images/important-notice/bg_important_notice_repeat.jpg) top center repeat-y;
	width: 100%;
	background-size: 100%;
	position: relative;
	overflow: hidden;
}
.content-bg{
	background: url(../images/important-notice/bg_important_notice.jpg) top center no-repeat;
	margin: 0 auto;
	width: 100%;
	background-size: 100%;
	position: relative;
}
.stage-content{
	margin: 0 auto;
	max-width: 960px;
	padding-top: 50px;
}