#joinsmom {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(/images/joinsmom/background-join.png);
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 55px;
    .title-joinsmom {
        padding-top: 45px;
        text-align: center;
        font-size: 60px;
        text-shadow: 2px -1px #fff;

        .font-xregular {
            color: #013760;
            font-family: "db_helvethaica_xregular";
        }
        .font-x_li {
            color:  #8E6D26;
            font-family: "db_helvethaica_x_li";
        }
    }
    .banner{
        max-width: 900px;
        margin:0 auto;
        padding-bottom: 20px;
        padding-top: 10px;
        img{
            max-width: 100%;
        }
    }

    .progressbar-title {
        .hr-custom-color {
            margin-left: 5%;
            width: 95%;
            border-top: 1px solid #E8E2D1! important;
        }
        .font-xregular {
            color:  #8D6D1C;
            font-family: "db_helvethaica_xregular";
        }
        .font-x_li {
            color:  #8D6D1C;
            font-family: "db_helvethaica_x_li";
        }
        .status-mom-icon {
            vertical-align: sub;
            background-size: cover;
            width: 100%;
            &:before {
                content: "";
                display: inline-block;
                background: url(/images/joinsmom/status-mom-icon.png) no-repeat;
                width: 35px;
                height: 39px;
            }
        }
        .status-mom2-icon {
            vertical-align: sub;
            background-size: cover;
            width: 100%;
            &:before {
                content: "";
                display: inline-block;
                background: url(/images/joinsmom/status-mom2-icon.png) no-repeat;
                width: 35px;
                height: 39px;
            }
        }
        .productmom-icon {
            vertical-align: middle;
            background-size: cover;
            width: 100%;
            &:before {
                content: "";
                display: inline-block;
                background: url(/images/joinsmom/product-icon.png) no-repeat;
                width: 45px;
                height: 39px;
                vertical-align: middle;
            }
        }
        .status-mom3-icon {
            vertical-align: sub;
            background-size: cover;
            width: 100%;
            &:before {
                content: "";
                display: inline-block;
                background: url(/images/joinsmom/status-mom3-icon.png) no-repeat;
                width: 45px;
                height: 39px;
            }
        }
        #progressbar {
            .slide-bar-out {
                position: relative;
                width: 100%;
                max-width: 300px;
                height: 10px;
                background-color: #FFFFFF;
                border-radius: 10px;
                margin: auto;
                margin-top: 60px;
                .now-progressbar {
                    position: relative;
                    width: 100px;
                    height: 50px;
                    bottom: 59px;
                    left: -10%;
                    .slide-bar-in {
                        position: absolute;
                        width: 100%;
                        max-width: 20px;
                        height: 20px;
                        bottom: -23px;
                        left: 25%;
                        background-color: #B49F6A;
                        border-radius: 20px;
                    }
                    .box {
                        position: absolute;
                        width: 100%;
                        max-width: 80px;
                        height: 40px;
                        left: -5%;
                        border-radius: 10px;
                        background-color: #ffffff;
                        .text-box {
                            color: #BB1F33;
                            text-align: center;
                            font-size: 25px;
                            padding: 5px 26px 14px 20px;
                        }
                    }
                    .arrow-down {
                        position: absolute;
                        bottom: 0;
                        left: 22%;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 13.33px 0 13.33px;
                        border-color: #ffffff transparent transparent transparent;
                    }
                    &.step-second-progress {
                        left: 40%;
                    }

                    &.step-third-progress {
                        left: 85%;
                    }
                }
                .progressbar-active { //เวลากด next จะเพิ่ม width เริ่มต้นจะเป็น 0%
                    position: absolute;
                    width: 0%;
                    height: 10px;
                    top: 0;
                    background-color: #B49F6A;
                    border-radius: 20px;
                    &.step-second {
                        width: 50%!important;
                    }
                    &.step-third {
                        width: 100%!important;
                    }
                }
            }
        }

        .row-radio{
            text-align: left;
            margin-bottom: 5px;
            .radio-position{
                position: relative;
                bottom: 3px;
            }
            
            .label-position{
                font-size: 21px;
                color: #495057;
                cursor: pointer;
                line-height: 21px;
            }
            input[type="radio"] + label span {
                position: relative;
                display: inline-block;
                top: 3px;
                right: 3px;
                width: 14px;
                height: 14px;
                border-radius: 7px;
                border: 1px solid #8D6D1C;
                margin-right: 5px;
            }

            input[type="radio"]:checked + label span:before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: #8D6D1C;
                left: 50%;
                top: 50%;
                margin-left: -3px;
                margin-top: -3px;
            }

            input[type="radio"]:checked + label span:before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: #8D6D1C;
                left: 50%;
                top: 50%;
                margin-left: -3px;
                margin-top: -3px;
            }
            input[type="radio"] + label.validation-radio span {
              border: 1px solid red;
            }

            input[type="radio"]{
                display: none;
            }

        }

        #msform {
            margin: auto;
            text-align: center;
            position: relative;
            margin-top: 35px;
            max-width: 900px;
        }
        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0px;
            padding: 20px 30px;
            -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
                    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            // margin: 0 10%;
            position: relative;
        }

        .fs-title {
            display: block;
            font-size: 40px;
            margin-top: 30px;
            margin-bottom: 30px;
            &.fs-title-sm {
                font-size: 25px;
            }
            &.fs-title-smx {
                font-size: 21px;
            }
        }
        .fs-detail {
            display: block;
            text-align: left;
            margin-bottom: 15px;
            &.fs-title-ssm {
                font-size: 21px;
            }
            &.fs-title-md {
                font-size: 25px;
            }
            &.tracks {
                margin-left: 5%;
            }
        }
        .inline-radio {
            display: inline-block;
            margin-right: 25px;
            .radio-position {
                position: relative;
                bottom: 3px;
            }
            .radio-text-input-position {
                width: 100%;
                max-width: 30px;
                border-radius: .25em;
                border: 1px solid #ced4da;
                padding: .375rem .75rem;
                &.validation-border {
                    border-color: red;
                }
            }
            .radio-text-select-position {
                width: 100%;
                max-width: 70px;
                border: 1px solid #ced4da;
                padding: 5px 20px 5px 15px;
                &.border-validation {
                    border-color: red;
                }
            }
            &.inline-radio-left {
                float: left;
            }
            .inline-box-select {
                display: inline-block;
                position: relative;
            }
            select {
                width: 100%;
                background: transparent;
                border: none;
                -webkit-appearance: none;
                color: #BABABA;
                &.selected {
                    color: #495057 !important;
                }
            }
            .fa-sort-desc-radio {
                width: 10px;
                display: block;
                height: 6px;
                position: absolute;
                top: 0;
                right: 7px;
                bottom: 0;
                margin: auto;
                &:before {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    background: url(/images/joinsmom/arrow-icon.png) no-repeat;
                    width: 10px;
                    height: 6px;
                    top: 0;
                    left: 0;
                }
            }
        }
        .label-position {
            font-size: 25px;
            margin-left: 5px;
            &.label-position-sm-font {
                font-size: 21px;
            }
            &.label-position-ssm-font {
                font-size: 19px;
                color: #4A4A4A;
            }
            &.validation-radio {
                color: red!important;
            }
            &.validation-checkbox {
                color: red!important;
            }
        }

        .from-inputtext {
            position: relative;
            width: 45%;
            margin-left: 2%;
            display: inline-block;
            .label-position-input {
                text-align: left;
                font-size: 21px;
                display: block;
            }

            input::-webkit-contacts-auto-fill-button {
              visibility: hidden;
              display: none !important;
              /*pointer-events: none;
              position: absolute;*/
              /*right: 0;*/
            }

            &.form-full{
                width: 93%;
            }

            &.last{
                margin-bottom: 30px;
                .label-position-input{
                    margin-bottom: 5px;
                }
            }

            input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #BABABA;
                opacity: 1;
              }
              input::-moz-placeholder { /* Firefox 19+ */
                color: #BABABA;
                opacity: 1;
              }
              input:-ms-input-placeholder { /* IE 10+ */
                color: #BABABA;
                opacity: 1;
              }
              input:-moz-placeholder { /* Firefox 18- */
                color: #BABABA;
                opacity: 1;
              }
            .text-input-position{
                position: relative;
                display: block;
                width: 95%;
                font-size: 21px;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
                transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
                padding: .375rem .75rem;
                margin-bottom: 10px;

                select {
                    width: 100%;
                    background: transparent;
                    border: none;
                    -webkit-appearance: none;
                    color: #BABABA;
                    &.selected {
                        color: #495057 !important;
                    }
                }
                .fa-sort-desc {
                    position: absolute;
                    top: 45%;
                    right: -2%;
                    font-size: 24px;
                    bottom: 0;
                    &:before {
                        content: "";
                        display: inline-block;
                        background: url(/images/joinsmom/arrow-icon.png) no-repeat;
                        width: 45px;
                        height: 30px;
                    }
                }
                &.add-width-input {
                    width: 150%;
                }

                &.border-validation {
                    border-color: red;
                }

                &.input-selectize{
                    padding: 0;
                    height: 43px;
                    text-align: left;
                    width: calc(~"100% + 5px");
                    .selectize-control{
                        height: 43px;
                        .selectize-input{
                            height: 100%;
                            border: none;
                            /*line-height: 1.7;*/
                            line-height: 1.5;
                            text-align: left;
                            .item{
                                font-size: 21px;
                                    color: #495057;
                                    font-family: 'db_helvethaica_xregular';
                                }
                            input{
                                width: calc(~"100% - 10px");
                                font-size: 21px;
                                color: #495057;
                                font-family: 'db_helvethaica_xregular';
                            }

                            &::after{
                                background: url(/images/joinsmom/arrow-icon.png) no-repeat;
                                width: 11px;
                                height: 6px;
                                border: none;
                            }

                            &.dropdown-active{
                                &::after{
                                    background: url(/images/joinsmom/arrow-icon2.png) no-repeat;
                                    width: 11px;
                                    height: 6px;
                                    border: none;
                                    margin-top: -3px;
                                }
                            }

                            &.focus{
                                -webkit-box-shadow: none;
                                        box-shadow: none;
                            }
                        }
                        .selectize-dropdown{
                            background-color: rgb(248, 248, 248);
                            .selectize-dropdown-content{
                                .selected{
                                    background-color: #a77c2259;
                                }
                                .option{
                                    font-size: 22px;
                                    line-height: 25px;
                                    font-family: "db_helvethaica_xregular";
                                    .highlight{
                                        /*background :#FDEBBE;*/
                                        background :none;
                                        color: #8D6D1C;
                                    }
                                }
                            }

                        }
                        .selectize-dropdown, .selectize-dropdown.form-control{
                            z-index: 900;
                        }
                    }
                }
            }
            .stydate-icon {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 36px;
                right: 5px;
                background: url(/images/joinsmom/stydate.png) no-repeat;
            }
            #occupation {
                cursor: pointer;
            }

            .inline-add-view {
                display: block;
                // width: 32%;
                text-align: left;
                .new-bullet {
                    display: block;
                    .pos-text {
                        vertical-align: super;
                    }
                }
                label {
                    cursor: pointer;
                }
                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label
                {
                    position: relative;
                    padding-left: 28px;
                    // padding-top: 20px;
                    // left: calc(~"50% - 15px");
                    cursor: pointer;
                    line-height: 20px;
                    display: block;
                }
                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 14px;
                    height: 14px;
                    border: 1px solid #8D6D1C;
                    border-radius: 100%;
                    background: #fff;
                }
                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background: #8D6D1C;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }

                [type="radio"] + label.validation-radio:before {
                    border:1px solid red;
                }

                .validation-radio {
                    color: red;
                }
            }
        }

        .from-btn  {
            margin: auto;
            width: 45%;
            display: inline-block;
            font-size: 30px;
            color: #594000;
            .btn-next {
                border: unset;
                width: 100%;
                background: url(/images/joinsmom/btn-next.png);
                background-repeat: no-repeat;
                max-width: 240px;
                height: 62px;
                background-size: cover;
            }
            .btn-prev {
                border: unset;
                width: 100%;
                background: url(/images/joinsmom/btn-prev.png);
                background-repeat: no-repeat;
                max-width: 240px;
                height: 62px;
                background-size: cover;
            }
        }

        .from-radio {
            width: 50%;
            float: left;
            margin-left: 5%;
            margin-bottom: 25px;
        }

        .from-checkbox {
            width: 82%;
            margin-left: 5%;
            display: block;
            text-align: left;
            margin-bottom: 27px;
            input[type=checkbox] {
                vertical-align: top;
            }
        }

        .help-block {
            visibility: hidden;
            font-family: "db_helvethaica_x_li";
            font-size: 20px;
            text-align: left;
            color: red;
            &.help-block-show {
                visibility: visible;
            }
        }
    }

    #msform fieldset{
        display: none;
        &.show {
            display: block;
        }
    }

    .modal {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        .modal-dialog {
            top: 17%;
            margin: 0 auto;
            width: unset;
            max-width: 900px;
            .modal-content {
                height: 290px;
                .modal-body {
                    margin-top: 7%;
                    margin: 35px auto 25px;
                    /*max-width: 500px;*/
                    // max-width: 470px;
                    .from-checkbox {
                        width: 100%;
                        display: block;
                        text-align: left;
                        margin-bottom: 27px;
                        input[type=checkbox] {
                            vertical-align: inherit;
                        }
                    }
                    .label-position {
                        font-size: 25px;
                        /*margin-left: 5px;*/
                        &.label-position-sm-font {
                            font-size: 21px;
                        }
                        &.label-position-ssm-font {
                            font-size: 19px;
                            color: #4A4A4A;
                        }
                    }
                }
                &.delh {
                    height: unset;
                }
            }
            &.registersuccess {
                max-width: 500px;
            }
        }
    }
    .inline-radio {
        label {
            cursor: pointer;
        }
        input[type="radio"] {
            display:none;
        }
        input[type="radio"] + label span {
            position: relative;
            display:inline-block;
            top: 3px;
            right: 3px;
            width:14px;
            height:14px;
            border-radius: 7px;
            border:1px solid #8D6D1C;
            margin-right: 5px;
        }
        input[type="radio"]:checked + label span {
            &:before{
                content:"";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: #8D6D1C;
                left: 50%;
                top: 50%;
                margin-left: -3px;
                margin-top: -3px;
            }
        }
        input[type="radio"] + label.validation-radio{
            span {
                border:1px solid red;
            }
        }
    }
    .from-checkbox {
        label {
            cursor: pointer;
        }
        input[type="checkbox"] {
            display:none;
        }
        input[type="checkbox"] + label span {
            position: relative;
            width: 16px;
            height: 16px;
            border: 1px solid #8D6D1C;
            border-radius: 3px;
            display: inline-block;
            vertical-align: top;
            margin-top: 2px;
            margin-right: 10px;
        }
        input[type="checkbox"]:checked + label span {
            &:before{
                content: "";
                position: absolute;
                width: 4px;
                height: 8px;
                border: solid #8D6D1C;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(44deg);
                        transform: rotate(44deg);
                left: 8px;
                top: 4px;
                margin-left: -3px;
                margin-top: -3px;
            }
        }
        input[type="checkbox"] + label.validation-checkbox{
            span {
                border:1px solid red;
            }
        }

        .checkbox-aling-text {
            display: inline-block;
            width: calc(~"100% - 28px");
            vertical-align: top;
            a{
                color: #A87914;
            }
            a:hover {
               color: #da9d1b;
            }
        }
    }
    .hide-block-info-desktop {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #joinsmom .progressbar-title .from-inputtext {
        width: 100%;
        margin-left: 0;
        &.form-full{
            width: 100%;
        }
    }
    #joinsmom .progressbar-title .from-inputtext .text-input-position {
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    #joinsmom .progressbar-title .from-inputtext .text-input-position.add-width-input {
        width: 100%;
    }
    #joinsmom .progressbar-title .from-radio .inline-radio{
        width: 50%;
        float: left;
        margin-right: 0;
    }
    #joinsmom .title-joinsmom {
        padding-top: 180px;
        font-size: 50px;
    }
    #joinsmom .progressbar-title .inline-radio {
        width: 100%;
        text-align: left;
    }
    // #joinsmom .progressbar-title .from-inputtext .stydate-icon {
    //     right: -10px;
    // }
    #joinsmom .progressbar-title .from-inputtext .text-input-position .fa-sort-desc {
        right: -8%;
    }
    #joinsmom .progressbar-title .from-btn .btn-next {
        padding-right: 40px;
        background-size: auto 100%;
    }
    #joinsmom .progressbar-title .from-btn {
        width: 100%
    }
    #joinsmom .progressbar-title #progressbar .slide-bar-out {
        width: 75%;
    }
    #joinsmom .modal .modal-dialog .modal-content {
        height: unset;
    }
    #joinsmom .progressbar-title .from-btn .btn-prev {
        padding-right: 40px;
        background-size: auto 100%;
    }
    #joinsmom .progressbar-title #progressbar .slide-bar-out .now-progressbar .slide-bar-in {
        left: 23%;
    }
    #joinsmom .progressbar-title #progressbar .slide-bar-out .now-progressbar .arrow-down {
        left: 17%;
    }
    #joinsmom .progressbar-title #progressbar .slide-bar-out .now-progressbar .box {
        left: -10%;
    }
    #joinsmom .modal .modal-dialog .modal-content .modal-body {
        /*margin: 35px 1px 1px -10px;*/
        margin: 35px 35px 0px 15px;
    }
    #joinsmom .from-checkbox .checkbox-aling-text {
        /*width: calc(80%);*/
    }
    #joinsmom .progressbar-title .fs-title {
        font-size: 33px
    }
    #joinsmom .progressbar-title .from-radio {
        width: 100%;
        margin-left: 0;
    }
    #joinsmom .progressbar-title #msform fieldset {
        width: 99%;
        padding: 20px 20px;
        overflow: hidden;
    }
    #joinsmom .progressbar-title #progressbar .slide-bar-out .now-progressbar {
        width: 70px;
    }
    #joinsmom {
        .progressbar-title {
            .from-btn {
                .md-btn {
                    width: 220px;
                    margin: 0 auto;
                    .pageone {
                        margin-left: -8px;
                    }
                    .pagetwo {
                        margin-left: -18px;
                    }
                    .pagetwo-prev {
                        margin-left: 35px;
                    }
                    .pagetwo-prevs {
                        margin-left: 35px;
                    }
                    .pagetree-sb {
                        margin-left: -20px;
                    }
                }
                .btn-next {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            .from-inputtext {
                .text-input-position{
                    &.input-selectize{
                        height: 45px;
                        width: 100%;
                    }
                }
            } 
        }
        .hide-block-info-desktop {
            display: block;
            margin: auto;
        }
    }
    #joinsmom .progressbar-title .from-checkbox {
        margin-left: 0;
    }

    .hide-block-info-mobile {
        display: none;
    }

}
