.modal{
	z-index: 99999;
}

.color-red{
	color: #f4352e;
}

.modal-content{
	background-color: #fff;
	color: #8e6d1d;
	font-family: 'db_helvethaica_xregular';
	font-size: 26px;
	.btn-default{
		background-color: #fff;
		color: #8e6d1d;
		border: 1px solid #8e6d1d;
		font-size: 18px;
	}
	.modal-header{
		// border-bottom: 1px solid #8e6d1d;
		padding: 5px;
		border: 0;
		min-height: 0;
	}
	.modal-footer{
		// border-top: 1px solid #8e6d1d;
	}
}
body{
	min-width: 1280px;
}
.col-no-padding{
	padding: 0;
}
.img-responsive{
	width: auto;
	max-width: 100%;
	display: block;
}
.FX,.FXregular{
	font-family: 'db_helvethaica_xregular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.FXMed{
	font-family: "db_helvethaica_x_med";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.FLighter,.FThin{
	font-family: 'db_helvethaica_x_li';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.FBold,.FXBold{
	font-family: 'db_helvethaica_bold';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.FMonX{
	font-family: 'db_helvethaicamonx';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.FMonXMed{
	font-family: 'db_helvethaicamonx_med';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.FMonXBold{
	font-family: 'db_helvethaicamonx_bold';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.Waseem{
	font-family: 'Waseem';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.anti_alias {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.color-gold{
	color: #8e6d1d;
}
.color-gray{
	color: #444444;
}
.color-gray-lighter{
	color: #666666;
}
.color-gray-lightest{
	color: #847e63;
}
.color-blue{
	color: #0052a1;
}
.color-white{
	color: #fff;
}
.global-loading{
	display: block;
	margin: 10% auto auto auto;
	position: relative;
	width: 70px;
	color: #fff;
	text-align: center;
}
.global-loading-text{
	width: 70px;
  	margin: 5px auto;
  	font-size: 20px;
}
.data-not-found{
	margin: 0 auto;
	width: 100px;
	color: #fff;
}
body.nav-active{
	overflow: hidden;
}

#detail-content{
	h1, h2, h3, h4, h5, h6{
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	h2{
		font-size: 25px;
	}
}

@media   (max-width: 767px){
	body{
		min-width: 320px;
		.modal-dialog{
			top: 120px;
		}
	}
}