@font-face {
    font-family: 'db_helvethaica_x_med';
    src: url('../fonts/db_helvethaica_x_med.eot');
    src: url('../fonts/db_helvethaica_x_med.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_helvethaica_x_med.woff') format('woff'),
         url('../fonts/db_helvethaica_x_med.ttf') format('truetype'),
         url('../fonts/db_helvethaica_x_med.svg#db_helvethaica_x_med') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica_xregular';
    src: url('../fonts/db_helvethaica_xregular.eot');
    src: url('../fonts/db_helvethaica_xregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_helvethaica_xregular.woff') format('woff'),
         url('../fonts/db_helvethaica_xregular.ttf') format('truetype'),
         url('../fonts/db_helvethaica_xregular.svg#db_helvethaica_xregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica_x_li';
    src: url('../fonts/db_helvethaica_x_li.eot');
    src: url('../fonts/db_helvethaica_x_li.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_helvethaica_x_li.woff') format('woff'),
         url('../fonts/db_helvethaica_x_li.ttf') format('truetype'),
         url('../fonts/db_helvethaica_x_li.svg#db_helvethaica_x_li') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica_x_ulli';
    src: url('../fonts/db_helvethaica_x_ulli.eot');
    src: url('../fonts/db_helvethaica_x_ulli.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_helvethaica_x_ulli.woff') format('woff'),
         url('../fonts/db_helvethaica_x_ulli.ttf') format('truetype'),
         url('../fonts/db_helvethaica_x_ulli.svg#db_helvethaica_x_ulli') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-face{
    font-family: 'db_helvethaica_xregular';
    font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-overflow-scrolling: touch; font-weight: normal;
}

.font-face-med{
    font-family: 'db_helvethaica_x_med';
    font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-overflow-scrolling: touch; font-weight: normal;
}

.font-face-light{
    font-family: 'db_helvethaica_x_li';
    font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-overflow-scrolling: touch; font-weight: normal;
}

.font-face-slim{
     font-family: 'db_helvethaica_x_ulli';
    font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-overflow-scrolling: touch; font-weight: normal;
}
.font-black{
    color: #000 !important;
}
.show-xs{
    display: none;
}
.custom-radio{
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    .radio-choice{
        display: inline-block;
        opacity: 0;
        cursor: pointer;
        width: 20px;
    }
    &.active-radio{
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        border-radius: 50%;
        display: inline-block;
        background-color: #000;
        position: relative;
        cursor: pointer;
        .dot-in-radio{
            width: 8px;
            height: 8px;
            border: 1px solid #F2C600;
            border-radius: 50%;
            display: inline-block;
            background-color: #F2C600;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}
.sub-custom-radio{
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    .sub-radio-choice{
        display: inline-block;
        opacity: 0;
        cursor: pointer;
        width: 20px;
    }
    &.active-sub-radio{
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        border-radius: 50%;
        display: inline-block;
        background-color: #000;
        position: relative;
        cursor: pointer;
        .center-radio{
            width: 8px;
            height: 8px;
            border: 1px solid #F2C600;
            border-radius: 50%;
            display: inline-block;
            background-color: #F2C600;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}
.detail-sub-choice{
    font-size: 24px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
}
.social-radio{
    width: 34px;
    height: 34px;
    border: 1px solid #D1D2D4;
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    &.margin-child2 {
        margin-left: 60px;
    }
    &.margin-child3 {
        margin-left: 120px;
    }
    .radio-answer{
        display: inline-block;
        opacity: 0;
        cursor: pointer;
        margin-left: 0;
        margin-left: 12px;
        margin-top: 7px;
        transform: scale(3);
    }
    .number-center{
        position: absolute;
        top: 2px;
        left: 12px;
        color: #9B9B9B;
        font-size: 26px;
         &.number-center-active{
            color: #000;
            font-weight: 700;
        }
    }
    &.active-social-radio{
        width: 34px;
        height: 34px;
        border: 1px solid #F2C600;
        border-radius: 50%;
        display: inline-block;
        background-color: #F2C600;
        cursor: pointer;
        position: absolute;
    }
}

.none-pointer-event{
    pointer-events: none;
    cursor: default;
}
.hide-xs{
    display: none;
}
.hide-md{
    display: none;
}
 .hide-lg{
    display: block;
}

body{
    margin: 0;
    min-width: 100%;
}

#page-intro-smom{
    #page-intro{
        background-image: url(../../images/survey/bg-intro.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-position: center center;
        .warp-intro{
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .box-header{
                .img-header{
                    text-align: center;
                    padding-bottom: 70px;
                    width: 347px;
                    height: 157px;
                }
            }
            .detail-survey{
                font-size: 32px;
                color: #000;
                line-height: 32px;
                text-align: center;
                &.detail-survey-bold{
                    font-weight: 700;
                }   
            }
        }
    }
}
#page-1-new{
    margin: 0;
    .warp-content{
        display: inline-block;
        width: 100%;
        background: #FAFAFA;
        .box-img{
            width: 40%;
            height: auto;
            float: left;
            position: relative;
            .box-number-mobile{
                width: 30px;
                height: 46px;
                float: right;
                padding-right: 20px;
                padding-top: 20px;
                position: absolute;
                right: 0;
                display: none;
                .page-current{
                    width: 30px;
                    height: 23px;
                    font-size: 17px;
                    color: #000;
                }
                .slaz-page{
                    width: 30px;
                    height: 0;
                    border-bottom: 1px solid #CFCFCF;
                    -ms-transform: rotate(-30deg);
                    -webkit-transform: rotate(-30deg);
                    transform: rotate(-30deg);
                }
                .page-total{
                    width: 30px;
                    height: 23px;
                    text-align: right;
                    font-size: 17px;
                    color: #C6C6C6;
                }
            }
            .bg-q1{
                width: 100%;
                height: 100vh;
                background-image: url(../images/survey/q1.jpg);
                background-size: cover;
                background-position: center top;
                .title-img3{
                    text-transform: uppercase;
                    width: 100%;
                    height: auto;
                    font-size: 118px;
                    line-height: 88px;
                    text-align: center;
                    position: absolute;
                    bottom: 10%;
                    margin: 0;
                }
            }
            .bx-img-mobile{
                .img-mom-moblie{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    display: none;
                    background-image: url()
                }
            }
        }
        .box-1-new{
            width: 60%;
            height: auto;
            float: left;
            text-align: left;
            background: #FFF;
            position: relative;
            .box-number-page{
                width: 30px;
                height: 46px;
                float: right;
                padding-right: 50px;
                padding-top: 30px;
                .page-current{
                    width: 30px;
                    height: 23px;
                    font-size: 17px;
                    color: #000;
                }
                .slaz-page{
                    width: 30px;
                    height: 0;
                    border-bottom: 1px solid #CFCFCF;
                    -ms-transform: rotate(-30deg);
                    -webkit-transform: rotate(-30deg);
                    transform: rotate(-30deg);
                }
                .page-total{
                    width: 30px;
                    height: 23px;
                    text-align: right;
                    font-size: 17px;
                    color: #C6C6C6;
                }
            }
            .warp-1-new{
                padding: 0 60px 28px;  
                &.bottom-warp{
                    padding-bottom: 65px;
                }   
            }
            .header-question{
                font-size: 40px;
                line-height: 40px;
                color: #000;
                padding-bottom: 28px;
                //padding-top: 90px;
                margin: 0;
                //padding-top: 30px;
                &.top-header{
                    padding-top: 90px;
                }
            }
            .choice-status{
                padding-left: 20px;
                .detail-choice{
                    display: inline-block;
                    font-size: 28px;
                    color: #666666;
                    line-height: 40px;
                    padding-left: 10px;
                    cursor: pointer;
                    vertical-align: middle;
                    &.active-choice{
                        color: #000;
                    }
                }
            }
        }
    }
}
#page-1{
    width: 100%;
    height: auto;
    background-color: #FFF;
    position: relative;
    margin: 0;
    display: table;
    &.show-page1{
        display: block;
    }
    .box-img{
        width: 40%;
        height: auto;
        float: left;
        position: relative;
        display: table-cell;
        vertical-align: top;
        .img-mom{
            width: 100%;
            height: 100vh;
            background: url(../images/survey/pic-page1.jpg) center top no-repeat;
            background-size: cover;
            .title-img{
                text-transform: uppercase;
                width: 100%;
                height: auto;
                font-size: 118px;
                line-height: 88px;
                text-align: center;
                position: absolute;
                bottom: 10%;
                margin: 0;
            }
        }
        .img-mom-mobile{
            width: 100%;
            max-width: 100%;
            display: none;
            object-fit: cover;
            height: auto;
        }
    }
    .box-question-1{
        width: 60%;
        height: auto;
        float: left;
        text-align: left;
        vertical-align: top;
        display: table-cell;
        .warp-content{
            padding: 0 60px;
            .box-number-page{
                width: 30px;
                height: 46px;
                float: right;
                padding-top: 30px;
                .page-current{
                    width: 30px;
                    height: 23px;
                    font-size: 17px;
                    color: #000;
                }
                .slaz-page{
                    width: 30px;
                    height: 0;
                    border-bottom: 1px solid #CFCFCF;
                    -ms-transform: rotate(-30deg);
                    -webkit-transform: rotate(-30deg);
                    transform: rotate(-30deg);
                }
                .page-total{
                    width: 30px;
                    height: 23px;
                    text-align: right;
                    font-size: 17px;
                    color: #C6C6C6;
                }
            }
            .header-question{
                font-size: 40px;
                color: #000;
                padding-bottom: 15px;
                padding-top: 40px;
                margin: 0;
                padding-top: 90px;
            }
            .ques1{
                .detail-choice{
                    display: inline-block;
                    font-size: 28px;
                    color: #666666;
                    line-height: 40px;
                    padding-left: 10px;
                    cursor: pointer;
                    vertical-align: middle;
                    &.active-choice{
                        color: #000;
                    }
                }
            }
            .all-sub-choice{
                .sub-choice{
                    padding-left: 36px;
                    .detail-sub-choice{
                        display: inline-block;          
                        line-height: 40px;
                        font-size: 24px;
                        color: #666666;
                        padding-left: 10px;
                        cursor: pointer;
                        vertical-align: middle;
                        &.active-sub-choice{
                            color: #000;
                        }
                    }
                }
                .desc-other{
                    display: none;
                    .area-desc-other{
                        width: 90%;
                        max-width: 450px;
                        height: 86px;
                        padding: 10px;
                        border: 1px solid #D1D2D4; 
                        border-radius: 6px;
                        margin-left: 36px;
                        font-size: 22px;
                        color: rgb(102, 102, 102);
                    }
                }
            }
            .submit{
                width: 100%;
                padding-bottom: 50px;
                padding-top: 60px;
                .btn-next{
                    display: none;
                    width: 130px;
                    height: 40px;
                    background-color: #4A4A4A;
                    border-radius: 25px;
                    cursor: pointer;
                    margin-left: 36px;
                    text-align: center;
                    &.btn-wait{
                        pointer-events: none;
                    }
                    .txt-next{
                        display: inline-block;
                        font-size: 20px;
                        color: #FFF;
                        line-height: 40px;
                        text-align: center;
                        margin-right: 10px;
                    }
                    .box-arrow{
                        display: inline-block;
                        .arrow-next{
                            width: 6px;
                            height: 10px;
                            background-image: url("../../images/survey/sprite.svg");
                            background-position: -12px -10px;
                        }
                    }
                }
            }
        }
    }
}
#page-2{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    .warp-page2{
        width: 100%;
        height: auto;
        display: table; 
        &.bg-page2{
            background-color: #F8F8F8;
            display: inline-block;
        }
        .box-img{
            width: 40%;
            height: auto;
            //float: left;
            position: relative;
            background-color: #F8F8F8;
            display: table-cell;
            .img-mom-q2{
                width: 100%;
                // height: 100vh;
                height: 99.4vh;
                background-image: url(../../images/survey/pic-page2.jpg);
                background-size: cover;
                background-position: center;
                .header-img2{
                    color: #C98221;
                    position: absolute;
                    top: 0;
                    text-transform: uppercase;
                    width: 100%;
                    height: auto;
                    font-size: 90px;
                    line-height: 90px;
                    position: absolute;
                    top: 28%;
                    text-align: left;
                    padding-left: 50px;
                }
                .title-img2{
                    text-transform: uppercase;
                    width: 100%;
                    height: auto;
                    font-size: 103px;
                    line-height: 88px;
                    position: absolute;
                    bottom: 10%;
                    text-align: left;
                    padding-left: 50px;
                }
            }
            .bx-img-mobile{
                .img-mom-mobile{
                    display: none;
                    width: 100%;
                    max-width: 100%;
                    object-fit: cover;
                    height: auto;
                }
            }
        }
        .header-question{
            font-size: 40px;
            color: #000;
            padding-bottom: 15px;
            padding-top: 90px;
            margin: 0;
            &.mobile {
                display: none;
            }
        }
        .box-question2{
            width: 60%;
            height: auto;
            //float: left;
            background-color: #FFF;
            display: table-cell;
            vertical-align: top;
            &.bg-box-question2{
                background-color: #FFF;
            }
            .box-number-page{
                width: 30px;
                height: 46px;
                float: right;
                padding-right: 20px;
                padding-top: 30px;
                .page-current{
                    width: 30px;
                    height: 23px;
                    font-size: 17px;
                    color: #000;
                }
                .slaz-page{
                    width: 30px;
                    height: 0;
                    border-bottom: 1px solid #CFCFCF;
                    -ms-transform: rotate(-30deg);
                    -webkit-transform: rotate(-30deg);
                    transform: rotate(-30deg);
                }
                .page-total{
                    width: 30px;
                    height: 23px;
                    text-align: right;
                    font-size: 17px;
                    color: #C6C6C6;
                }
            }
            .box-content{
                padding: 30px 60px;
                .choice-ques2{
                    .detail-choice{
                        display: inline-block;
                        font-size: 28px;
                        color: #666666;
                        line-height: 40px;
                        cursor: pointer;
                        vertical-align: middle;
                        margin-left: 10px;
                        &.active-choice{
                            color: #000;
                        }
                    }
                }
                .warp-all-choice{
                    .all-sub{
                        padding-left: 37px;
                        .answer-rating{
                            display: inline-block;
                            padding-top: 10px;
                            padding-left: 10px;
                        }
                        .sub-question{
                            font-size: 25px;
                            line-height: 24px;
                            color: #000;
                            padding-top: 5px;
                            text-indent: -9px;
                            padding-left: 9px;
                            &.validate-radio{
                                color: #FF0000;
                            }
                            &.pading-chioce{
                                padding-bottom: 10px;
                            }
                        }
                        .question-mark{
                            color: #555555;
                            font-size: 20px;
                            line-height: 24px;
                            padding-left: 10px;
                            padding-bottom: 16px;
                        }
                        .question-mark2{
                            color: #555555;
                            font-size: 20px;
                            line-height: 24px;
                            padding-top: 34px;
                        }
                        .all-answer-social{
                            .answer-social{
                                padding-left: 10px;
                                .answer-ques1{
                                    font-size: 24px;
                                    color: #000;
                                    line-height: 40px;
                                    display: inline-block;
                                    width: 100px;
                                    &.validate-radio{
                                        color: #FF0000;
                                    }
                                }
                            }
                        }
                        .answer-comment{
                            width: 500px;
                            height: 86px;
                            border: 1px solid #D1D2D4; 
                            border-radius: 6px;
                            margin: 13px 0  24px 10px;
                            font-size: 22px;
                            padding-top: 14px;
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
    }
    .submit{
        width: 100%;
        padding-bottom: 50px;
        .btn-next{
            width: 130px;
            height: 40px;
            background-color: #4A4A4A;
            border-radius: 25px;
            cursor: pointer;
            margin-left: 60px;
            text-align: center;
            &.btn-wait{
                pointer-events: none;
            }
            .txt-next{
                display: inline-block;
                font-size: 20px;
                color: #FFF;
                line-height: 40px;
                text-align: center;
                margin-right: 10px;
            }
            .box-arrow{
                display: inline-block;
                .arrow-next{
                    width: 6px;
                    height: 10px;
                    background-image: url("../../images/survey/sprite.svg");
                    background-position: -12px -10px;
                }
            }
        }
    }
}
#page-3{
    margin: 0;
    position: relative;
    .warp-content{
        .box-img{
            width: 40%;
            height: auto;
            float: left;
            position: relative;
            .img-mom-q3{
                width: 100%;
                height: 100vh;
                background-image: url(../images/survey/pic-page3.jpg);
                background-size: cover;
                background-position: center top;
                .title-img3{
                    text-transform: uppercase;
                    width: 100%;
                    height: auto;
                    font-size: 118px;
                    line-height: 88px;
                    text-align: center;
                    position: absolute;
                    bottom: 10%;
                    margin: 0;
                }
            }
            .bx-img-mobile{
                .img-mom-moblie{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    display: none;
                    background-image: url()
                }
            }
        }
        .box-number-page{
            width: 30px;
            height: 46px;
            float: right;
            padding-right: 15px;
            padding-top: 30px;
            .page-current{
                width: 30px;
                height: 23px;
                font-size: 17px;
                color: #000;
            }
            .slaz-page{
                width: 30px;
                height: 0;
                border-bottom: 1px solid #CFCFCF;
                -ms-transform: rotate(-30deg);
                -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
            }
            .page-total{
                width: 30px;
                height: 23px;
                text-align: right;
                font-size: 17px;
                color: #C6C6C6;
            }
        }
        .box-question3{
            width: 60%;
            height: auto;
            float: left;
            text-align: left;
            .warp-question3{
                padding: 0 60px 65px;
                
            }
            .header-question{
                font-size: 40px;
                color: #000;
                padding-bottom: 15px;
                padding-top: 90px;
                margin: 0;
                padding-top: 45px;
            }
            .choice-ques3{
                padding-left: 20px;
                .detail-choice{
                    display: inline-block;
                    font-size: 28px;
                    color: #666666;
                    line-height: 40px;
                    padding-left: 10px;
                    cursor: pointer;
                    vertical-align: middle;
                    &.active-choice{
                        color: #000;
                    }
                }
            }
        }
    }
}
#page-thank-you{
    width: 100%;
    height: 100vh;
    background-image: url(../../images/survey/bg-thank.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    position: relative;
    background-color: red;
    position: relative;
    .page-content{
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        .logo{
            text-align: center;
            .box-logo{
                width: 318px;
                height: 53px;
            }
        }
        .header{
            font-size: 50px;
            color: #000;
            line-height: 53px;
            text-align: center;
            padding-top: 10px;
        }
    }
    .box-img-nurse{
        bottom: 0;
        top: auto;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        .img-nurse{
            max-width: 100%;
            height: auto;
        }
    }
    .dim-nurse{
        position: absolute;
        bottom: -106px;
        text-align: center;
        left: 0;
        right: 0;
        .dim-bg{
            
        }
    }
}
fieldset,
label {
    margin: 0;
    padding: 0;
}
body {
    //margin: 20px;
}
h1 {
    font-size: 1.5em;
    margin: 10px;
}
/****** Style Star Rating Widget *****/
.rating {
    border: none;
    float: left;
}
.rating > input {
    display: none;
}
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f006";
    //content: "\f006";
}
.rating > label {
    color: #D1D2D4;
    float: right;
}
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,
/* show gold star when clicked */

.rating:not(:checked) > label:hover,
/* hover current star */

.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
    &:before{
        content: "\f005";
    }
}
/* hover previous stars in list */

.rating > input:checked + label:hover,
/* hover current star when changing rating */

.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
/* lighten current selection */

.rating > input:checked ~ label:hover ~ label {
    //color: #FFED85;
}


//@font-face {
//   font-family: 'FontAwesome';
//   src: url('../font/fontawesome-webfont.eot?v=3.2.1');
//   src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), 
//   url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), 
//   url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), 
//   url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
/* FONT AWESOME CORE
 * -------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}


.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}


.icon-star-half:before {
  content: "\f089";
}
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}

//ติด Viewport เลยต้อง ใส่เป็น 768px
@media screen and (max-width: 768px){
    body{
        min-width: 100%;
    }
    #page-1-new{
        .warp-content{
            .box-img{
                width: 100%;
                height: auto;
                float: none;
                position: relative;
                .bg-q1{
                    display: none;
                }
                .bx-img-mobile{
                    .img-mom-moblie{
                        display: block;
                    }
                }
                .box-number-mobile{
                    display: block;
                }
            }
            .box-1-new{
                width: auto;
                height: auto;
                float: none;
                position: relative;
                padding: 0 20px;
                .box-number-page{
                    display: none;
                }
                .warp-1-new{
                    width: 100%;
                    padding: 0;
                    display: inline-block;
                    &.bottom-warp{
                        padding-bottom: 40px;
                    }  
                }
                .header-question{
                    width: 100%;
                    padding: 0;
                    text-align: center;
                    padding-bottom: 16px;
                    &.top-header{
                        padding-top: 0;
                    }
                }
                .choice-status{
                    width: 100%;
                    float: left;
                    padding-left: 0;
                    .detail-choice{
                        &.active-choice{
                        }
                    }
                }
            }
        }
    }
    #page-1{
        .box-img {
            width: 100%;
            height: auto;
            float: none;
            display: block;
            .img-mom{
                display: none;
            }
            .img-mom-mobile{
                display: block;
            }
        }
        .box-question-1 {
            width: 100%;
            height: auto;
            float: none;
            display: block;
            padding-bottom: 100px;
            .warp-content{
                .header-question{
                    padding-top: 0;
                    padding-bottom: 15px;
                    text-align: center;
                    padding-bottom: 16px;
                }
                .box-number-page{
                    position: absolute;
                    top: 15px;
                    right: 20px;
                }
            }
        }
    }

    #page-2{
        .warp-page2{
            display: block;
            .box-img{
                width: 100%;
                height: auto;
                float: none;
                position: relative;
                display: block;
                .img-mom-q2{
                    display: none;
                }
                .bx-img-mobile{
                    .img-mom-mobile{
                        display: block;
                    }
                }
            }
            .header-question{
                position: absolute;
                bottom: 70px;
                text-align: center;
                width: 100%;
                margin: 0;
                padding-bottom: 16px;
                &.mobile {
                    display: block;
                     bottom: -10px;
                }
                &.desktop {
                    display: none;
                }
            }
            .box-question2{
                width: 100%;
                float: none;
                display: block;
                .box-number-page{
                    position: absolute;
                    top: 15px;
                    right: 20px;
                }
                .box-content{
                    padding: 0px 60px 30px;
                    position: relative;
                    .choice-ques2{
                        padding-left: 0;
                        //padding-bottom: 20px;
                    }
                    .warp-all-choice{
                        .all-sub{
                            padding-left: 37px;
                            .sub-question{
                                padding-top: 15px;
                                padding-bottom: 16px;
                            }
                            .question-mark{
                            }
                            .all-answer-social{
                                .answer-social{
                                    padding-left: 10px;
                                    .answer-ques1{
                                    }
                                }
                            }
                            .answer-rating{
                                padding-top: 0;
                            }

                        }
                    }
                }
            }
        }
        .submit{
            padding: 20px 0;
            .btn-next{
                margin: 0 auto;
            }
        }
    }
    #page-3{
        .warp-content{
            .box-img{
                width: 100%;
                height: auto;
                float: none;
                position: relative;
                .img-mom-q3{
                    display: none;
                }
                .bx-img-mobile{
                    .img-mom-moblie{
                        display: block;
                    }
                }
            }
            .box-number-page{
                position: absolute;
                top: 15px;
                right: 20px;
                .page-current{
                }
                .slaz-page{
                }
                .page-total{
                }
            }
            .box-question3{
                width: 100%;
                height: auto;
                float: none;
                position: relative;
                .warp-question3{

                }
                .header-question{
                    position: absolute;
                    top: auto;
                    left: 0;
                    right: 0;
                    bottom: 100%;
                    padding: 0 20px 16px;
                    text-align: center;

                }
                .choice-ques3{
                    width: 50%;
                    float: left;
                    padding-left: 0;
                    .detail-choice{
                        &.active-choice{
                        }
                    }
                }
            }
        }
    }
    #page-thank-you{
        .page-content{
            .logo{
                .box-logo{
                }
            }
            .header{
            }
        }
        .box-img-nurse{
            bottom: 10%;
            .img-nurse{
            }
        }
        .dim-nurse{
            .dim-bg{
                
            }
        }
    }
}

@media screen and (max-width: 414px){
    .show-xs{
        display: block;
    }
    .detail-sub-choice{
        font-size: 20px;
        line-height: 20px;
    }
    #page-intro-smom{
        #page-intro{
            .warp-intro{
                top: 40%;
                .box-header{
                    .img-header{
                        width: 170px;
                        height: 78px;
                        padding-bottom: 50px;
                    }
                }
                .detail-survey{
                    padding: 0 20px;
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
    #page-1-new{
        .warp-content{
            .box-img{
                width: 100%;
                height: auto;
                float: none;
                position: relative;
                .bg-q1{
                    display: none;
                }
                .bx-img-mobile{
                    .img-mom-moblie{
                        display: block;
                    }
                }
            }
            .box-1-new{ 
                .warp-1-new{
                    padding-bottom: 16px;
                    .header-question{
                        width: 100%;
                        padding: 0;
                        padding-bottom: 16px;
                        font-size: 26px;
                        line-height: 30px;
                        text-align: center;
                        &.top-header{
                            padding-top: 0;
                        }
                    }
                    .choice-status{
                        width: 100%;
                        float: left;
                        padding-left: 0;
                        .detail-choice{
                            font-size: 20px;
                            line-height: 30px;
                            &.active-choice{
                            }
                        }
                    }
                }
            }
        }
    }
    #page-1{
        .box-img {
            .img-mom{
                display: none;
            }
            .img-mom-mobile{
                display: block;
            }
        }
        .box-question-1{
            .warp-content{
                padding: 0 20px;
                .box-number-page{
                    top: -15px;
                }
                .header-question{
                    font-size: 26px;
                    line-height: 30px;
                }
                .ques1{
                    .detail-choice{
                        font-size: 20px;
                        line-height: 30px;
                        &.active-choice{
                            color: #000;
                        }
                    }
                }
                .all-sub-choice{
                    .sub-choice{
                        padding-left: 5px;
                        .detail-sub-choice{
                            font-size: 20px;
                            line-height: 35px;
                            padding-left: 5px;
                        }
                    }
                    .desc-other{
                        .area-desc-other{
                            margin-left: 0;
                            width: 93%;
                            font-size: 20px;
                            line-height: 35px;
                        }
                    }
                }
            }
        }
    }
    #page-2{
        .warp-page2{
            .box-img{
                .img-mom-q2{
                    .header-img2{
                    }
                    .title-img2{
                    }
                }
                .img-mom-mobile{
                }
            }
            .header-question{
                &.mobile {
                    display: block;
                    font-size: 26px;
                    line-height: 30px;
                }
                &.desktop {
                    display: none;
                }
            }
            .box-question2{
                top: 411px;
                .box-number-page{
                    top: 0;
                    right: 0;
                }
                .box-content{
                    padding: 0 20px;
                    .choice-ques2{
                        padding: 0;
                        .detail-choice{
                            font-size: 20px;
                            line-height: 35px;
                            &.active-choice{
                            }
                        }
                    }
                    .warp-all-choice{
                        font-size: 20px;
                        .all-sub{
                            padding-left: 15px;
                            .answer-rating{
                            }
                            .sub-question{
                                padding-top: 15px;
                                font-size: 20px;
                                &.validate-radio{
                                }
                            }
                            .question-mark{
                                padding-bottom: 0;
                            }
                            .all-answer-social{
                                .answer-social{
                                    padding-top: 5px;
                                    .answer-ques1{
                                        font-size: 20px;
                                        width: 80px;
                                        &.validate-radio{
                                        }
                                    }
                                }
                            }
                            .answer-comment{
                                width: 90%;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        .submit{
            text-align: center;
            .btn-next{
                margin-bottom: 50px;
                &.btn-wait{
                }
            }
        }
    }   

    #page-3{
        .warp-content{
            .box-img{
                .img-mom-q3{
                }
                .img-mom-moblie{
                }
            }
            .box-number-page{
                padding-top: 15px;
                right: 0;
                top: 0;
                .page-current{
                }
                .slaz-page{
                }
                .page-total{
                }
            }
            .box-question3{
                .header-question{
                    font-size: 26px;
                    line-height: 30px;
                }
                .warp-question3{
                    padding: 0 20px;
                    .box-number-page{
                        top: -15px;
                    }
                }
                .choice-ques3{
                    padding-bottom: 0;
                    .detail-choice{
                        font-size: 20px;
                        line-height: 35px;
                        &.active-choice{
                        }
                    }
                }
            }
        }
    }
    #page-thank-you{
        .page-content{
            width: 100%;
            .logo{
                .box-logo{
                    // width: 170px;
                    // height: 27px;
                }
            }
            .header{
                font-size: 26px;
                line-height: 30px;
            }
        }
        .box-img-nurse{
            
        }
        .dim-nurse{
            .dim-bg{
                
            }
        }
    }
}







