.wapContent{
	background: url('../images/live-chat/bg-body.png') repeat;
	background-size: cover;
	overflow: hidden;
	.inner-panel{
		background: url('../images/live-chat/bg-main.png') top center no-repeat;
		background-size: cover;
		overflow: hidden;
		text-align: center;
		.content-top{
			.text-title{
				font-size: 80px;
				line-height: 70px;
				margin: 60px 0 30px 0;
			}
			.text-description{
				font-size: 30px;
				line-height: 30px;
				.img-logo{

				}
			}
		}
		.content-bottom{
			.img-team{
				margin: 50px auto auto;
			}
		}
	}
}
@media   (max-width: 767px){
	.wapContent .inner-panel .content-top .text-description{
		padding: 0 20px;
		display: block;
	}
	.wapContent .inner-panel .content-top .text-title{
		font-size: 50px;
		line-height: 50px;
		padding: 0 20px;
  		display: block;
	}
}