#list-menu-item3-panel{
	  background: url(../images/media/school_book/bg-story-central.png) center center #fff4de repeat-y!important;
	  background-size: 100% 100%;
}
.container-wrapper .container-wrapper-detail .container-detail{
	max-width: 1280px !important;
	background: none !important;
}
#story-list-panel{
	list-style: none;
	padding: 0;
	margin: 40px auto;
	min-height: 300px;
	max-width: 960px;
	.story-list{
		width: 466px;
		float: left;
		margin: 0 20px 30px 0;
		height: 231px;
		// background: url(../images/media/school_book/bg-story.png) repeat;
		.story-list-link{
			position: relative;
			display: block;
			background: #ae9c79;
			border-radius: 15px 15px;
			-moz-border-radius: 15px 15px;
			-webkit-border-radius: 15px 15px;
			.story-list-img{
				margin: 0 auto;
				text-align: center;
				width: 231px;
				display: inline-block;
				vertical-align: top;
				border-radius: 10px 0 0 10px;
				-moz-border-radius: 10px 0 0 10px;
				-webkit-border-radius: 10px 0 0 10px;
			}
			.story-list-detail{
				display: inline-block;
				width: 190px;
				text-align: center;
				background: #ae9c79;
				border-radius: 0 10px 10px 0;
				-moz-border-radius: 0 10px 10px 0;
				-webkit-border-radius: 0 10px 10px 0;
				height: 231px;
				padding: 0 20px;
				position: relative;
				.story-list-title{
					text-align: center;
					height: 20px;
					font-size: 24px;
					color: #fff;
					margin: 30px 0;
  					display: block;
  					word-wrap: break-word;
				}
				.story-link-download{
					width: 170px;
					height: 40px;
					color: #fff;
					display: inline-block;
					font-size: 24px;
					border: 2px solid #fff;
					border-radius: 30px;
					text-align: center;
					line-height: 40px;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					bottom: 20px;
				}
				.story-link-download:hover{
					background: #fff;
					color: #4d4d4d;
				}
			}
		}
	}
	.story-list-center{
		margin: 0 0 0 0;
	}
}

@media  (max-width: 767px){
	#list-menu-item1-panel .container-wrapper-detail{
		height: auto !important;
	}
	#story-list-panel .story-list{
		float: none;
		margin: 30px auto;
	}
	#story-list-panel{
		background: url(../images/media/school_book/bg-story-central-mobile.png) 0 0 repeat-y;
		background-size: 100%;
	}

}
@media  (max-width: 500px){
	#story-list-panel .story-list{
		width: 300px;
  		height: 150px;
		float: none;
		margin: 30px auto;
	}
	#story-list-panel .story-list .story-list-link .story-list-detail .story-link-download{
		width: 119px;
		height: 25px;
		line-height: 25px;
		font-size: 20px;
	}
	#story-list-panel .story-list .story-list-link .story-list-img{
		width: 150px;
	}
	#story-list-panel .story-list .story-list-link .story-list-detail .story-list-title{
		font-size: 22px;
	}
	#story-list-panel .story-list .story-list-link .story-list-detail{
		width: 125px;
		height: 150px;
		padding: 0 10px;
	}
}

