#media_music {
    .align_panel {
        margin: 0 auto;
        .control_panel {
            height: 245px;
            background: rgba(255, 255, 255, 0.1);
            #volumControl {
                position: relative;
                .current {
                    font-family: db_helvethaica_xregular;
                    color: #f3c85b;
                    position: absolute;
                    left: 10px;
                    font-size: 24px;
                    top: -24px;
                }
                .minus_time {
                    font-family: db_helvethaica_xregular;
                    color: #FFF;
                    position: absolute;
                    right: 10px;
                    font-size: 24px;
                    top: -24px;
                }
                #volumControlPanel {
                    width: 216px;
                    height: 30px;
                    position: absolute;
                    top: -8px;
                }
            }
        }
        .music_list_panel {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            line-height: 34px;
            position:relative;
            table {
                color: #FFF;
                tr {
                    height: 35px;
                    td.number {
                        padding: 0 30px;
                        vertical-align: bottom;
                        font-family: db_helvethaica_xregular;
                        font-size: 24px;
                    }
                    td.song_name {
                        padding: 0px 10px 0px 0px;
                        vertical-align: bottom;
                        font-family: db_helvethaica_xregular;
                        font-size: 24px;
                    }
                    td.duration {
                        padding: 0px 10px;
                        vertical-align: bottom;
                        font-family: db_helvethaica_xregular;
                        font-size: 24px;

                    }
                    td.download {
                        vertical-align: bottom;
                        text-align: center;
                        a {
                            .download_icon {
                                display: inline-block;
                                background:url('../images/media/school_book/music_download.png') no-repeat transparent;
                                width:19px;
                                height:20px;
                                vertical-align: -12%;
                            }
                        }
                    }
                }
                tr.play_active {
                    color: #ba953a !important;
                    background: #f3c85b !important;
                    td.download {
                        a {
                            .download_icon {
                                background:url('../images/media/school_book/music_download_active.png') no-repeat transparent;
                            }
                        }
                    }
                }
                tr:nth-child(even) {
                    background: rgba(255, 255, 255, 0.2);
                }
                tr:nth-child(odd) {
                    background: rgba(255, 255, 255, 0.1);
                }
                tr:hover {
                    background: rgba(243, 200, 91, 0.5);
                }
            }
        }
    }
    .mCSB_inside > .mCSB_container {
        margin-right: 13px;
    }
    .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: #f3c85b;
    }
}

@media (min-width: 768px) {
    #media_music {
        .align_panel {
            width: 960px;
            .control_panel {
                width: 216px;
                display: inline-block;
            }
            .music_list_panel {
                max-height: 245px;
                width: 710px;
                table {
                    color: #FFF;
                    tr {
                        height: 35px;
                        td.number {
                            padding: 0 30px;
                        }
                        td.song_name {
                            width: 350px;
                        }
                        td.duration {
                            width: 190px;
                        }
                        td.download {
                            width: 60px;

                        }
                    }
                }
            }
        }

        .ps-scrollbar-y-rail{
            width:2px;
            opacity: 1;
            background:rgba(255,255,255,0.1);
        }
        .ps-scrollbar-y{
            width:6px;
            background-color: #f3c85b;
            left: -2px;
        }
    }
}

@media (max-width: 767px) {

    #media_music {
        margin: 0 20px;
        .align_panel {
            display: block;
            width: 100%;
            .control_panel {
                text-align: center;
                width: 100%;
                height: 245px;
                background: rgba(255, 255, 255, 0.1);
                #volumControl {
                    width:100%;
                    position: relative;
                    .current {
                        font-family: db_helvethaica_xregular;
                        color: #f3c85b;
                        position: absolute;
                        left: 10px;
                        font-size: 20px;
                        top: -24px;
                    }
                    .minus_time {
                        font-family: db_helvethaica_xregular;
                        color: #FFF;
                        position: absolute;
                        right: 10px;
                        font-size: 20px;
                        top: -24px;
                    }
                    #volumControlPanel {
                        width: 100%;
                        left:0px;
                        height: 30px;
                        position: absolute;
                        top: -8px;
                    }
                }
            }
            .music_list_panel {
                margin-top:3px;
                display: block;
                vertical-align: top;
                table {
                    width:100%;
                    color: #FFF;
                    tr {
                        height: 35px;
                        td.number {
                            padding: 0 10px;

                            font-size: 20px;
                        }
                        td.song_name {

                            font-size: 20px;
                        }
                        td.duration {
                            padding: 0 0px;
                            font-size: 20px;
                        }
                        td.download {
                            padding: 0 10px;
                            font-size: 20px;
                            a {
                                .download_icon {
                                    background-size: cover;
                                    width:14px;
                                    height:15px;
                                }
                            }
                        }
                    }
                    tr.play_active {
                        td.download {
                            a {
                                .download_icon {
                                    background-size: cover;
                                    width:14px;
                                    height:15px;
                                    vertical-align: -5%;
                                }
                            }
                        }
                    }
                }

            }
        }
        .ps-scrollbar-y-rail{
            display:none !important;
        }
    }

    #media_music .mCSB_inside > .mCSB_container {
        margin-right: 0px;
    }
}