#game-list-panel{
	list-style: none;
	padding: 0;
	margin: 30px auto;
	min-height: 585px;
	max-width: 960px;
	.game-list{
		width: 210px;
		float: left;
		margin: 0 0 30px 0;
		.game-list-link{
			.game-list-img{
				border-radius: 10px 10px 0 0;
				-moz-border-radius: 10px 10px 0 0;
				-webkit-border-radius: 10px 10px 0 0;
				display: block;
			}
			.game-list-title{
				display: block;
				text-align: center;
				padding: 15px 5px;
				background: #fff;
				border-radius:  0 0 10px 10px;
				-moz-border-radius: 0 0 10px 10px;
				-webkit-border-radius: 0 0 10px 10px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				height: 20px;
				font-size: 22px;
			}
		}
	}
	.game-list-center-left{
		margin: 0 15px 0 30px;
	}
	.game-list-center-right{
		margin: 0 30px 0 15px;
	}
}

@media  (max-width: 767px){
	#list-menu-item1-panel .container-wrapper-detail{
		height: auto !important;
	}
	#game-list-panel .game-list{
		float: none;
		margin: 30px auto;
	}
	#game-list-panel{
		background: url(../images/media/school_book/bg-game-central-mobile.png) center center repeat-y;
		background-size: 100%;
	}

}

