#detail-panel {
    overflow: inherit !important;
    margin-top: -100px !important;
    #detail-box {
        overflow: inherit !important;
        background:#fff0d1 !important;
        padding: 0 0 0 0 !important;
        #detail-content {
            max-width: 100% !important;
            margin: 0px auto !important;
        }
    }
}
.header_top {
    background:url("../stocks/custom_page/o0x0/6k/8x/e3mx6k8xb0/miracle3_s1_bg.png") transparent center bottom no-repeat;
    background-size: cover;
    height: 790px;
    position: relative;
    .secound_bg {
        .panel_align {
            width:1024px;
            height: 790px;
            margin:0 auto;
            text-align: center;
            .header_text_panel {
                text-align: center;
                position: relative;
                width: 667px;
                margin: 0 auto;
                img.head_text {
                    margin-top: 50px;
                }
            }
            img.head_pic {
                margin-top: -45px;
            }
            img.head_pic_mobile {
                display:none;
            }
        }
    }
}
.content_panel {
    width:970px;
    margin:0 auto;
    font-family: db_helvethaica_x_li;
    font-size: 30px;
    padding-bottom: 30px;
    position: relative;
    p {
        margin:0px;
    }
    p.para_top {
        color:#005aab;
        font-family: "db_helvethaica_x_li";
        font-size: 48px;
        text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff, 1px 2px 0 #fff, -1px 2px 0 #fff, 1px -2px 0 #fff, -1px -2px 0 #fff, 2px 1px 0 #fff, -2px 1px 0 #fff, 2px -1px 0 #fff, -2px -1px 0 #fff;
    }
    p.para_2 {
        margin-top:20px;
        text-indent: 70px;
    }
    p.para_3 {
        text-indent: 70px;
        color: #a27d32;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .pic1_1 {
        float: left;
        margin-right: 20px;
    }
    .pic1_2 {
        position:absolute;
        left: 333px;
        top: 400px;
    }
    p.para_4 {
        margin-left:20px;
        text-indent: 70px;
    }
    .pic2 {
        float:right;
        margin-right: 40px;
        margin-top: -15px;
    }
    .pic3 {
        float:left;
        margin-right: 20px;
        margin-top: -35px;
    }
    p.para_5 {
        margin-top: -8px;
        text-indent: 70px;
        span.bold {
            font-family: db_helvethaica_xregular;
        }
        span.hide_mobile {

        }
    }
    .pic4 {
        position: absolute;
        top: 1260px;
        right: 48px;
    }
    p.para5_mobile {
        display: none;
    }

    .pic5 {
        float: right;
        float: right;
        margin-right: 68px;
        margin-top: -120px;
    }
    .pic6 {
        float: left;
        margin-right: 20px;
    }
    .show_mb {
        display:none;
    }
    p.para_6 {
        margin-top: 55px;
        font-size: 36px;
        color:#005aab
    }
    p.para_7 {

    }
}
@media (max-width: 767px) {
    #detail-panel {
        overflow: inherit !important;
        margin-top: 0px !important;
        #detail-box {
            overflow: inherit !important;
            background:#fff0d1 !important;
            padding: 0 0 0 0 !important;
            #detail-content {
                max-width: 100% !important;
                margin: 0px auto !important;
                padding:0px;
            }
        }
    }
    .header_top {
        background:url("../stocks/custom_page/o0x0/6k/8x/e3mx6k8xb0/miracle3_s1_bg.png") transparent center bottom no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
        .secound_bg {
            .panel_align {
                width:inherit;
                height: inherit;
                margin:0 auto;
                text-align: center;
                .header_text_panel {
                    text-align: center;
                    position: relative;
                    width: inherit;
                    margin: 0 auto;
                    img.head_text {
                        width:calc(~"100% - 40px");
                        margin: 27px auto 0;
                    }
                }
                img.head_pic {
                    display:none;
                    margin-top: -45px;
                }
                img.head_pic_mobile {
                    display:block;
                    width:calc(~"100% - 40px");
                    margin:0 20px;
                }
            }
        }
    }
    .content_panel {
        width:calc(~"100% - 40px");
        margin:0 auto;
        font-family: db_helvethaica_x_li;
        font-size: 20px;
        padding-bottom: 20px;
        position: relative;
        p {
            margin:0px;
        }
        p.para_top {
            color:#005aab;
            font-family: "db_helvethaica_x_li";
            font-size: 27px;
            text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff, 1px 2px 0 #fff, -1px 2px 0 #fff, 1px -2px 0 #fff, -1px -2px 0 #fff, 2px 1px 0 #fff, -2px 1px 0 #fff, 2px -1px 0 #fff, -2px -1px 0 #fff;
        }
        p.para_2 {
            margin-top:10px;
            text-indent: 30px;
        }
        p.para_3 {
            text-indent: 30px;
            color: #a27d32;
            margin-top: 0px;
            margin-bottom: 20px;
        }
        .pic1_1 {
            width:100%;
        }
        .pic1_2 {
            position:inherit;
            float:left;
            top:0;
            left:0;
            width:78px;
            margin-right: 10px;
        }
        p.para_4 {
            margin-left:0px;
            text-indent: 0px;
        }
        .pic2 {
            width:65px;
            float:right;
            margin-right: 0px;
            margin-top: -15px;
        }
        .pic3 {
            position:inherit;
            float:left;
            top:0;
            left:0;
            width:78px;
            margin-right: 10px;
            margin-top: 0px;
        }
        p.para_5 {
            margin-top: -8px;
            text-indent: 0px;
            span.hide_mobile {
                display:none;
            }
        }
        .pic4 {
            width:100%;
            position: relative;
            top: 0px;
            right: 0px;
            margin: 20px 0;
        }
        p.para5_mobile {
            display: block;
            text-indent: 30px
        }
        .pic5 {
            float: right;
            margin-right: 14px;
            width: 28%;
            margin-top: 133px;
        }
        .pic6 {
            float: left;
            width: 62%;
            margin-right: 0px;
        }
        .show_mb {
            display:block;
        }
        p.para_6 {
            margin-top: 8px;
            font-size: inherit;
            color:#005aab
        }
        p.para_7 {
            text-indent: 30px
        }
    }
}
