#detail-panel {
    overflow: inherit !important;
    #detail-box {
        overflow: inherit !important;
        background:#fff0d1 !important;
        padding: 0 0 0 0 !important;
        #detail-content {
            max-width: 100% !important;
            margin: 0px auto !important;
        }
    }
}
#top_banner{
	position: relative;
	width: 100%;
	background: url(../images/miracle5/bg-top.png) center top;
	.img-banner{
		background: url(../images/miracle5/banner-top.png) center top;
		max-width: 1280px;
		margin: 0 auto;
		height: 700px;
		text-align: center;
	}
}
.txt-miracle{
	margin: 0 auto;
}
.txt-hilight{
	margin: 0 auto;
}
.txt-title-hilight{
	margin: 0 auto;
	color: #005aab;
	font-family: "db_helvethaica_x_li";
	font-size: 48px;
	text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff, 1px 2px 0 #fff, -1px 2px 0 #fff, 1px -2px 0 #fff, -1px -2px 0 #fff, 2px 1px 0 #fff, -2px 1px 0 #fff, 2px -1px 0 #fff, -2px -1px 0 #fff;
}
.txt-detail{
	font-size: 30px;
	color: #000000;
}
.desc-hilight{
	color: #a27d32;
    font-size: 30px;
    line-height: 30px;
    text-indent: 60px;
}
#detail-panel{
	#detail-box{
	}
	.wapdetail{
		max-width: 970px;
		margin: 0 auto;
	}
	#detail-row2{
		text-indent: 60px;
		position: relative;
	}
	#detail-row3{
		text-indent: 60px;
		position: relative;
	}
	#detail-row5{
		text-indent: 60px;
	}
	#detail-row6{
		border-top: 1px solid;
		font-size: 18px;
		font-style: italic;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.panel-detail{
		position: relative;
	}
	.panel-detail-img{
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.block1{
		width: 50%;
	}
	.block2{
		margin-top: 50px;
	}
	.txt-blue{
		color: #005aab;
		.txt-lg{
			font-size: 72px;
		}
	}
	.detail-list{
		display: block;
		margin-bottom: 20px;
	}
}
.bold{
	font-family: "db_helvethaica_xregular";
}
@media (max-width: 767px) {
	#detail-panel {
        overflow: inherit !important;
        #detail-box {
            overflow: inherit !important;
            background:#fff0d1 !important;
            padding: 0 0 0 0 !important;
            #detail-content {
                max-width: 100% !important;
                margin: 0px auto !important;
                padding:0px !important;
            }
        }
        .wapdetail{
			background-color: #F3F0EB;
		}
    }
	#top_banner{
		background: none;
	}
	#top_banner .img-banner{
		background: url(../images/miracle5/m-banner-top.png) center bottom;
		max-width: 960px;
		margin: 0 auto;
		height: 400px;
		text-align: center;
		background-size: cover;
	}
	#detail-panel{
		background-color: #F4F1E2;
		max-width: 960px;
	}
	.txt-title-hilight{
		padding-top: 10px;
		font-size: 27px;
	}
	.txt-detail{
		padding: 0 5%;
		font-size: 20px;
	}
	.desc-hilight{
		font-size: 20px;
		line-height: inherit;
	}
	#detail-panel .panel-detail-img{
		position: relative;
	}
	#detail-panel .block1{
		width: 100%;
	}
	#detail-panel .block2{
		margin-top: 0px;
	}
	#detail-panel .txt-blue .txt-lg{
		font-size: 36px;
	}
	.txt-miracle{
		padding-top: 50px;
		width: calc(~"100% - 40px") !important;
	}
}

