#detail-panel #detail-box #detail-content{
	max-width: inherit;
	margin: 0;
	padding: 0;
}
.color-black{
	color: #000;
}
#detail-panel{
	sup{
		font-size: 18px;
	}
	background: none;
	#detail-box{
		background: none;
		padding: 0;
		#detail-content1{
			overflow: hidden;
			#detail-inner-content1{
				background: url('../images/miracle2/bg-baby-1.jpg') no-repeat;
				overflow: hidden;
				background-size: 100% 100%;
				height: 752px;
				position: relative;
				h1{
					margin: 0;
					positon: relative;
					.img-title{
						margin: 0 auto;
						position: relative;
						top: -35px;
					}
					.text-title-1{
						text-align: center;
						display: block;
					}
					.text-title-2{
						text-align: center;
						display: block;
					}
					.img-baby{
						margin: 0 auto;
					}
				}
			}
		}
		#detail-content2{
			background: #fff0d1;
			#detail-inner-content2{
				max-width: 960px;
				margin: 0 auto;
				padding-bottom: 20px;
				#paragraph-1{
					position: relative;
  					top: -30px;
					.paragraph-1-1{
						display: block;
						color: #005aab;
						font-size: 48px;
						line-height: 48px;
						  text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff, 1px 0 0 #ffffff, 2px 2px 0 #ffffff, -2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px -2px 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff, 1px 2px 0 #ffffff, -1px 2px 0 #ffffff, 1px -2px 0 #ffffff, -1px -2px 0 #ffffff, 2px 1px 0 #ffffff, -2px 1px 0 #ffffff, 2px -1px 0 #ffffff, -2px -1px 0 #ffffff;
					}
					.paragraph-1-2{
						display: block;
						font-style: italic;
						color: #f36f21;
						font-size: 30px;
						line-height: 35px;
						  text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff, 1px 0 0 #ffffff, 2px 2px 0 #ffffff, -2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px -2px 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff, 1px 2px 0 #ffffff, -1px 2px 0 #ffffff, 1px -2px 0 #ffffff, -1px -2px 0 #ffffff, 2px 1px 0 #ffffff, -2px 1px 0 #ffffff, 2px -1px 0 #ffffff, -2px -1px 0 #ffffff;
					}
				}
				#paragraph-2{
					padding: 0 0 5px 0;
					.paragraph-2-1{
						color: #a27d32;
						font-size: 30px;
						line-height: 35px;
					}
				}
				.text-normal{
					font-size: 30px;
					line-height: 35px;
					position: relative;
				}
				p{
					text-indent: 40px;
					margin: 20px 0;
				}
				#paragraph-3{
					// padding: 0 0 20px 0;
					.img-baby{
						position: relative;
						top: 30px;
						left: 0;
					}
				}
				#paragraph-4{
					// padding: 0 0 20px 0;
					.paragraph-4-1{
						p{
							margin-top: 0;
						}
					}
				}
				#paragraph-5{
					// padding: 0 0 20px 0;
					position: relative;
					.img-lactalbumin{
						float: left;
						margin: 0 40px 0 0;
						width: 150px;
					}
					.img-choline{
						margin: 0 0 0 20px;
						position: absolute;
						right: 200px;
						bottom: -20px;
					}
				}
				#paragraph-6{
					// padding: 0 0 20px 0;
				}
				#paragraph-7{
					  padding: 0 0 20px 0;
					.img-baby-play{
						margin: 0 auto;
					}
				}
				#paragraph-8{
					// padding: 0 0 20px 0;
					p{
						margin: 20px 0;
					}
					.paragraph-8-1{
						color: #005aab;
						display: block;
					}
					// padding: 0 0 20px 0;
					border-bottom: 1px solid #000;
				}
				#paragraph-9{
					padding: 20px 0 0 0;
					.list-ref{
						font-size: 18px;
						line-height: 24px;
						font-style: italic;
						display: block;
						sup{
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px) {
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-5 .img-lactalbumin{
		width: 100px;
		margin: 0 20px 0 0;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-5 .img-choline{
		right: 25px;
		bottom: -35px;
	}
	#paragraph-6 p{
		margin: 40px 0 30px 0;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-3 .img-baby{
		top: 0;
		left: inherit;
	}
	#detail-panel #detail-box #detail-content1 #detail-inner-content1 h1 .img-title{
		top: 35px;
		width: 90%;
	}
	#detail-panel #detail-box #detail-content1 #detail-inner-content1{
		background: url('../images/miracle2/bg-baby-1-mobile.jpg') center bottom;
		background-size: cover;
		height: 400px;
		margin: 0 auto;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1{
		top: 0;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2{
		padding: 0 20px 40px 20px;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1 .paragraph-1-1{
		font-size: 25px;
		line-height: 25px;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-2{
		padding-top: 20px;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-2 .paragraph-2-1{
		font-size: 20px;
		line-height: 25px;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-1 .paragraph-1-2{
		font-size: 20px;
		line-height: 25px;
		font-style: italic;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 .text-normal{
		font-size: 20px;
		line-height: 25px;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-9 .list-ref{
		margin: 10px 0;
	}
	#detail-panel #detail-box #detail-content2 #detail-inner-content2 #paragraph-8 p{
		margin-top: 5px;
	}
	div#paragraph-3{
		p{
			margin-top: 0;
		}
	}
}