#detail-box{
    background:#fbefcd !important;
}

p.h1{
    font-family:db_helvethaica_xregular;
    font-size:72px;
    color:#0b3e8c;
    margin-bottom:0;
    margin-top:20px;
}

p.h2{
    font-family:db_helvethaica_x_li;
    font-size:60px;
    color:#8e6d1d;
    margin:0;
}

p.h3{
    font-family:db_helvethaica_xregular;
    font-size:36px;
    color:#8e6d1d;
    margin:14px 0 0;
}

p.h4{
    font-family:db_helvethaica_xregular;
    font-size:30px;
    color:#8e6d1d;
    margin:14px 0 0;
}

p.d1{
    font-family:db_helvethaica_x_li;
    font-size:24px;
    color:#8e6d1d;
    margin:7px 0 0;
}

p.db{
    font-family:db_helvethaica_xregular;
    font-size:24px;
    color:#8e6d1d;
    margin:7px 0;
}

p.db2{
    font-family:db_helvethaica_xregular;
    font-size:24px;
    color:#0b3e8c;
    margin:7px 0;
}

p.top_link{
    text-align:right;
}

p.top_link a{
    font-family:db_helvethaica_xregular;
    font-size:24px;
    color:#0b3e8c;
    margin-bottom:0;
}

p.top_link a:hover{
    color:#3b62e7;
}

a.blue_link{
    font-family:db_helvethaica_xregular;
    font-size:24px;
    color:#0b3e8c;
    margin-bottom:0;
}

a.blue_link:hover{
    color:#3b62e7;
}

ul li,ol li{
    font-size:24px;
    color:#8e6d1d;
    font-family:db_helvethaica_x_li;
}

table.tb{
    width:90%;
    margin:20px auto;
}

td,th{
    padding:0 10px;
    border:1px solid;
}

th.col50{
    width:50%;
}

th.col25{
    width:25%;
}

@media screen and (max-width: 767px){
    #detail-box{
        background:#fbefcd!important;
    }

    p.h1{
        font-family:db_helvethaica_xregular;
        font-size:42px;
        color:#0b3e8c;
        margin-bottom:0;
        margin-top:20px;
    }

    p.h2{
        font-family:db_helvethaica_x_li;
        font-size:30px;
        color:#8e6d1d;
        margin:0;
    }

    p.h3{
        font-family:db_helvethaica_xregular;
        font-size:18px;
        color:#8e6d1d;
        margin:14px 0 0;
    }

    p.h4{
        font-family:db_helvethaica_xregular;
        font-size:18px;
        color:#8e6d1d;
        margin:14px 0 0;
    }

    p.d1{
        font-family:db_helvethaica_x_li;
        font-size:18px;
        color:#8e6d1d;
        margin:7px 0 0;
    }

    p.db{
        font-family:db_helvethaica_xregular;
        font-size:18px;
        color:#8e6d1d;
        margin:7px 0;
    }

    p.db2{
        font-family:db_helvethaica_xregular;
        font-size:18px;
        color:#0b3e8c;
        margin:7px 0;
    }

    p.top_link{
        text-align:right;
    }

    p.top_link a{
        font-family:db_helvethaica_xregular;
        font-size:20px;
        color:#0b3e8c;
        margin-bottom:0;
    }

    p.top_link a:hover{
        color:#3b62e7;
    }

    a.blue_link{
        font-family:db_helvethaica_xregular;
        font-size:20px;
        color:#0b3e8c;
        margin-bottom:0;
    }

    a.blue_link:hover{
        color:#3b62e7;
    }

    ul{
        margin-left:-15px;
    }

    ul li,ol li{
        font-size:18px;
        color:#8e6d1d;
        font-family:db_helvethaica_x_li;
    }

    td,th{
        padding:0 5px;
        border:1px solid;
    }
}