@gray: #444;
@gold: #9b7b30;
@blue: #0052A1;
@brown: #413620;

@bg-btn: url('../images/product/mom_gold/bg-btn.png') no-repeat;
@btn-light: url('../images/product/mom_gold/btn-light.png') no-repeat;

.font(@font,@line-height:@font){
	font-size: @font;
	line-height: @line-height;
}

#product-panel{	
	#banner-product{
		width: 100%;
		height: 1025px;
		background: url('../images/product/progress/bg-banner.jpg') no-repeat;
		background-position: center center;
		background-size: cover;
		background-color: #E38AAB;
		position: relative;
		z-index: 1;
		.banner-inner{
			width: calc(~"100% - 40px");
			height: 100%;
			max-width: 1044px;
			margin: 0 auto;
			.-image-product-hl{
			    max-width: 928px;
			    margin: 0 auto;	
			    .img-product-s26{
					width: 100%;
					height: auto;
					margin-top: -10px;
				}
			}			
		}
	}
	.-warp-banner{
		&:after{
			@heightBg: 49px;
			content: '';
			height: @heightBg;
			background: url('../images/product/progress/connect-bg.jpg') no-repeat;
			background-size: cover;
			background-position: center center;
			position: absolute;
			left: 0;
			bottom: -@heightBg;
			width: 100%;
		}
		.-txt-title{
			max-width: 885px;
			margin: 0 auto;	
			padding-top: 25px;		
			.img-title{
				width: 100%;
				height: auto;
			}
		}
	}
	.warp-small-desc{
		padding-top: 10px;
		.small-desc{
			width: 100%;
			height: auto;
			display: table;
			.col-left{
				width: 80%;
				display: table-cell;
				vertical-align: bottom;
			}
			.col-right{
				width: 20%;
				display: table-cell;
				vertical-align: bottom;
			}
			.-txt-product-detail{
				margin: 0;
				font-size: 22px;
				line-height: 22px;
				color: #4D4D4F;
			}
			.-txt-mog{
				margin: 0;
				font-size: 28px;
				line-height: 28px;
				color: #4D4D4F;
				text-align: right;
			}
		}
	}
	#content-panel{
		width: 100%;
		min-height: 1000px;
		background: url('../images/product/progress/bg-content-1.jpg') no-repeat;
		background-size: cover;
		background-position: left top;
		margin-top: 49px;
		position: relative;
		z-index: 2;
		padding-bottom: 80px;
		.content-inner{
			height: 100%;
			margin: 0 auto;
		}
	}
	#info{
		clear: both;
		.info-panel{
			position: relative;
			width: calc(~"100% - 40px");
			max-width: 1044px;
			margin: auto;
			.info-images-desc{				
			    max-width: 1185px;
			}
			.info-image{
			    left: -70px;
			    margin-top: -24%;
			    width: 100%;
			    position: relative;
			}
			.info-desc{
				color: @gold;
				.font(38px,34px);
				position: absolute;
			    bottom: 86px;
			    left: 5px;
			}
		}
	}
	#article-btn{
		width: 100%;
		height: 100%;
		margin-top: -20px;
		margin-bottom: 25px;
		.article-panel{
			.article-inner-panel{
				width: calc(~"100% - 40px");
				height: 100%;
				max-width: 1044px;
				margin: 0 auto;
				.title-box{
					text-align: left;
					padding-left: 5px;
					margin-bottom: 50px;
					.title-image{
						position: relative;
						left: -10px;
					}
					.title{
						.font(48px,42px);
						color: @blue;
						margin-bottom: 15px;
					}
					.desc{							
						.font(38px,34px);
						color: @gold;
					}
				}
				#menu-pe-gold{
					display: flex;
					justify-content: center;
					.btn-list{
						width: 190px;
						height: 60px;
						background: @bg-btn;
						background-size: contain;
						margin-right: 35px;
						display: table;
						position: relative;
						&:last-child{
							margin-right: 0;
						}
						&:before{
							content: "";
							background: @btn-light;
							width: 227px;
							height: 56px;
							position: absolute;
						    top: -25px;
			    			left: -50px;
			    			z-index: -1;
						}
						.btn-inner{
						    display: table-cell;
			    			vertical-align: middle;
			    			text-align: center;
			    			.font(32px,30px);
			    			color: @blue;
						}
					}
				}
			}
		}
	}
	.content{
		.inner{
			width: calc(~"100% - 40px");
			height: 100%;
			max-width: 1044px;
			margin: 0 auto;
			.warp-table-detail{
				width: 100%;
				height: auto;
			}
			.-table-detail{
				background-color: rgba(255,255,255,0.4);
				padding: 30px 30px 60px;
				overflow: hidden;
				position: relative;
				z-index: 2;
				&:after{
					clear: both;
					content: '';
					display: table;
					width: 100%;
				}
			}
			.-txt-sub-detail{
				.font(40px,40px);
				color: #987B40;
				margin: 10px 0 20px;
				font-weight: normal;
			}
			.desc-left{
				float: left;
				width: 64.4%;
				position: relative;
				z-index: 2;
			}
			.desc-right{
				width: 35.6%;
				float: right;
			}
			.img-glass{
				position: absolute;
				top: 20px;
				z-index: 1;
				left: 50px;
			}
			.box_content_desc{
				width: 100%;
				&.paddingLeft{
					padding-left: 60px;
				}
				.-warp-list{
					display: inline-block;
					margin: 0;
					padding-bottom: 15px;
					padding-top: 15px;
					border-bottom: 1px solid #A9864B;
					&.nopadtop{
						padding-top: 0px;
					}
					&.nopadbottom{
						padding-bottom: 0px;
						border-bottom: 1px solid transparent;
					}
					.-list{
						display: block;						
						.font(30px,28px);
						color: #4D4D4F;
					}
					.-title-txt{
						display: block;
						color: #0063A1;
						&.-inline{
							display: inline-block;
						}
					}
				}
			}
			.title-desc-product{
				padding-top: 20px;
			}
			.detail-bottom{
				padding-top: 25px;
				padding-bottom: 40px;
				overflow: hidden;
				.detail-text{
					display: inline-block;
					color: #4D4D4F;
					&.left{
						float: left;
						.font(22px,22px);
						padding-left: 20px;
					}
					&.right{
						float: right;
						.font(28px,28px);
						letter-spacing: -1px;
						color: #4D4D4F;
					}
				}
			}
			.bottom-list{
				display: table;
				width: 100%;
				.bottom-column{
					display: table-cell;
					width: 20px;
					text-align: right;
				}
				.bottom-column-r{
					width: auto;
					padding-left: 5px;
					display: table-cell;
				}
			}
			.title-desc-save{
				padding-bottom: 20px;
				padding-top: 30px;
			}
			.-warp-save{
				width: 100%;
				height: auto;
				background-color: rgba(255,255,255,0.4);
				color: #4D4D4F;
				padding-left: 20px;
				padding-top: 30px;
				padding-bottom: 30px;
				.font(30px,28px);
				.-table-save{
					display: table;
					width: 100%;
					.-save-l{
						width: 55%;
						display: table-cell;
						vertical-align: top;
					}
					.-save-r{
						width: 45%;
						display: table-cell;
						vertical-align: top;
					}
					.img-save-milk{
						.-save-milk-img{
							margin-top: -24%;
						}
					}
				}
			}
		}
	}
	#article-momtip{
		width: 100%;
		height: auto;
		background: url('../images/home/trick-mom/bg-trick-mom.jpg') top center no-repeat;
		.article-momtip-panel{
			max-width: 950px;
			height: 630px;
			margin: 0 auto;
			.momtip-header{
				width: auto;
				padding: 45px 0 15px;
				.momtip-header-left{
					display: inline-block;
					font-size: 80px;
					color: #a87914;
					font-family: 'db_helvethaica_x_li';
					margin-right: 40px;
					vertical-align: middle;
				}
				.momtip-header-right{
					display: inline-block;
					font-size: 24px;
					color: #444444;
					width: 535px;
					line-height: 26px;
					vertical-align: middle;
					letter-spacing: 0.3px;
				}
			}
			.momtip-body{
				max-width: 960px;
					margin: 0 auto;
					.trick-mom-box{
	  				width: 100%;
	  				float: left;
					.trick-mom-body-list{
						list-style: none;
						padding: 0;
						font-family: 'db_helvethaica_xregular';
						.list-body-img-panel{
							.list-body{
								float: left;
								width: 280px;
								padding: 10px;
								height: 410px;
								position: relative;
								background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////GQAJyAPKSOz6nwAAAABJRU5ErkJggg==') repeat;
								border-radius: 10px;
								-moz-border-radius: 10px;
								-webkit-border-radius: 10px;
								margin: 0 10px;
								.list-content{
									display: block;
									height: 100%;
									position: relative;
								}
								.list-body-img-panel_cover {
									height: 205px;
									margin: 0 auto;
									position: relative;
									.trick-img{
										border-radius:10px;
										-moz-border-radius: 10px;
							            -webkit-border-radius: 10px;
									}
									.list-body-svg{
										margin: 0 auto;
										display: block;
										width: 228px;
									}
									.list-body-image{
										margin: 0 auto;
									}
									.list-body-logo{
										position: absolute;
										right: 20px;
										bottom: -10px;
										width:48px;
										height:48px;
									}
									.spite1 {
										background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
										background-position: 0px 0px;
									}
									.spite2 {
										background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
										background-position: -48px 0px;
									}
									.spite3 {
										background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
										background-position: -96px 0px;
									}
									.cover-video{
										position: absolute;
										left: 0;
										right: 0;
										margin: 0 auto;
										width: 72px;
										height: 72px;
										top: 32%;
									}
								}
								.list-body-content-panel{
									overflow: hidden;
									margin: 10px 0 15px 0;
									.view-panel {
										.view_icon {
											float: left;
											width: 28px;
											margin-top: 3px;
										}
										.view_number {
											font-size: 18px;
											color: #a87914;
											margin-left: 5px;
										}
									}
									.list-body-title{
										color: #4d4d4d;
										font-size: 24px;
										margin: 0 0 10px;
									}
									.txt{
										letter-spacing: 0.2px;
									}
									.txt-blue{
										font-family: db_helvethaica_bold;
										font-size: 26px;
										line-height: 26px;
										color: #0b3e8d;
										-webkit-font-smoothing: antialiased;
										-moz-osx-font-smoothing: grayscale;
									}
									.txt-gold{
										font-family: db_helvethaica_x_med;
										font-size: 24px;
										color: #a87914;
										-webkit-font-smoothing: antialiased;
										-moz-osx-font-smoothing: grayscale;
									}
									.txt-black{
										font-family: db_helvethaica_xregular;
										font-size: 26px;
										line-height: 24px;
										color: #000;
										margin-top: 10px;
										-webkit-font-smoothing: antialiased;
										-moz-osx-font-smoothing: grayscale;
									}
									.list-body-desc{
										color: #666666;
										font-size: 22px;
										margin: 0 0 0 0;
									}
								}
								.list-body-link{
									position: absolute;
									bottom: 15px;
									left: 0;
									right: 0;
									text-align: center;
									img{
										margin: 0 auto;
									}
								}
								.list-body-link-bookmark{
									position: absolute;
									bottom: 15px;
									left: 0;
									right: 0;
									text-align: center;
									border: 1px solid #8e6d1d;
									width: 113px;
									height: 34px;
									text-align: center;
									margin: 0 auto;
									line-height: 34px;
									border-radius: 3px;
									-webkit-border-radius: 3px;
									-moz-border-radius: 3px;
									img{
										display: inline-block;
										vertical-align: -9%;
										margin-right: 3px;
									}
									.text-bookmark{
										vertical-align: middle;
										color: #6b4e08;
										font-size: 24px;
									}
								}
							}
						}
					}
				}
				.mobile{
					margin:0;
				}
			}
		}
		@arrow-left: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
		@arrow-right: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
		.slick-prev:before {
			content: none;
			background:@arrow-left;
		}
		.slick-next:before{
			content: '';
			background: @arrow-right;
		}
		.slick-prev{
			background: @arrow-left;
		}
		.slick-next{
			background: @arrow-right;
		}
		.slick-prev, .slick-next{
			height: 35px;
		}
		.slick-prev:hover, .slick-prev:focus{
			background: @arrow-left;
		}
		.slick-next:hover, .slick-next:focus{
			background: @arrow-right;
		}
		.slick-disabled{
			display: none !important;
		}
	}
}

@media  (max-width: 767px){
	#product-panel .-warp-banner .-txt-title .img-title{
		max-width: 624px;
		margin: 0 auto;
		display: block;
	}
	#product-panel{
		margin-top: 150px;
		overflow: hidden;
		#banner-product{
			height: auto;
			max-height: 100%;
			background: url('../images/product/progress/bg-banner-xs.jpg') no-repeat;
			background-position: center;
			background-size: cover;
			padding-bottom: 10%;
			.banner-inner{
				.banner-image{
					top: auto;
				    right: auto;
				    margin: 0 auto;
				    width: 100%;
				    max-width: 657px;
				}
			}
		}
		#content-panel{
			background: url('../images/product/progress/bg-content-xs.jpg') no-repeat;
			margin-top: 0;
			padding-bottom: 0px;
			.content-inner{
				top: 0;
				padding-bottom: 30px;
			}
		}
		#info{
			padding-top: 0;
			.info-panel{
				.info-images-desc{
					padding-top: 10px;
				}
				.info-image{
				    margin-top: 0;
				    width: 100%;
				    left: 0;
				}
				.info-desc{
					.font(28px,26px);
				    bottom: auto;
				    top: 10px;
				    left: 35%;
				}
			}
		}
		#article-btn{
			margin-top: 0;
			.article-panel{
				.article-inner-panel{
					#menu-pe-gold{
						.btn-list{
							width: 25%;
							height: 50px;
							margin-right: 5%;
							background-size: 100% 100%;
							&:before{
								width: 197px;
								left: -45px;
								background-size: cover;
							}
							.btn-inner{
								.font(24px);
							}
						}
					}
				}
			}
			.article-panel{
				margin-top: 20px;
				.article-inner-panel{ 
					.title-box{ 
						margin-bottom: 25px;
						.title-image{
							width: 50%;
							max-width: 306px;
							left: -5px;
						}
						.title{
							.font(24px,24px);
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.desc{
							.font(22px,22px);
						}
					}
				}
			}
		}
		.content{
			.inner{
				img{
					width: 100%;
				}
				.detail-bottom{
					padding-top: 15px;
					padding-bottom: 20px;
					.detail-text{
						&.left{
							padding-left: 10px;
							margin-right: 0;
							width: 65%;
							.font(20px,20px);
						}
						&.right{
							width: 30%;
							.font(20px,20px);
							text-align: right;
						}
					}
				}
			}
		}
	}

	#product-panel #article-momtip{
		.slick-prev, .slick-next{
			top: 25%;
		}
		.slick-prev{
			left: 15px;
		}
		.slick-next{
			right: 15px;
		}

		.article-momtip-panel{
			width: 90%;
			.momtip-header{
				padding: 15px 0;
				.momtip-header-left{
					width: 100%;
					margin: 0px;
					text-align: center;
					font-size: 45px;
				}
				.momtip-header-right{
					width: 100%;
					font-size: 20px;
				}
			}
			.momtip-body{
				.trick-mom-box{
					.trick-mom-body-list{
						width: 290px;
						margin: 0 auto;
						list-style: none;
						.list-body-img-panel{
							.list-body{
								width: 260px;
								margin: 0px;
								.list-body-img-panel_cover{
									.trick-img{
										width: 260px;
									}
								}
							}
						}
						.slick-slide{
							margin: 0 5px;
						}
						.slick-dots {
							display:none !important;
						}
					}
				}
			}
		}
	}
	#product-panel #banner-product .banner-inner .-image-product-hl .img-product-s26{
		margin-top: 0;
	}
	#product-panel .-warp-banner::after{
		display: none;
	}
	#product-panel .warp-small-desc{
		padding-left: 20px;
		padding-right: 20px;
		background-color: #f3efe4;
		padding-top: 0;
		padding-bottom: 20px;
	}
	#product-panel .warp-small-desc .small-desc .col-left{
		width: 65%;
		vertical-align: top;
	}
	#product-panel .warp-small-desc .small-desc .col-right{
		width: 35%;
		vertical-align: top;
		text-align: right;
	}
	#product-panel .warp-small-desc .small-desc .-txt-mog{
		font-size: 20px;
		line-height: 20px;
	}
	#product-panel .warp-small-desc .small-desc .-txt-product-detail{
		font-size: 20px;
		line-height: 20px;
	}
	#product-panel .content .inner .title-desc-product{
		max-width: 538px;
		padding-top: 0;
		.title-desc{
			width: 90%;
			height: auto;
		}
	}
	#product-panel .content .inner .-txt-sub-detail{
		font-size: 22px;
		line-height: 22px;
		margin-top: 0;
	}
	#product-panel .content .inner .desc-left{
		width: 48%;
	}
	#product-panel .content .inner .desc-right{
		width: 48%;
		padding-top: 50%;
	}
	#product-panel .content .inner .img-glass{
		left: auto;
		right: 0px;
		max-width: 540px;
		width: 70%;
	}
	#product-panel .content .inner .-table-detail{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 20px;
	}
	#product-panel .content .inner .box_content_desc .-warp-list{
		padding-top: 10px;
		padding-bottom: 10px;
		.-list{
			font-size: 20px;
			line-height: 20px;
		}
		&.padding-xs{
			padding-bottom: 10px;
			border-bottom: 1px solid #A9864B;
		}
	}
	#product-panel .content .inner .box_content_desc.paddingLeft{
		padding-left: 0;
	}
	#product-panel .content .inner .title-desc-save{
		width: 50%;
		padding-top: 0;
	}
	#product-panel .content .inner .-warp-save{
		padding-left: 0;
		font-size: 20px;
		line-height: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#product-panel .content .inner .bottom-list .bottom-column{
		width: 15px;
	}
	#product-panel .content .inner .-warp-save .-table-save .img-save-milk .-save-milk-img{
		margin-top: 0;
	}
	#product-panel .content .inner .-warp-save .-table-save .img-save-milk .-save-milk-img{
		width: 88%;
		max-width: 304px;
		margin: 0 auto;
		display: block;
	}
	#product-panel .content .inner .bottom-list{
		padding-bottom: 10px;
		&:last-child{
			padding-bottom: 0px;
		}
		&.nonePadding-xs{
			padding-bottom: 0px;
		}
	}
}

@media (max-width: 585px){
	#product-panel #article-btn .article-panel .article-inner-panel{
		#menu-pe-gold{
			.btn-list{
				width: 31%;
				height: 40px;
				margin-right: 2%;
				&:before{
					left: -65px;
				}
				.btn-inner{
					.font(18px,16px);
				}
			}
		}
	}
	#product-panel #info .info-panel .info-desc{
		.font(21px,19px);
		top: 1%;
		left: 37%;
		@media (max-width: 410px){
			.font(16px,14px);
		}
	}
}
@media (max-width: 445px){
	.hide-445{
		display: none;
	}
}