@arrow: url('../images/product/pe_gold/icon-arrow-group.png') no-repeat;
.slick-prev:before, .slick-next:before{
	content: '';
	background: @arrow;
}
.slick-prev, .slick-prev:hover, .slick-prev:focus{
	background: @arrow;
	left: -65px;
	background-position: 0px 0px;
}
.slick-next, .slick-next:hover, .slick-next:focus{
	background: @arrow;
	right: -65px;
	background-position: -70px 0px;
}
.slick-prev, .slick-next{
	width: 50px;
	height: 45px;
	box-shadow: 0px 5px #8F6500;
    border-radius: 0px 0px 6px 6px;
}
.slick-disabled{
	display: none !important;
}
.color-gray-light{
	color: #666;
}

#product-panel{
	#product-inner-panel{
		#article-body{
			width: 100%;
			height: auto;
			background: url('../images/product/pe_gold/bg-article.jpg') no-repeat;
			background-size: cover;
			display: none;
			#article-custom-page{
				width: 100%;
				height: auto;
				.article-custom-page-panel{
					max-width: 950px;
					margin: 0 auto;
					.custom-page-header{
						width: auto;
						padding: 30px 0 15px;
						text-align: center;
					}
					.custom-page-body{
						width: 768px;
						height: 241px;
						border-radius: 15px;
						margin: 0 auto;
						.custom-page-link{
							width: 241px;
							height: 241px;
							padding: 0 7.5px;
							.custom-page-body-box{
								width: 100%;
								height: 100%;
								.custom-page-img{
									width: 100%;
									height: 100%;
									border-radius: 15px;
								}
							}
						}
					}
				}
				.slick-prev, .slick-next{
					top: 121px;
				}
				.slick-prev:active, .slick-next:active{
					box-shadow: none;
					top: 126px;
				}
			}
			#article-momtip{
				width: 100%;
				height: auto;
				.article-momtip-panel{
					max-width: 950px;
					margin: 0 auto;
					.momtip-header{
						width: auto;
						padding: 60px 0 20px;
						text-align: center;
					}
					.momtip-body{
						max-width: 960px;
	  					margin: 0 auto;
	  					.trick-mom-box{
			  				width: 100%;
			  				float: left;
							.trick-mom-body-list{
								list-style: none;
								padding: 0;
								font-family: 'db_helvethaica_xregular';
								.list-body-img-panel{
									.list-body{
										float: left;
										width: 280px;
										padding: 10px;
										height: 410px;
										position: relative;
										background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////GQAJyAPKSOz6nwAAAABJRU5ErkJggg==') repeat;
										border-radius: 10px;
										-moz-border-radius: 10px;
										-webkit-border-radius: 10px;
										margin: 0 10px;
										.list-content{
											display: block;
											height: 100%;
											position: relative;
										}
										.list-body-img-panel_cover {
											height: 205px;
											margin: 0 auto;
											position: relative;
											.trick-img{
												border-radius:10px;
												-moz-border-radius: 10px;
									            -webkit-border-radius: 10px;
											}
											.list-body-svg{
												margin: 0 auto;
												display: block;
												width: 228px;
											}
											.list-body-image{
												margin: 0 auto;
											}
											.list-body-logo{
												position: absolute;
												right: 20px;
												bottom: -10px;
												width:48px;
												height:48px;
											}
											.spite1 {
												background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
												background-position: 0px 0px;
											}
											.spite2 {
												background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
												background-position: -48px 0px;
											}
											.spite3 {
												background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
												background-position: -96px 0px;
											}
											.cover-video{
												position: absolute;
												left: 0;
												right: 0;
												margin: 0 auto;
												width: 72px;
												height: 72px;
												top: 32%;
											}
										}
										.list-body-content-panel{
											overflow: hidden;
											margin: 10px 0 15px 0;
											.view-panel {
												.view_icon {
													float: left;
													width: 28px;
													margin-top: 3px;
												}
												.view_number {
													font-size: 18px;
													color: #a87914;
													margin-left: 5px;
												}
											}
											.list-body-title{
												color: #4d4d4d;
												font-size: 24px;
												margin: 0 0 10px;
											}
											.txt{
												letter-spacing: 0.2px;
											}
											.txt-blue{
												font-family: db_helvethaica_bold;
												font-size: 26px;
												line-height: 26px;
												color: #0b3e8d;
												-webkit-font-smoothing: antialiased;
												-moz-osx-font-smoothing: grayscale;
											}
											.txt-gold{
												font-family: db_helvethaica_x_med;
												font-size: 24px;
												color: #a87914;
												-webkit-font-smoothing: antialiased;
												-moz-osx-font-smoothing: grayscale;
											}
											.txt-black{
												font-family: db_helvethaica_xregular;
												font-size: 26px;
												line-height: 24px;
												color: #000;
												margin-top: 10px;
												-webkit-font-smoothing: antialiased;
												-moz-osx-font-smoothing: grayscale;
											}
											.list-body-desc{
												color: #666666;
												font-size: 22px;
												margin: 0 0 0 0;
											}
										}
										.list-body-link{
											position: absolute;
											bottom: 15px;
											left: 0;
											right: 0;
											text-align: center;
											img{
												margin: 0 auto;
											}
										}
										.list-body-link-bookmark{
											position: absolute;
											bottom: 15px;
											left: 0;
											right: 0;
											text-align: center;
											border: 1px solid #8e6d1d;
											width: 113px;
											height: 34px;
											text-align: center;
											margin: 0 auto;
											line-height: 34px;
											border-radius: 3px;
											-webkit-border-radius: 3px;
											-moz-border-radius: 3px;
											img{
												display: inline-block;
												vertical-align: -9%;
												margin-right: 3px;
											}
											.text-bookmark{
												vertical-align: middle;
												color: #6b4e08;
												font-size: 24px;
											}
										}
									}
								}
							}
						}
						.mobile{
							margin:0;
						}
					}
				}
				.slick-prev, .slick-next{
					top: 215px;
				}
				.slick-prev:active, .slick-next:active{
					box-shadow: none;
					top: 220px;
				}
			}
			#article-grow{
				width: 100%;
				height: auto;
				.article-grow-panel{
					max-width: 950px;
					margin: 0 auto;
					.grow-header{
						padding: 65px 0 35px;
						text-align: center;
					}
					.grow-body{
						padding-bottom: 45px;
						text-align: center;
					}
				}
			}
		}
		#article-contact{
			width: 100%;
			height: auto;
			background: url('../images/product/pe_gold/bg-article-contact.jpg') center no-repeat;
			background-size: cover;
			.article-contact-panel{
				max-width: 950px;
				height: 236px;
				margin: 0 auto;
				text-align: center;
				.main-title{
					font-size: 60px;
					padding: 40px 0 10px;
				}
				.contact-box{
					display: inline-block;

					.contact-box-inner{
						display: table;
						.icon{
							width: 50px;
							height: 50px;
							margin: 0 auto 10px;
							background: url('../images/product/pe_gold/icon-contact.png') no-repeat;
							border-radius: 2px;
							display: table-cell;
						}
						.telphone{
							background-position: 0px 0px;
						}
						.facebook{
							background-position: -70px 0px;
						}
						.line{
							background-position: -140px 0px;
						}
						.contact-text{
							color: #59513b;
    						font-size: 21px;
    						text-shadow: 1px 0px #fff , -1px 0px #fff, 0px 1px #fff, 0px -1px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    						display: table-cell;
    						vertical-align:middle;
    						padding-left: 14px;
						}
					}
				}
				.box-telphone{
					margin-right: 110px;
				}
				.box-facebook{
					margin-right: 85px;
				}
			}
		}
		#article-information{
			width: 100%;
			height: 100%;
			.article-panel{
				background: url('../images/product/pe_gold/bg-product-main.jpg') no-repeat;
				background-size: cover;
				position: relative;
				overflow: hidden;
				.article-inner-panel{
					max-width: 950px;
					margin: 0 auto;
					#menu-pe-gold{
						margin: 45px auto 65px;
						list-style: none;
						padding: 0;
						.menu-list{
							float: left;
							width: 292px;
							height: 70px;
							line-height: 70px;
							border-radius: 40px;
							-moz-border-radius: 40px;
							-webkit-border-radius: 40px;
							border: 1px solid #8e6d1d;
							text-align: center;
							.menu-list-text{
								font-size: 30px;
								color: #8e6d1d;
								cursor: pointer;
							}
						}
						.menu-list-middle{
							margin: 0 30px;
						}
					}
					#article-information-panel{
						margin-bottom: 15px;
						.panel-main{
							.img-main1{
								float: left;
								position: relative;
								left: -15px;
							}
							.title-box{
								float: left;
								margin: 40px 0 0 20px;
								position: relative;
								.img-main2{
								    position: absolute;
								    top: -40px;
								    right: -160px;
								}
							}
							.desc-box{
								float: left;
								padding: 25px 15px 0;
							}
							.img-main3{
								float: right;
								position: relative;
								top: -45px;
							}
						}
						.panel-1{
							padding-bottom: 25px;
	                        .text-1{
	                            font-size: 72px;
	                            display: block;
	                        }
	                        .text-2{
	                            font-family: db_helvethaica_xregular;
	                            font-weight: bold;
	                            font-size: 48px;
	                            display: block;
	                        }
	                        .text-3{
	                            font-family: db_helvethaica_xregular;
	                            font-size: 24px;
	                            display: block;
	                            color:#666;
	                            margin:10px 0;
	                            .bold {
	                                font-weight: bold;
	                            }
	                        }
	                    }
						.panel-2{
							margin: 45px auto;
							position: relative;
							.content-wrap-inner{
								  padding: 10px 0 0 20px;
								.text-1{
									font-size: 72px;
									line-height: 70px;
									display: block;
								}
								.text-2{
		                            font-family: db_helvethaica_xregular;
		                            font-weight: bold;
		                            color: #8E6D1D !important;
		                            font-size: 48px;
								}
								.text-3{
									font-size: 24px;
									display: block;
								}
								.text-4{
									font-size: 22px;
								}
								.text-5{
									font-size: 22px;
									display: block;
								}
								.table-panel{
									.table-title{
										margin-top: 20px;
										list-style: none;
										padding: 0;
										height: 54px;
										.table-first{
											background: #d7ad49;
											border-top: 1px solid #eee;
											border-left: 1px solid #eee;
											border-bottom: 1px solid #eee;
											border-radius: 10px 0 0 0;
											-moz-border-radius: 10px 0 0 0;
											-webkit-border-radius: 10px 0 0 0;
										}
										.table-second{
											background: #edc667;
											border-top: 1px solid #eee;
											border-bottom: 1px solid #eee;
										}
										.table-third{
											background: #fedd8d;
											border-top: 1px solid #eee;
											border-right: 1px solid #eee;
											border-bottom: 1px solid #eee;
											border-radius: 0 10px 0 0;
											-moz-border-radius: 0 10px 0 0;
											-webkit-border-radius: 0 10px 0 0;
										}
										.table-list{
											float: left;
											width: 200px;
											height: 54px;
											text-align: center;
											line-height: 54px;
										}
									}
									.table-dtail{
										list-style: none;
										padding: 0;
										height: 54px;
										margin-bottom: 20px;
										.table-first{
											border-left: 1px solid #eee;
											border-bottom: 1px solid #eee;
											border-right: 1px solid #eee;
											border-radius: 0 0 0 10px;
											-moz-border-radius: 0 0 0 10px;
											-webkit-border-radius: 0 0 0 10px;
										}
										.table-second{
											border-right: 1px solid #eee;
											border-bottom: 1px solid #eee;
										}
										.table-third{
											border-right: 1px solid #eee;
											border-bottom: 1px solid #eee;
											border-radius: 0 0 10px 0;
											-moz-border-radius: 0 0 10px 0;
											-webkit-border-radius: 0 0 10px 0;
										}
										.table-list{
											float: left;
											width: 200px;
											height: 54px;
											text-align: center;
											line-height: 54px;
											background: #fff;
										}
									}
								}
							}
							.img1{
								margin: 30px 0 0;
								display: block;
								position: relative;
							}
						}
						.panel-3{
							margin: 0 auto;
							position: relative;
							.content-right{
								margin: 20px 0;
								float: right;
								left: 0;
								.img1{
									width: 450px;
									margin: 0 auto;
									display: block;
								}
							}
							.content-left{
								margin: 40px 0;
								float: left;
								right: 0;
								.content-wrap-inner{
									.text-1{
									    font-family: db_helvethaica_x_li;
									    font-size: 72px;
									    color: #8e6d1d;
									}
									.list{
										padding: 0;
										font-size: 24px;
										list-style: none;
										color: #666;
    									font-family: db_helvethaica_x_li;
										li{
											margin: 10px 0;
											background: url('../images/product/progress_gold/s5_bullet_desktop.png') 0 9px no-repeat;
											padding: 0 0 0 20px;
											background-size: 12px 12px;
										}
									}
								}
							}
						}

						.title-txt{
							font-size: 65px;
							line-height: 50px;
							padding-bottom: 20px;
						}
						.subtitle-txt{
							font-size: 35px;
							line-height: 30px;
						}
						.desc-txt{
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}

@media  (max-width: 767px){
	@arrow-left: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
	@arrow-right: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
	.slick-prev:before{
		content: '';
		background: @arrow-left;
	}
	.slick-next:before{
		content: '';
		background: @arrow-right;
	}
	.slick-prev, .slick-prev:hover, .slick-prev:focus{
		background: @arrow-left;
		background-position: 0px 0px;
	}
	.slick-next, .slick-next:hover, .slick-next:focus{
		background: @arrow-right;
		background-position: 0px 0px;
	}
	.slick-prev, .slick-next{
		width: 19px;
		height: 32px;
		box-shadow: none;
	}

	#product-panel{
		#product-inner-panel{
			#article-custom-page{
				.article-custom-page-panel{
					width: 90%;
					.custom-page-header{
						padding-bottom: 25px !important;
						.img-top{
							width: 60% !important;
							margin: 0 auto 30px;
						}
						img{
							width: 100%;
						}
					}
					.custom-page-body{
						width: 261px !important;
					}
					.slick-prev, .slick-prev:focus, .slick-prev:hover{
						left: 10px;
					}
					.slick-next, .slick-next:focus, .slick-next:hover{
						right: 10px;
					}
					.slick-prev, .slick-next, .slick-prev:active, .slick-next:active{
						top: 50% !important;
					}
				}
			}
			#article-momtip{
				.article-momtip-panel{
					width: 100%;
					.momtip-header{
						width: 90% !important;
						margin: 0 auto;
						padding-top: 35px !important;
						img{
							width: 100%;
						}
					}
					.momtip-body{
						width: 300px;
						.trick-mom-box{
							width: 310px !important;
							margin: 0px;
							.trick-mom-body-list{
								list-style: none;
								.list-body-img-panel{
									.list-body{
										margin: 0 5px 0 0!important;
									}
								}
								.slick-prev, .slick-prev:focus, .slick-prev:hover{
									left: 10px;
								}
								.slick-next, .slick-next:focus, .slick-next:hover{
									right: 20px;
								}
								.slick-prev, .slick-next, .slick-prev:active, .slick-next:active{
									top: 25% !important;
								}
								.slick-dots {
									display:none !important;
								}
							}
						}
					}
				}
			}
			#article-grow{
				.article-grow-panel{
					width: 90%;
					.grow-header{
					padding: 35px 0 25px !important;
						img{
							width: 100%;
						}
					}
					.grow-body{
						padding-bottom: 25px !important;
						img{
							width: 100%;
						}
					}
				}
			}
			#article-contact{
				background: url('../images/product/pe_gold/bg-article-contact-mobile.jpg') no-repeat;
				background-size: cover;
				.article-contact-panel{
					width: 90%;
					height: auto;
					text-align: left;
					padding-bottom: 30px;
					.main-title{
						padding: 30px 0 !important;
						img{
							width: 100%;
						}
					}
					.main-box{
						width: 290px;
						margin: 0 auto;
						.contact-box{
							height: 105px;
							.contact-box-inner{
								.icon{
									display: block !important;
								}
								.contact-text{
									font-size: 18px;
									display: block !important;
									padding: 0;
								}
							}
						}
					}
					.box-telphone{
						margin-right: 10px;
					}
					.box-facebook{
						margin-right: 28px;
						text-align: center;
					}
				}
			}
			#article-information{
				.article-panel{
					background: url('../images/product/pe_gold/bg-product-mobile.jpg') no-repeat;
					background-size: cover;
					.article-inner-panel{
						#menu-pe-gold{
							width: 90%;
							margin-bottom: 30px;
							.menu-list{
								width: 286px;
								margin: 0 auto;
								float: none;
							}
							.menu-list-middle{
								margin: 25px auto;
							}
						}
						#article-information-panel{
						    width: 90%;
							margin: 0 auto;
							.panel-main{
								text-align: center;
								margin: 0 auto;
								float: none;
								padding-bottom: 25px;
								.img-main1{
									left: 0;
									float: none;
								}
								.title-box{
									float: none;
									margin: 0 auto;
									text-align: left;
									.title-txt{
										line-height: 20px;
										.text1{
											font-size: 48px;
										}
										.text2{
											font-size: 39px;
										}
										.text3{
											font-size: 34px;
										}
									}
									.subtitle-txt{
										font-size: 23px;
										line-height: 25px;
									}
									.img-main2{
										width: 72px;
									    top: 0;
    									right: 0;
									}
								}
								.img-main3{
									float: none;
									width: 100%;
									top: 0;
									margin: 20px 0;
								}
								.desc-box{
									padding: 0px;
									float: none;
									top: 0px;
									text-align: left;
									.desc-txt{
										font-size: 18px;
										letter-spacing: 0.5px;
									}
								}
							}
							.panel-1{
								.text-1{
									font-size: 60px;
								}
								.text-3{
									font-size: 18px;
								}
							}
							.panel-2{
								margin: 0 auto;
								.text-1{
									font-size: 60px !important;
								}
								.content-wrap-inner{
									padding: 0px;
									.img1{
										width: 300px;
									    position: relative;
									    margin: 20px auto;
									}
									.text-3, .text-5{
										font-size: 18px;
									}
									.text-5{
										margin-bottom: 20px;
									}
									.table-panel{
										margin: 0 auto;
										width: 280px;
										display: block;
										.table-title{
											width: 140px;
											height: auto;
											float: left;
											margin: 0;
											.table-list{
												width: 139px;
												height: inherit;
											}
											.table-first{
												border-bottom: none;
												height: 54px;
												line-height: 20px;
											}
											.table-second{
												border-top: none;
												border-bottom: none;
												border-left: 1px solid #eee;
											}
											.table-third{
												border-top: none;
												border-left: 1px solid #eee;
												border-right: none;
												border-bottom: 1px solid #eee;
											    border-radius: 0 0 0 10px;
												-moz-border-radius: 0 0 0 10px;
												-webkit-border-radius: 0 0 0 10px;
											}
										}
										.table-dtail{
											width: 140px;
											height: auto;
											float: left;
											.table-list{
												width: 139px;
											}
											.table-first{
												width: 138px;
												border-radius: 0 10px 0 0;
												-moz-border-radius: 0 10px 0 0;
												-webkit-border-radius: 0 10px 0 0;
											}
										}
									}
								}
							}
							.panel-3{
								.text-1{
									font-size: 60px !important;
								}
								.content-left{
									margin: 0px;
									.img1{
										margin: 20px auto 30px auto;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}