#s26_progress_gold {
    //Main Structure
    overflow: hidden;
    .fixed-panel{
        width: 100%;
        height: calc(100vw * 2.5975);
        min-height: 2943px;
        position: relative;
        background-color:#f1ebc9;
        .img-responsive{
            width: 100%;
        }
        .panel-plot{
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            cursor: default;
            &.panel1{
                top: 820px;
            }
            &.panel2{
                top: 1400px;
            }
            &.panel3{
                top: 1925px;
            }
            &.panel4{
                bottom: 0;
            }
        }
    }
    .section {
        background-size: cover;
        background-position: center;
        .panel_align {
            width:1024px;
            position: relative;
            text-align: center;
            margin:0 auto;
            .detail_link {
                .inner_detail_link {
                    display: inline-block;
                    .inner_link_btn {
                        font-family: db_helvethaica_x_li;
                        border: #8e6d1d 1px solid;
                        border-radius: 40px;
                        width:222px;
                        height:62px;
                        line-height: 62px;
                        font-size: 30px;
                        color: #8e6d1d;
                        text-align: center;
                        padding-top:5px;
                        margin-right: 20px;
                    }
                    .inner_link_btn:hover{
                        border: #af8c1f 1px solid;
                        color: #af8c1f;
                    }
                    .link_btn_last{
                    	margin-right: 0px;
                    }
                }
            }
            .detail_panel {
                .picture_panel {
                    width:49.5%
                }
                .description_panel {
                    font-family: db_helvethaica_x_li;
                    font-size: 24px;
                    width:49.5%
                }
            }
        }
    }
    //end Main Structure
    .banner{
        width: 100%;
        height: 720px;
        background-image: url("../images/product/progress_gold/banner.jpg");
        background-position: bottom;
        .section-inner{
            width: 100%;
            max-width: 1024px;
            height: 100%;
            margin: 0 auto;
            position: relative;
            .banner-text{
                position: absolute;
                left: -43px;
                bottom: 75px;
                z-index: 2;
            }
            .banner-product{
                position: absolute;
                right: -83px;
                bottom: 0;
                z-index: 1;
            }
        }
    }
    .s1_bg {
        padding-top:50px;
        background-image: url("../images/product/progress_gold/s1_bg.jpg");
        .panel_align {
            .detail_panel {
                .picture_panel {
                    width:370px !important;
                    position: relative;
                    img {
                        position: absolute;
                        top: 30px;
                        left: 30px;
                    }
                }
                .description_panel {
                    width:600px;
                    text-align: left;
                    margin-right: 20px;
                    margin-top: 25px;
                    margin-bottom: 30px;
                    .d1 {
                        font-family: db_helvethaica_x_med;
                        color: #0b3e8c;
                        font-size: 60px;
                        display: inline-block;
                    }
                    .d2 {
                        line-height: 26px;
                        font-size: 55px;
                        display: inline-block;
                        .name1 {
                            color: #8e6d1d;
                        }
                        .name2 {
                            color: #0b3e8c;
                        }
                    }
                    .d3 {
                        font-family: db_helvethaica_xregular;
                        font-weight: bold;
                        line-height: 30px;
                        margin-top: 0px;
                        .quote1 {
                            color: #d6a846;
                            font-size: 50px;
                            vertical-align: -36%;
                            margin-right:8px;
                        }
                        .text {
                            color: #8e6d1d;
                            font-size: 36px;
                        }
                        .quote2 {
                            color: #d6a846;
                            font-size: 50px;
                            vertical-align: -52%;
                            margin-left: 7px;
                        }
                    }
                    .d4 {
                        margin-bottom:-10px;
                        color: #8e6d1d;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .s2_bg {
        background-image: url("../images/product/progress_gold/s2_big_bg.jpg");
        overflow: hidden;
        position:relative;
        background-color: #FFEAB9;
        .layer2_kid {
            background-image: url("../images/product/progress_gold/s2-06.png");
            background-position: bottom;
            width:1024px;
            height:610px;
            position: absolute;
            text-align: center;
            margin:0 auto;
            bottom:0;
            left:0;
            right:0;
        }
        .bar_img {
            width:100%;
            position:absolute;
            bottom:0;
            height:150px;
        }
        .panel_align {
        	img {
				width: 90%;
            }
            .img-curve{
            	position: absolute;
            	bottom: 0px;
            	left: 5.5%;
            }
            .top_text {
                margin-top:20px;
                img {

                }
            }
            .bottom_text_and_pic_align {
                width: 1024px;
                position: absolute;
                bottom:0;
                .bottom_text_and_pic {
                    position: relative;
                    .text {
                        position: absolute;
                        left:0;
                        bottom:10px
                    }
                    .pic {
                        position: absolute;
                        right:0;
                        bottom: -75px;
                    }
                }
            }
            .permit {
                position: absolute;
                bottom: 16px;
                right: 13px;
                font-size: 8px;
            }
        }
    }
    .s3_bg {
        background-image: url("../images/product/progress_gold/s3_bg.jpg");
        overflow: hidden;
        .panel_align {
            margin-bottom: 30px;
            .detail_panel {
                .picture_panel {
                    margin-top: 84px;
                }
                .description_panel_left {
                    font-family: db_helvethaica_xregular;
                    position: absolute;
                    left: 29px;
                    top: 30px;
                    z-index: 10;
                    text-align: left;
                    .d1 {
                        font-family: db_helvethaica_x_li;
                        color: #0b3e8c;
                        font-size: 80px;
                    }
                    .d2 {
                        color: #0b3e8c;
                        font-size: 48px;
                        line-height: 36px;
                        .bold {
                            font-family: db_helvethaica_xregular;
                            font-weight: bold;
                        }
                    }
                    .d3 {
                        color: #0b3e8c;
                        font-size: 48px;
                        .italic {
                            font-style: italic;
                        }
                    }
                    .pic_mobile {
                        display: none;
                    }
                    .d4 {
                        color:#666;
                        margin-top: -15px;
                        width: 480px;
                        font-size: 24px;
                        img {
                            position:relative;
                            top: 13px;
                            margin-right: 13px;
                        }
                        p {
                            span.blue {
                                font-family: db_helvethaica_xregular;
                                font-size: 36px;
                                color: #0b3e8d;
                            }
                            margin:13px 0px;
                            b {

                            }
                        }
                    }
                }
                .description_panel_right {

                    font-family: db_helvethaica_xregular;
                    font-size: 24px;
                    margin-top: 110px;
                    text-align: left;
                    color: #666;
                    width: 46.9%;
                    p {
                        margin:13px 0px;
                        b {

                        }
                    }
                }
            }
        }
    }
    .s4_bg {
        background-image: url("../images/product/progress_gold/s4_bg.png");
        overflow: hidden;
        position: relative;
        img.bar_img{
        	width: 100%;
		    position: absolute;
		    bottom: 0;
		    height: 150px;
        }
        .panel_align {
            .detail_panel {
                .header_panel {
                    text-align: left;
                    font-family: db_helvethaica_x_li;
                    font-size: 72px;
                    color: #FFFFFF;
                    margin-top: 34px;
                }
                .picture_panel {
                    width: 310px;
                    position: absolute;
                    right: 35px;
                    top: 20px;
                    z-index: 10;
                }
                .description_panel {
                    text-align: left;
                    color: #666;
                    width: 604px;
                    .d1 {
                        margin-top: -10px;
                        color: #FFFFFF;
                        font-size: 48px;
                        b {
                            font-family: db_helvethaica_xregular;
                            font-weight: bold;
                        }
                    }
                    .d2 {
                        color:#FFFFFF;
                        .header {
                            font-size: 36px;
                            color :#FFFFFF;
                            font-family: db_helvethaica_x_med;
                        }
                        .gold {
                            color :#FFFFFF;
                            font-family: db_helvethaica_x_med;
                        }
                        ul {
                            list-style-image: url('../images/product/progress_gold/s5_bullet_desktop.png');
                            margin-left: -20px;
                            li {
                                margin: 10px 0;
                            }
                        }

                        .remark {
                            margin-top:10px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .bg-curve{
        	position: absolute;
		    bottom: -70px;
		    width: 100%;
		    z-index: 5;
        }
    }
    .s5_bg {
        background-image: url("../images/product/progress_gold/s5_bg.jpg");
        overflow: hidden;
        .panel_align {
            .detail_panel {
                .header_panel {
                    text-align: left;
                    font-family: db_helvethaica_x_li;
                    font-size: 80px;
                    color: #8e6d1d;
                    margin-top: 53px;
                    width: 516px;
                }
                .picture_panel {
                    img {
                        margin-top: 40px;
                    }
                }
                .description_panel {
                    text-align: left;
                    color: #666;
                    width: 513px;
                    ul {
                        list-style-image: url('../images/product/progress_gold/s5_bullet_desktop.png');
                        margin-left: -20px;
                        li {
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
    .s6_bg {
        background-color: #eff4fc;
        overflow: hidden;
        .panel_align {
            .detail_panel {
                .header_panel {
                    text-align: left;
                    font-family: db_helvethaica_x_li;
                    font-size: 48px;
                    color: #8e6d1d;
                    margin-top: 53px;
                    width: 516px;
                    position: relative;
                    z-index: 10;
                }
                .picture_panel {
                    width:759px;
                    position: absolute;
                    right:0;
                    top:0;
                    z-index: 9;
                    img {
                        margin-top: -176px;
                        margin-left: 164px;
                    }
                }
                .description_panel {
                    text-align: left;
                    color: #666;
                    width: 525px;
                    position: relative;
                    z-index: 10;
                    ul {
                        list-style-image: url('../images/product/progress_gold/s5_bullet_desktop.png');
                        margin-left: -14px;
                        li {
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
    .s7_bg {
        background-image: url("../images/product/progress_gold/s7_bg.jpg");
        overflow: hidden;
        .panel_align {
            .detail_panel {
                .header_panel {
                    font-family: db_helvethaica_x_li;
                    color: #8e6d1d;
                    margin-top: 36px;
                    .l1 {
                        font-size: 48px;
                    }
                    .l2 {
                        font-size: 60px;
                        line-height: 57px;
                    }
                }
                .description_panel {
                    width:100%;
                    margin-top: 28px;
                    .panel_s {
                        display: inline-block;
                        width:47.8%;
                        vertical-align: top;
                        .head_s {
                            vertical-align: top;
                            background: url('../images/product/progress_gold/s7_head_box.png') transparent no-repeat center;
                            background-size: contain;
                            display: inline-block;
                            width:114px;
                            height:93px;
                            line-height: 93px;
                            color:#FFF;
                            text-align: center;
                            font-size: 36px;
                        }
                        .description_s {
                            padding-left:10px;
                            vertical-align: top;
                            display: inline-block;

                            text-align: left;
                            color:#8e6d1d;
                            padding-top: 3px;
                            span {
                                font-size: 18px;
                            }
                        }
                        .table {
                            .desktop_view {
                                table.tb1 {
                                    border:1px solid #EEE;
                                    color:#FFF;
                                    border-radius: 10px;
                                    font-size: 20px;
                                    display: block;
                                    overflow: hidden;
                                    width:442px;
                                    margin: 28px 0px 20px 34px;
                                    tr {
                                        td.head_left_top {
                                            background: #0055a5;
                                            width: 134px;
                                            height: 73px;
                                        }
                                        td.head_top {
                                            background: #156fc4;
                                            width: 308px;
                                            height: 35px;
                                        }
                                        td.head_top1 {
                                            background: #3e8dd7;
                                            width: 77px;
                                            height: 38px;
                                        }
                                        td.head_top2 {
                                            background: #5b9cda;
                                            width: 77px;
                                            height: 38px;
                                        }
                                        td.head_top3 {
                                            background: #7cb6ec;
                                            width: 77px;
                                            height: 38px;
                                        }
                                        td.head_top4 {
                                            background: #97c9f8;
                                            width: 77px;
                                            height: 38px;
                                        }
                                        td.head_left{
                                            background: #64aceb;
                                            width: 134px;
                                            height: 40px;
                                        }
                                        td.b_top_g {
                                            border-top:1px solid #EEE;
                                        }
                                        td.b_left_g {
                                            border-left:1px solid #EEE;
                                        }
                                        td.data {
                                            background: #FFF;
                                        }
                                        td {
                                            vertical-align: middle;
                                            img {
                                                width:19px;
                                                vertical-align: -10%;
                                            }
                                        }
                                    }
                                }
                                table.tb2 {
                                    border:1px solid #EEE;
                                    color:#FFF;
                                    border-radius: 10px;
                                    font-size: 20px;
                                    display: block;
                                    overflow: hidden;
                                    width:444px;
                                    margin: 28px 0px 20px 13px;
                                    tr {
                                        td.head_left_top {
                                            background: #b4820b;
                                            width: 250px;
                                            height: 73px;
                                        }
                                        td.head_right_top {
                                            background: #cea132;
                                            width: 194px;
                                            height: 35px;
                                        }
                                        td.head_left{
                                            background: #dab764;
                                            width: 250px;
                                            height: 40px;
                                        }
                                        td.b_top_g {
                                            border-top:1px solid #EEE;
                                        }
                                        td.data {
                                            background: #FFF;
                                        }
                                        td {
                                            vertical-align: middle;
                                            img {
                                                width:19px;
                                                vertical-align: -10%;
                                                margin: 0 8px;
                                            }
                                            b {
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                }
                            }
                            .mobile_view {
                                display:none;
                            }
                        }
                    }
                }
                .explan {
                    text-align: left;
                    font-family: db_helvethaica_xregular;
                    font-size: 24px;
                    color:#666;
                    margin-left: 54px;
                    img {
                        width:31px;
                        vertical-align: -23%;
                        margin-right: 8px;
                    }
                    span {
                        margin-left: 42px;
                    }
                }
            }
        }
    }
    #article-momtip{
			width: 100%;
			height: auto;
			background: url('../images/home/trick-mom/bg-trick-mom.jpg') top center no-repeat;
			.article-momtip-panel{
				max-width: 950px;
				height: 630px;
				margin: 0 auto;
				.momtip-header{
					width: auto;
					padding: 45px 0 15px;
                      border-top:solid 1px #d2a12a;
					.momtip-header-left{
						 display: inline-block;
                        font-size: 60px;
                        color: #d3bb82;
                        font-family: 'db_helvethaica_x_med';
                        vertical-align: middle;

                        .FXregular{
                                font-family: 'db_helvethaicamonx';
                                font-weight: bold;
                        }
                        .bold{
                            font-family: 'db_helvethaica_xregular';
                        }
					}
					.momtip-header-right{
						font-family: 'db_helvethaica_xregular';
                        display: inline-block;
                        font-size: 24px;
                        color: #7e6b5d;
                        width: 600px;
                        line-height: 26px;
                        vertical-align: middle;
                        padding-left: 25px;
					}
				}


    				.momtip-body{
					max-width: 960px;
  					margin: 0 auto;
  					.trick-mom-box{
		  				width: 100%;
		  				float: left;
						.trick-mom-body-list{
							list-style: none;
							padding: 0;
							font-family: 'db_helvethaica_xregular';
							.list-body-img-panel{
								.list-body{
									float: left;
									width: 280px;
									padding: 10px;
									height: 410px;
									position: relative;
									background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////GQAJyAPKSOz6nwAAAABJRU5ErkJggg==') repeat;
									border-radius: 10px;
									-moz-border-radius: 10px;
									-webkit-border-radius: 10px;
									margin: 0 10px;
									.list-content{
										display: block;
										height: 100%;
										position: relative;
									}
									.list-body-img-panel_cover {
										height: 205px;
										margin: 0 auto;
										position: relative;
										.trick-img{
											border-radius:10px;
											-moz-border-radius: 10px;
								            -webkit-border-radius: 10px;
										}
										.list-body-svg{
											margin: 0 auto;
											display: block;
											width: 228px;
										}
										.list-body-image{
											margin: 0 auto;
										}
										.list-body-logo{
											position: absolute;
											right: 20px;
											bottom: -10px;
											width:48px;
											height:48px;
										}
										.spite1 {
											background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
											background-position: 0px 0px;
										}
										.spite2 {
											background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
											background-position: -48px 0px;
										}
										.spite3 {
											background:url('../images/home/trick-mom/logo-mom-spite.png') transparent no-repeat;
											background-position: -96px 0px;
										}
										.cover-video{
											position: absolute;
											left: 0;
											right: 0;
											margin: 0 auto;
											width: 72px;
											height: 72px;
											top: 32%;
										}
									}
									.list-body-content-panel{
										overflow: hidden;
										margin: 10px 0 15px 0;
										.view-panel {
											.view_icon {
												float: left;
												width: 28px;
												margin-top: 3px;
											}
											.view_number {
												font-size: 18px;
												color: #a87914;
												margin-left: 5px;
											}
										}
										.list-body-title{
											color: #4d4d4d;
											font-size: 24px;
											margin: 0 0 10px;
										}
										.txt{
											letter-spacing: 0.2px;
										}
										.txt-blue{
											font-family: db_helvethaica_bold;
											font-size: 26px;
											line-height: 26px;
											color: #0b3e8d;
											-webkit-font-smoothing: antialiased;
											-moz-osx-font-smoothing: grayscale;
										}
										.txt-gold{
											font-family: db_helvethaica_x_med;
											font-size: 24px;
											color: #a87914;
											-webkit-font-smoothing: antialiased;
											-moz-osx-font-smoothing: grayscale;
										}
										.txt-black{
											font-family: db_helvethaica_xregular;
											font-size: 26px;
											line-height: 24px;
											color: #000;
											margin-top: 10px;
											-webkit-font-smoothing: antialiased;
											-moz-osx-font-smoothing: grayscale;
										}
										.list-body-desc{
											color: #666666;
											font-size: 22px;
											margin: 0 0 0 0;
										}
									}
									.list-body-link{
										position: absolute;
										bottom: 15px;
										left: 0;
										right: 0;
										text-align: center;
										img{
											margin: 0 auto;
										}
									}
									.list-body-link-bookmark{
										position: absolute;
										bottom: 15px;
										left: 0;
										right: 0;
										text-align: center;
										border: 1px solid #8e6d1d;
										width: 113px;
										height: 34px;
										text-align: center;
										margin: 0 auto;
										line-height: 34px;
										border-radius: 3px;
										-webkit-border-radius: 3px;
										-moz-border-radius: 3px;
										img{
											display: inline-block;
											vertical-align: -9%;
											margin-right: 3px;
										}
										.text-bookmark{
											vertical-align: middle;
											color: #6b4e08;
											font-size: 24px;
										}
									}
								}
							}
						}
					}
					.mobile{
						margin:0;
					}
				}
			}
			@arrow-left: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAAB5klEQVRIS2NkIB8wMjAwsDAwMDAxMDD8YWBg+AsSIAeA9HGsqFUMlRJhy1my51XIrM3vn5JjGNiglXWKSQri7BMYGRlYfvz+f9ou/6YtqYaBDVpVq5isIMk+EeTF//8Zft5+8jMmpv3+RlIMw2rQ1YffYpK6Hm1hYGD4SaxhoEDmWNOolC4nytYDcxGyQQwMDP+JMQxs0PpmlXxpYZY2UGz9+8/w5frD7/GJXQ+3gVwEMggkTsgwrAZduv09LG3Cw30MDAy/YAYRMgxkEOfaJsV8WRH2VpiLcBmEzzCwQZtaVGokhFgqiDEIl2EQg5pVaiWEWcrBBv1jeH/q6pfAvOlPTqB7DTnFo4cZPoOOMzAw/EYOI/Ssg2wYyCCubW0qzSICLAVoLiJoELI3wQbt6FDpEuJjyQRJ/P337+XRaz9CSqY9OkXIRTAXglyG1aBD57/5lc99coFYg2AuY9vRpdInxMOSDRL48/f/qz2nvwTULXp6FhrYRJcqIJdR1TCqehPkDawGHr/6PbRo+uOTxIYbRtLY2q7SJMrPUkhJ0oAFMtUSLTEGkpSdUA2kQkZHMZAaRRCygRilLDmFI14DySm2UQykRoWCXChg1JnkVHV4DSSnEkYxkBrNAxQDqdFwQTYQpUkFAAZ8dFDsPdd8AAAAAElFTkSuQmCC') no-repeat;
			@arrow-right: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAgCAYAAADwvkPPAAABw0lEQVRIS2NkgABmBgYGFgYGhn8MDAx/GBgY/kPFSaIYQQal+QpKx7iIrXn25teUiOb7qxkYGH6QYyDIMPZDE9UPc7Aymv7/z/DnwcufBeFN9+eRYyDIMNYllYr+qjLsSxgZGdhBXn3w/Gd+WPP9uaQaCDIM7Lp5ZXI+2vJcFBkIMggEsBr46PWvkpD6ezOhLgRFDl4AMwxu4PwyeS9Nec6FTIwMPCDBp2//VAXW3plIjIHIhsEMZJtVIO+kp8q5ilQD0Q3DaeDjNz+rg+vug1z4HZoeMbyMzTCcBr5496fDr+ZOCy4DcRkGN3BSpoyFmTbPeiYmBkGQ4Iu3fzr9au80YzMQn2EwA1knZcpYEmMgIcNwGvjmw58JXlV3ahkYGL7BwpAYw+AG9mTJmVlrcaxhZmISBwm++/RnukfFnTKYgcQaBjewM1nGwM6QaxM2A0kxDJYU2JripI1dTHk2sDAzioFd+OXPVI+yO0UDZhi4hKGGN8EG9WXKmltqc66mJALABqGntdcf//R7V96pIyVpYDUIVy6gS3YCWYJRFJGT0bEaRE4RhNUgYktbmhTbVKtQqFrVUbUSpmrzgKoNF6o1qQC3rDhAu/Xn4AAAAABJRU5ErkJggg==') no-repeat;
			.slick-prev:before {
				content: none;
				background:@arrow-left;
			}
			.slick-next:before{
				content: '';
				background: @arrow-right;
			}
			.slick-prev{
				background: @arrow-left;
			}
			.slick-next{
				background: @arrow-right;
			}
			.slick-prev, .slick-next{
				height: 35px;
			}
			.slick-prev:hover, .slick-prev:focus{
				background: @arrow-left;
			}
			.slick-next:hover, .slick-next:focus{
				background: @arrow-right;
			}
			.slick-disabled{
				display: none !important;
			}
		}
}
@media (min-width: 768px) {
    #s26_progress_gold {
        .section {
            .panel_align {
                .detail_panel {
                    .right {
                        float:right;
                    }
                    .left {
                        float:left;
                    }
                }
            }
        }
        .s1_bg {
            .panel_align {
                height: 500px;
            }
        }
        .s2_bg {
            .panel_align {
                height: 610px;
            	/*.img-curve {
				    bottom: 0;
				    left: 0;
				    right: 0;
				}*/
            }
        }
        .s3_bg {
            .panel_align {
                height: 506px;
            }
        }
        .s4_bg {
            height: 826px;
            .panel_align {
                .detail_panel {
                    .description_panel {
                        .d3 {
                            width: 590px;
                            height: 121px;
                            position: relative;
                            text-align: center;
                            overflow: hidden;
                            border: 1px solid #eee;
                            border-radius: 10px;
                            margin-top: 22px;
                            .cell1 {
                                background-color: #d7ad49;
                                color: #444;
                            }
                            .cell2 {
                                background-color: #edc667;
                                color: #444;

                            }
                            .cell3 {
                                background-color: #fedd8d;
                                color: #444;

                            }
                            .cell {
                                background-color: #FFF;
                                color: #666;

                            }
                            .DrowA {
                                position: absolute;
                                height:53px;
                                line-height: 55px;
                                top:0px;
                            }
                            .DrowB {
                                position: absolute;
                                height:70px;
                                line-height: 70px;
                                top: 53px;
                            }
                            .Dcol1 {
                                width: 196px;
                                left:0px;
                            }
                            .Dcol2 {
                                width: 198px;
                                left:196px;
                            }
                            .Dcol3 {
                                width: 196px;
                                left: 394px;
                            }
                            .border {
                                border-left:1px solid #EEE;
                            }
                        }
                    }
                }
            }
        }
        .s5_bg {
            .panel_align {
                height: 435px;
            }
        }
        .s6_bg {
            .panel_align {
                height: 430px;
            }
        }
        .s7_bg {
            .panel_align {
                height: 597px;
            }
        }
    }
}
@media (max-width: 767px) {
    #s26_progress_gold {
        //Main Structure
        .fixed-panel{
            width: 100%;
            height: calc(~"100vw * 8.374");
            min-height: 1430px;
            margin: 0 auto;
            .panel-plot{
                &.panel1{
                    top: 1090px;
                }
                &.panel2{
                    top: 2110px;
                }
                &.panel3{
                    top: 2890px;
                }
                &.panel4{
                    bottom: 0;
                }
            }
        }

        a.offset_y {
            display: block;
            position: relative;
            top: -50px;
            visibility: hidden;
        }
        width:100%;
        padding-top: 150px;
        .section {
            .panel_align {
                width:100%;
                padding-top:10px;
                .detail_link {
                    width:280px;
                    margin:0 auto;
                    .inner_detail_link {
                        margin: 7px 0px;
                        display: inline-block;
                        .inner_link_btn {
                            width:275px;
                        }
                        .inner_link_btn:hover{

                        }
                    }
                }
                .detail_panel {
                    padding:0 20px;
                    .picture_panel {
                    }
                    .description_panel {

                    }
                }
            }
        }
        //end Main Structure
        .banner{
            background-image: url("../images/product/progress_gold/banner-mobile.jpg");
        }
        .s1_bg {
            padding-top: 60px;
            .panel_align {
                .detail_panel {
                    .picture_panel {
                        width:280px !important;
                        text-align: center;
                        margin:0 auto;
                        img {
                            width: 260px;
                            margin: 40px auto 0px;
                            position: relative;
                            top: auto;
                            left: auto;
                        }
                    }
                    .description_panel {
                        width:100%;
                        .d1 {
                            font-size: 50px;
                        }
                        .d2 {
                            font-size: 36px;
                            line-height: 13px;
                            .name1 {

                            }
                            .name2 {

                            }
                        }
                        .d3 {
                            line-height: 31px;
                            margin-top: 6px;
                            .quote1 {
                                font-size: 77px;
                                vertical-align: -21%;
                                font-weight: normal;
                            }
                            .text {
                                font-size: 20px;
                            }
                            .quote2 {
                                font-size: 77px;
                                vertical-align: -41%;
                                font-weight: normal;
                            }
                        }
                        .d4 {

                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .s2_bg {
            /*background-image: url("../images/product/progress_gold/s2-05.jpg");*/
            overflow: hidden;
            position:relative;
            height: 65vw;
            .layer2_kid {
                background-image: url("../images/product/progress_gold/s2-06.png");
                background-position: bottom;
                background-size: 150vw;
                width:100%;
                height: inherit;
                position: absolute;
                text-align: center;
                margin:0 auto;
                bottom:0;
                left:0;
                right:0;
            }
            .bar_img {
                width:100%;
                position:absolute;
                bottom:0;
                height:75px;
            }
            .panel_align {
                width: inherit;
                height: inherit;
                padding-top: 0px;
                img{
                	width: 100vw;
                }
                .img-curve {
				    bottom: 0;
				    left: 0;
				    right: 0;
				}
                .top_text {
                    margin-top:10px;
                    img {
                        width: calc(~"100% - 40px");
                    }
                }
                .bottom_text_and_pic_align {
                    width: 100%;
                    position: absolute;
                    bottom:0;
                    .bottom_text_and_pic {
                        position: relative;
                        .text {
                            position: absolute;
                            left: 20px;
                            bottom: 20px;
                            width: 60vw;
                        }
                        .pic {
                            position: absolute;
                            right: 0;
                            bottom: -10px;
                            width: 30vw;
                        }
                    }
                }
            }
        }
        .s3_bg {
            .panel_align {
                margin-bottom: 20px;
                .detail_panel {
                    .picture_panel {
                        width:100%;
                        margin: 16px auto 0;
                        img {
                            width:280px;
                        }
                    }
                    .description_panel_left {
                        position: relative;
                        left: 0px;
                        top: 0px;
                        z-index: 10;
                        text-align: left;
                        font-family: db_helvethaica_xregular;
                        .d1 {
                            color: #0b3e8c;
                            font-size: 40px;
                        }
                        .d2 {
                            color: #0b3e8c;
                            font-size: 24px;
                            line-height: 24px;
                            .bold {
                                font-family: db_helvethaica_xregular;
                                font-weight: bold;
                            }
                        }
                        .d3 {
                            color: #0b3e8c;
                            font-size: 24px;
                            .italic {
                                font-style: italic;
                            }
                        }
                        .pic_mobile {
                            display: none;
                        }
                        .d4 {
                            color:#666;
                            margin-top: -15px;
                            font-size: 18px;
                            font-family: db_helvethaica_xregular;
                            width: inherit;
                            img {
                                position:relative;
                                top: 7px;
                                margin-right: 8px;
                                width: 170px;
                            }
                            p {
                                span.blue {
                                    font-family: db_helvethaica_xregular;
                                    font-size: 22px;
                                    color: #0b3e8d;
                                }
                                margin:13px 0px;
                                b {

                                }
                            }
                        }
                    }
                    .description_panel_right {

                        font-family: db_helvethaica_xregular;
                        width: 100%;
                        margin-top: -10px;
                        margin-bottom: 23px;
                        font-size: 18px;
                        p {
                            margin: 8px 0px;
                        }


                    }
                }
            }
        }
        .s4_bg {
            background-image: url("../images/product/progress_gold/s4_bg.png");
            img.bar_img{
            	width: 100%;
			    position: relative;
			    bottom: -4px;
			    height: 75px;
            }
            .panel_align {
                padding-bottom: 20px;
                /*padding-bottom: 20px;*/
                .detail_panel {
                    .header_panel {
                        text-align: left;
                        font-family: db_helvethaica_x_li;
                        font-size: 40px;
                        color: #FFFFFF;
                        margin-top: 8px;
                    }
                    .picture_panel {
                        position: relative;
                        top: 20px;
                        right: 0px;
                        margin: 0 auto;
                        width: 100%;
                        img {
                            width: 280px;
                        }
                    }
                    .description_panel {
                        text-align: left;
                        color: #FFFFFF;
                        margin-top: 20px;
                        width: 100%;
                        .d1 {
                            margin-top: -10px;
                            color: #FFFFFF;
                            font-size: 30px;
                            b {
                                font-family: db_helvethaica_xregular;
                                font-weight: bold;
                            }
                        }
                        .d2 {

                            .header {
                                font-size: 24px;
                            }
                            color:#FFF;
                            font-size: 18px;
                            ul {
                                list-style-image: url('../images/product/progress_gold/s5_bullet_mobile.png');
                                margin-left: -19px;
                                li {
                                    margin: 5px 0;
                                }
                            }
                        }
                        .d3 {
                            position: relative;
                            font-size: 18px;
                            text-align: center;
                            border-radius: 10px;
                            overflow: hidden;
                            border: 1px solid #eee;
                            width:280px;
                            height:105px;
                            line-height: 36px;
  /*                          margin-top: 15px;
                            margin-bottom: 23px;
                            margin-left: -1px;*/
                            margin:15px auto 23px;
                            .cell1 {
                                background-color: #d7ad49;
                                color: #444;
                            }
                            .cell2 {
                                background-color: #edc667;
                                color: #444;

                            }
                            .cell3 {
                                background-color: #fedd8d;
                                color: #444;

                            }
                            .cell {
                                background-color: #FFF;
                                color: #666;

                            }
                            .border {
                                border-top:1px solid #EEE;
                            }
                            .Mcol1 {
                                position: absolute;
                                left:0px;
                                width:140px;
                            }
                            .Mcol2 {
                                position: absolute;
                                left:140px;
                                width:140px;
                            }
                            .Mrow1 {
                                top:0px;
                                height:35px;
                            }
                            .Mrow2 {
                                top:35px;
                                height:35px;
                            }
                            .Mrow3 {
                                top:70px;
                                height:35px;
                            }
                        }
                    }
                }
            }
        }
        .s5_bg {
            .panel_align {
                .detail_panel {
                    .header_panel {
                        font-size: 40px;
                        color: #8e6d1d;
                        margin-top: 4px;
                        width: 280px;
                    }
                    .picture_panel {
                        width:100%;
                        img {
                            margin-top: 10px;
                            width:280px;
                        }
                    }
                    .description_panel {
                        color: #666;
                        font-size:18px;
                        width: 100%;
                        margin: 18px 0px;
                        ul {
                            list-style-image: url('../images/product/progress_gold/s5_bullet_mobile.png');
                            margin-left: -19px;
                            li {
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }
        .s6_bg {
            .panel_align {
                width:100%;
                margin:0;
                .detail_panel {
                    .header_panel {
                        font-size: 30px;
                        margin-top: 3px;
                        width: 516px;
                    }
                    .picture_panel {
                        position: relative;
                        right: 50px;
                        top: -67px;
                        z-index: 9;
                        margin: 0 auto;
                        width:100%;
                        img {
                            margin-top: -62px;
                            margin-left: 36px;
                            width: 316px;
                        }
                    }
                    .description_panel {
                        width: 100%;
                        position: relative;
                        margin-top: -80px;
                        font-size: 18px;
                        margin-bottom: 17px;
                        ul {
                            list-style-image: url('../images/product/progress_gold/s5_bullet_mobile.png');
                            margin-left: -20px;
                            li {
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }
        }
        .s7_bg {
            .panel_align {
                .detail_panel {
                    .header_panel {
                        margin-top: 10px;
                        .l1 {
                            font-size: 24px;
                        }
                        .l2 {
                            font-size: 30px;
                            line-height: 30px;
                        }
                    }
                    .description_panel {
                        margin-top: 14px;
                        .panel_s {
                            display: inline-block;
                            width:100%;
                            vertical-align: top;
                            .head_s {
                                width:68px;
                                height:54px;
                                line-height: 60px;
                                font-size: 20px;
                            }
                            .description_s {
                                margin-top: -4px;
                                padding-left: 8px;
                                padding-top: 0px;
                                width: 70%;
                                font-size: 18px;
                            }
                            .table {
                                .desktop_view {
                                    display:none;
                                }
                                .mobile_view {
                                    display:block;
                                    padding-top: 16px;
                                    table.tb1 {
                                        border:1px solid #EEE;
                                        color:#FFF;
                                        border-radius: 10px;
                                        font-size: 18px;
                                        display: inline-block;
                                        overflow: hidden;
                                        width:280px;
                                        margin: 0px 0px 20px 0px;
                                        tr {
                                            td.head_top {
                                                background: #0055a5;
                                                width: 280px;
                                                height: 38px;
                                            }
                                            td.head_top1 {
                                                background: #3e8dd7;
                                                width: 70px;
                                                height: 38px;
                                            }
                                            td.head_top2 {
                                                background: #5b9cda;
                                                width: 70px;
                                                height: 38px;
                                            }
                                            td.head_top3 {
                                                background: #7cb6ec;
                                                width: 70px;
                                                height: 38px;
                                            }
                                            td.head_top4 {
                                                background: #97c9f8;
                                                width: 70px;
                                                height: 38px;
                                            }
                                            td.b_left_g {
                                                border-left:1px solid #EEE;
                                            }
                                            td.data {
                                                background: #FFF;
                                                height: 38px;
                                            }
                                            td {
                                                vertical-align: middle;
                                                img {
                                                    width:25px;
                                                    vertical-align: -27%;
                                                }
                                            }
                                        }
                                    }
                                    table.tb2 {
                                        border:1px solid #EEE;
                                        color:#FFF;
                                        border-radius: 10px;
                                        font-size: 18px;
                                        display: inline-block;
                                        overflow: hidden;
                                        width:280px;
                                        margin: 0px 0px 20px 0px;
                                        tr {
                                            td.head_top {
                                                background: #b4820b;
                                                width: 280px;
                                                height: 55px;
                                            }
                                            td.head_left{
                                                background: #cea132;
                                                height: 55px;
                                            }
                                            td.data {
                                                width:176px;
                                                background: #FFF;
                                            }
                                            td {
                                                vertical-align: middle;
                                                img {
                                                    width:25px;
                                                    vertical-align: -27%;
                                                    margin: 0 6px;
                                                }
                                                b {
                                                    font-size: 18px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .explan {
                        margin-left: 0px;
                        margin-bottom: 26px;
                    }
                }
            }
        }
        #article-momtip{
        	.slick-prev, .slick-next{
				top: 25%;
			}
			.slick-prev{
				left: 15px;
			}
			.slick-next{
				right: 15px;
			}
				.article-momtip-panel{
					width: 90%;
					.momtip-header{
						padding: 15px 0;
						.momtip-header-left{
							width: 100%;
							margin: 0px;
							text-align: center;
							font-size: 45px;
						}
						.momtip-header-right{
							width: 100%;
							font-size: 20px;
						}
					}
					.momtip-body{
						.trick-mom-box{
							.trick-mom-body-list{
								width: 290px;
								margin: 0 auto;
								list-style: none;
								.list-body-img-panel{
									.list-body{
										width: 260px;
										margin: 0px;
										.list-body-img-panel_cover{
											.trick-img{
												width: 260px;
											}
										}
									}
								}
								.slick-slide{
									margin: 0 5px;
								}
								.slick-dots {
									display:none !important;
								}
							}
						}
					}
				}
			}
    }

}