#wapPromotionDetail{
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #fff2c6;
	.detail-panel{
		/*background: url(../images/promotion/bg_object_promotion_new.jpg) top center no-repeat;*/
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding-top: 50px;
		padding-bottom: 50px;
		#detail-content{
			max-width: 960px;
			margin: 0 auto;
			padding-top: 50px;
			padding: 0;
			.detail-wapper{
				margin: 30px 0;
			}
			#detail-title{
				font-size: 36px;
				color: #0b3e8d;
				margin: 0 0 10px 0;
				padding: 0;
				font-family: "db_helvethaica_x_li";
				font-weight: normal;
  				font-style: normal;
			}
			#detail-bar{
				#detail-date{
					padding-right: 10px;
					border-right: 1px solid #f0d78f;
					font-size: 20px;
					color: #8e6d1d;
				}
				#detail-views{
					padding: 0 10px 0 0; 
					border-right: 1px solid #f0d78f;
					font-size: 20px;
					color: #96772f;
					.icon-view{
						width: 25px;
						vertical-align: middle;
						padding: 0 5px 0 0;
					}
				}
				#detail-share{
					padding-left: 10px;
					#facebook{
						display: inline-block;
						.icon-share{
							width: 70px;
							vertical-align: middle;
							margin: 0 5px 0 0;
						}
					}
					#twitter{
						display: inline-block;
						.icon-twitter{
							width: 80px;
							vertical-align: middle;
						}
					}
				}
				#detail-wrapper{
					img{
						width: auto;
						max-width: 100%;
						max-height: 100%;
					}
					margin: 30px 0;
				}
			}
		}
	}
}



@media screen and (max-width: 767px) {
	#wapPromotionDetail{
		.detail-panel{
			/*background: url(../images/knowledge/m_bg_object_promotion_new.jpg) top center no-repeat;*/
			background-position: center center;
			background-repeat: no-repeat;
			margin-top: 50px;
			padding-top: 0px;
			background-size: 100%;
			#detail-content{
				// margin-top: 50px;
				padding: 0 20px;
				padding-top: 30px;
				#detail-title{
				}
				#detail-bar{
					#detail-date{
					}
					#detail-views{
						.icon-view{
						}
					}
					#detail-share{
						display: block;
						padding: 10px 0 0;
						#facebook{
							.icon-share{
								width: 120px;
							}
						}
						#twitter{
							.icon-twitter{
								width: 130px;
							}
						}
					}
					#detail-wrapper{
						img{
						}
					}
				}
			}
		}
	}
}