.color-title{
	color: #8e6d1e;
}
.color-description{
	color: #666666;
}
#main-policy-panel{
	position: relative;
	#main-policy-panel-inner{
		background: url("../images/knowledge/bg_object_knowledge.jpg") top center no-repeat;
		background-size: cover;
		width: 100%;
		overflow: hidden;
		#panel-box{
			margin: 40px auto 60px auto;
			padding: 40px 0 20px 0;
			max-width: 952px;
			background: #fff;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			#panel-box-inner{
				padding: 0 30px;
				#main-policy-title{
					margin: 0;
					padding: 0;
					margin-bottom: 40px;
					font-size: 50px;
					line-height: 50px;
					font-weight: normal;
					text-align: center;
				}
				#main-policy-description{
					margin: 0;
					padding: 0;
					margin-bottom: 20px;
					font-size: 30px;
					line-height: 30px;
					font-weight: normal;
				}
				#list-policy{
					list-style: none;
					padding: 0;
					margin: 0;
					.list{
						margin-bottom: 15px;
						font-size: 24px;
						display: block;
						.list-title{
							font-size: 26px;
						}
					}
				}
			}
		}
	}
}