@import "bootstrap/normalize.less";
@import "core/reset.less";

body{
	font-size: 13px;
	font-family: Tahoma,Geneva,sans-serif;
}

#tinymce{
	width: 100%;
	img{
		width: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

@media (max-width: 767px){
	#tinymce img {
		max-width: 100%;
		// height: auto !important;
	}
}

