@import "mixins.less";
#component{
	.navSlide(){
		.slick-prev{
			width: 58px;
			height: 58px;
			background:url('../images/smartbrand/btnPrev.png') no-repeat center center;
			text-indent: -9999px;
			left:340 / 1920 * 100%;
			margin-top:-58px * 0.5;
			z-index: 2;
			@media(max-width: 768px){
				background-size: contain;
				left: 15px;
				width: 30px;
				height: 30px;
				margin-top:-15px;
			}
			}
		.slick-next{
			width: 58px;
			height: 58px;
			background:url('../images/smartbrand/btnNext.png') no-repeat center center;
			text-indent: -9999px;
			right:340 / 1920 * 100%;
			margin-top:-58px * 0.5;
			z-index: 2;
			@media(max-width: 768px){
				background-size: contain;
				right: 15px;
				width: 30px;
				height: 30px;
				margin-top:-15px;
			}
		}
	}
	.navSlide2(){
		.slick-prev{
			width: 58px;
			height: 58px;
			background:url('../images/smartbrand/btnPrev.png') no-repeat center center;
			text-indent: -9999px;
			left:340 / 1920 * 100%;
			margin-top:-58px * 0.5;
			z-index: 2;
			top:42%;
			@media(max-width: 768px){
				background-size: contain;
				width: 30px;
				height: 30px;
				margin-top:-15px;
				left:15px;
			}
			}
		.slick-next{
			width: 58px;
			height: 58px;
			background:url('../images/smartbrand/btnNext.png') no-repeat center center;
			text-indent: -9999px;
			right:340 / 1920 * 100%;
			margin-top:-58px * 0.5;
			z-index: 2;
			top:42%;
			@media(max-width: 768px){
				background-size: contain;
				right: 15px;
				width: 30px;
				height: 30px;
				margin-top:-15px;
			}
		}
	}
	.navSlide3(){
		.slick-prev{
			width: 58px;
			height: 58px;
			background:url('../images/smartbrand/btnPrev.png') no-repeat center center;
			text-indent: -9999px;
			left: -25px;
			margin-top:-58px * 0.5;
			z-index: 2;
			@media(max-width: 768px){
				background-size: contain;
				left: 20%;
				width: 30px;
				height: 30px;
				margin-top:-15px;
				margin-left:15px;
			}
			}
		.slick-next{
			width: 58px;
			height: 58px;
			background:url('../images/smartbrand/btnNext.png') no-repeat center center;
			text-indent: -9999px;
			right: -25px;
			margin-top:-58px * 0.5;
			z-index: 2;
			@media(max-width: 768px){
				background-size: contain;
				right: 20%;
				width: 30px;
				height: 30px;
				margin-top:-15px;
				margin-right:15px;
			}
		}
	}
		.dotsSlide3(){

		.slick-dots{
			bottom: -40px;
			@media(max-width: 768px){
				bottom: -20px;
			}
			li{
				width: 20px;
				height: 20px;
				@media(max-width: 768px){
					width: 10px;
					height: 10px;
				}
				&:only-child{
					display:none;
				}
				button{
					width: 20px;
					height: 20px;
					display: block;
					background-color:#c58936;
					.border-radius(100%);
					.transition(all 0.6s);
					@media(max-width: 768px){
						width: 10px;
						height: 10px;
					}
					&:before{
						display:none;
					}
				}
				&.slick-active{
					button{
						background-color:#a06230;
						/*@include box-shadow(0,0,2px,2px,#edd28d);*/
						.transition(all 0.6s);
					}
				}
			}
		}
	}
	.dotsSlide(){

		.slick-dots{
			bottom: 40px;
			@media(max-width: 768px){
				bottom: 20px;
			}
			li{
				width: 20px;
				height: 20px;
				@media(max-width: 768px){
					width: 10px;
					height: 10px;
				}
				&:only-child{
					display:none;
				}
				button{
					width: 20px;
					height: 20px;
					display: block;
					background-color:#c58936;
					.border-radius(100%);
					.transition(all 0.6s);
					@media(max-width: 768px){
						width: 10px;
						height: 10px;
					}
					&:before{
						display:none;
					}
				}
				&.slick-active{
					button{
						background-color:#a06230;
						/*@include box-shadow(0,0,2px,2px,#edd28d);*/
						.transition(all 0.6s);
					}
				}
			}
		}
	}


}
#smartbrain{
	@media(max-width: 768px){
		padding-top:150px;
	}
	.smart_banner{
		.smart_banner_slide{
			margin:0;
			#component .dotsSlide();
			#component .navSlide();
		}
	}

	.smart_foundation{
		.smart_foundation_slide{
			margin:0;
			#component .dotsSlide();
			#component .navSlide();
		}
	}

	.smart_doc{
		.smart_doc_slide{
			margin:0;
			#component .navSlide2();
		}
	}

	.smart_video{
		.smart_video_wrap{
			position: relative;
			.wrapvideo{
				position: absolute;
				width: 972 / 1920 * 100%;
				left:475 / 1920 * 100%;
				top:220 / 1115 * 100%;
				@media(max-width: 768px){
					width:100%;
					left:0%;
					top:445 / 1683 * 100%;
				}
			}
			.video{
				width:100%;
				margin:0 auto;
				@media(max-width: 768px){
					width: 100%;
				}
			}

		}
	}

	.boxSlide4{
		position: relative;
		.wrap_slide{
			position: absolute;
			width: 972 / 1920 * 100%;
			left:475 / 1920 * 100%;
			top:250 / 648 * 100%;
			#component .dotsSlide3();
			#component .navSlide3();

			@media(max-width: 768px){
				width:100%;
				left:0%;
			}
		}
	}
	.boxSlide8{
		position: relative;
		.wrap_slide{
			position: absolute;
			width: 972 / 1920 * 100%;
			left:475 / 1920 * 100%;
			top:100 / 648 * 100%;
			#component .dotsSlide3();
			#component .navSlide3();
			@media(max-width: 768px){
				width:100%;
				left:0%;
			}
		}
	}

		.embed-responsive {
	  position: relative;
	  display: block;
	  height: 0;
	  padding: 0;
	  overflow: hidden;

	  .embed-responsive-item,
	  iframe,
	  embed,
	  object {
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    height: 100%;
	    width: 100%;
	    border: 0;
	  }

	  // Modifier class for 16:9 aspect ratio
	  &.embed-responsive-16by9 {
	    padding-bottom: 56.25%;
	  }

	  // Modifier class for 4:3 aspect ratio
	  &.embed-responsive-4by3 {
	    padding-bottom: 75%;
	  }
	}


}