@bg-desktop: url('../images/sphingomyelin/bg.jpg') no-repeat;
@btn-menu-1: url('../images/sphingomyelin/menu01.png') no-repeat;
@btn-menu-2: url('../images/sphingomyelin/menu02.png') no-repeat;
@btn-menu-3: url('../images/sphingomyelin/menu03.png') no-repeat;

@btn-submenu-1: url('../images/sphingomyelin/page03/btn01.png') no-repeat;
@btn-submenu-1-active: url('../images/sphingomyelin/page03/btn01-active.png') no-repeat;
@btn-submenu-2: url('../images/sphingomyelin/page03/btn02.png') no-repeat;
@btn-submenu-2-active: url('../images/sphingomyelin/page03/btn02-active.png') no-repeat;
@btn-submenu-3: url('../images/sphingomyelin/page03/btn03.png') no-repeat;
@btn-submenu-3-active: url('../images/sphingomyelin/page03/btn03-active.png') no-repeat;

@bg-mobile: url('../images/sphingomyelin/bg-mobile.jpg') no-repeat;

@bg-btn-detail: url('../images/sphingomyelin/detail/bg-btn.png') no-repeat;
@bg-btn-detail-mobile: url('../images/sphingomyelin/detail/bg-btn-mobile.png') no-repeat;
@bg-btn-detail-hover: url('../images/sphingomyelin/detail/bg-btn-hover.png') no-repeat;
@bg-btn-detail-hover-mobile: url('../images/sphingomyelin/detail/bg-btn-hover-mobile.png') no-repeat;

@gold: #9b7b30;
@brown: #B0873F;
@grey: #4B4949;
@white: #fff;
@blue: #0052A1;

.font(@font,@line-height:@font){
	font-size: @font;
	line-height: @line-height;
}

.sphingomyelin{
	width: 100%;
	overflow: hidden;
	position: relative;
	color: @gold;
	.sphingomyelin-bg{
		width: 100%;
		height: 100%;
		min-height: 5000px;
		position: absolute;
		top: 0;
		left: 0;
		background: @bg-desktop;
		background-size: cover;
		background-position: top center;
		z-index: 1;
	}
	.sphingomyelin-inner{
		width: 100%;
		max-width: 1042px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		.sphingomyelin-header{
			width: 100%;
			height: calc(~"100vw * 0.35");
			min-height: 650px;
			display: table;
			.sphingomyelin-header-inner{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}
		.menu-panel{
			.menu-title{
				margin: 30px auto 50px;
				text-align: center;
				.font(54px,29px);
			}
			.menu-bar{
				width: 100%;
				text-align: center;
				.sphingomyelin-menu-list{
					width: 240px;
					height: 220px;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
					position: relative;
					&:before{
						content: "";
						display: block;
						position: absolute;
						width: 382px;
						height: 364px;
						pointer-events: none;
					}
					&.menu1{
						width: 220px;
						margin-right: 138px;
						&:before{
							background: @btn-menu-1;
						    top: -52px;
	    					left: -61px;
						}
					}
					&.menu2{
						width: 200px;
						margin-right: 111px;
						&:before{
							background: @btn-menu-2;
					        top: -43px;
	    					left: -71px;
						}

					}
					&.menu3{
						&:before{
							background: @btn-menu-3;
					        top: -52px;
	    					left: -51px;
						}
					}
				}
			}
		}
		.sphingomyelin-content-panel{
			padding-top: 115px;
			padding-bottom: 380px;
			.sphingomyelin-content{
				sup{
					.font(24px,22px);
				}
				.text-line{
					display: inline;
					vertical-align: middle;
				}
				.liner{
					width: 100%;
					border-bottom: 2px dashed @brown;
					box-sizing: border-box;
				}
				.align-center{
					text-align: center;
				}
				&.home{
					.content-text{
						.font(40px,34px);
						padding: 0 15px;
						box-sizing: border-box;
						text-align: left;
						margin-bottom: 50px;
						.text-margin{
							margin-bottom: 15px;
						}
					}
					.content-1000days{
						margin: 65px 0 45px;
						padding: 40px 20px;
						box-sizing: border-box;
						background: rgba(255, 255, 255, 0.5);
						text-align: center;
						.text{
							.font(40px,34px);
						}
						.subtext{
							.font(24px);
							color: @grey;
							margin-bottom: 5px;
						}
					}
					.title-center{
						margin-bottom: 40px;
					}
					.title-content-middle{
						margin-top: 40px;
					}
					.content-middle{
						margin-bottom: 65px;
					}
					.title-content-bottom{
						margin-top: 40px;
					}
					.content-bottom{
						background: rgba(255, 255, 255, 0.5);
						padding: 35px 40px;
						box-sizing: border-box;
						margin-bottom: 50px;
						sup{
							.font(16px);
						}
						.content-box{
							width: 50%;
							display: inline-block;
							vertical-align: middle;
							padding: 10px 0;
							.content-type{
								width: 140px;
								height: 140px;
								border-radius: 50%;
								margin-right: 15px;
								background: @brown;
								color: @white;
								.font(32px,26px);
								display: inline-table;
								vertical-align: middle;
								box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
								.content-type-inner{
								    display: table-cell;
								    vertical-align: middle;
								    text-align: center;
								}
							}
							.content-desc{
								width: calc(~"100% - 155px");
								height: 160px;
								display: inline-table;
								vertical-align: middle;
								.font(28px);
								color: @grey;
							    border-bottom: 2px solid rgba(155,123,48,.3);
								box-sizing: border-box;
								.content-desc-inner{
								    display: table-cell;
    								vertical-align: middle;
								}
							}
						}
						.content-bottom-text{
							.font(28px,32px);
							color: @grey;
							margin-top: 40px;
						}
					}
				}
				&.page-1{
					text-align: center;
					.main-title-box{
						margin-top: 50px;
						.main-title-text{
							.font(54px,24px);
						}
					}
					.title-middle-box{
						margin-top: 40px;
						.title-middle-text{
							.font(40px,20px);
						}
					}
					.title-bottom-box{
						margin-top: 40px;
						.title-bottom-text{
							.font(40px,20px);
						}
					}
					.desc-box{
						margin: 60px 0 40px;
						text-align: left;
					}
				}
				&.page-2{
					text-align: center;
					.main-title-box{
						margin-top: 50px;
						margin-bottom: 40px;
						.main-title-text{
							.font(54px,24px);
						}
					}
					.main-desc-box{
						margin-bottom: 40px;
						.main-desc-text{
							.font(40px,36px);
						}
					}
					.main-bottom-box{
						margin-bottom: 50px;
						.main-bottom-text{
							.font(54px,24px);
						}
					}
					.content-mike-box{
						margin-bottom: 40px;
						&.content1{
							margin-top: 40px;
						}
						.content-mike-text{
							.font(40px,36px);
							margin-top: -10px;
						}
					}
					.img-bottom-box{
						margin-top: 50px;
						img{
							position: relative;
							left: -3%;
						}
					}
				}
				&.page-3{
					.subtitle-box{
						text-align: center;
						margin-top: 50px;
						.subtitle-text{
							.font(54px,24px);
						}
					}
				}
				.submenu-bar{
					text-align: center;
					margin: 55px auto 40px;
					.submenu-list{
						width: 229px;
						height: 111px;
						display: inline-block;
						vertical-align: middle;
						cursor: pointer;
						position: relative;
						margin-right: 98px;
						&:last-child{
							margin-right: 0;
						}
						&:before{
							content: "";
							display: block;
							position: absolute;
							width: 281px;
							height: 142px;
							pointer-events: none;
						    right: 0;
    						bottom: 0;
						}
						&.submenu1:before{
							background: @btn-submenu-1;
						}
						&.submenu2:before{
							background: @btn-submenu-2;
						}
						&.submenu3:before{
							background: @btn-submenu-3;
						}
						&.active{
							&.submenu1:before{
								background: @btn-submenu-1-active;
							}
							&.submenu2:before{
								background: @btn-submenu-2-active;
							}
							&.submenu3:before{
								background: @btn-submenu-3-active;
							}
						}
					}
				}
				.sphingomyelin-subcontent-panel{
					.sphingomyelin-subcontent{
						text-align: center;
						.subcontent-title-box{
							.subcontent-title-text{
								.font(40px,36px);
							}
						}
						.subcontent-subtitle-box{
							margin: 40px auto 50px;
							.subcontent-subtitle-text{
								.font(54px,24px);
							}
						}
						.subcontent-box{
							margin-bottom: 40px;
							&.content1{
								margin-top: 40px;
							}
							.subcontent-text{
								.font(40px,36px);
								margin-top: -10px;
							}
							.subcontent-text2{
								margin-top: 40px;
								.font(40px,36px);
							}
						}
						&.page-2{
							text-align: center;
							.main-title-box{
								margin-top: 50px;
								margin-bottom: 40px;
								.main-title-text{
									.font(54px,24px);
								}
							}
							.main-desc-box{
								margin-bottom: 40px;
								.main-desc-text{
									.font(40px,36px);
								}
							}
							.main-bottom-box{
								margin-bottom: 50px;
								.main-bottom-text{
									.font(54px,24px);
								}
							}
							.content-mike-box{
								margin-bottom: 40px;
								&.content1{
									margin-top: 40px;
								}
								.content-mike-text{
									.font(40px,36px);
									margin-top: -10px;
								}
							}
							.img-bottom-box{
								margin-top: 50px;
								img{
									position: relative;
									left: -3%;
								}
							}
						}
						&.page-3{
							.subcontent-title-box{
								margin-bottom: 40px;
							}
						}
					}
				}

				.sphingomyelin-detail-template{
					margin-top: 70px;
					.sphingomyelin-detail-btn-bar{
						.sphingomyelin-detail-btn{
							display: inline-table;
							vertical-align: middle;
							width: 229px;
							height: 93px;
							margin-right: 40px;
							cursor: pointer;
							color: @blue;
							.font(36px,26px);
							letter-spacing: 0.35px;
							background: @bg-btn-detail;
							background-size: contain;
							&:last-child{
								margin-right: 0;
							}
							&:hover, &.active{
								color: @gold;
								background: @bg-btn-detail-hover;
								background-size: contain;
							}
							span{
								display: table-cell;
								vertical-align: middle;
							}
						}
					}
					.sphingomyelin-detail-content{
						margin-top: 50px;
						.detail-doctor-name{
							color: @blue;
							.font(28px);
						}
						.detail-content{
							margin-top: 60px;
							background: rgba(255,255,255,.3);
							padding-bottom: 35px;
							box-sizing: border-box;
							.font(28px,26px);
							text-align: left;
							color: @grey;
							.detail-banner{
								width: 100%;
								margin-bottom: 50px;
							}
							.detail-title-image{
								padding-top: 25px;
								padding-left: 20px;
								padding-bottom: 20px;
							}
							.detail-box{
								margin-bottom: 25px;
								padding: 0 40px;
								box-sizing: border-box;
								text-indent: 25px;
								&.title{
									text-indent: 0;
								}
								&.space-bottom{
									margin-bottom: 50px;
								}
								.detail-inline-box{
									display: flex;
									.detail-inline{
										width: 300px;
										&.title-detail{
											width: 150px;
										}
										&.last{
											width: auto;
										}
									}
								}
							}
							.detail-image{
								float: right;
								margin-left: 25px;
								margin-bottom: 40px;
								&.last{
									margin-bottom: 0;
								}
							}
						}
						.text-desc{
						    text-align: left;
						    padding-top: 35px;
						    padding-left: 20px;
						    box-sizing: border-box;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.sphingomyelin{
		margin-top: 150px;
		.sphingomyelin-bg{
			min-height: 2000px;
			height: 100%;
			background: @bg-mobile;
			background-size: cover;
			background-position: top center;
		}
		.sphingomyelin-inner{
			.sphingomyelin-header{
				height: calc(~"100vw * 1.056");
				min-height: 350px;
				.sphingomyelin-header-inner{
					img{
						margin: 0 auto;
					    width: calc(~"100% - 30px");
					    max-width: 533px;
					}
				}
			}
			.menu-panel{
				.menu-title{
					margin-top: 80px;
					.font(36px,28px);
					padding: 0 15px;
					img{
						margin: 0 auto;
					    width: calc(~"100% - 80px");
					    max-width: 314px;
					}
				}
				.menu-bar{
					.sphingomyelin-menu-list{
						width: 120px;
						height: 110px;
						&:before{
							width: 191px;
							height: 182px;
							background-size: contain;
						}
						&.menu1{
							width: 120px;
							margin-right: 20px;
							&:before{
							    top: -26px;
    							left: -24px;
		    					background-size: contain;
							}
						}
						&.menu2{
							width: 100px;
							margin-right: 20px;
							&:before{
						        top: -22px;
    							left: -35px;
		    					background-size: contain;
							}

						}
						&.menu3{
							&:before{
					            top: -26px;
    							left: -25px;
		    					background-size: contain;
							}
						}
					}
				}
			}
			.sphingomyelin-content-panel{
				padding-top: 35px;
				padding-bottom: 100px;
			    width: calc(~"100% - 30px");
    			margin: 0 auto;
				.sphingomyelin-content{
					.submenu-bar{
						.submenu-list{
							width: 149px;
    						height: 73px;
							margin-right: 2.5%;
							&:before{
								width: 182px;
    							height: 93px;
							}
							&.submenu1:before, &.submenu1.active:before{
								background-size: contain;
							}
							&.submenu2:before, &.submenu2.active:before{
								background-size: contain;
							}
							&.submenu3:before, &.submenu3.active:before{
								background-size: contain;
							}
						}
					}
					&.home{
						.content-text{
							.font(30px,28px);
							margin-bottom: 30px;
						}
						.content-1000days{
							margin: 35px 0 25px;
							img{
								margin: 0 auto;
								width: calc(~"100% - 40px");
								max-width: 333px;
							}
						}
						.title-center{
							margin: 0 auto 20px;
							width: calc(~"100% - 40px");
							max-width: 572px;
						}
						.title-content-middle{
							margin-top: 20px;
							margin-left: 20px;
						    width: calc(~"100% - 80px");
    						max-width: 417px;
						}
						.content-middle{
							width: calc(~"100% * 1.42");
							position: relative;
							left: -14%;
							margin-bottom: 35px;
						}
						.title-content-bottom{
							margin: 20px 0 15px 20px;
							width: calc(~"100% - 40px");
							max-width: 548px;
						}
						.content-bottom{
							margin-bottom: 25px;
							padding: 20px 15px;
							display: flex;
    						flex-wrap: wrap;
							.content-box{
								width: calc(~"50% - 5px");
								&:nth-child(2n){
									margin-left: 10px;
								}
								.content-desc{
									width: 100%;
									height: 100%;
									display: block;
									.font(22px);
									.content-desc-inner{
										display: block;
										margin-bottom: 15px;
									}
								}
								.content-type{
									width: 100px;
									height: 100px;
									.font(22px);
									float: left;
									margin-bottom: 10px;
									.content-type-inner{
										width: 100px;
										height: 100px;
									}
								}
							}
 						}
						.text-bottom{
							margin: 0 auto;
							width: calc(~"100% - 40px");
							max-width: 565px;
						}
					}
					&.page-1{
						.main-title-box{
							margin-top: 30px;
							img{
								margin: 0 auto;
							    width: calc(~"100% - 80px");
							    max-width: 314px;
							}
							.main-title-text{
								.font(40px,24px);
							}
						}
						.title-middle-box{
							margin-top: 30px;
							img{
								margin: 0 auto;
							    width: calc(~"100% - 30px");
							    max-width: 513px;
							    &.mobile{
							    	max-width: 326px;
							    	width: calc(~"100% - 100px");
							    }
							}
							.title-middle-text{
								.font(32px,30px);
							}
						}
						.title-bottom-box{
							margin-top: 30px;
							img{
								margin: 0 auto;
							    width: calc(~"100% - 80px");
							    max-width: 314px;
							    &.mobile{
							    	max-width: 241px;
							    	width: calc(~"100% - 100px");
							    }
							}
							.title-bottom-text{
								.font(32px,30px);
							}
						}
						.desc-box{
							margin-top: 40px;
							img{
								width: 100%;
								max-width: 565px;
							}
						}
					}
					&.page-2{
						.main-title-box{
							margin-top: 25px;
							margin-bottom: 20px;
							img{
								margin: 0 auto;
							    width: calc(~"100% - 80px");
							    max-width: 314px;
							}
							.main-title-text{
								.font(40px,24px);
							}
						}
						.main-desc-box{
							margin-bottom: 20px;
							img{
								margin: 0 auto;
							    width: calc(~"100% - 30px");
							    max-width: 574px;
							}
							.main-desc-text{
								.font(32px,30px);
							}
						}
						.main-bottom-box{
							margin-bottom: 25px;
							img{
								margin: 0 auto;
							    width: calc(~"100% - 80px");
							    max-width: 314px;
							}
							.main-bottom-text{
								.font(32px,30px);
							}
						}
						.content-mike-box{
							margin-bottom: 25px;
							&.content1{
								margin-top: 25px;
								img{
									max-width: 359px;
									width: calc(~"100% - 80px");
								}
							}
							&.content2{
								img{
									max-width: 500px;
								}
							}
							&.content3{
								img{
									max-width: 375px;
									width: calc(~"100% - 80px");
								}
							}
							&.content4{
								img{
									max-width: 519px;
									width: calc(~"100% - 80px");
								}
							}
							img{
								margin: 0 auto;
								width: calc(~"100% - 30px");
							}
							.content-mike-text{
								.font(32px,30px);
								margin-top: auto;
							}
						}
						.img-bottom-box{
							margin-top: 30px;
							img{
								width: 100%;
								margin: 0 auto;
								left: auto;
								max-width: 638px;
							}
						}
					}
					&.page-3{
						.subtitle-box{
							img{
								margin: 0 auto;
							    width: calc(~"100% - 80px");
							    max-width: 314px;
							}
							.subtitle-text{
								.font(34px,30px);
							}
						}
						.submenu-bar{
							margin: 35px auto 20px;
						}
						.sphingomyelin-subcontent-panel{
							.sphingomyelin-subcontent{
								&.main img{
								    width: calc(~"100% * 1.415");
									position: relative;
									left: -14%;
								}
								&.page-1{
									.subcontent-title-box img{
										width: calc(~"100% - 100px");
										max-width: 265px;
									}
									.subcontent-subtitle-box img{
										width: calc(~"100% - 100px");
										max-width: 265px;
									}
								}
								&.page-2{
									.main-title-box{
										margin-top: 25px;
										margin-bottom: 20px;
										img{
											margin: 0 auto;
										    width: calc(~"100% - 80px");
										    max-width: 314px;
										}
										.main-title-text{
											.font(40px,24px);
										}
									}
									.main-desc-box{
										margin-bottom: 20px;
										img{
											margin: 0 auto;
										    width: calc(~"100% - 30px");
										    max-width: 574px;
										}
										.main-desc-text{
											.font(32px,30px);
										}
									}
									.main-bottom-box{
										margin-bottom: 25px;
										img{
											margin: 0 auto;
										    width: calc(~"100% - 80px");
										    max-width: 314px;
										}
										.main-bottom-text{
											.font(32px,30px);
										}
									}
									.content-mike-box{
										margin-bottom: 25px;
										&.content1{
											margin-top: 25px;
											img{
												max-width: 359px;
												width: calc(~"100% - 80px");
											}
										}
										&.content2{
											img{
												max-width: 500px;
											}
										}
										&.content3{
											img{
												max-width: 375px;
												width: calc(~"100% - 80px");
											}
										}
										&.content4{
											img{
												max-width: 519px;
												width: calc(~"100% - 80px");
											}
										}
										img{
											margin: 0 auto;
											width: calc(~"100% - 30px");
										}
										.content-mike-text{
											.font(32px,30px);
											margin-top: auto;
										}
									}
									.img-bottom-box{
										margin-top: 30px;
										img{
											width: 100%;
											margin: 0 auto;
											left: auto;
											max-width: 638px;
										}
									}
								}
								&.page-3{
									.subcontent-title-box{
										img{
											width: 100%;
											max-width: 566px;
										}
									} 
								}
								.subcontent-title-box{
									img{
										margin: 0 auto;
									}
									.subcontent-title-text{
										.font(30px,28px);
									}
								}
								.subcontent-subtitle-box{
									margin: 20px auto 30px;
									img{
										margin: 0 auto;
									}
									.subcontent-subtitle-text{
										.font(28px,22px);
									}
								}
								.subcontent-box{
									margin-bottom: 30px;
									&.content1{
										margin-top: 30px;
										img{
											width: calc(~"100% - 30px");
											max-width: 399px;
										}
									}
									&.content2 img{
										width: 100%;
										max-width: 535px;
									}
									img{
										margin: 0 auto;
									}
									.subcontent-text{
										.font(30px,28px);
										margin-top: auto;
									}
								}
								.subcontent-bottom-box{
									img{
										width: 100%;
										max-width: 529px
									}
								}
							}
						}
					}
					.sphingomyelin-detail-template{
						margin-top: 30px;
						.sphingomyelin-detail-btn-bar{
							.sphingomyelin-detail-btn{
								width: 149px;
								height: 61px;
								letter-spacing: 0;
								margin-right: 10px;
								.font(24px,20px);
								background: @bg-btn-detail-mobile;
								background-size: contain;
								&:hover, &.active{
									color: @gold;
									background: @bg-btn-detail-hover-mobile;
									background-size: contain;
								}
							}
						}
						.sphingomyelin-detail-content{
							img{
								margin: 0 auto 25px;
							}
							.title-image{
								width: calc(~"100% - 40px");
								max-width: 521px;
							}
							.detail-doctor-name{
								.font(22px);
							}
							.detail-content{
								.font(22px,20px);
								margin-top: 30px;
								.detail-banner{
									margin-bottom: 25px;
								}
								.detail-box{
									margin-bottom: 15px;
									padding: 0 20px;
									text-indent: 15px;
									&.space-bottom{
										margin-bottom: 25px;
									}
									.detail-inline-box{
										.detail-inline{
											width: 90%;
											&.last{
												width: 90%;
											}
										}
									}
								}
								.detail-image{
									width: 100%;
									margin-left: 0;
									margin-bottom: 25px;
									float: left;
									&.half{
										&-left{
											width: 49.5%;
											margin-right: 0.5%;

										}
										&-right{
											width: 49.5%;
											margin-left: 0.5%;
										}
									}
								}
								.detail-title-image{
									width: 50%;
									padding: 10px 0 0;
									margin: 0 0 10px 10px;
								}
								.detail-image-index{
									float: right;
									margin-left: 15px;
									margin-bottom: 20px;
									width: 43.5%;
								}
							}
							.text-desc{
								width: 100%;
							    padding-top: 15px;
    							padding-left: 10px;
    							img{
    								width: calc(~"100% - 40px");
    								margin: 0;
    							}
    							&.desc1{
    								img{
    									max-width: 549px;
    								}
    							}
    							&.desc2{
    								img{
    									max-width: 554px;
    								}
    							}
    							&.desc3{
    								img{
    									max-width: 566px;
    								}
    							}
    							&.desc4{
    								img{
    									max-width: 565px;
    								}
    							}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 660px) {
	.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template {
			.sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn{
		    width: 109px;
		    height: 45px;
		    letter-spacing: 0;
		    margin-right: 10px;
		    .font(19px,14px);
		}
		.sphingomyelin-detail-content{
			margin-top: 30px;
		}
	}
}

.visible-510{
	display: none;
}
@media (max-width: 510px) {
	.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .submenu-bar .submenu-list{
		width: 90px;
		height: 43px;
		&:before{
	    	width: 108px;
    		height: 55px;
		}
	}

	.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom .content-box{
			.content-type{
			width: 80px;
			height: 80px;
			.font(18px);
			margin-left: 5px;
			margin-bottom: 15px;
			.content-type-inner{
				width: 80px;
				height: 80px;
			}
		}
		.content-desc{
			.font(20px);
		}
	}
	
	// .visible-510{
	// 	display: block;
	// }
	// .sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn{
	// 	margin-bottom: 10px;
	// 	&.cs-mr{
	// 		margin-right: 0;
	// 	}
	// 	&.cs-mb{
	// 		margin-bottom: 0;
	// 	}
	// }
	.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn{
		width: 89px;
		height: 37px;
		margin-right: 8px;
		.font(14px,11px);
	}
}

@media (max-width: 425px) {
	.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content.home .content-bottom{
		.content-box{
			.content-type{
			    display: block;
			    margin: 0 auto 15px;
			    float: none;
			}
			.content-desc{
				height: calc(~"100% - 95px");
			}
		}
	}
}

@media (max-width: 410px) {
	.sphingomyelin .sphingomyelin-inner .sphingomyelin-content-panel .sphingomyelin-content .sphingomyelin-detail-template .sphingomyelin-detail-btn-bar .sphingomyelin-detail-btn{
		width: 68px;
		height: 28px;
		margin-right: 5px;
		.font(12px,10px);
	}
}


@media (max-width: 400px) {
	.sphingomyelin .sphingomyelin-inner .menu-panel .menu-title{
		.font(31px,28px);
	}
	.sphingomyelin .sphingomyelin-inner .menu-panel .menu-bar .sphingomyelin-menu-list{
		width: 90px;
    	height: 90px;
    	&:before{
		    width: 145px;
    		height: 138px;
    	}
		&.menu1{
		    width: 90px;
    		margin-right: 15px;
    		&:before{
			    top: -15px;
    			left: -18px;
    		}
		}
		&.menu2{
		    width: 80px;
			margin-right: 15px;
			&:before{
			    top: -9px;
   				left: -23px;
			}
		}
		&.menu3{
			&:before{
			    top: -14px;
    			left: -18px;
			}
		}
	}
}

.visible-336-390{
	display: none;
}
@media (min-width: 336px) and (max-width: 390px){
	.visible-336-390{
		display: block;
	}
}

.visible-401-432{
	display: none;
}
@media (min-width: 401px) and (max-width: 432px){
	.visible-401-432{
		display: block;
	}
}
