#team_person {
    .team_personr_bg {
        background: url('../images/team/team_person/team_person_bg_new.png') repeat center center transparent;
        .team_person_align {
            width:990px;
            margin:0 auto;
            .team_person_header{
                font-size: 46px;
                padding-top: 35px;
                padding-bottom: 26px;
                text-align: center;
                .bold {
                    font-family: db_helvethaica_xregular;
                    color:#8e6d1d;
                }
                .thin {
                    font-family: db_helvethaica_x_li;
                    color:#8e6d1d;
                }
                br{
                    display:none;
                }
            }
            .person_panel {
                .person_list{
                    width:320px;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: top;
                    .person_detail{
                         display: inline-block;
                         text-align: center;
                         width:280px;
                         margin:20px;
                         text-align: center;
                         position: relative;
                         cursor: pointer;
                         cursor: hand;
                         .personal_picture_scale {
                             .person_picture{

                             }
                         }
                         .person_name{
                             font-family: db_helvethaica_xregular;
                             font-weight: bold;
                             color:#666;
                             font-size:24px;
                             margin-top: 10px;
                         }
                         .person_position{
                             font-family: db_helvethaica_xregular;
                             color:#666;
                             font-size:24px;
                             width:180px;
                             margin:0 auto;
                         }
                         .hover_icon {
                             background:url('../images/team/team_person/hover_icon.png') no-repeat transparent;
                             display:none;
                             width:41px;
                             height:40px;
                             position: absolute;
                             right: 46px;
                             top: 192px;
                         }
                     }
                }
            }
        }
    }
}
#team_person_detail{
    display:none;
    background:rgba(0,0,0,0.5);
    position:fixed;
    width: 100%;
    height:100%;
    z-index:9999;
    top:0;
    left:0;
    overflow-y: scroll;
    .cover_panel {
        width: 100%;
        height:100%;
        position: relative;
        display: table;
        .cover_panel2{
            vertical-align: middle;
            display:table-cell;
            .detail_panel{
                background:url('../images/team/team_person/team_person_popup_bg_new.png') no-repeat transparent;
                background-size: cover;
                margin: 0 auto;
                position: relative;
                padding:20px;
                border-radius:20px;
                .person_pic_cover {
                    display: inline-block;
                    .person_pic{
                        width:260px;
                        display: inline-block;
                        vertical-align: top;
                        text-align: center;
                        margin: 20px 0;
                    }
                }
                .detail_panel2{
                    margin: 30px 0 20px 0;
                    padding-left:20px;
                    display: inline-block;
                    vertical-align: top;
                    font-family: db_helvethaica_xregular;
                    .name {
                        font-size:34px;
                        color:#8e6d1d;

                    }
                    .position {
                        font-size:26px;
                        color:#666;
                        line-height:18px;
                    }
                    .personal_detail_header {
                        font-size: 24px;
                        color: #8e6d1d;
                        margin-top: 30px;
                    }

                    .personal_detail {
                        font-size:24px;
                        p {
                            margin:0;
                        }
                    }
                }
            }
            .close_popup_btn {
                background:url('../images/team/team_person/team_person_popup_close.png') no-repeat transparent;
                width:41px;
                height:40px;
                position: absolute;
                right: -11px;
                top: -14px;
            }
        }
    }
}
@media (min-width: 768px) {
    #team_person_detail{
        .cover_panel {
            .cover_panel2{
                .detail_panel{
                    width:870px;
                    .detail_panel2 {
                        width:550px;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #team_person {
        .team_personr_bg {
            background: url('../images/team/team_person/team_person_bg_new.png') repeat center center transparent;
            background-size: 75%;
            .team_person_align {
                width:320px;
                margin:0 auto;
                .team_person_header{
                    font-size: 24px;
                    padding-top: 6px;
                    padding-bottom: 13px;
                    text-align: center;
                    .bold {
                        font-family: db_helvethaica_xregular;
                        color:#8e6d1d;
                        font-size: 36px;
                    }
                    .thin {
                        font-family: db_helvethaica_x_li;
                        color:#8e6d1d;
                    }
                    br{
                        display:block;
                    }
                }
                .person_panel {
                    text-align: center;
                    .person_list{
                        width:156px;
                        .person_detail{
                            width:125px;
                            overflow: hidden;
                            margin: 0px;
                            .personal_picture_scale {
                                width:125px;
                                height:115px;
                                .person_picture{
                                    transform: scale(0.5) translate(-61px, -114px);
                                    -ms-transform: scale(0.5) translate(-61px, -114px);/* IE 9 */
                                    -webkit-transform: scale(0.5) translate(-61px, -114px); /* Safari */
                                }
                            }
                            .person_name{
                                font-size: 18px;
                            }
                            .person_position{
                                font-family: db_helvethaica_xregular;
                                color:#666;
                                font-size: 18px;
                                width:125px;
                                margin:0 auto;
                            }
                            .hover_icon {
                                background:url('../images/team/team_person/hover_icon.png') no-repeat transparent;
                                display:none;
                                background-size: contain;
                                width: 21px;
                                height: 20px;
                                position: absolute;
                                right: 17px;
                                top: 97px;
                            }
                        }
                    }
                }
            }
        }
    }
    #team_person_detail{
        .cover_panel {
            .cover_panel2{
                .detail_panel{
                    margin:20px;
                    text-align: center;
                    .person_pic_cover {
                        height: 134px;
                        width:240px;
                        .person_pic{
                            width: 249px;
                            display: inline-block;
                            vertical-align: top;
                            text-align: center;
                            margin-left:-5px;
                            transform: scale(0.56) translate(0px, -122px);
                            -ms-transform: scale(0.56) translate(0px, -122px);/* IE 9 */
                            -webkit-transform: scale(0.56) translate(0px, -122px); /* Safari */


                        }
                    }
                    .detail_panel2{
                        margin: 20px 0 20px 0;
                        padding-left:0px;
                        .name {
                            font-size:34px;
                            color:#8e6d1d;

                        }
                        .position {
                            font-size:26px;
                            color:#666;
                            line-height: 28px;
                        }
                        .personal_detail_header {
                            text-align: left;
                            font-size:24px;
                        }
                        .personal_detail {
                            text-align: left;
                            font-size:24px;
                        }
                    }
                }
                .close_popup_btn {
                    background:url('../images/team/team_person/team_person_popup_close.png') no-repeat transparent;
                    width:41px;
                    height:40px;
                    position: absolute;
                    right: -11px;
                    top: -14px;
                }
            }
        }
    }
}