@red: #E21F26;
@gold: #5B4101;
@icon: url('../images/wyeth/icon.svg') no-repeat;

.gold{
	color: @gold !important;
}

.font(@font,@lh:@font){
	font-size: @font;
	line-height: @lh;
}

.style-inner(){
	width: calc(~"100% - 30px");
	max-width: 970px;
	height: 100%;
	margin: 0 auto;
	padding-top: 400px;
	box-sizing: border-box;
	@media screen and (max-width : 767px) {
		padding-top: 40px;
	}
}

.style-title-box(){
	.title-icon{
		display: inline-block;
		vertical-align: middle;
		width: 80px;
		height: 81px;
		margin-right: 15px;
		background: @icon;
		&.legacy{
		    background-position: 0px -76px;
		}
		&.team{
			background-position: -92px -76px;
		}
		&.contact{
			background-position: -184px -76px;
		}
		&.article{
			background-position: -141px -230px;
		}
		@media screen and (max-width : 767px) {
			width: 50px;
			height: 50px;
			&.legacy{
				background-position: 0px -169px;
			}
			&.contact{
				background-position: -114px -169px;
			}
			&.article{
				background-position: -231px -230px;
			}
		}
	}
	.legacy-icon{
		display: inline-block;
		vertical-align: middle;
		width: 70px;
		height: 90px;
		background: url("../images/wyeth/icon/Wyeth_All.svg") no-repeat;
		background-size: contain;
		margin-right: 5px;
		@media (max-width: 767px){
			width: 50px;
			height: 65px;
		}
	}
	.title-text{
		display: inline-block;
		vertical-align: middle;
		.font(26px,28px);
		color: #fff;
		&.legacy{
			text-shadow: 0 0 30px #53666C;
		}
		&.team{
			text-shadow: 0 0 30px #886A1B;
		}
		@media screen and (max-width : 767px) {
			.font(19px,19px);
		}
	}
}

a:link {
    -webkit-tap-highlight-color: transparent;
}

.wyeth-panel{
	.wyeth_nav_bar {
		width: 100%;
		height: 70px;
		background: #DA3;
		position: fixed;
		top:-70px;
		left:0px;
		z-index: 4;
		transition: top 0.5s;
		@media screen and (max-width : 767px) {
			display:none;
		}
		.align {
			width: 1280px;
			height: 70px;
			margin: 0 auto;
			position: relative;
			.logo {
				width: 159px;
				height: 43px;
			   /* background: url("../images/wyeth/wyeth_logo_w_3.png") no-repeat;*/
			    background-repeat: no-repeat;
			    background-size: contain;
				position: relative;
				top: 14px;
				left: 161px;
			}
			.button_panel {
				position: absolute;
				right: 160px;
				top: 20px;
				.wyeth_btn {
					display: inline-block;
					margin: 0 15px;
					.wyeth-icon{
						display: inline-block;
						vertical-align: middle;
						background: @icon;
						margin-right: 10px;
					}
					.wyeth-text{
						display: inline-block;
						vertical-align: middle;
						.font(23px,27px);
						color: #fff;
						text-shadow: 0 1px 0 #AF6300;
					}
					&.wyeth_btn1 {
						.wyeth-icon{
							width: 33px;
							height: 25px;
							background-position: -52px -231px;
						}
						&.active{
							.wyeth-icon{
								background-position: -97px -231px;
							}
						}
					}
					&.wyeth_btn2 {
						.wyeth-icon{
							width: 34px;
							height: 28px;
							background-position: 0 0;
						}
						&.active{
							.wyeth-icon{
								background-position: 0 -36px;
							}
						}
					}
					&.wyeth_btn3 {
						.wyeth-icon{
							width: 28px;
							height: 21px;
							background-position: -89px -3px;
						}
						&.active{
							.wyeth-icon{
								background-position: -89px -39px;
							}
						}
					}
				}
				.active{
					.wyeth-text{
						color: #A4080E;
						text-shadow: 0 1px 0 #FFCA4C;
					}
				}
			}
		}
	}
	.active {
		top: 0;
		transition: top 0.5s;
	}
	.wyeth-panel-inner{
		.wyeth-main-panel{
			width: 100%;
			height: 550px;
			position: relative;
			@media screen and (min-width: 767px) {
				/*background: url('../images/wyeth/bg-wyeth-main_new.jpg') center right no-repeat;*/
				background-repeat: no-repeat;
				background-position: center right;
				background-size: cover;

			}
			@media screen and (max-width: 767px) {
				background: url('../images/wyeth/bg-wyeth-main-mobile_new.jpg') center center no-repeat;
				background-size: cover;
				height: auto;
				padding-top: 75%;
				padding-bottom: 20px;
			}
			.background_mb {
				@media screen and (max-width: 767px) {
					width: 290px;
					height: 290px;
					position: absolute;
					right: 0px;
					top: -32px;
					/*background: url('../images/wyeth/kidmom.png') center right no-repeat;*/
					background-repeat: no-repeat;
				    background-position: center right;
					background-size: contain;
					display:none;
				}
			}
			.wyeth-main-panel-inner{
				.logo {
				    width: 433px;
    				height: 190px;
					/*background: url(../images/wyeth/wyeth_logo_w_4.png) no-repeat;*/
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					position: relative;
					top: -25px;
					margin: 0 auto;
					display:none;
					@media screen and (max-width: 767px) {
						width: 90vw;
						height: calc(~"90vw * ( 241 / 690 )");
						top: 0;
					}
				}
				.style-inner();
				.text-panel{
					.font(28px);
					color: @gold;
					text-align: center;
					margin-bottom: 85px;
					display:none;
					@media screen and (max-width: 767px) {
						font-size: 21px;
						position: relative;
						margin: 30px auto;
					}
				}
				.button-box{
					text-align: center;
					.button-link{
						display: inline-block;
						width: 200px;
						height: 60px;
						background: @red;
						border-radius: 100px;
						margin-right: 20px;
						color: #fff;
						&:hover {
							background: #d60e20;
							@media screen and (max-width: 767px) {
								background: @red;
							}
						}
						@media screen and (max-width: 767px) {
							width: 285px;
							height: 43px;
							font-size: 20px;
							line-height: 43px;
							display: block;
							margin: 10px auto 0px;
						}
						.font(28px,60px);
						&:last-child{
							margin-right: 0px;

							@media screen and (max-width: 767px) {
								width: 285px;
								height: 43px;
								font-size: 20px;
								line-height: 43px;
								display: block;
								margin: 10px auto 0px;
							}
						}
						.icon{
							display: inline-block;
							vertical-align: middle;
							margin-right: 15px;
							background: @icon;
							@media screen and (max-width: 767px) {
								transform: scale(0.7);
							}
							&.legacy{
								width: 43px;
								height: 38px;
								background-position: -136px 0;
							}
							&.team{
								width: 52px;
								height: 30px;
								background-position: -189px -3px;
							}
							&.contact{
								width: 36px;
								height: 28px;
								background-position: -251px -5px;
							}
							&.article{
						    	width: 40px;
						    	height: 30px;
						    	background-position: 0 -231px;
						    }
						}
						.text{
							display: inline-block;
							vertical-align: top;
						}
					}
				}
				/*
				.button-box{
					text-align: center;
					.button-link{
						display: inline-block;
						width: 200px;
						height: 60px;
						background: @red;
						border-radius: 100px;
						margin-right: 20px;
						color: #fff;
						&:hover {
							background: #d60e20;
							@media screen and (max-width: 767px) {
								background: @red;
							}
						}
						@media screen and (max-width: 767px) {
							width: 285px;
							height: 43px;
							font-size: 20px;
							line-height: 43px;
							display: block;
							margin: 10px auto 0px;
						}
						.font(28px,60px);
						&:last-child{
							margin-right: 0px;

							@media screen and (max-width: 767px) {
								width: 285px;
								height: 43px;
								font-size: 20px;
								line-height: 43px;
								display: block;
								margin: 10px auto 0px;
							}
						}
						.icon{
						    display: inline-block;
						    vertical-align: middle;
						    margin-right: 15px;
						    background: @icon;
							@media screen and (max-width: 767px) {
								transform: scale(0.7);
							}
						    &.legacy{
						    	width: 43px;
						    	height: 38px;
						    	background-position: -136px 0;
						    }
						    &.team{
						    	width: 52px;
						    	height: 30px;
						    	background-position: -189px -3px;
						    }
						    &.contact{
						    	width: 36px;
						    	height: 28px;
					    	    background-position: -251px -5px;
						    }
						    &.article{
						    	width: 40px;
						    	height: 30px;
						    	background-position: 0 -231px;
						    }
						}
						.text{
						    display: inline-block;
   							vertical-align: top;
						}
					}
				}
				*/
			}
		}
		.wyeth-menubar{
			position:relative;
			top: -68px;
			@media (max-width: 767px) {
				top: -149px;
			}
		}
		.wyeth-article-panel{
			width: 100%;
			height: auto;
			position:relative;
			overflow: hidden;
			/*background: url('../images/wyeth/bg-wyeth-article.jpg') bottom right no-repeat;*/
			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: cover;
			height: 736px;
			box-sizing: border-box;
			.wyeth-article-panel-inner{
				position: relative;
				.style-inner();
				padding-top: 40px;
				.title-box{
					.style-title-box();
					.title-text{
						color: #5B4101;
						@media screen and (max-width : 767px) {
							width: calc(~"100% - 70px");
						}
					}
				}
				.article-panel{
					width: 530px;
					margin: 30px 0 0 60px;
					.article-box{
						width: 260px;
						height: 260px;
						float:  left;
						margin-left: 10px;
						margin-bottom: 10px;
						border-radius: 8px;
						/*background: url("../images/wyeth/bg-article.jpg") no-repeat;*/
						background-repeat: no-repeat;
						background-size: cover;
						position: relative;
						padding: 25px 10px 25px 15px;
						box-sizing: border-box;
						box-shadow: 0 0 20px #fff;
						&:first-child{
							margin-left: 0;
						}
						.text-box{
							.title{
								color: #0B3E8D;
								.font(30px);
								margin-bottom: 10px;
								text-shadow: 0 0 10px #FEFAF1;
								.top{
									.font(48px,30px);
								}

							}
							.desc{
								color: #5B4101;
								.font(26px,25px);
								letter-spacing: -0.2px;
								text-shadow: 0 0 10px #FEFAF1;
							}
						}
						.btn-arrow{
							width: 36px;
							height: 35px;
							position: absolute;
							bottom: 10px;
							right: 10px;
							background: @icon;
							background-position: 0px -273px;
						}
					}
				}
				.img-article{
					position: absolute;
					right: -210px;
					bottom: -20px;
				}
			}
		}
		.wyeth-legacy-panel{
			width: 100%;
			padding-bottom: 30px;
			height: auto;
			position:relative;
			overflow: hidden;
			@media screen and (min-width : 768px) {
				/*background: url('../images/wyeth/bg-wyeth-legacy.jpg') center right no-repeat;*/
				background-position:center right;
				background-repeat: no-repeat;
				background-size: cover;
			}
			@media screen and (max-width : 767px) {
				/*background: url('../images/wyeth/legacy_background.jpg') center right no-repeat;*/
				background-repeat: no-repeat;
				background-size: 120%;
				background-position: top right;
				padding-bottom: 0px;
				height: auto;
			}
			.legacy_bg {
				@media screen and (max-width : 767px) {
					position: absolute;
					/*background: url('../images/wyeth/legacy_doctor.png') center right no-repeat;*/
					background-position:center right;
					background-repeat: no-repeat;
					width: 300px;
					height: 300px;
					background-size: cover;
					top: 92px;
				}
			}
			.wyeth-legacy-panel-inner{
				position: relative;
				@media screen and (max-width : 767px) {
					min-height: 460px;
				}
				.style-inner();
				.title-box{
					@media screen and (max-width : 767px) {
						height: 60px;
					}
					.style-title-box();
					.title-text {
						@media screen and (max-width : 767px) {
							width: calc(~"100vw - 160px");
						}
					}
				}
			}
			.arrow {
				position: absolute;
				width: 100%;
				top: 453px;
				z-index: 3;
				@media screen and (max-width : 767px) {
					width: calc(~"100vw - 30px");
					top: 193px;
					padding-top: 65px;
				}
				.left_arrow {
					display: block;
					position: absolute;
					width: 18px;
					height: 31px;
					background-image: url("../images/wyeth/arrow.png");
					background-repeat: no-repeat;
					background-position: 2px 1px;
					top: 10px;
					left: -15px;
					cursor: pointer;
					@media screen and (max-width : 767px) {
						top: auto;
						left: -2px;
					}
				}
				.right_arrow {
					display: block;
					position: absolute;
					width: 18px;
					height: 31px;
					background-image: url("../images/wyeth/arrow.png");
					background-repeat: no-repeat;
					background-position: -18px 1px;
					top: 10px;
					right: -15px;
					cursor: pointer;
					@media screen and (max-width : 767px) {
						top: auto;
						right: -2px;
					}
				}
				.deactive {
					opacity : 0.5;
				}
			}
			.slide_panel {
				width: 100%;
				height: 660px;
				overflow-x: hidden;
				overflow-y: hidden;
				background: url("../images/wyeth/line.png") repeat-x center;
				position: relative;
				@media screen and (max-width : 767px) {
					width: calc(~"100vw - 70px");
					margin: 0 auto;
					height: 217px;
					padding-top: 65px;
					background-position: 0 173px;
				}
				.data_show_panel {
					.data_table {
						display: table;
						height: 660px;
						padding:0px 300px 0px 365px;
						@media screen and (max-width : 767px) {
							padding: 0 calc(~"(100vw /2) - 104px");
							height: 217px;
						}
						.data_row {
							display: table-row;
							.data_cell {
								display: table-cell;
								vertical-align: middle;
								position: relative;
								.data {
									transition-delay: 0.4s;
									transition-duration: 0.4s;
									transition-property: all;
									.detail_box {
										background-image: url("../images/wyeth/background_circle.jpg");
										background-size: cover;
										display: inline-block;
										position: relative;
										border-radius: 500px;
										transform: scale(0);
										transition-delay: 0.0s;
										transition-duration: 0.4s;
										transition-property: all;
										margin: 0 auto;
										z-index: 2;
										.year {
											position:absolute;
											width: 106px;
											height: 43px;
											background-size: contain;
											background-repeat: no-repeat;
											@media screen and (max-width : 767px) {
												top: 42px !important;
												left: 12px !important;
												transform: scale(0.8) !important;
											}
										}
										.wyeth_product{
    										width: 159px;
										    height: 43px;
											position: absolute;
											top: -65px;
										    &.product1{
										    	left: 36px;
										    }
										    &.product2{
												left: 21px;
										    }
										    &.product3{
												left: 71px;
										    }
										    &.product4{
												left: 36px;
										    }
										    &.product5{
												left: 71px;
										    }
										    &.product6{
												left: 56px;
										    }
										    &.product7{
												left: 91px;
										    }
										    &.product8{
											    left: 81px;
										    }
										    &.product9{
											    left: 146px;
										    }
										    &.product10{
												left: 81px;
										    }
										    &.product11{
										    	left: 61px;
										    }
										    &.product12{
										    	left: 46px;
										    }
										    &.product13{
											    left: 96px;
										    }
										    &.product14{
											    left: 91px;
										    }
										    @media screen and (max-width : 767px) {
										    	&.product1,&.product2,&.product3,&.product4,&.product5,&.product6,&.product7,&.product8,&.product9,&.product10,&.product11,&.product12,&.product13,&.product14{
										    		left: -14px;
										    	}
										    }
										    // @media screen and (max-width : 370px) {
										    // 	width: 250px;
											   //  height: 120px;
											   //  top: -110px;
											   //  &.product1,&.product2,&.product3,&.product4,&.product5,&.product6,&.product7,&.product8,&.product9,&.product10,&.product11,&.product12,&.product13,&.product14{
										    // 		left: -50px;
										    // 	}
										    // }
										    // @media screen and (max-width : 330px) {
											   //  width: 240px;
											   //  height: 110px;
											   //  top: -105px;
										    // }
										}
										.product-icon{
											position: absolute;
											top: 0;
											right: 0;
											&.new{
												width: 60px;
												height: 85px;
												background: url("../images/wyeth/icon/Wyeth_New.svg") no-repeat;
												background-size: contain;
											}
											&.origin{
												width: 60px;
												height: 85px;
												background: url("../images/wyeth/icon/Wyeth_Origin.svg") no-repeat;
												background-size: contain;
											}
											&.product1{
												right: 10px;
											}
											&.product2{
												right: -10px;
											}
											&.product3{
												width: 80px;
												height: 100px;
												background: url("../images/wyeth/icon/Wyeth_1933.svg") no-repeat;
												background-size: contain;
												top: -5px;
												right: 20px;
											}
											&.product4{
												width: 75px;
												height: 100px;
												background: url("../images/wyeth/icon/Wyeth_1947.svg") no-repeat;
												background-size: contain;
												top: -10px;
												right: -10px;
											}
											&.product5{
											    top: 10px;
												right: 10px;
											}
											&.product6{
											    top: 5px;
    											right: 10px;
											}
											&.product7{
											    top: 10px;
    											right: 25px;
											}
											&.product8{
												width: 80px;
												height: 100px;
												background: url("../images/wyeth/icon/Wyeth_1989.svg") no-repeat;
												background-size: contain;
												top: -5px;
												right: 20px;
											}
											&.product9{
												width: 139px;
												height: 109px;
												background: url("../images/wyeth/icon/Wyeth_1996.svg") no-repeat;
												background-size: contain;
												top: -5px;
												right: 20px;
											}
											&.product10{
												width: 87px;
												height: 101px;
												background: url("../images/wyeth/icon/Wyeth_1997.svg") no-repeat;
												background-size: contain;
												top: -10px;
												right: 20px;
											}
											&.product11{
												width: 110px;
												height: 90px;
												background: url("../images/wyeth/icon/Wyeth_2002.svg") no-repeat;
												background-size: contain;
											}
											&.product12{
												width: 80px;
												height: 100px;
												background: url("../images/wyeth/icon/Wyeth_2006.svg") no-repeat;
												background-size: contain;
												top: -15px;
											}
											&.product13{
												top: 25px;
    											right: 15px;
											}
											&.product14{
												top: 15px;
   												right: 30px;
											}
											@media (max-width : 767px){
												&.new,&.origin{
													top: -10px;
											        right: -15px;
												    width: 40px;
												    height: 57px;
												}
												&.product3{
												    width: 55px;
												    height: 70px;
												    top: -25px;
												    right: -25px;
												}
												&.product4{
													width: 55px;
												    height: 73px;
												    top: -25px;
												    right: -25px;
												}
												&.product8{
												    width: 55px;
												    height: 72px;
												    top: -25px;
												    right: -25px;
												}
												&.product9{
													width: 66px;
												    height: 52px;
												    top: -5px;
												    right: -35px;
												}
												&.product10{
													width: 55px;
												    height: 68px;
												    top: -20px;
												    right: -25px;
												}
												&.product11{
													width: 70px;
												    height: 57px;
												    top: -10px;
												    right: -40px;
												}
												&.product12{
													width: 55px;
												    height: 70px;
												    top: -20px;
												    right: -25px;
												}
											}
										}
										.detail {
											position: absolute;
											font-size: 28px;
											color: #FFF;
											@media screen and (max-width : 767px) {
												display:none;
											}
										}
									}
								}
								.active {
									transition-delay: 0.4s;
									transition-duration: 0.4s;
									transition-property: all;
									.detail_box {
										transition-delay: 0.8s;
										transition-duration: 0.4s;
										transition-property: all;
									}
								}
								.history_dot {
									display: block;
									width: 10px;
									height: 10px;
									background: #FFF;
									position: absolute;
									top: 325px;
									left: calc(~"50% - 5px");
									line-height: 0px;
									font-size: 0px;
									border-radius: 10px;
									z-index: 1;
									cursor: pointer;
									@media screen and (max-width : 767px) {
										top: 104px;
									}
									.year {
										width: 56px;
										height: 26px;
										position: relative;
										top: 24px;
										left: -25px;
										background-image:url("../images/wyeth/year_small.png");
										background-repeat: no-repeat;
										@media screen and (max-width : 767px) {
											display: none;
										}
									}
									.year1 {
										background-position: 0px 2px;
									}
									.year2 {
										background-position: 0px -27px;
									}
									.year3 {
										background-position: 0px -54px;
									}
									.year4 {
										background-position: 0px -80px;
									}
									.year5 {
										background-position: 0px -104px;
									}
									.year6 {
										background-position: 0px -130px;
									}
									.year7 {
										background-position: 0px -157px;
									}
									.year8 {
										background-position: 0px -183px;
									}
									.year9 {
										background-position: 0px -209px;
									}
									.year10 {
										background-position: 0px -237px;
									}
									.year11 {
										background-position: 0px -264px;
									}
									.year12 {
										background-position: 0px -291px;
									}
									.year13 {
										background-position: 0px -318px;
									}
									.year14 {
										background-position: 0px -345px;
									}
								}
							}
							.line {
								display: table-cell;
								vertical-align: middle;
								.line_dash {
									width:100px;
									height:1px;
									line-height: 0px;
									font-size: 0px;
									@media screen and (max-width : 767px) {
										width:50px;
									}
								}
							}
							.data1 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 230px;
										height: 230px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 40px;
											left: 44px;
											display: block;
											background-image: url("../images/wyeth/year_big/1915.png");
										}
										.detail {
											width: 163px;
											top: 90px;
											left: 43px;
										}
									}
								}
								.active {
									width: 230px;
									height: 230px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data2 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 200px;
										height: 200px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 40px;
											left: 34px;
											display: block;
											background-image: url("../images/wyeth/year_big/1920.png");
										}
										.detail {
											width: 163px;
											top: 90px;
											left: 34px;
										}
									}
								}
								.active {
									width: 200px;
									height: 200px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data3 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 300px;
										height: 300px;
										position: relative;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 51px;
											left: 48px;
											display: block;
											background-image: url("../images/wyeth/year_big/1933.png");
										}
										.detail {
											width: 220px;
											top: 104px;
											left: 47px;
										}
									}
								}
								.active {
									width: 300px;
									height: 300px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data4 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 230px;
										height: 230px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 40px;
											left: 44px;
											display: block;
											background-image: url("../images/wyeth/year_big/1947.png");
										}
										.detail {
											width: 163px;
											top: 90px;
											left: 43px;
										}
									}
								}
								.active {
									width: 230px;
									height: 230px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data5 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 300px;
										height: 300px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 51px;
											left: 48px;
											display: block;
											background-image: url("../images/wyeth/year_big/1951.png");
										}
										.detail {
											width: 220px;
											top: 104px;
											left: 47px;
										}
									}
								}
								.active {
									width: 300px;
									height: 300px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data6 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 270px;
										height: 270px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 51px;
											left: 48px;
											display: block;
											background-image: url("../images/wyeth/year_big/1956.png");
										}
										.detail {
											width: 198px;
											top: 104px;
											left: 47px;
										}
									}
								}
								.active {
									width: 270px;
									height: 270px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data7 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 340px;
										height: 340px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 51px;
											left: 48px;
											display: block;
											background-image: url("../images/wyeth/year_big/1961.png");
										}
										.detail {
											width: 255px;
											top: 104px;
											left: 47px;
										}
									}
								}
								.active {
									width: 340px;
									height: 340px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data8 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 320px;
										height: 320px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 45px;
											left: 59px;
											display: block;
											background-image: url("../images/wyeth/year_big/1989.png");
										}
										.detail {
											width: 220px;
											top: 99px;
											left: 59px;
										}
									}
								}
								.active {
									width: 320px;
									height: 320px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data9 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 450px;
										height: 450px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 62px;
											left: 85px;
											display: block;
											background-image: url("../images/wyeth/year_big/1996.png");
										}
										.detail {
											width: 320px;
											top: 116px;
											left: 86px;
										}
									}
								}
								.active {
									width: 450px;
									height: 450px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data10 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 320px;
										height: 320px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 45px;
											left: 59px;
											display: block;
											background-image: url("../images/wyeth/year_big/1997.png");
										}
										.detail {
											width: 220px;
											top: 99px;
											left: 59px;
										}
									}
								}
								.active {
									width: 320px;
									height: 320px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data11 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 280px;
										height: 280px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 51px;
											left: 48px;
											display: block;
											background-image: url("../images/wyeth/year_big/2002.png");
										}
										.detail {
											width: 210px;
											top: 104px;
											left: 47px;
										}
									}
								}
								.active {
									width: 280px;
									height: 280px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data12 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 250px;
										height: 250px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 40px;
											left: 44px;
											display: block;
											background-image: url("../images/wyeth/year_big/2006.png");
										}
										.detail {
											width: 170px;
											top: 90px;
											left: 43px;
										}
									}
								}
								.active {
									width: 250px;
									height: 250px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data13 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 350px;
										height: 350px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 67px;
											left: 59px;
											display: block;
											background-image: url("../images/wyeth/year_big/2010.png");
										}
										.detail {
											width: 255px;
											top: 121px;
											left: 62px;
										}
									}
								}
								.active {
									width: 350px;
									height: 350px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
							.data14 {
								.data {
									width: 0px;
									height: 0px;
									.detail_box {
										width: 340px;
										height: 340px;
										@media screen and (max-width : 767px) {
											width: 130px;
											height: 130px;
										}
										.year {
											top: 54px;
											left: 55px;
											display: block;
											background-image: url("../images/wyeth/year_big/2011.png");
										}
										.detail {
											width: 270px;
											top: 106px;
											left: 55px;
										}
									}
								}
								.active {
									width: 340px;
									height: 340px;
									@media screen and (max-width : 767px) {
										width: 130px;
										height: 130px;
									}
									.detail_box {
										transform: scale(1);
									}
								}
							}
						}
					}
				}
			}
			.mobile_detail_panel {
				font-size: 21px;
				padding: 0 30px;
				color: #5B4101;
				display:none;
				@media screen and (max-width : 767px) {
					display:block;
				}
			}
			.readmore{
				width: 200px;
			    height: 60px;
			    .font(28px,60px);
			    text-align: center;
			    border: 1px solid #8E6D1D;
			    box-sizing: border-box;
			    border-radius: 100px;
			    color: #A88936;
			    margin: 0 auto;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    @media screen and (max-width : 767px) {
				    position: relative;
				    width: calc(~"100%" - 60px);
				    height: 40px;
				    .font(20px,40px);
				    color: #8E6D1D;
				    margin: 30px auto;
			    }
			}
		}
		.wyeth-team-panel{
			width: 100%;
			height: 732px;
			background: url('../images/wyeth/bg-wyeth-team.jpg') center right no-repeat;
			background-size: cover;
			@media screen and (max-width : 767px) {
				height: auto;
				background-position: top left;
			}
			.wyeth-team-panel-inner{
				position: relative;
				@media screen and (max-width : 767px) {
					height: auto;
				}
				.style-inner();
				.title-box{
					.style-title-box();
				}
				.image-map{
					area{
						cursor: pointer;
						&:focus{
							outline: 0;
						}
					}
				}
				.img-team{
					position: absolute;
					left: -10px;
					bottom: 0;
					@media screen and (max-width : 767px) {
						display:none;
					}
				}
				.image_mobile{
					@media screen and (min-width : 768px) {
						display:none;
					}
					@media screen and (max-width : 767px) {
						display: block;
						width: calc(~"100vw - 30px");
						height: calc(~" (100vw - 30px ) * ( 433 / 990 )");
						background-image: url("../images/wyeth/doctors.png");
						background-size: contain;
					}
				}
			}
			.doctor_detail {
				position:absolute;
				color: #FFF;
				font-size: 0px;
				line-height: 0px;
				@media screen and (max-width : 767px) {
					position: initial;
					margin: 15px 0;
					width: 290px;
				}
				.doctor_relative {
					position: relative;
					height: 100px;
					@media screen and (max-width : 767px) {
						height: auto;
					}
					.detail {
						display: inline-block;
						vertical-align: top;
						margin:0 20px;
						position: relative;
						width: 350px;
						top: -12px;
						@media screen and (max-width : 767px) {
							margin:0px;
							width: 100%;
							padding-left:15px;
							box-sizing: border-box;
							top: 0px;
						}
						.doctor_name {
							font-size: 34px;
							line-height: 34px;
							text-shadow: 0px 0px 10px #9C7E2A;
							position:relative;
							opacity: 0;
							@media screen and (max-width : 767px) {
								opacity: 1;
								font-size: 26px;
								line-height: 26px;
							}
						}
						.doctor_position {
							font-size: 28px;
							line-height: 28px;
							text-shadow: 0px 0px 10px #9C7E2A;
							position:relative;
							opacity: 0;
							@media screen and (max-width : 767px) {
								opacity: 1;
								font-size: 21px;
								line-height: 21px;
							}
						}
					}
					.line {
						border-left:1px solid #FFF;
						width:1px;
						height: 0px;
						display:inline-block;
						font-size: 0px;
						line-height: 0px;
						position: absolute;
						bottom: 0px;
					}
					.line_show {
						height:100px;
						transition: height 0.2s;
					}
				}
				.left {
					.line {
						left: 0px;
						@media screen and (max-width : 767px) {
							height: 37px;
							top: 8px;
						}
					}
					.detail {
						.doctor_name {
							text-align: left;
							left: -20px;
							@media screen and (max-width : 767px) {
								left: 0px;
							}
						}
						.doctor_position {
							text-align: left;
							left: -10px;
							@media screen and (max-width : 767px) {
								left: 0px;
							}
						}
						.doctor_name_show {
							opacity: 1;
							left: 0px;
							transition: left 0.5s , opacity 0.5s;
						}
						.doctor_position_show {
							opacity: 1;
							left: 0px;
							transition: left 0.5s , opacity 0.5s;
						}
					}
				}
				.right {
					.line {
						right: 0px;
						@media screen and (max-width : 767px) {
							right: inherit;
							height: 37px;
							top: 8px;
						}
					}
					.detail {
						.doctor_name {
							text-align: right;
							right: -20px;
							@media screen and (max-width : 767px) {
								text-align: left;
								right: inherit;
							}
						}
						.doctor_position {
							text-align: right;
							right: -10px;
							@media screen and (max-width : 767px) {
								text-align: left;
								right: inherit;
							}
						}
						.doctor_name_show {
							opacity: 1;
							right: 0px;
							transition: right 0.5s , opacity 0.5s;
						}
						.doctor_position_show {
							opacity: 1;
							right: 0px;
							transition: right 0.5s , opacity 0.5s;
						}
					}
				}
			}
			.doctor_1 {
				top: 173px;
				left: 130px;
			}
			.doctor_2 {
				top: 173px;
				left: 300px;
				.left {
					.line {
						@media screen and (max-width: 767px) {
							height: 56px;
							top: 8px;
						}
					}
				}
			}
			.doctor_3 {
				top: 173px;
				left: 480px;
			}
			.doctor_4 {
				top: 173px;
				right: 290px;
				.right {
					.line {
						@media screen and (max-width: 767px) {
							height: 56px;
							top: 8px;
						}
					}
				}
			}
			.doctor_5 {
				top: 173px;
				right: 130px;
				.right {
					.line {
						@media screen and (max-width: 767px) {
							height: 56px;
							top: 8px;
						}
					}
				}
			}
		}
		.wyeth-contact-panel{
			width: 100%;
			height: 532px;
			position: relative;
			overflow: hidden;
			@media screen and (min-width : 768px) {
				background: url('../images/wyeth/bg-wyeth-contact.jpg') center right no-repeat;
				background-size: cover;
			}
			@media screen and (max-width : 767px) {
				background: url('../images/wyeth/contact_background.jpg') center right no-repeat;
				background-size: cover;
				height: auto;
				padding-bottom: 70px;
			}
			.contact_bg {
				@media screen and (max-width : 767px) {
					width: 300px;
					height: 300px;
					position: absolute;
					top: -10px;
					right: 0;
					background: url('../images/wyeth/contact_mom.png') center right no-repeat;
					background-size: contain;
					z-index: 1;
				}
			}
			.wyeth-contact-panel-inner{
				z-index: 2;
				position: relative;
				.style-inner();
				.title-box{
					.style-title-box();
					.title-icon {
						vertical-align: top;
					}
					.title-text {
						.header {
							margin-top: 15px;
							@media screen and (max-width : 767px) {
								margin-top: 6px;
							}
						}
						.address {
							margin-top: 75px;
							@media screen and (max-width : 767px) {
								margin-top: 40px;
							}
							.f34 {
								font-size: 34px;
								@media screen and (max-width : 767px) {
									font-size: 24px;
								}
							}
						}
						.telephone {
							margin-top: 20px;
							.mail {
								color: #C72228;
							}
							.phone {
								color: #5b4101;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.wyeth-panel{
		.wyeth-panel-inner{
			.wyeth-article-panel{
				background: url('../images/wyeth/bg-wyeth-article-mobile.jpg') bottom center no-repeat;
				background-size: cover;
				height: auto;
				.wyeth-article-panel-inner{
					.article-panel{
						margin: 25px auto 10px;
						width: 100%;
    					max-width: 422px;
    					.article-row{
    						.article-box{
    							width: calc(~"50% - 5px");
    							height: 200px;
    							padding: 20px 5px 20px 10px;
    							.text-box{
    								.title{
    									.font(20px);
    									.top{
    										.font(32px,20px);
    									}
    								}
    								.desc{
    									.font(19px);
    								}
    							}
    						}
    					}
					}
					.img-article{
						position: relative;
					    display: block;
					    margin: 0 auto;
					    bottom: auto;
					    right: auto;
					    width: 100%;
					    max-width: 555px;
					    height: auto;
					}
				}
			}
		}
	}
}

@media (max-width: 360px){
	br.mbnl {
        display:none;
    }
}