@red: #E21F26;
@darkGold: #5B4101;
@gold: #7B5E16;
@blue: #0B3E8D;

.font(@font,@lh:@font){
	font-size: @font;
	line-height: @lh;
}

.wyeth-detail-panel{
	background: url('../images/wyeth/detail/bg.jpg') top left no-repeat;
	background-size: cover;
	overflow: hidden;
	.wyeth-detail-panel-inner{
		width: calc(~"100% - 30px");
		max-width: 900px;
		height: 100%;
		margin: 0 auto;
		.head-panel{
			position: relative;
			width: 100%;
			height: 420px;
			z-index: 1;
			&:before{
				content: "";
				display: block;
				width: 1610px;
				height: 631px;
				position: absolute;
				background: url('../images/wyeth/detail/bg-image.png') no-repeat;
				background-size: contain;
				top: 0;
				left: -160px;
			}
			.logo_wyeth{
				position: absolute;
				top: 10px;
				left: -10px;
			}
		}
		.title-panel{
			position: relative;
			z-index: 2;
			.title{
				.font(45px,47px);
				color: @blue;
				margin-bottom: 15px;
			}
			.subtitle{
				.font(34px);
				color: @darkGold;
				margin-bottom: 25px;
			}
		}
		.content-panel{
			.font(28px,30px);
			color: @gold;
			position: relative;
			z-index: 2;
			.content-row{
				width: 100%;
				margin-top: 70px;
				.content-box{
					width: 50%;
					float: left;
					.text-year-box{
						display: inline-block;
						position: relative;
						.font(100px,50px);
						color: @blue;
						text-shadow: 0 1px 0 #8E6D1D;
						letter-spacing: -4.35px;
						margin-bottom: 20px;
						.icon-year{
							position: absolute;
							right: 0;
							bottom: -5px;
							&.y1915{
								right: -64px;
							}
							&.y1933{
								right: -68px;
							}
							&.y1956{
								right: -70px;
							}
							&.y1961{
								right: -119px;
								bottom: -10px;
							}
							&.y1989{
								right: -114px;
							}
							&.y1996{
								right: -111px;
							}
							&.y2002{
								right: -117px;
							}
							&.y2006{
								right: -149px;
							}
							&.y2010{
								right: -103px;
							}
							&.y2015{
								right: -76px;
							}
						}
					}
					.text-detail{
						.font(28px,27px);
						color: @gold;
					}
				}
			}
			.content-paragraft{
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.btn-back{
			display: inline-block;
			margin: 30px 0 80px;
			width: 130px;
			height: 37px;
			box-sizing: border-box;
			border: 1px solid #825C00;
			color: #825C00;
			.font(20px,35px);
			text-align: center;
			border-radius: 19px;
		}
	}
}

@media screen and (max-width : 767px) {
	.wyeth-detail-panel{
		margin-top: 150px;
		background: url('../images/wyeth/detail/bg-mobile.jpg') top left no-repeat;
		background-size: cover;
		.wyeth-detail-panel-inner{
			.head-panel{
				max-height: 260px;
			    height: auto;
			    min-height: 140px;
			    padding-bottom: 35%;
				&:before{
					width: calc(~"100vw + 250px");
					height: 453px;
					background: url('../images/wyeth/detail/bg-image-mobile.png') no-repeat;
					background-size: contain;
					top: 20px;
					left: -100px;
				}
				.logo_wyeth{
					position: relative;
					top: auto;
					left: auto;
					margin: 70px auto 0;
    				display: block;
    				width: 100%;
    				max-width: 575px;
    				height: auto;
				}
			}
			.title-panel{
				.title{
					.font(32px);
				}
				.subtitle{
					.font(22px);
					margin-bottom: 15px;
				}
			}
			.content-panel{
				.font(20px);
				.content-row{
					margin-top: 0;
					.content-box{
						width: 100%;
						float: none;
						margin-top: 40px;
						.text-year-box{
							.font(75px,40px);
							letter-spacing: -3.3px;
							.icon-year{
								&.y1915{
									width: 37px;
									height: 52px;
									right: -52px;
								}
								&.y1933{
									width: 40px;
									height: 59px;
									right: -55px;
								}
								&.y1956{
									width: 41px;
									height: 61px;
									right: -56px;
								}
								&.y1961{
									width: 79px;
									height: 66px;
									right: -94px;
									bottom: -5px;
								}
								&.y1989{
									width: 74px;
									height: 84px;
									right: -89px;
								}
								&.y1996{
									width: 70px;
									height: 74px;
									right: -85px;
								}
								&.y2002{
									width: 79px;
									height: 65px;
									right: -94px;
								}
								&.y2006{
									width: 102px;
									height: 72px;
									right: -117px;
								}
								&.y2010{
									width: 67px;
									height: 43px;
									right: -82px;
									bottom: 0;
								}
								&.y2015{
									width: 46px;
									height: 46px;
									right: -61px;
									bottom: 0;
								}
							}
						}
						.text-detail{
							.font(20px);
						}
					}
				}
				.content-paragraft{
					margin-bottom: 15px;
				}
			}
			.btn-back{
				display: block;
				width: 250px;
				margin: 25px auto 50px;
			}
		}
	}
}