
    <div class='content_panel'>
        <div class='head_link_panel'>
            <a href='th/page/alpha-master-head'>
                <span class='head_link'>
                    ผู้เชี่ยวชาญไขความลับ
                </span>
            </a>
            <span class='head_link_current'>
                ความรู้เรื่อง แอลฟา
            </SPAN>
            <a href='th/page/alpha-question-and-awnser'>
                <span class='head_link'>
                    ถาม-ตอบ
                </span>
            </a>
        </div>
        <div class='detail_align'>
            <div class='detail_panel'>
                <div class='kid_picture'>
                    <img src='../images/alpha_lac/alpha_lac_kw_pic.png'>
                </div>
                <div class='text1'>
                    ความรู้เรื่อง
                </div>
                <div class='text2'>
                    แอลฟา-แล็คตัลบูมิน 
                </div>
                <div class='text3'>
                    จากข้อมูลงานเสวนาวิชาการโดย<br class='dtnl'>
                    Professor Chistophe Dupont<br class='dtnl'>
                    กุมารแพทย์ผู้เชี่ยวชาญระดับโลก
                </div>
                <div class='text4'>
                    แอลฟา-แล็คตัลบูมิน เป็นสารอาหารที่พบในนมแม่<br class='dtnl'>
                    สร้างการขับเคลื่อนการทำงานของสมอง
                </div>
                <div class='text_detail'>
                    บทบาทของ แอลฟา-แล็คตัลบูมิน คือเป็นสารตั้งต้นในการสร้างสื่อประสาท
                    ช่วยส่งเสริมการพัฒนาศักยภาพสูงสุดของเด็กโดยสารอาหาร <span class='text_detail_bold'>แอลฟา-
                    แล็คตัลบูมิน</span> ได้รับความสนใจจากนักวิจัยต่างประเทศเป็นอย่างมาก โดยมี
                    การศึกษาวิจัยเรื่องนี้ครั้งแรกตั้งแต่เมื่อ 20 กว่าปีที่แล้ว และมีการศึกษาที่
                    เรียกว่า <span class='text_detail_bold'>Good Clinical Practice Studies</span> มากมายในหลายประเทศ
                </div>
                <div class='text_detail'>
                    ตัวอย่างเช่น การศึกษาในประเทศสหรัฐอเมริกาและฝรั่งเศส เรียกได้ว่า
                    <span class='text_detail_bold'>แอลฟา-
                    แล็คตัลบูมิน</span> เป็นสารอาหาร สำคัญที่ได้รับความสนใจอย่างสูง
                    และมีความปลอดภัย
                </div>
                <div class='text_detail'>
                    เป็นที่ทราบกันดีว่า นมแม่เป็นแหล่งที่ดีที่สุดของโปรตีนคุณภาพสูง
                    <span class='text_detail_bold'>"แอลฟา-
                    แล็คตัลบูมิน"</span> ซึ่งพบได้น้อยในนมผสมทั่วไป โดย <span class='text_detail_bold'>แอลฟา-
                    แล็คตัลบูมิน</span> นั้น จำเป็นต่อการสร้างสารสื่อประสาท ช่วยในการทำงาน
                    ของสมอง ในนมผสมทั่วไปมีปริมาณ <span class='text_detail_bold'>แอลฟา-
                    แล็คตัลบูมิน</span> น้อย จึงให้
                    สารตั้งต้นสำหรับสารสื่อประสาทต่ำกว่า
                </div>
                <div class='text_detail align_right'>
                    มีผลวิจัยทางการแพทย์แสดงให้เห็นว่าเด็กที่ทานนมผสม ซึ่งปรับเพิ่ม
                    <span class='text_detail_bold'>แอลฟา-
                    แล็คตัลบูมิน</span>สูง จะได้รับสารตั้งต้นของสารสื่อประสาทสำคัญ
                    มากกว่าเด็กที่ทาน นมผสมทั่วไปอย่างชัดเจน ซึ่งจะทำให้นอนหลับได้
                    ดีกว่าและอารมณ์ดีกว่าซึ่งในระยะยาวอาจส่งผลต่อพฤติกรรม การ
                    เรียนรู้และพัฒนาการพัฒนาสมองของเด็ก
                </div>
            </div>
        </div>
    </div>

