
    <div class='content_panel'>
        <div class='content_align'>
            <div class='head_link_panel'>
                <span class='head_link_current'>
                    ผู้เชี่ยวชาญไขความลับ
                </span>
                <a href='th/page/alpha-lactabumin-knowledge'>
                    <span class='head_link'>
                        ความรู้เรื่อง แอลฟา
                    </span>
                </a>
                <a href='th/page/alpha-question-and-awnser'>
                    <span class='head_link'>
                        ถาม-ตอบ
                    </span>
                </a>
            </div>
            <div class='detail_align'>
                <div class='detail_panel'>
                    <div class='picture_panel'>
                        <img class='desktop_pic' src='../images/alpha_lac/alpha_lac_master_pic_desktop.png'>
                        <img class='mobile_pic' src='../images/alpha_lac/alpha_lac_master_pic_mobile.png'>
                    </div>
                    <div class='text1'>
                        ผู้เชี่ยวชาญ<span class='thin'>ไขความลับ</span>
                    </div>
                    <div class='text2'>
                        <span class='quot_left'>&ldquo;</span>แอลฟา-แล็คตัลบูมิน <br>
                        <span class='bold'>คืออะไร ?</span><span class='quot_right'>&rdquo;</span>
                    </div>
                    <div class='text3'>
                        ความรู้เรื่อง แอลฟา-แล็คตัลบูมิน จากข้อมูลงาน
                        เสวนาวิชาการโดย <span class='bold'>Professor Chistophe Dupont</span>
                        กุมารแพทย์ผู้เชี่ยวชาญระดับโลก
                    </div>
                    <div class='text4'>
                        แอลฟา-แล็คตัลบูมิน
                    </div>
                    <div class='text_detail'>
                        เป็นสารตั้งต้นในการสร้างสารสื่อประสาร สร้างการเรียนรู้ ความจำ
                        ความคิด ขับเคลื่อนการทำงานของสมองนักวิทยาศาสตร์ รางวัลโนเบล
                        นายแพทย์ อีริค เคนเดล เผยความลับการทำงานของสมองว่าความ
                        สามารถในการทำงานต่างๆ จองสมองนั้นล้วนเกิดจากการสื่อสารกัน
                        อย่างเป็นระบบ ระหว่างเซลล์ประสาทในสมองนั้นล้านๆ เซลล์ 
                    </div>
                    <div class='text_detail'>
                        การสื่อสารระหว่างเซลล์นั้น ต้องอาศัย <span class='text_detail_bold'>“สารสื่อประสาท”</span> ทำหน้าที่ส่ง
                        ต่อข้อมูลระหว่างเซลล์ประสาท ทำให้เกิดการทำงานของสมองสร้างการ
                        เรียนรู้ ความจำ และส่งผลต่อความคิดวิเคราะห์ นอกจากนี้ยังส่งผลต่อ
                        การพัฒนาการ ด้านอารมณ์ พฤติกรรม และบุคลิกภาพอีกด้วย
                    </div>
                    <div class='text_detail align_right'>
                        <span class='text_detail_bold'>แอลฟา-แล็คตัลบูมิน</span> เป็นสารอาหารที่พบมากที่สุดในน้ำนมแม่ เป็นสาร
                        ตั้งต้นในการสร้างสารสือประสาท ร่างกายของเด็กไม่สามารถผลิตสารตั้ง
                        ต้นในการสร้างสื่อประสาทขึ้นเองได้อย่างเพียงพอ จึงจำเป็นต้องรับประทาน
                        นมแม่หรืออาหารที่เหมาะสมที่อุดมไปด้วยสารตั้งต้นในการสร้างสื่อประสาท
                        อย่าง แอลฟา-แล็คตัลบูมินเพื่อให้สมองทำงานได้อย่างเต็มศักยภาพซึ่งจะ
                        นำไปสู่การเรียนรู้ที่ดีของลูก
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='content_panel2'>
        <div class='content_align'>
            <div class='s2_header'>
                สาร<span class='thin'>ส่ือประสาท</span>
            </div>
            <div class='box_sub'>
                <div class='box_sub_pic'>
                    <img src="../images/alpha_lac/master_head_s2_01.png">
                </div>
                <div class='box_sub_content'>
                    <div class='header'>
                        การทำงานของสมอง
                    </div>
                    <div class='detail'>
                        แสนล้านเซลล์ต้องอาศัย<br class='dtnl'>
                        การสื่อสารอย่างเป็นระบบ
                    </div>
                </div>
            </div>
            <div class='box_sub'>
                <div class='box_sub_pic'>
                    <img src="../images/alpha_lac/master_head_s2_02.png">
                </div>
                <div class='box_sub_content'>
                    <div class='header'>
                        สารสื่อประสาท
                    </div>
                    <div class='detail'>
                        ต้นกำเนิดจากการ<br class='dtnl'>
                        ทำงานของสมอง
                    </div>
                </div>
            </div>
            <div class='box_sub'>
                <div class='box_sub_pic'>
                    <img src="../images/alpha_lac/master_head_s2_03.png">
                </div>
                <div class='box_sub_content'>
                    <div class='header'>
                        แอลฟา-แล็คตัลบูมิน
                    </div>
                    <div class='detail'>
                        ช่วยสร้างและเพิ่มจำนวน<br class='dtnl'>
                        ของสารสื่อประสาท
                    </div>
                </div>
            </div>
        </div>
    </div>

