
    <div class='content_panel'>
        <div class='content_align'>
            <div class='head_link_panel'>
                <a href='th/page/alpha-master-head'>
                    <span class='head_link'>
                        ผู้เชี่ยวชาญไขความลับ
                    </span>
                </a>
                <a href='th/page/alpha-lactabumin-knowledge'>
                    <span class='head_link'>
                        ความรู้เรื่อง แอลฟา
                    </span>
                </a>
                <span class='head_link_current'>
                    ถาม-ตอบ
                </span>
            </div>
            <div class='detail_align'>

                <div class="section s1">
                    <div class="picture right">
                        <img class='pic1_d' src='../images/alpha_lac/alpha_lac_qa_pic_01_d.png' />
                        <img class='pic1_m' src='../images/alpha_lac/alpha_lac_qa_pic_01_m.png' />
                    </div>

                    <div class='qa_panel left qa1'>
                        <div class='text1'>
                            ถาม-ตอบ
                        </div>
                        <div class="text2">
                            เกี่ยวกับ แอลฟา-แล็คตัลบูมิน
                        </div>
                        <div class="text3">
                            โดยผู้เชี่ยวชาญ
                        </div>
                        <div class='question_detail'>
                            แอลฟา-แล็คตัลบูมิน ดีต่อพัฒนาการทางสมองอย่างไร?
                        </div>
                        <div class='answer_detail'>
                            แอลฟา-แล็คตัลบูมิน เป็นสารอาหารที่จำเป็นในกระบวนการสร้าง
                            สื่อประสาท ซึ่งทำหน้าที่ส่งต่อข้อมูลระหว่างเซลล์ประสาทในสมอง
                            ทำให้สมองสามารถทำงานเชื่อมต่อกันได้อย่างเป็นระบบ ก่อให้เกิด
                            การคิด วิเคราะห์ ความจำ นอกจากนี้ยังมีผลต่อพัฒนาการด้าน
                            อารมณ์ พฤติกรรมและบุคลิกภาพอีกด้วย
                        </div>
                    </div>
                </div>
                <div class="section s2">
                    <div class="picture left">
                        <img class='pic2_d' src='../images/alpha_lac/alpha_lac_qa_pic_02_d.png' />
                        <img class='pic2_m' src='../images/alpha_lac/alpha_lac_qa_pic_02_m.png' />
                    </div>
                    <div class='qa_panel right qa2'>
                        <div class='question_detail'>
                            แอลฟา-แล็คตัลบูมิน ต่างจากดีีเอชเออย่างไร?
                        </div>
                        <div class='answer_detail'>
                            สารอาหารทั้ง 2 ชนิดมีผลต่อการทำงานของสมองทั้งคู่ แต่ทำหน้า
                            ที่ต่างกันโดย แอลฟา-แล็คตัลบูมิน ช่วยในการสร้างสื่อประสาท
                            เพื่อการสื่อสารระหว่างเซลล์สมอง ถ้าไม่มีสารสื่อประสาทสมองก็
                            จะทำงานไม่ได้ ในขณะที่ดีเอชเอ เป็นไขมันชนิกหนึ่ง ช่วยเรื่องโครง
                            สร้างของสมอง
                        </div>
                    </div>
                </div>
                <div class="section s3">
                    <div class="picture right">
                        <img class='pic3_d' src='../images/alpha_lac/alpha_lac_qa_pic_03_d.png' />
                        <img class='pic3_m' src='../images/alpha_lac/alpha_lac_qa_pic_03_m.png' />
                    </div>
                    <div class='qa_panel left qa3'>
                        <div class='question_detail'>
                            แอลฟา-แล็คตัลบูมิน มีความสำคัญในวัยเด็กอย่างไร?
                        </div>
                        <div class='answer_detail'>
                            ร่างกายของเด็กไม่สามารถผลิตสารตั้งต้นในการสร้างสื่อประสาท
                            ขึ้นเองได้อย่างเพียงพอ จึงจำเป็นต้องรับทานนมแม่หรืออาหารที่
                            เหมาะสมที่อุดมไปด้วยสารตั้งต้นในการสร้างสื่อประสาทเพื่อให้
                            สมองสามารถทำงานได้อย่างเต็มศักยภาพ ซึ่งจะนำไปสู่พัฒนาการ
                            และการเรียนรู้ที่ดีของลูก
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
